<Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>

    <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="this.AdditionalAssemblies">
        <Found Context="routeData">
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

                <NotAuthorized>

                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <div class="app-authorizing">
                        <Icon Name="@FontAwesomeIcons.Sync" IconStyle="IconStyle.FaSolid" Class="fa-spin" /> Autorisation en cours...
                    </div>
                </Authorizing>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(AnonymousLayout)">

                <h1>  Page introuvable</h1>

            </LayoutView>
        </NotFound>
    </Router>

</Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
