﻿@using SituLearn.Player.Utilities
@if (this.Player == null || this.FieldTrip == null || this.Journey == null)
{
    <SituLearn.Player.Shared.HeaderToolbar>

        Sortie
    </SituLearn.Player.Shared.HeaderToolbar>
    <AppLoading />
}
else
{
    //Pas de titre annoncant le parcours    #8586
    //1 seul parcours, donc : couleur de fond d'ecran neutre
    if (this.FieldTrip.Journeys.Count == 1)
    {
    <SituLearn.Player.Shared.HeaderToolbar Class="fieldtrip-page">
        
        <span class="fieldtrip-title">
            @this.FieldTrip.Name           
        </span>

    </SituLearn.Player.Shared.HeaderToolbar>
    }
    else
    {
        <SituLearn.Player.Shared.HeaderToolbar Class="@Css("journey-page","journey-"+this.Journey.Color.GetFriendlyName().ToLowerInvariant())">
            <span class="journey-title">
                @this.FieldTrip.Name
            </span>
        </SituLearn.Player.Shared.HeaderToolbar>
    }

    <div id="game-header">
        @if (this.FieldTrip.FieldTripType == FieldTripType.TreasureHunt && this.GamesRepository.CurrentPlayer != null)
        {
            <div class="game-progression">
                <div class="game-progression-icon">
                    <div class="marker-unit"/>
                </div>
                @this.GamesRepository.CurrentPlayer.PlayedUnits.Count() / @this.Journey.JourneyLocatedGameUnits.Count()
            </div>
        }

        @if (this.FieldTrip.TimeIsLimited)
        {
            var remainingTime = this.FieldTrip.AllottedTimeDuration - this.ElapsedTime;

            <div class="game-alloted-time">
                <div class="hourglass"/>
                @remainingTime'
            </div>
        }
        
        @if (this.FieldTrip.ShowElapsedTime)
        {
            <div class="game-elapsed-time">
                <div class="stopwatch"/>
                @this.ElapsedTime'
            </div>
        }

        <div class="game-gain">
            <div class="star"/>
            @this.TotalPoints pts
        </div>
    </div>

    <div id="journey-page">
        <div class="fieldtrip-info">
            <div class="fieldtrip-type">@this.FieldTrip.EndPageTitle</div>

            <div class="fieldtrip-description mt-3">
                @((MarkupString)this.FieldTrip.EndPageText)
            </div>

            @if (!string.IsNullOrEmpty(this.FieldTrip.EndPagePicture))
            {
                <div class="fieldtrip-picture">
                    <img src="@($"{this.BasePictureUrl}{this.FieldTrip.EndPagePicture}")" alt="Image" />
                </div>
            }

            <Button Color="Color.Primary" 
                    Icon="@FontAwesomeIcons.ArrowCircleRight"
                    Clicked="this.EndGameAsync"
                    Wide Block
                    IsLoading="this.IsSubmitting"
                    Class="end-game-button">
                Terminer
            </Button>
        </div>
    </div>
}