﻿@using SituLearn.Player.Shared;
@using SituLearn.Player.Utilities;
@using SituLearn.Player.Pages.EnrichedMap;

<SituLearn.Player.Shared.HeaderToolbar>
    Catalogue des sorties
</SituLearn.Player.Shared.HeaderToolbar>

<div id="fieldtrips-page">
    @if (this.FieldTrips == null)
    {
        <AppLoading />

    }
    else
    {
        <div class="filters-bar">

            <div class="filter-type">
                <Select TValue="string" TModel="SituLearn.Player.Utilities.OptionItem<string>" DisableFilter
                    GetOptionText="o=>o.Label"
                    GetOptionValue="o=>o.Value"
                    @bind-SelectedValue="this.FilterType"
                    Options="this.FilterOptions"></Select>
                <div class="sort-way">
                    <Icon Name="@(this.OrderWay=="asc" ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronUp)"
                      Clicked="@(()=>{ this.OrderWay = (this.OrderWay=="asc" ? "desc" : "asc"); this.StateHasChanged(); })" />
                </div>
            </div>
            <input class="@Css("e-control")" @bind-value="this.Filter" @bind-value:event="oninput" @onkeydown="@this.OnKeyDown" />
        </div>

        IEnumerable<FieldTripHeaderModel> fieldTrips = this.FieldTrips;

        if (this.FilterFavorites)
        {
            fieldTrips = fieldTrips.Where(t => t.IsFavorite);
        }

        if (this.FilterDownloaded)
        {
            fieldTrips = fieldTrips.Where(t => t.IsDownloaded);
        }

        if (!string.IsNullOrEmpty(this.Filter))
        {
            switch (this.FilterType)
            {
                case "name":
                    fieldTrips = fieldTrips
                    .Where(t => t.Name.Contains(this.Filter, StringComparison.InvariantCultureIgnoreCase))
                    .OrderBy(t => t.Name);
                    break;
                case "type":
                    fieldTrips = fieldTrips.Where(t => t.Type.GetFriendlyName().Contains(this.Filter, StringComparison.InvariantCultureIgnoreCase))
                    .OrderBy(t => t.Type.GetFriendlyName());
                    break;
                case "field":
                    fieldTrips = fieldTrips
                    .Where(t => t.FieldName.Contains(this.Filter, StringComparison.InvariantCultureIgnoreCase))
                    .OrderBy(t => t.FieldName); ;
                    break;
                case "designer":
                    fieldTrips = fieldTrips
                    .Where(t => t.DesignerName.Contains(this.Filter, StringComparison.InvariantCultureIgnoreCase))
                    .OrderBy(t => t.DesignerName);
                    break;
                case "establishment":
                    fieldTrips = fieldTrips
                    .Where(t => t.EstablishmentName.Contains(this.Filter, StringComparison.InvariantCultureIgnoreCase))
                    .OrderBy(t => t.EstablishmentName);
                    break;
            }
        }

        switch (this.FilterType)
        {
            case "name":
                fieldTrips = fieldTrips.OrderBy(t => t.Name);
                break;
            case "type":
                fieldTrips = fieldTrips.OrderBy(t => t.Type.GetFriendlyName());
                break;
            case "field":
                fieldTrips = fieldTrips.OrderBy(t => t.FieldName);
                break;
            case "designer":
                fieldTrips = fieldTrips.OrderBy(t => t.DesignerName);
                break;
            case "establishment":
                fieldTrips = fieldTrips.OrderBy(t => t.EstablishmentName);
                break;
        }

        if (this.OrderWay != "asc")
        {
            fieldTrips = fieldTrips.Reverse();
        }

        @if (this.FilterFavorites)
        {
            <div class="fieldtrips-filter-type-title">
                <div class="fieldtrips-filter-type">
                    <div class="fieldtrips-filter-type-icon">
                        <Icon Name="@FontAwesomeIcons.Bookmark"
                            IconStyle="@IconStyle.FaSolid"
                            Class="text-primary" />
                    </div>
                    <div class="fieldtrips-filter-type-label">
                        Mes favoris
                    </div>
                </div>
            </div>
        }
        else if (this.FilterDownloaded)
        {
            <div class="fieldtrips-filter-type-title">
                <div class="fieldtrips-filter-type">
                    <div class="fieldtrips-filter-type-icon">
                        <Icon Name="@FontAwesomeIcons.Download"
                            IconStyle="@IconStyle.FaLight"
                            Class="text-primary" />
                    </div>
                    <div class="fieldtrips-filter-type-label">
                        Mes sorties téléchargées
                    </div>
                </div>
            </div>
        }
        <ErrorsSummary Errors=@(this.Errors) />
        <div class="fieldtrips-list">
            @if (fieldTrips.Any())
            {
                foreach (var fieldTrip in fieldTrips)
                {
                    <FieldTripCard FieldTrip="fieldTrip" OnChanged="()=>this.StateHasChanged()" OnDownloaded=@(async x => await LoadMap(x)) IsOnDiscoveryMode="this.IsOnDiscoveryMode" />
                }
            }
            else
            {
                <div class="no-results">
                    @if (this.FilterFavorites && string.IsNullOrEmpty(this.Filter))
                    {
                        <text>Vous n'avez ajouté aucune sortie à vos favoris</text>
                    }
                    else if (this.FilterDownloaded && string.IsNullOrEmpty(this.Filter))
                    {
                        <text>Vous n'avez téléchargé aucune sortie</text>
                    }
                    else
                    {
                        <text>Aucune sortie ne correspond à vos critères de recherche</text>
                    }
                </div>
            }
        </div>

        @if (this.ShowingFieltripMapId.HasValue && this.FieldTripsRepository.SavedFieldTrips.ContainsKey(this.ShowingFieltripMapId.Value) && this.ShowEnrichedMap)
        {
            var ft = this.FieldTripsRepository.SavedFieldTrips[this.ShowingFieltripMapId.Value];

            <EnrichedMap FieldTrip=@ft
                DisableInteractions=@true
                ShowEnrichedMap=@this.ShowEnrichedMap
                OnClosing=@(() => { this.ShowEnrichedMap =! this.ShowEnrichedMap; this.StateHasChanged(); }) />

                 <div class="loading-map">
                     Téléchargement de la sortie @ft.Name en cours, veuillez patienter.
                     <Loader IsLoading=@true UsualIcon=@(FontAwesomeIcons.CircleNotch) Class="fa-spin" />
                </div>
        }

        @if (!this.IsOnDiscoveryMode)
        {
            <div class="fieldtrips-footer">
                <a class="scanner" href="@Scanner.ScannerPage.Url">
                    <div>Scanner</div>
                    <div>un QR&#8209;code</div>
                </a>

                <a class="check" @onclick="()=>{ this.PlayedFieldTripsOnLineOrOffLine(); }">
                    <div>Déjà</div>
                    <div>faites</div>
                </a>

                <a class="bookmark" @onclick="()=>{ this.SwitchFavoritesDisplay(); }">
                    @if (this.FilterFavorites)
                    {
                        <div>Toutes les</div>
                        <div>sorties</div>
                    }
                    else
                    {
                        <div>Mes</div>
                        <div>favoris</div>
                    }
                </a>

                <div class="downloaded" @onclick="()=>{ this.SwitchDownloadedDisplay(); }">
                    <Icon Name="@FontAwesomeIcons.Download" IconStyle="@IconStyle.FaLight" />

                    @if (this.FilterDownloaded)
                    {
                        <div>Toutes les</div>
                        <div>sorties</div>
                    }
                    else
                    {
                        <div>Mes sorties</div>
                        <div>téléchargées</div>
                    }
                </div>
            </div>
        }        
    }
</div>