﻿@using SituLearn.Player.Pages.FullScreenImageViewer
@using SituLearn.Player.Utilities
@if (this.FieldTrip == null)
{
    <SituLearn.Player.Shared.HeaderToolbar>

        @if (!string.IsNullOrEmpty(this.BackUrl) && !this.TestEnv)
        {
            <Button Color="Color.Link" Icon="@FontAwesomeIcons.ArrowLeft"
                    Clicked="this.GoBack">
            </Button>
        }

        Sortie
    </SituLearn.Player.Shared.HeaderToolbar>
    <AppLoading />
}
else if (this.NotFound)
{
    <SituLearn.Player.Shared.HeaderToolbar>

        @if (!string.IsNullOrEmpty(this.BackUrl) && !this.TestEnv)
        {
            <Button Color="Color.Link" Icon="@FontAwesomeIcons.ArrowLeft"
                    Clicked="this.GoBack">
            </Button>
        }


        Sortie
    </SituLearn.Player.Shared.HeaderToolbar>
    <div id="fieldtrip-page">
        <div class="text-center" style="margin:15vh 0; font-size:large; color:#fff">
            Sortie non trouvée
        </div>
    </div>
}
else
{
    string picture = this.FieldTrip.HomePagePicture;

    <SituLearn.Player.Shared.HeaderToolbar Class="fieldtrip-page">
        @if (!this.TestEnv)
        {
            <Icon Name="@FontAwesomeIcons.ArrowLeft" IconStyle="IconStyle.FaLight"
                  Clicked="this.GoBack" />
        }
        <span class="fieldtrip-title">
            @this.FieldTrip.Name
        </span>
    </SituLearn.Player.Shared.HeaderToolbar>

    <div id="fieldtrip-page">
        <div class="fieldtrip-info">
            <p class="fieldtrip-type">@this.FieldTrip.Name</p>

            <div class="fieldtrip-description">
                @this.FieldTrip.Description
            </div>

            @if (!string.IsNullOrEmpty(picture))
            {
                <div class="fieldtrip-picture" @onclick="() => this.DisplayFullScreenPicture(picture)" >
                    <img src="@($"{this.BasePictureUrl}{picture}")" alt="Image" />
                </div>
            }
            
            <h2>Veuillez choisir un parcours</h2>

            <div class="journeys-list">
                @foreach (var journey in this.FieldTrip.Journeys.OrderBy(j => j.Order))
                {
                    <a class="@Css("journey-button", "journey-"+journey.Color.GetFriendlyName().ToLowerInvariant())"
                        href="@JourneyPage.GetUrl(this.FieldTrip.Id, journey.Id)">
                    <div class="journey-inner">
                        Parcours @journey.Color.GetFriendlyName().ToLowerInvariant()
                    </div>
                    </a>
                }
            </div>

        </div>

        @if (this.DisplayPictureInFullScreen)
        {
            <FullScreenImageViewer PictureUrl="@this.PictureUrlToDisplayInFullScreen" OnClosing="this.CloseDisplayPictureInFullScreen" />
        }
    </div>
}