﻿@using Ozytis.Common.Core.Web.Razor.BarcodeReader
@using SituLearn.Player.Shared
@using SituLearn.Player.Pages.EnrichedMap;

<SituLearn.Player.Shared.HeaderToolbar Class="interactive-walk-page">
    <span class="fieldtrip-title">
        @this.FieldTrip.Name
    </span>
</SituLearn.Player.Shared.HeaderToolbar>

<div id="game-header">
    @if (this.FieldTrip.TimeIsLimited)
    {
        var remainingTime = (int)(this.FieldTrip.AllottedTimeDuration - this.ElapsedTime.TotalMinutes);

        <div class="game-alloted-time">
            <div class="hourglass"/>
            @remainingTime'
        </div>
    }
        
    @if (this.FieldTrip.ShowElapsedTime)
    {
        <div class="game-elapsed-time">
            <div class="stopwatch"/>
            @((int)this.ElapsedTime.TotalMinutes)'
        </div>
    }
        
    <div class="game-gain">
        <div class="star"/>
        @this.TotalPoints pts
    </div>
</div>

<div id="interactive-walk-page">

    @if (this.DetectedUnits != null && this.DetectedUnits.Any() && !this.DisplayNearbyUnitDetectedAlert)
    {
        <div class="btn-notify" @onclick="() => { this.DisplayNearbyUnitDetectedAlert = true; this.StateHasChanged(); }">
            <Icon Name="@FontAwesomeIcons.Bell" IconStyle="@IconStyle.FaLight" />
        </div>
    }
    
                    
    @if (this.DisplayNearbyUnitDetectedAlert)
    {
        <Modal OnClosing="this.CloseNearbyUnitDetectedAlert"
                ActionText="Annuler">
            <Content>
                <div class="game-alert-title">
                    <Icon Name="@FontAwesomeIcons.Bell" IconStyle="@IconStyle.FaSolid" />
                    Notification
                </div>

                @if (this.DetectedUnits.Count == 1)
                {
                    <div class="game-alert-text">
                        Vous êtes à proximité d'un point d’intérêt. Sélectionnez le si vous souhaitez l'explorer. Sinon, cliquez sur "Annuler".
                    </div>
                }
                else
                {
                    <div class="game-alert-text">
                        Vous êtes à proximité de plusieurs points d’intérêt. Sélectionnez celui que vous souhaitez explorer. Sinon, cliquez sur "Annuler".
                    </div>
                }
                

                <div class="units-list">
                    @foreach (var unit in this.DetectedUnits)
                    {
                        <div class="unit-button" @onclick="() => this.PlayUnitAsync(unit)">
                            <div class="col-1 unit-button-icon">
                                @if (this.IsStartingUnit)
                                {
                                    <Loader IsLoading="true" />
                                }
                                else
                                {
                                    <Icon Name="@FontAwesomeIcons.LocationArrow" />
                                }
                            </div>                            
                            <div class="col-11 played-unit-name">
                                @unit.Name
                            </div>
                        </div>
                    }
                </div>                
            </Content>
        </Modal>
    }

    <Alert Color="Color.Info">
        @if (this.FieldTrip.FieldTripType == FieldTripType.ActivityHub)
        {
            <text>Voici les points d’intérêts de cette sortie. Cliquez dessus pour faire les activités associées.</text>
        }
        else
        {
            <text>Voici les points d’intérêts de cette sortie. Vous recevrez une notification quand vous passez à proximité pour lancer les activités associées.</text>
        }            
    </Alert>

    <EnrichedMap FieldTrip="this.FieldTrip" 
                 IsAlwaysVisible="true"
                 MapClass="@(this.FieldTrip.FieldTripType == FieldTripType.ActivityHub ? "activities-hub" : "interactive-walk")"
                 TrackUser="this.FieldTrip.ExplorationMap.IsGeolocatable" />
                    
    @if (this.DisplayTimeAlert)
    {
        var remainingTime = (int)(this.FieldTrip.AllottedTimeDuration - this.ElapsedTime.TotalMinutes);

        <Modal OnClosing="() => this.CloseDisplayTimeAlert(remainingTime)"
                ActionText="OK">
            <Content>
                <div class="game-alert-title">
                    Alerte temps
                </div>

                @if (remainingTime == 10)
                {
                    <div class="game-alert-text">
                        Attention, il ne vous reste plus que <span class="remaining-time"> 10 minutes </span> !
                    </div>
                }
                else if (remainingTime == 5)
                {
                    <div class="game-alert-text">
                        Attention, il ne vous reste plus que <span class="remaining-time"> 5 minutes </span> !
                    </div>
                    <div class="game-alert-text">
                        Retournez vers le point de départ.
                    </div>
                }
                else if (remainingTime == 0)
                {
                    <div class="game-alert-text">
                        Le temps alloué est écoulé ! Veuillez retournez au point de départ.
                    </div>
                }
            </Content>
        </Modal>
    }
                    
    @if (this.DisplayOutOfExplorationAreaAlert)
    {
        <Modal OnClosing="() => { this.DisplayOutOfExplorationAreaAlert = false; this.StateHasChanged(); }"
                ActionText="OK">
            <Content>
                <div class="game-alert-title">
                    Alerte hors zone d’exploration
                </div>

                <div class="game-alert-text">
                    Attention, vous êtes sorti de la zone d'exploration !
                </div>

                <div class="game-alert-text">
                    Merci de rejoindre la zone d'exploration matérialisée en vert sur la carte.
                </div>
            </Content>
        </Modal>
    }
</div>