﻿@using SituLearn.Player.Pages.FullScreenImageViewer
@using SituLearn.Player.Utilities
@if (this.Journey == null)
{
    <SituLearn.Player.Shared.HeaderToolbar>
        Sortie
    </SituLearn.Player.Shared.HeaderToolbar>
    <AppLoading />
}
@if (this.ShowNotFound)
{
    <SituLearn.Player.Shared.HeaderToolbar>
        Sortie
    </SituLearn.Player.Shared.HeaderToolbar>

    <div id="fieldtrip-page">
        <div class="text-center" style="margin:15vh 0; font-size:large; color:#fff">
            Parcours non trouvé
        </div>
    </div>
}

else if (this.Journey != null && this.FieldTrip != null)
{
    string picture = this.FieldTrip.HomePagePicture;

    //Pas de titre annoncant le parcours    #8586
    //1 seul parcours, donc : couleur de fond d'ecran neutre
    if (this.FieldTrip.Journeys.Count == 1)
    {
        <SituLearn.Player.Shared.HeaderToolbar Class="fieldtrip-page">      
            <span class="fieldtrip-title">
                @this.FieldTrip.Name
            </span>
        </SituLearn.Player.Shared.HeaderToolbar>
    }
    else
    {
        <SituLearn.Player.Shared.HeaderToolbar Class="@Css("journey-page","journey-"+this.Journey.Color.GetFriendlyName().ToLowerInvariant())">
            <span class="journey-title">
                @this.FieldTrip.Name
            </span>
        </SituLearn.Player.Shared.HeaderToolbar>
    }


    <div id="journey-page">

        <div class="fieldtrip-info">
            <div class="fieldtrip-type">@this.FieldTrip.HomePageTitle</div>

            <div class="fieldtrip-description">
                @((MarkupString)this.FieldTrip.HomePageText)
            </div>

            @if (!string.IsNullOrEmpty(picture))
            {
                <div class="fieldtrip-picture" @onclick="() => this.DisplayFullScreenPicture(picture)">
                    <img src="@($"{this.BasePictureUrl}{picture}")" alt="Image" />
                </div>
            }

            <Button Color="Color.Primary" Icon="@FontAwesomeIcons.Play"
                Clicked="this.PlayAsync"
                Wide Block
                IsLoading="this.IsSubmitting">
                Commencer
            </Button>

        </div>

        @if (this.DisplayPictureInFullScreen)
        {
            <FullScreenImageViewer PictureUrl="@this.PictureUrlToDisplayInFullScreen" OnClosing="this.CloseDisplayPictureInFullScreen" />
        }
    </div>

}