﻿@using Newtonsoft.Json
@using SituLearn.Player.Pages.FullScreenImageViewer
@using SituLearn.Player.Utilities
@using System.Globalization
@using SituLearn.Player.Pages.EnrichedMap;
@using Ozytis.Common.Core.Web.Razor.BarcodeReader
@using SituLearn.Player.Shared

@if (this.Unit == null)
{
    <AppLoading />
}
else
{
    //Pas de titre annoncant le parcours    #8586
    //1 seul parcours, donc : couleur de fond d'ecran neutre
    if (this.FieldTrip.Journeys.Count == 1)
    {
        <SituLearn.Player.Shared.HeaderToolbar Class="fieldtrip-page">

            <span class="fieldtrip-title">
                @this.FieldTrip.Name
            </span>
        </SituLearn.Player.Shared.HeaderToolbar>
    }
    else
    {
        <SituLearn.Player.Shared.HeaderToolbar Class="@Css("journey-page","journey-"+this.Journey.Color.GetFriendlyName().ToLowerInvariant())">

            <span class="journey-title">
                @this.FieldTrip.Name
            </span>
        </SituLearn.Player.Shared.HeaderToolbar>
    }

    <div id="game-header">
        @if (this.FieldTrip.FieldTripType == FieldTripType.TreasureHunt)
        {
            <div class="game-progression">
                <div class="game-progression-icon">
                    <div class="marker-unit" />
                </div>
                @this.GamesRepository.CurrentPlayer.PlayedUnits.Count() / @this.Journey.JourneyLocatedGameUnits.Count()
            </div>
        }

        @if (this.FieldTrip.TimeIsLimited)
        {
            var remainingTime = this.FieldTrip.AllottedTimeDuration - this.ElapsedTime.TotalMinutes;

            <div class="game-alloted-time">
                <div class="hourglass" />
                @((int)remainingTime)'
            </div>
        }

        @if (this.FieldTrip.ShowElapsedTime)
        {
            <div class="game-elapsed-time">
                <div class="stopwatch" />
                @((int)this.ElapsedTime.TotalMinutes)'
            </div>
        }

        <div class="@Css("game-gain", new{ increase = this.TotalPointsIncreased }, new{ decrease = this.TotalPointsDecreased })">
            <div class="star" />
            @this.TotalPoints pts
        </div>
    </div>

    <div id="button-enriched-map" @onclick="()=>{this.ShowEnrichedMap=!this.ShowEnrichedMap; this.StateHasChanged();}">
    </div>

    <div id="poi-page">
        @if (!this.HasReachedPoint)
        {
            <div class="location-clue">
                <div class="clue-title">
                    @((MarkupString)this.Unit.LocationSupportTitle)
                </div>
                <div class="clue-description">
                    @((MarkupString)this.Unit.LocationSupportDescription)
                </div>

                @if (!string.IsNullOrEmpty(this.Unit.LocationSupportPicture))
                {
                    <div class="picture-clue" @onclick="() => this.DisplayFullScreenPicture(this.Unit.LocationSupportPicture)" >
                        <img src="@($"{this.BasePictureUrl}{this.Unit.LocationSupportPicture}")" alt="Image" />
                    </div>
                }

                @if (this.Unit.LocationAidType != LocationAidType.GpsRadar)
                {
                    var map = this.Unit.FieldTrip.ExplorationMap;

                    <div class="map location-aid">
                        <LeafletMap Width="100%" Height="30vh" LoadDependencies="false"
                        CacheTileLevels="15"
                        Center="this.MapCenter"
                        @ref="this.LeafletMap"
                        TrackUser="map.IsGeolocatable"
                        UserTrackingMarkerColor="red"
                        ShowTileLayersSwitch="false">

                            @if (!string.IsNullOrEmpty(map.CustomBackgroundMap) && map.CustomBackgroundUpperLeftLatitude.HasValue)
                            {
                                string mapUrl = map.CustomBackgroundMap;

                                List<string> styles = new();
                                styles.Add($"opacity:{map.CustomBackgroundOpacity.Value.ToString(CultureInfo.InvariantCulture)}");

                                <LeafletImageOverlay ImageBounds="new LeafletCoordinates[]{
                                                        new(
                                                            map.CustomBackgroundUpperLeftLatitude.Value,
                                                            map.CustomBackgroundUpperLeftLongitude.Value
                                                        ),
                                                        new(
                                                            map.CustomBackgroundLowerRightLatitude.Value,
                                                            map.CustomBackgroundLowerRightLongitude.Value
                                                        )
                                                        }"
                                     ImageUrl="@mapUrl"
                                     Rotation="map.CustomBackgroundRotation??0"
                                     Style="@($"{string.Join(";", styles)}")" />
                            }
                            else if (map.IsGeolocatable)
                            {
                                <LeafletTileLayer UrlTemplate="@LeafletTileLayer.OpenStreetMap.UrlTemplate"
                                  Attribution="@LeafletTileLayer.OpenStreetMap.Attribution"
                                  Label="@LeafletTileLayer.OpenStreetMap.Label"
                                  SubDomains="@LeafletTileLayer.OpenStreetMap.SubDomains" />
                            }

                            <LeafletMarker Color="blue"
                               Latitude="this.Unit.Latitude"
                               Longitude="this.Unit.Longitude"
                               IconClass="marker-remaining-unit">
                                <Popup>
                                    @this.Unit.Name
                                </Popup>
                            </LeafletMarker>

                            @if (this.Unit.LocationAidType == LocationAidType.MapWithGps
                           && this.Unit.ActivationAreaType != ActivationAreaType.None && this.Unit.ActivationArea != null)
                            {
                                var currentUser = this.GamesRepository.CurrentPlayer;

                                if (this.Unit.ActivationAreaType == ActivationAreaType.Polygon)
                                {
                                    <LeafletGeoJson FillColor="#ff6600"
                                FillOpacity="0.7m"
                                Geometry="this.Unit.ActivationArea" />
                                }
                                else if (this.Unit.ActivationAreaType == ActivationAreaType.Circle
                                && this.Unit.ActivationRadius.HasValue && this.Unit.ActivationAreaCenterLatitude.HasValue
                                && this.Unit.ActivationAreaCenterLongitude.HasValue)
                                {
                                    var center = new LeafletCoordinates(this.Unit.ActivationAreaCenterLatitude.Value,
                                    this.Unit.ActivationAreaCenterLongitude.Value);
                                    <LeafletCircle FillColor="#ff6600" FillOpacity="0.7m"
                               Center="center" Radius="this.Unit.ActivationRadius.Value" />
                                }
                                else if (this.Unit.ActivationAreaType == ActivationAreaType.Rectangle)
                                {
                                    <LeafletRectangle FillColor="#ff6600"
                                  FillOpacity="0.7m"
                                  Coordinates="this.Unit.ActivationArea.Coordinates.ToLeafletCoordinates()" />
                                }
                            }

                            @if (this.FieldTrip.ExplorationMap.IsGeolocatable && this.FieldTrip.ExplorationMap.ExplorationArea != null)
                            {
                                if (this.FieldTrip.ExplorationMap.ExplorationShape == ActivationAreaType.Polygon)
                                {
                                    <LeafletGeoJson Color="#58d68d"
                                FillColor="transparent"
                                Geometry="this.FieldTrip.ExplorationMap.ExplorationArea" />
                                }
                                else if (this.FieldTrip.ExplorationMap.ExplorationShape == ActivationAreaType.Circle
                                && this.FieldTrip.ExplorationMap.ExplorationAreaCenterLatitude.HasValue
                                && this.FieldTrip.ExplorationMap.ExplorationAreaCenterLongitude.HasValue)
                                {
                                    var center = new LeafletCoordinates(
                                    this.FieldTrip.ExplorationMap.ExplorationAreaCenterLatitude.Value,
                                    this.FieldTrip.ExplorationMap.ExplorationAreaCenterLongitude.Value
                                    );

                                    <LeafletCircle Color="#58d68d"
                               FillColor="transparent"
                               Center="center"
                               Radius="this.FieldTrip.ExplorationMap.ExplorationAreaRadius" />
                                }
                                else if (this.FieldTrip.ExplorationMap.ExplorationShape == ActivationAreaType.Rectangle)
                                {
                                    <LeafletRectangle Color="#58d68d"
                                  FillColor="transparent"
                                  Coordinates="this.FieldTrip.ExplorationMap.ExplorationArea.Coordinates.ToLeafletCoordinates()" />
                                }
                            }
                        </LeafletMap>
                    </div>
                }
                else
                {
                    <div class="radar-message">
                        <div class="radar" />

                        @if (this.DistanceFromUnit.HasValue)
                        {
                            <text>
                                Vous êtes à
                                <span class="@Css("radar-distance", new{ increase = this.RadarDistanceIncreased }, new{ decrease = this.RadarDistanceDecreased })">
                                    &nbsp;@this.DistanceFromUnit.ToString()&nbsp;
                                </span>
                                m
                            </text>
                        }
                        else
                        {
                            <text>Vous êtes à XX m</text>
                        }
                    </div>
                }

                @if (this.Unit.LocationValidationType == LocationValidationType.GpsLocation)
                {
                    <Alert Color="Color.Info" Class="my-2">
                        Allez dans la zone d’activation. Votre GPS validera que vous êtes arrivé.
                    </Alert>

                    <Button Color="Color.Danger"
                Icon="@FontAwesomeIcons.Unlock"
                Class="my-2"
                Block
                Clicked="this.UnlockPositionAsync"
                IsLoading="this.IsSubmitting">
                        Forcer la validation
                    </Button>
                }
                else if (this.Unit.LocationValidationType == LocationValidationType.QrCode)
                {
                    <Alert Color="Color.Info" Class="my-2">
                        Trouvez le QR code et scannez-le pour valider que vous êtes arrivé au bon endroit.
                    </Alert>

                    <div class="code-reader-holder mb-2">
                        <CodeReader DataFound="this.OnCodeReadAsync" />
                    </div>

                    <Button Color="Color.Danger"
                Icon="@FontAwesomeIcons.Unlock"
                Block
                Clicked="this.UnlockPositionAsync"
                IsLoading="this.IsSubmitting">
                        Forcer la validation
                    </Button>
                }
                else if (this.Unit.LocationValidationType == LocationValidationType.Manual)
                {
                    <Alert Color="Color.Info" Class="my-2">
                        Cliquez sur le bouton ci-dessous quand vous êtes arrivé à destination.
                    </Alert>

                    <Button Color="Color.Success"
                Icon="@FontAwesomeIcons.Check"
                Block
                Clicked="this.UnlockPositionAsync"
                IsLoading="this.IsSubmitting">
                        Je suis au bon endroit
                    </Button>

                }
            </div>
        }
        else if (this.ShowUnitInfo)
        {
            <div class="unit-info">
                <div class="unit-info-title">
                    @((MarkupString)this.Unit.InformationSheetTitle)
                </div>
                <div class="unit-info-description">
                    @((MarkupString)this.Unit.InformationSheetDescription)
                </div>

                @if (!string.IsNullOrEmpty(this.Unit.InformationSheetPicture))
                {
                    <div class="unit-info-picture" @onclick="() => this.DisplayFullScreenPicture(this.Unit.InformationSheetPicture)" >
                        <img src="@($"{this.BasePictureUrl}{this.Unit.InformationSheetPicture}")" alt="Image" />
                    </div>
                }
                <div>
                    Cette fiche d'information est maintenant disponible sur la carte d'exploration <div class="icon-enriched-map"></div>.
                </div>
                <Button Class="btn-primary" Icon="@FontAwesomeIcons.ArrowCircleRight"
                Block
                Clicked="this.OnClickPlayNextActivityAsync"
                IsLoading="this.IsPlayingNextActivity">
                    Passer à la suite
                </Button>
            </div>
        }
        else if (this.ShowUnitConclusion)
        {
            <div class="unit-conclusion">
                <div class="unit-conclusion-title">
                    @((MarkupString)this.Unit.ConclusionTitle)
                </div>
                <div class="unit-conclusion-description">
                    @((MarkupString)this.Unit.ConclusionText)
                </div>

                @if (!string.IsNullOrEmpty(this.Unit.ConclusionPicture))
                {
                    <div class="unit-conclusion-picture" @onclick="() => this.DisplayFullScreenPicture(this.Unit.ConclusionPicture)" >
                        <img src="@($"{this.BasePictureUrl}{this.Unit.ConclusionPicture}")" alt="Image" />
                    </div>
                }

                <Button Class="btn-primary" Icon="@FontAwesomeIcons.ArrowCircleRight"
                Block
                Clicked="this.OnClickPlayNextUnitAsync"
                IsLoading="this.IsSubmitting">
                    Passer à la suite
                </Button>
            </div>
        }
        else
        {
            <div class="activity">
                <div class="activity-title">
                    @((MarkupString)this.CurrentActivity?.Title)
                </div>

                @if (this.CurrentActivity != null && this.CurrentActivity is QuestionActivity questionActivity)
                {
                    <div class="activity-gain">
                        <div class="star" />
                        <div class="points">
                            @(questionActivity.Gain) pts
                        </div>
                    </div>
                }

                @if (!this.DisplayEndScreenReadingActivity)
                {
                    <div class="activity-statement">
                        @((MarkupString)this.CurrentActivity?.Statement)
                    </div>

                    @if (!string.IsNullOrEmpty(this.CurrentActivity?.Picture))
                    {
                        <div class="activity-picture" @onclick="() => this.DisplayFullScreenPicture(this.CurrentActivity?.Picture)" >
                            <img src="@($"{this.BasePictureUrl}{this.CurrentActivity?.Picture}")" alt="Image" />
                        </div>
                    }
                }

                @if (this.CurrentActivity != null && this.CurrentActivity is QuestionActivity question)
                {
                    var correctAnswer = question.Answers.FirstOrDefault(a => a.IsCorrectAnswer);

                    if (question.QuestionActivityType == QuestionActivityType.Question)
                    {
                        string className = "activity-answer";

                        if (this.AnswerIsCorrect.HasValue)
                        {
                            if (this.AnswerIsCorrect.Value)
                            {
                                className += " correct-answer";
                            }
                            else
                            {
                                className += " wrong-answer";
                            }
                        }

                        <Field Class="@className">
                            <Label class="text-white">Votre réponse :</Label>
                            <input placeholder="Votre réponse" @bind-value="this.AnswerText" readonly="@this.AnswerIsCorrect.HasValue" @onkeydown="this.OnKeyDown" />
                        </Field>
                    }
                    else if (question.QuestionActivityType == QuestionActivityType.Mcq)
                    {
                        <Label class="text-white">Votre réponse :</Label>
                        <div class="activity-answer @(this.AnswerIsCorrect.HasValue ? (this.AnswerIsCorrect.Value ? " correct-answer" : " wrong-answer") : "")">
                            <RadioGroup TValue="Guid" Name="_radio"
                        Value="this.AnswerIdSelected" Orientation="RadioGroup<Guid>.RadioOrientation.Horizontal"
                        ValueChanged="(val)=>this.UpdateAnswerSelection(val)"
                        Class="activity-mcq">
                                @foreach (var answer in question.Answers)
                                {
                                    <div class="answer-mcq  @(this.AnswerIsCorrect.HasValue && !this.AnswerIsCorrect.Value ? (answer.Id == correctAnswer.Id ? " correct-answer" : (answer.Id == this.AnswerIdSelected ? " wrong-answer" : "")) : "")">
                                        @if (!this.AnswerIsCorrect.HasValue)
                                        {
                                            <Radio TValue="Guid" Value="answer.Id" Label="@answer.Content" />
                                        }
                                        else
                                        {
                                            <Icon Name="@FontAwesomeIcons.Circle" Class="@(this.AnswerIdSelected == answer.Id ? " checked" : "")"></Icon>
                                            <Label>@answer.Content</Label>
                                        }
                                    </div>
                                }
                            </RadioGroup>
                        </div>
                    }
                    else if (question.QuestionActivityType == QuestionActivityType.PictureMcq)
                    {
                        <Label class="text-white">Votre réponse :</Label>
                        <div class="activity-answer @(this.AnswerIsCorrect.HasValue ? (this.AnswerIsCorrect.Value ? " correct-answer" : " wrong-answer") : "")">
                            <div class="activity-picture-mcq">
                                @foreach (var answer in question.Answers)
                                {
                                    <div class="answer-picture @(this.AnswerIdSelected == answer.Id ? " selected" : "") @(this.AnswerIsCorrect.HasValue && !this.AnswerIsCorrect.Value ? (answer.Id == correctAnswer.Id ? " correct-answer" : (answer.Id == this.AnswerIdSelected ? " wrong-answer" : "")) : "")"
                     style="@($"background-image:url('{this.BasePictureUrl}{answer.Content}')")"
                     @onclick="() => this.UpdateAnswerSelection(answer.Id)">

                                        @if (this.AnswerIdSelected == answer.Id)
                                        {
                                            <Icon Name="@FontAwesomeIcons.DotCircle" IconStyle=IconStyle.FaDuo></Icon>
                                        }
                                        else
                                        {
                                            <Icon Name="@FontAwesomeIcons.Circle" IconStyle=IconStyle.FaDuo></Icon>
                                        }

                                        @if (this.AnswerIsCorrect.HasValue && !this.AnswerIsCorrect.Value && answer.Id == this.AnswerIdSelected)
                                        {
                                            <div class="crossed"></div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }

                    @if (!this.AnswerIsCorrect.HasValue)
                    {
                        if (question.Clue != null)
                        {
                            <div class="activity-get-clue">
                                <Button Class="btn-primary" Icon="@FontAwesomeIcons.Sack"
                    Block
                    Clicked="() => { this.DisplayClue = true; this.StateHasChanged(); }">
                                    Un indice ?
                                </Button>
                                @if (!this.ClueIsUsed)
                                {
                                    <div class="get-clue-label" @onclick="() => { this.DisplayClue = true; this.StateHasChanged(); }">

                                        <div class="clue-cost">
                                            <Icon Name="fa-star" /> - @question.Clue?.Cost
                                        </div>

                                    </div>
                                }
                            </div>
                        }

                        if (this.DisplayClue)
                        {
                            <Modal OnClosing="async() => await this.ValidateClueIsUsed()"
                                   ActionText="OK">
                                <Content>
                                    <div>
                                        @((MarkupString)question.Clue?.Content)
                                    </div>

                                    @if (!string.IsNullOrEmpty(question.Clue?.Picture))
                                    {
                                        <div class="activity-clue-picture" @onclick="() => this.DisplayFullScreenPicture(question.Clue?.Picture)" >
                                            <img src="@($"{this.BasePictureUrl}{question.Clue?.Picture}")" alt="Image" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="activity-clue-no-picture" style="height: 5rem;"></div>
                                    }
                                    @if (!this.ClueIsUsed)
                                    {
                                        <div class="activity-clue-label">

                                            <div class="activity-clue-cost">
                                                <Icon Name="fa-star" /> - @question.Clue?.Cost
                                            </div>
                                        </div>
                                    }
                                </Content>
                            </Modal>
                        }

                        <div class="activity-validation">
                            <Button Class="btn-primary" Icon="@FontAwesomeIcons.Check"
                    Block
                    Disabled="(string.IsNullOrEmpty(this.AnswerText) && this.AnswerIdSelected == Guid.Empty) || this.DisplayClue"
                    Clicked="() => this.ValidateAnswerAsync(question)"
                    IsLoading="this.IsSubmitting">
                                Valider
                            </Button>
                            <div class="activity-validation-label" @onclick="() => this.ValidateAnswerAsync(question)">
                                <div class="activity-validation-gain">
                                    <Icon Name="fa-star" />
                                    + @question.Gain
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (this.AnswerIsCorrect.Value)
                        {
                            <div class="alert alert-success text-after-answer">
                                @((MarkupString)question.TextToDisplayForCorrectAnswer)
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger text-after-answer">
                                @((MarkupString)question.TextToDisplayForWrongAnswer)
                            </div>
                        }

                        <Button Class="btn-primary" Icon="@FontAwesomeIcons.ArrowCircleRight"
                Block
                Clicked="this.OnClickPlayNextActivityAsync"
                IsLoading="this.IsPlayingNextActivity">
                            Passer à la suite
                        </Button>
                    }
                }
                else if (this.CurrentActivity != null && this.CurrentActivity is ReadingActivity reading)
                {
                    if (!this.DisplayEndScreenReadingActivity)
                    {
                        var photos = this.PlayedActivityFiles.Where(f => f.MimeType == "image/jpeg" || f.MimeType == "image/png");
                        var audioRecordings = this.PlayedActivityFiles.Where(f => f.MimeType.Contains("audio/"));

                        if (reading.AllowsNoteTaking)
                        {
                            <Field>
                                <Label class="text-white">Votre prise de notes :</Label>
                                <textarea class="note-taking"
                      placeholder="Votre prise de notes"
                      @bind="this.AnswerText"
                      readonly="@this.AnswerIsCorrect.HasValue" />
                            </Field>
                        }

                        if (reading.AllowsPhotos)
                        {
                            if (photos.Any())
                            {
                                <Label class="text-white">Vos photos :</Label>

                                foreach (var photo in photos)
                                {
                                    <img src="@photo.Url" class="activity-reading-picture" @onclick="() => this.DisplayFullScreenPicture(photo.Url)" />
                                }
                            }

                            if (!photos.Any() || photos.Count() < 10)
                            {
                                <label for="shoot-photo" class="btn-primary btn btn- btn-block btn-icon">
                                    <Icon Name="@FontAwesomeIcons.Camera" />
                                    Prendre une photo
                                </label>

                                <InputFile id="shoot-photo" type="file" accept="image/*" capture="environment" style="display: none;" OnChange="this.AddPhotoToCurrentReadingActivity" />
                            }
                            else
                            {
                                <div class="text-white text-center mb-2">
                                    (Vous avez atteint le nombre limite de photos)
                                </div>
                            }
                        }

                        if (reading.AllowsAudioRecordings)
                        {
                            if (audioRecordings.Any())
                            {
                                <Label class="text-white">Vos enregistrements sonores :</Label>
                            }

                            foreach (var audioRecording in audioRecordings)
                            {
                                <figure>
                                    <audio controls
                   src="@audioRecording.Url">
                                        Your browser does not support the
                                        <code>audio</code> element.
                                    </audio>
                                </figure>
                            }

                            if (!audioRecordings.Any() || audioRecordings.Count() < 10)
                            {
                                <Button Class="btn-primary" Icon="@FontAwesomeIcons.Microphone"
                Block
                Clicked="this.DisplayAudioRecordingModal">
                                    Enregistrer un son
                                </Button>
                            }
                            else
                            {
                                <div class="text-white text-center mb-2">
                                    (Vous avez atteint le nombre limite d'enregistrements sonores)
                                </div>
                            }
                        }

                        <Button Class="btn-primary" Icon="@FontAwesomeIcons.Check"
                Block
                Disabled="string.IsNullOrEmpty(this.AnswerText) && !this.PlayedActivityFiles.Any()"
                Clicked="async() => await this.RegisterReadingAsync(reading)"
                IsLoading="this.IsSubmitting">
                            Valider
                        </Button>

                        @if (string.IsNullOrEmpty(this.AnswerText) && !this.PlayedActivityFiles.Any())
                        {
                            <Button Class="btn-primary" Icon="@FontAwesomeIcons.ArrowCircleRight"
                Block
                Clicked="this.OnClickPlayNextActivityAsync"
                IsLoading="this.IsPlayingNextActivity">
                                Passer à la suite
                            </Button>
                        }
                    }
                    else
                    {
                        <div class="activity-statement">
                            Ce relevé est maintenant disponible sur la carte d’exploration <div class="icon-enriched-map"></div>.
                        </div>

                        if (reading.ReadingsAreUnlimited)
                        {
                            <Button Class="btn-primary mt-4" Icon="@FontAwesomeIcons.PlusCircle"
                Block
                Clicked="() => this.AddNewReadingAsync(reading)"
                IsLoading="this.IsSubmitting">
                                Effectuer un autre relevé
                            </Button>
                        }

                        <Button Class="btn-primary mt-4" Icon="@FontAwesomeIcons.ArrowCircleRight"
                Block
                Clicked="this.OnClickPlayNextActivityAsync"
                IsLoading="this.IsPlayingNextActivity">
                            Passer à la suite
                        </Button>
                    }


                }
            </div>
        }

        @if (this.DisplayPictureInFullScreen)
        {
            <FullScreenImageViewer PictureUrl="@this.PictureUrlToDisplayInFullScreen" OnClosing="this.CloseDisplayPictureInFullScreen" />
        }

        @if (this.DisplayTimeAlert)
        {
            var remainingTime = (int)(this.FieldTrip.AllottedTimeDuration - this.ElapsedTime.TotalMinutes);

            <Modal OnClosing="() => this.CloseDisplayTimeAlert(remainingTime)"
           ActionText="OK">
                <Content>
                    <div class="game-alert-title">
                        Alerte temps
                    </div>

                    @if (remainingTime == 10)
                    {
                        <div class="game-alert-text">
                            Attention, il ne vous reste plus que <span class="remaining-time"> 10 minutes </span> !
                        </div>
                    }
                    else if (remainingTime == 5)
                    {
                        <div class="game-alert-text">
                            Attention, il ne vous reste plus que <span class="remaining-time"> 5 minutes </span> !
                        </div>
                        <div class="game-alert-text">
                            Retournez vers le point de départ.
                        </div>
                    }
                    else if (remainingTime == 0)
                    {
                        <div class="game-alert-text">
                            Le temps alloué est écoulé ! Veuillez retournez au point de départ.
                        </div>
                    }
                </Content>
            </Modal>
        }

        @if (this.DisplayOutOfExplorationAreaAlert)
        {
            <Modal OnClosing="() => { this.DisplayOutOfExplorationAreaAlert = false; this.StateHasChanged(); }"
           ActionText="OK">
                <Content>
                    <div class="game-alert-title">
                        Alerte hors zone d’exploration
                    </div>

                    <div class="game-alert-text">
                        Attention, vous êtes sorti de la zone d'exploration !
                    </div>

                    <div class="game-alert-text">
                        Merci de rejoindre la zone d'exploration matérialisée en vert sur la carte.
                    </div>
                </Content>
            </Modal>
        }

        @if (this.DisplayAudioRecorder)
        {
            <div class="modal-holder">
                <div class="modal-window">
                    <div class="modal-content">
                                <Icon Name="@FontAwesomeIcons.TimesCircle" 
              Class="close-button"
              Clicked="this.CancelAudioRecording"/>
                    <div class="game-alert-title">
                        @if (!this.IsRecordingAudio)
                        {
                            if (!this.AudioRecordingIsFinished)
                            {
                                <text>Lancer l'enregistrement</text>
                            }
                            else
                            {
                                <text>Valider l'enregistrement</text>
                            }
                        }
                        else
                        {
                            <text>Arrêter l'enregistrement</text>
                        }


                    </div>
                    <div class="audio-recorder">
                        <canvas class="visualizer">
                        </canvas>

                        @if (!this.IsRecordingAudio)
                        {
                            if (!this.AudioRecordingIsFinished)
                            {
                                <div class="audio-recorder-start" @onclick="this.StartAudioRecording">
                                    <Icon Name="@FontAwesomeIcons.Microphone" />
                                </div>
                            }
                            else
                            {
                                <div class="audio-recorder-validate">
                                    <Icon Name="@FontAwesomeIcons.Check" />
                                </div>
                            }
                        }
                        else
                        {
                            <div class="audio-recorder-stop" @onclick="this.StopAudioRecording">
                                <Icon Name="@FontAwesomeIcons.Stop" />
                            </div>
                        }

                    </div>
                    </div>

                    <div class="modal-footer">
                        <button class="action-button" @onclick="this.AddAudioRecordingToCurrentReadingActivity">
                            Enregistrer
                        </button>
                    </div>
                </div>
            </div>
        }

    </div>

    @if (this.ShowEnrichedMap)
    {
        <EnrichedMap FieldTrip="this.FieldTrip"
                     ShowEnrichedMap="this.ShowEnrichedMap"
                     OnClosing="() => { this.ShowEnrichedMap=!this.ShowEnrichedMap; this.StateHasChanged(); }"
                     TrackUser="this.FieldTrip.ExplorationMap.IsGeolocatable" />
    }
}

