﻿@using SituLearn.Player.Utilities
@if (this.FieldTrip == null)
{
    <SituLearn.Player.Shared.HeaderToolbar>

        @if (!string.IsNullOrEmpty(this.BackUrl))
        {
            <Button Color="Color.Link" Icon="@FontAwesomeIcons.ArrowLeft"
                    Clicked="()=>this.NavigationManager.NavigateTo(this.BackUrl ?? FieldTrips.FieldTripsPage.Url)">
            </Button>
        }

        Groupe
    </SituLearn.Player.Shared.HeaderToolbar>
    <AppLoading />
}
else if (this.NotFound)
{
    <SituLearn.Player.Shared.HeaderToolbar>

        @if (!string.IsNullOrEmpty(this.BackUrl))
        {
            <Button Color="Color.Link" Icon="@FontAwesomeIcons.ArrowLeft"
                    Clicked="this.GoBack">
            </Button>
        }

        Groupe
    </SituLearn.Player.Shared.HeaderToolbar>
    <div id="fieldtrip-page">
        <div class="text-center" style="margin:15vh 0; font-size:large; color:#fff">
            Sortie non trouvée
        </div>
    </div>
}
else
{
    <SituLearn.Player.Shared.HeaderToolbar Class="fieldtrip-page">
        <Icon Name="@FontAwesomeIcons.ArrowLeft" IconStyle="IconStyle.FaLight"
              Clicked="this.GoBack" />
        <span class="fieldtrip-title">
            @this.FieldTrip.Name
        </span>
    </SituLearn.Player.Shared.HeaderToolbar>


    <div id="team-creation-page">

        <div class="team-creation-card editing mt-1">

            <div class="team-creation-title mb-5">
                CRÉEZ VOTRE GROUPE
            </div>

            <Field Class="field">
                <Label class="text-primary">Nom</Label>
                <input placeholder="Nom" @bind-value="this.GamesRepository.TeamName" />
            </Field>

            <Field Class="field">
                <Label class="text-primary">Votre photo</Label>

                @if (string.IsNullOrEmpty(this.GamesRepository.TeamPicture))
                {
                    <label for="shoot-photo" class="btn-camera btn btn- btn-block btn-icon text-white">
                        <Icon Name="@FontAwesomeIcons.Camera" />
                        Prendre une photo
                    </label>

                <InputFile id="shoot-photo" type="file" accept="image/*" capture="environment" style="display: none;" OnChange="this.OnChangeTeamPicture" />
                }
                else
                {
                    <div class="position-relative">
                        <img src="@this.GamesRepository.TeamPicture" class="team-picture" />
                        <Icon Name="@FontAwesomeIcons.Trash" 
                              Class="trash-button"
                              Clicked="this.OnDeleteTeamPicture"/>                    
                    </div>
                }
            </Field>          

            <Button Color="Color.Primary" Icon="@FontAwesomeIcons.Check"
                    Clicked="this.Validate"
                    Size="ButtonSize.Large"
                    IsLoading="this.IsSubmitting"
                    disabled="@(string.IsNullOrEmpty(this.GamesRepository.TeamName))"
                    Class="mt-5">
                Valider
            </Button>
        </div>
    </div>

}