﻿@inherits FormComponent;

<PageHeader Icon="@FontAwesomeIcons.User">
    <HeadingContent>
        <h1>Création d'un utilisateur</h1>
    </HeadingContent>
    <BreadcrumbsContent>
        <li>
            <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor"
                    Clicked="()=>this.NavigationManager.NavigateTo(Web.Client.Pages.Users.UsersPage.Url)">
                Utilisateurs
            </Button>
        </li>
        <li>
            <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                Création
            </Button>
        </li>
    </BreadcrumbsContent>
</PageHeader>

<ErrorsSummary Errors="this.Errors" />

<Container Class="bg-white p-4 user-form" Fluid="true">
    <Row Class="mt-2">
        <Column Size="6">
            <Field>
                <Label>Nom*</Label>
                <SfTextBox PlaceHolder="Nom" @bind-Value="@this.Model.LastName" />
            </Field>
        </Column>
        <Column Size="6">
            <Field>
                <Label>Prénom*</Label>
                <SfTextBox PlaceHolder="Prénom" @bind-Value="@this.Model.FirstName" />
            </Field>
        </Column>
    </Row>

    <Row Class="mt-2">
        <Column Size="6">
            <Field>
                <Label>E-mail*</Label>
                <SfTextBox Placeholder="Mail" @bind-Value="this.Model.Email" Type="InputType.Email" />
            </Field>
        </Column>
        <Column Size="6">
            <Field>
                <Label>Numéro de téléphone mobile</Label>
                <SfTextBox Placeholder="N° téléphone" @bind-Value="this.Model.PhoneNumber" />
            </Field>
        </Column>
    </Row>

    <Row Class="mt-2">
        <Column Size="6">
            <Field>
                <Label>Etablissement</Label>
                <SfTextBox Placeholder="Etablissement" @bind-Value="this.Model.Establishment" />
            </Field>
        </Column>
        <Column Size="6">
            <Field>
                <Label>Role*</Label>
                <SfDropDownList TItem="string" TValue="string" DataSource="this.Roles" @bind-Value="this.Model.Role" >
                    <DropDownListFieldSettings Value="this" Text="this" />
                </SfDropDownList>
            </Field>
        </Column>
    </Row>

    <Row>
        <Column Class="text-center">
            <Button Color="Color.Light" Clicked=@(() => { this.NavigationManager.NavigateTo(UsersPage.Url); })>
                <Icon Name="@FontAwesomeIcons.Undo" />Annuler
            </Button>
            <Button Color="Color.Primary" Clicked="ProcessAsync">
                <Loader IsLoading="this.IsProcessing" />
                Valider
            </Button>
        </Column>
    </Row>
</Container>

