﻿@using Api;
@using Common

<PageHeader Icon="@Icon">
    <HeadingContent>
        <h1>Gestion des utilisateurs</h1>
    </HeadingContent>
    <ActionsContent>
        <Button Color="Color.Light" Clicked="() => this.NavigationManager.NavigateTo(NewUserPage.Url)">
            <Icon Name="@FontAwesomeIcons.UserPlus" /> Ajouter un utilisateur
        </Button>
    </ActionsContent>
    <BreadcrumbsContent>
        <li>
            <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                Utilisateurs
            </Button>
        </li>
    </BreadcrumbsContent>
</PageHeader>

<OzSimpleRemoteTable TModel="UserModel"
                     TEntity="ApplicationUser"
                     @ref="this.Table"
                     DefaultSortedColumnIndex="0"
                     GetData="this.UsersRepository.GetAllUsersAsync">
    <ColumnsDefinition>
        <OzSimpleTableColumn TModel="UserModel"
                             TEntity="ApplicationUser"
                             Filter="(user, vals)=>user.LastName.Contains(vals[0] as string)"
                             Sort="u=>u.LastName">
            <HeaderDisplay>Nom</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel="UserModel"
                             TEntity="ApplicationUser"
                             Filter="(user, vals)=>user.FirstName.Contains(vals[0] as string)"
                             Sort="u=>u.FirstName">
            <HeaderDisplay>Prénom</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel="UserModel" TEntity="ApplicationUser"
                             Filter="(user, vals)=>user.Email.Contains(vals[0] as string)"
                             Sort="u=>u.Email">
            <HeaderDisplay>Email</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel="UserModel" TEntity="ApplicationUser"
                             Filter="(user, vals)=>user.PhoneNumber.Contains(vals[0] as string)"
                             Sort="u=>u.PhoneNumber">
            <HeaderDisplay>N° mobile</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel="UserModel" TEntity="ApplicationUser"
                             Filter="(user, vals)=>user.Establishment.Contains(vals[0] as string)"
                             Sort="u=>u.Establishment">
            <HeaderDisplay>Etablissement</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel="UserModel" TEntity="ApplicationUser"
                             FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                             Filter="(user, vals)=>user.UserRoles.FirstOrDefault().Role.Name == vals[0] as string"
                             FilterOptions="@(new FilterOption[] {
                                    new (){ Value=UserRoleNames.Administrator, Label = UserRoleNames.Administrator },
                                    new(){ Value=UserRoleNames.Designer, Label=UserRoleNames.Designer },
                                    new(){ Value=UserRoleNames.Participant, Label=UserRoleNames.Participant } })"
                             Sort="u=>u.UserRoles.FirstOrDefault().Role.Name">
            <HeaderDisplay>Rôle</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel="UserModel" TEntity="ApplicationUser" CanClearFilter=true >
            <HeaderDisplay>Actions</HeaderDisplay>
        </OzSimpleTableColumn>
    </ColumnsDefinition>
    <RowContent>
        <TableRow>
            <TableRowCell>
                @context.LastName
            </TableRowCell>
            <TableRowCell>
                @context.FirstName
            </TableRowCell>
            <TableRowCell>
                <a href="mailto:@context.Email">@context.Email</a>
            </TableRowCell>
            <TableRowCell>
                @context.PhoneNumber
            </TableRowCell>
            <TableRowCell>
                @context.Establishment
            </TableRowCell>
            <TableRowCell>
                @context.Role
            </TableRowCell>
            <TableRowCell>
                <ButtonActionGroup Type="ButtonActionGroupType.Icon">

                    <Button Clicked="() => this.NavigationManager.NavigateTo(Web.Client.Pages.Users.EditPage.GetUrl(context.Id))"
                            Icon="@FontAwesomeIcons.PencilAlt">
                        Modifier l'utilisateur @context.FirstName @context.LastName
                    </Button>
                    
                    @if (this.UsersRepository.CurrentUser.Id != context.Id)
                    {
                        <Button Clicked="@(async ()=> { await this.ConnectAs(context); })"
                                Icon="@FontAwesomeIcons.Unlock">
                            Se connecter comme @context.FirstName @context.LastName
                        </Button>
                    
                        <Button Clicked="@(() => this.DoSendInvitational(context.Email))"
                                Icon="@FontAwesomeIcons.PaperPlane">
                            Réinitialiser le mot de passe
                        </Button>

                        <Button Clicked="() => this.DeleteUser(context.Id)" 
                                Icon="@FontAwesomeIcons.Trash">
                            Supprimer l'utilisateur @context.FirstName @context.LastName
                        </Button>
                    }
                
                </ButtonActionGroup>
            </TableRowCell>
        </TableRow>
    </RowContent>

</OzSimpleRemoteTable>