﻿<Web.Client.Shared.MobilePrevizualizer Class="fieldTrip-simulator">
    <iframe src=@(this.IframeSrc) sandbox="allow-same-origin allow-scripts allow-modals"></iframe>
</Web.Client.Shared.MobilePrevizualizer>

<button class="btn btn-primary" style="position: fixed;right: 20%;" onclick="window.close();">Retourner à l'éditeur</button>
