﻿@layout AppLayout

<div id="register-page" class="page discovery-mode-page">

    <div class="textured">
        <img src="/images/SitulearnAB_Chemin.svg" class="logo" />

        <h4 class="text-white my-5 text-center field">
            <Icon Name="@FontAwesomeIcons.InfoCircle" />
            Informations sur le mode Découverte
        </h4>
        <div class="text-white mb-5 text-justify field info-content">
            <div class="mb-3">
                Attention, en choisissant de vous connecter à SituLearn sans créer un compte, vous n’aurez pas accès à toutes les fonctionnalités telles que&nbsp;:
            </div>
            <ul>
                <li>Le téléchargement des sorties pour les faire en mode hors ligne</li>
                <li>La sauvegarde de la progression dans une sortie si vous quittez l’application</li>
                <li>La consultation des sorties déjà effectuées</li>
                <li>La consultation de vos relevés et des fiches d’informations</li>
            </ul>
            <div>
                Il s’agit d’un mode découverte avec des fonctionnalités restreintes.
            </div>
        </div>

        <div class="mt-5 text-center">
            <Button Clicked="@(()=> this.NavigateTo(SituLearn.Player.Pages.User.LoginPage.Url))" Size="ButtonSize.Large" Color="Color.Link" Icon="@FontAwesomeIcons.Undo">
                Retour
            </Button>
            <Button Color="Color.Primary" Size="ButtonSize.Large" Icon="@FontAwesomeIcons.Rocket"
                    Clicked="this.StartDiscoveryMode">
                J'ai compris
            </Button>
        </div>

    </div>
</div>
