﻿@layout AppLayout

<div id="download-report-page" class="page">

    <div class="textured">
        <img src="/images/SitulearnAB_Chemin.svg" class="logo" />

        @if (this.IsProcessing)
        {
            <AppLoading />
        }
        else
        {
            if (this.IsSuccess)
            {
                <Alert Color="Color.Success" Visible="true" Class="download-report-alert">
                    Vous pouvez maintenant retrouver le compte-rendu de la sortie dans vos téléchargements
                </Alert>
            }
            else
            {
                <Alert Color="Color.Danger" Visible="true" Class="download-report-alert">
                    Le compte-rendu de la sortie n'a pas été trouvé
                </Alert>
            }
        }
    </div>
</div>
