﻿@using Web.Client.Shared

<TableRow Class="@Css("fieltrip-row-header", new { RowIsExpanded=this.IsExpanded})">

    <TableRowCell>

        <Icon Name="@(this.IsExpanded ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronRight)"
              Clicked="()=>this.IsExpanded=!this.IsExpanded" Class="pointer mr-2" />

        @this.Trip.Name
    </TableRowCell>
    <TableRowCell>
        @this.Trip.Establishment
    </TableRowCell>
    <TableRowCell>
        @this.Trip.Designer.FirstName @this.Trip.Designer.LastName
    </TableRowCell>
    <TableRowCell>
        @this.Trip.PedagogicalFieldName
    </TableRowCell>
    <TableRowCell>
        @this.Trip.FieldTripType.GetFriendlyName()
    </TableRowCell>
    <TableRowCell>
        @((TimeZoneInfo.ConvertTimeFromUtc(this.Trip.LastUpdateDate, this.TimeZone)).ToString("dd/MM/yyyy HH:mm"))
    </TableRowCell>
    <TableRowCell>

        @if (this.IsAdmin || this.Trip.DesignerId == this.CurrentUser.Id)
        {
            <ButtonActionGroup Type="ButtonActionGroupType.Icon" GroupButton=true PositionTooltip=Position.BottomCenter>
                <Button Icon="@(this.Trip.IsVisible ? ApplicationIcons.FieldTripIsVisible : ApplicationIcons.FieldTripIsVisibleNot)"
                    Class="icon-only"
                    IsLoading="this.IsUpdatingVisibility"
                    Clicked="this.UpdateVisibilityAsync">
                    @(this.Trip.IsVisible ? "Visible":"Non visible")
                </Button>
                <Button Icon="@(this.Trip.IsPublished ? ApplicationIcons.FieldTripIsPublished : ApplicationIcons.FieldTripIsPublishedNot)"
                    Class="icon-only"
                    IsLoading="this.IsUpdatingPublishStatus"
                    Clicked="this.UpdatePublishStatusAsync"
                    Disabled="this.IsUncomplete">
                    @(this.IsUncomplete ? "La publication n'est possible que si la sortie contient des titres et contenu pour la page d'accueil, de fin ainsi qu'au moins une unité de jeu" : this.Trip.IsPublished ? "Publiée":"Non publiée")
                </Button>
                <Button Icon="@FontAwesomeIcons.Play" Class="icon-only" Clicked=@(() => this.PlayInNewTab())>
                    Tester
                </Button>

                <Button Icon="@FontAwesomeIcons.Edit" Class="icon-only"
                    Clicked="()=>this.NavigationManager.NavigateTo(FieldTripEditionPage.GetEditionUrl(this.Trip.Id))">
                    Modifier
                </Button>
                <Button Icon="@FontAwesomeIcons.FileDownload" Class="icon-only"
                        Disabled=@(this.Trip.DesignerId != this.CurrentUser.Id)
                        Clicked="()=> { this.ShowReportModal = true; this.StateHasChanged(); }">
                    Télécharger le compte-rendu
                </Button>

                <Button Icon="@FontAwesomeIcons.Trash" IsLoading="this.IsDeleting" Clicked="this.DeleteAsync" Class="icon-only">
                    Supprimer
                </Button>
            </ButtonActionGroup>
        }
        else
        {
            <ButtonActionGroup Type="ButtonActionGroupType.Icon" GroupButton=true PositionTooltip=Position.BottomCenter>
                <Button Icon="@(this.Trip.IsVisible ? ApplicationIcons.FieldTripIsVisible : ApplicationIcons.FieldTripIsVisibleNot)"
                    Class="icon-only"
                    IsLoading="this.IsUpdatingVisibility"
                    Clicked="this.UpdateVisibilityAsync"
                    Disabled="true">
                    @(this.Trip.IsVisible ? "Visible":"Non visible")
                </Button>
                <Button Icon="@(this.Trip.IsPublished ? ApplicationIcons.FieldTripIsPublished : ApplicationIcons.FieldTripIsPublishedNot)"
                    Class="icon-only"
                    IsLoading="this.IsUpdatingPublishStatus"
                    Clicked="this.UpdatePublishStatusAsync"
                    Disabled="true">
                    @(this.IsUncomplete ? "La publication n'est possible que si la sortie contient des titres et contenu pour la page d'accueil, de fin ainsi qu'au moins une unité de jeu" : this.Trip.IsPublished ? "Publiée":"Non publiée")
                </Button>
                <Button Icon="@FontAwesomeIcons.Play" Class="icon-only" Clicked=@(() => this.PlayInNewTab())>
                    Tester
                </Button>


                <Button Icon="@FontAwesomeIcons.BookReader" Class="icon-only"
                    Clicked="()=>this.NavigationManager.NavigateTo(FieldTripEditionPage.GetEditionUrl(this.Trip.Id))">
                    Consulter
                </Button>
            </ButtonActionGroup>
        }

    </TableRowCell>
</TableRow>
@if (this.IsExpanded)
{
    <TableRow Class="fieltrip-row-desc">
        <TableRowCell ColumnSpan="5">
            @this.Trip.Description
        </TableRowCell>
        <TableRowCell Class="text-right" ColumnSpan="2">
            @this.Trip.LocatedGameUnits.Where(lgu => !lgu.IsDeleted).Count() @(this.Trip.LocatedGameUnits.Count()>1?"unités":"unité") de jeu
            @if (this.Trip.FieldTripType == FieldTripType.TreasureHunt)
            {
                <span> | @this.Trip.Journeys.Count() parcours</span>
            }
        </TableRowCell>
    </TableRow>
}

@if (this.ShowReportModal) 
{
    <FieldTripReportModal FieldTrip="this.Trip"
                          OnClose="()=> { this.ShowReportModal = false; this.StateHasChanged(); }" />
}