﻿<PageHeader Icon="@Icon">
    <HeadingContent>
        <h1>Gestion des sorties pédagogiques</h1>
    </HeadingContent>
    <ActionsContent>
        <Button Color="Color.Light"
                Icon="@FontAwesomeIcons.Plus"
                Clicked="this.CreateTripAsync">
            Ajouter une sortie
        </Button>
    </ActionsContent>
    <BreadcrumbsContent>
		<li>
			<Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                Gestion des sorties pédagogiques
            </Button>
        </li>
    </BreadcrumbsContent>
</PageHeader>

@if(!InitiatedFilters)
{
    <AppLoading />
}
else
{
    <OzSimpleRemoteTable TEntity="FieldTrip" TModel="FieldTrip"
                     GetData="this.FieldTripsRepository.GetAllFieldTripsAsync"
                     DefaultSortedColumnIndex=@(5)
                     CurrentSortWay=@(SortWay.Desc)
                     GetModelKey="f=>f.Id"
                     @ref="this.Table"
                     Class="ozytis-table fieldtrips">
        <ColumnsDefinition>     
            <OzSimpleTableColumn TEntity=@(FieldTrip) TModel=@(FieldTrip)
                                FilterType=@(Ozytis.Common.Core.Web.Razor.FilterType.Select)
                                FilterOptions=@(this.FieldtripsFilterOptions)
                                Filter=@((trip, values) => trip.Name == (values[0] as string))
                                Sort=@(f => f.Name)>
                <HeaderDisplay>Nom de la sortie</HeaderDisplay>
            </OzSimpleTableColumn>
            <OzSimpleTableColumn TEntity="FieldTrip" TModel="FieldTrip"
                                FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                                FilterOptions="this.EstablishmentsFilterOptions"
                                Filter="(trip, vals) => trip.Establishment == (vals[0] as string)"
                                Sort="f => f.Establishment">
                <HeaderDisplay>Etablissement</HeaderDisplay>
            </OzSimpleTableColumn>
            <OzSimpleTableColumn TEntity="FieldTrip" TModel="FieldTrip"
                                FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                                FilterOptions="this.DesignersFilterOptions"
                                Filter="(trip, vals) => trip.DesignerId == (vals[0] as string)"
                                PredefinedFilters=@(new List<object>{ this.UsersRepository.CurrentUser.Id })
                                Sort="t=>t.Designer.LastName+t.Designer.FirstName">
                <HeaderDisplay>Concepteur</HeaderDisplay>
            </OzSimpleTableColumn>
            <OzSimpleTableColumn TEntity="FieldTrip" TModel="FieldTrip"
                                FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                                FilterOptions="this.PedagogicFieldsFilterOptions"
                                Filter="(trip, vals)=>trip.PedagogicalFieldName==(vals[0] as string)"
                                Sort="s=>s.PedagogicalFieldName">
                <HeaderDisplay>Domaine pédagogique</HeaderDisplay>
            </OzSimpleTableColumn>
            <OzSimpleTableColumn TEntity="FieldTrip" TModel="FieldTrip"
                                 FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                                 FilterOptions="this.TypesFilterOptions"
                                 FilterByInt="(trip, vals)=>(int)trip.FieldTripType==((int)vals[0])"
                                 Sort="s=>s.FieldTripType">
                <HeaderDisplay>Type</HeaderDisplay>
            </OzSimpleTableColumn>
            <OzSimpleTableColumn TEntity="FieldTrip" TModel="FieldTrip" 
                                 FilterType=@(Ozytis.Common.Core.Web.Razor.FilterType.DateRange)
                                 Filter=@((trip, dates) => (DateTime)dates[0] < trip.LastUpdateDate && trip.LastUpdateDate < (DateTime)dates[1])
                                 Sort="s => s.LastUpdateDate">
                <HeaderDisplay>Modification</HeaderDisplay>
            </OzSimpleTableColumn>
            <OzSimpleTableColumn TEntity="FieldTrip" TModel="FieldTrip" CanClearFilter>
                <HeaderDisplay></HeaderDisplay>
            </OzSimpleTableColumn>
        </ColumnsDefinition>
        <RowContent>
           <FieldTripRowItem Trip="@context" IsAdmin="this.IsAdmin" 
                CurrentUser="this.UsersRepository.CurrentUser" 
                OnDeleted="()=> this.RemoveTripAync(context)"
                OnUpdate="(updated)=> this.UpdateTripAsync(updated)"
           />
        </RowContent>
    </OzSimpleRemoteTable>
}


