﻿@using Web.Client.Shared;

<Card Class="fieldtrip-journeys-edition-card">
	<CardHeader Class="fieldtrip-journeys-edition-card-header">
		@if (this.FieldTrip.FieldTripType == FieldTripType.TreasureHunt)
		{
			<text>Parcours</text>
		}
		else
		{
			<text>Unités de jeu</text>
		}
	</CardHeader>
	
	<CardBody>
		<div class="journeys-preview">

			<div class="@Css("journey", new{ DragOver = JourneyIsDragOver} )">
				<DropZone AcceptCurrentDraggedItem="item=> this.CanEdit && (item is LocatedGameUnit || item is JourneyLocatedGameUnit)"
							OnDrop="this.OnGameUnitAddedAsync"
							OnDragOver="()=>this.JourneyIsDragOver=true"
							OnDragLeave="()=>this.JourneyIsDragOver=false">

					@if (!this.FieldTrip.Journeys.Any())
					{
						<div class="text-center my-5">
							Pas de parcours défini
						</div>
					}

					@if (this.CurrentJourney != null)
					{
						<ol class="journey-located-game-units">
							@foreach (var link in this.CurrentJourney.JourneyLocatedGameUnits.OrderBy(o => o.Order).Select((val, index) => (val, index)))
							{
								<JourneyLocatedGameUnitItem Link="@(link.val)" Index=@(this.FieldTrip.FieldTripType == FieldTripType.TreasureHunt ? link.index : null) CanEdit=@this.CanEdit
															Journey="this.CurrentJourney"
															OnRemove="this.OnChange"
															OnChange="this.OnChange" />
							}
						</ol>
					}

				</DropZone>
			</div>

			@{
				var currentJourneyLocatedGameUnitsIds = this.FieldTrip.Journeys
				.FirstOrDefault(j => j.Id == this.CurrentJourney.Id).JourneyLocatedGameUnits
				.Select(jlgu => jlgu.LocatedGameUnitId);

				var remainingUnits = this.FieldTrip.LocatedGameUnits
				.Where(lgu => !lgu.IsDeleted && !currentJourneyLocatedGameUnitsIds.Contains(lgu.Id))
				.OrderBy(lu => lu.Order);
			}

			@if (!this.DisplayAddUnitForm)
			{
				<div class="mt-1 d-flex justify-content-center align-items-center">
					<ButtonActionGroup Type="ButtonActionGroupType.Icon">
						@if (remainingUnits.Any())
						{
							<Button Icon="@FontAwesomeIcons.PlusCircle"
									Color="Color.Link"
									Clicked="()=> { this.DisplayAddUnitForm = true; this.StateHasChanged(); }"
									Size="ButtonSize.Large">
								Ajouter une unité de jeu
							</Button>

							<Button Icon="@FontAwesomeIcons.Upload"
									Color="Color.Link"
									Clicked="()=>this.NavigationManager.NavigateTo(LocatedGameUnits.LocatedGameUnitsPage.GetUrl(this.FieldTrip.Id))"
									Size="ButtonSize.Large">
								Importer une unité de jeu existante
							</Button>
						}
						else
						{
							<Button Icon="@FontAwesomeIcons.Upload"
									Color="Color.Link"
									Clicked="()=>this.NavigationManager.NavigateTo(LocatedGameUnits.LocatedGameUnitsPage.GetUrl(this.FieldTrip.Id))"
									Size="ButtonSize.Large">
								Importer une unité de jeu existante
							</Button>
						}
					</ButtonActionGroup>
				</div>
			}
			else
			{
				<div class="journeys-preview-add-unit-form">
					<Label>Sélectionner une unité de jeu</Label>
					<SfDropDownList TItem="LocatedGameUnit" TValue="Guid?" DataSource="remainingUnits" @bind-Value="this.UnitIdToAddSelected" ShowClearButton>
						<DropDownListFieldSettings Value="Id" Text="Name" />
					</SfDropDownList>

					<div class="d-flex justify-content-center align-items-center">
						<ButtonActionGroup Type="ButtonActionGroupType.Icon">
							<Button Icon="@FontAwesomeIcons.Undo"
									Color="Color.Link"
									Clicked="async()=> { this.DisplayAddUnitForm = false; this.UnitIdToAddSelected = null; this.StateHasChanged(); }">
								Annuler
							</Button>

							<Button Icon="@FontAwesomeIcons.CheckCircle"
									Color="Color.Link"
									Clicked="async()=> { await this.AddUnitToCurrentJourneyAsync(); }"
									Disabled="!this.UnitIdToAddSelected.HasValue">
								Valider
							</Button>
						</ButtonActionGroup>
					</div>
				</div>
			}

			@if (this.FieldTrip.FieldTripType == FieldTripType.TreasureHunt)
			{
				if (this.CurrentJourney != null && this.Journeys.Count > 1)
				{
					var usedHexColors = this.Journeys.Select(j => JourneyColorsHelper.GetColorHex(j.Color)).ToArray();
					var allColors = JourneyColorsHelper.GetColorsHex();
					var availableHexColors = allColors
					.Where(hex => !usedHexColors.Contains(hex))
					.ToArray();

					<div class="journey-info">
						<span class="journey-color">
							<SfColorPicker Mode="ColorPickerMode.Palette" Value="@JourneyColorsHelper.GetColorHex(this.CurrentJourney.Color)"
											PresetColors="@(new Dictionary<string, string[]>{ { "SituLearn",  availableHexColors}})"
											ModeSwitcher="false"
											ShowButtons="false"
											Disabled="availableHexColors.Length==0"
											ValueChange="@((ColorPickerEventArgs color)=>this.UpdateCurrentJourneyColorAsync(color.CurrentValue.Hex))" />
						</span>

						@if (!(this.Journeys.Count == 1 && this.FieldTrip.FieldTripType == FieldTripType.TreasureHunt))
						{
							<Button Color="Color.Link"
									Class="text-danger"
									Icon="@FontAwesomeIcons.Trash"
									Clicked="this.DeleteCurrentJourneyAsync">
								Supprimer le parcours
							</Button>
						}
					</div>
				}

				<ul class="journey-tabs">
					@foreach (var journey in this.FieldTrip.Journeys.OrderBy(j => j.Order))
					{
						<li class="@Css("bg-"+journey.Color.GetFriendlyName().ToLowerInvariant(), new { Selected = this.CurrentJourney.Id == journey.Id})"
							title="@($"parcours {journey.Color.GetFriendlyName()}")"
						@onclick="@(()=>{ this.CurrentJourney = journey; this.DisplayAddUnitForm = false; this.StateHasChanged(); })">

							@if (this.CurrentJourney.Id == journey.Id)
							{
								<Button Style="cursor: default;">
									<Icon Style="margin: 3px 0px 0px 0px;" Name=@(FontAwesomeIcons.Circle) />
								</Button>
							}
						</li>
					}

					@if (this.FieldTrip.Journeys.Count < JourneyColorsHelper.MaxNumber)
					{
						if (this.FieldTrip.Journeys.First().JourneyLocatedGameUnits.Any())
						{
							<li>
								<Button Color="Color.Link"
										Icon="@FontAwesomeIcons.Plus"
										Class="pointer"
										Clicked="@(() => this.AddNewJourneyAsync())" title="Ajouter un parcours">
									@if (!this.Journeys.Any())
									{
										<text>Ajouter un parcours</text>
									}
								</Button>
							</li>
						}
						else
						{
							<li style="display:none;"></li>
						}
					}
				</ul>
			}
		</div>
	</CardBody>	
</Card>