﻿@using System.Globalization
@using Web.Client.Shared

@{
    var map = this.FieldTrip?.ExplorationMap ?? new ExplorationMap() { Zoom = 13 };

    <LeafletMap @ref="this.Map"
            Width="@(this.FullScreen? "calc(80vh * 1.41421)":"calc(300px * 1.41421)")"
            Height="@(this.FullScreen? "80vh":"300px")"
            Center="this.MapCenter"
            ShowTileLayersSwitch=@(this.ShowTileLayersSwitch)
            LoadDependencies="false"
            InitialZoom="map.Zoom"
            DisableInteractions=this.FullScreen>

        @if (this.FullScreen)
        {
            <LeafletMapPrintOptions @ref="this.PrintOptions" 
                            SizeModes="new[]{ LeafletMapPrintOptions.LeafletMapPrintSize.CurrentSize }"
                            ExportOnly="@this.PrintOptionsExportOnly.Value"
                            Title="@(this.PrintOptionsExportOnly.HasValue && this.PrintOptionsExportOnly.Value ? "Télécharger" : "Imprimer")"
                            HideControlContainer
                            FileName="@($"carte-{this.FieldTrip?.Name}")" />
        }
        
        @if (this.fieldTrip.LocatedGameUnits.Any() && this.FullScreen)
        {
            <LeafletControl Icon="@(this.ShowMarkers?FontAwesomeIcons.MapMarkerAlt:FontAwesomeIcons.MapMarkerAltSlash)"
                Title="Afficher/Cacher les POI"
                OnClick="()=>{this.ShowMarkers=!this.ShowMarkers;this.StateHasChanged();}" />
        }

        @if (this.fieldTrip?.ExplorationMap?.ExplorationArea != null)
        {
            switch (this.fieldTrip?.ExplorationMap?.ExplorationShape)
            {
                case ActivationAreaType.Circle:
                    LeafletCoordinates center = new()
                            {
                                Latitude = this.fieldTrip.ExplorationMap.ExplorationAreaCenterLatitude.Value,
                                Longitude = this.fieldTrip.ExplorationMap.ExplorationAreaCenterLongitude.Value
                            };

                    <LeafletCircle Center="center"
                   EnableEdit=@(false)
                   Radius=@(this.fieldTrip.ExplorationMap.ExplorationAreaRadius)
                   OnEvent=@((str, obj) => {})
                   Color=@(ApplicationIcons.ExplorationOutline)
                   FillOpacity="0m" />
                    break;

                case ActivationAreaType.Rectangle:
                    var coordinates = this.fieldTrip.ExplorationMap.ExplorationArea.Coordinates
                    .Select(c => new LeafletCoordinates((decimal)c.Y, (decimal)c.X)).ToArray();

                    <LeafletRectangle EnableEdit=@(false)
                      Coordinates=@(coordinates)
                      OnEvent=@((str, obj) => {})
                      Color=@(ApplicationIcons.ExplorationOutline)
                      FillOpacity=@(0m) />
                    break;

                case ActivationAreaType.Polygon:
                    <LeafletGeoJson EnableEdit=@(false)
                    Geometry=@(this.fieldTrip.ExplorationMap.ExplorationArea)
                    OnEvent=@((str, obj) => {})
                    Color=@(ApplicationIcons.ExplorationOutline)
                    FillOpacity=@(0m) />
                    break;

                default:
                    break;
            };
        }

        @if (this.FieldTrip == null || map.IsGeolocatable)
        {
            <LeafletTileLayer Attribution="@LeafletTileLayer.OpenStreetMap.Attribution"
                      Label="@LeafletTileLayer.OpenStreetMap.Label"
                      UrlTemplate="@LeafletTileLayer.OpenStreetMap.UrlTemplate"
                      SubDomains="@LeafletTileLayer.OpenStreetMap.SubDomains" />
        }

        @if (map.NorthEastLatitude.HasValue && !this.FullScreen)
        {
            <LeafletRectangle Color="#0066ff" Weight="2" FillColor="transparent" SmoothFactor="2"
                      Coordinates="new LeafletCoordinates[]{
                                new(map.NorthEastLatitude.Value, map.NorthEastLongitude.Value),
                                new(map.SouthWestLatitude.Value, map.NorthEastLongitude.Value),
                                new(map.SouthWestLatitude.Value, map.SouthWestLongitude.Value),
                                new(map.NorthEastLatitude.Value, map.SouthWestLongitude.Value)}" />
        }

        @if (!string.IsNullOrEmpty(map.CustomBackgroundMap) && map.CustomBackgroundUpperLeftLatitude.HasValue)
        {
            string mapUrl = map.CustomBackgroundMap;

            if (!mapUrl.StartsWith("data:") && !mapUrl.StartsWith("http"))
            {
                mapUrl = "/files?path=" + System.Web.HttpUtility.UrlEncode(mapUrl);
            }

            List<string> styles = new();
            styles.Add($"opacity:{map.CustomBackgroundOpacity.Value.ToString(CultureInfo.InvariantCulture)}");

            <LeafletImageOverlay ImageBounds="new LeafletCoordinates[]{
                                new(
                                    map.CustomBackgroundUpperLeftLatitude.Value,
                                    map.CustomBackgroundUpperLeftLongitude.Value
                                ),
                                new(
                                    map.CustomBackgroundLowerRightLatitude.Value,
                                    map.CustomBackgroundLowerRightLongitude.Value
                                )
                                }"
                         ImageUrl="@mapUrl"
                         Rotation="map.CustomBackgroundRotation??0"
                         Style="@($"{string.Join(";", styles)}")" />
        }

        @if (this.ShowMarkers && this.FieldTrip != null)
        {
            foreach (var unit in this.FieldTrip.LocatedGameUnits.Where(lga => !lga.IsDeleted))
            {
                <LeafletMarker Latitude="@unit.Latitude" Longitude="@unit.Longitude">
                    <Popup>
                        @unit.Name
                    </Popup>
                </LeafletMarker>
            }
        }
    </LeafletMap>
}
