﻿@using Api.PedagogicalFields
@using Microsoft.Extensions.Configuration
@using Microsoft.IdentityModel.Tokens
@using Syncfusion.Blazor.BarcodeGenerator
@using System.Web
@using Web.Client.Pages.ContextualHelps
@using Web.Client.Shared
@using Syncfusion.Blazor.InPlaceEditor
@using Syncfusion.Blazor.RichTextEditor
@using Ozytis.Common.Core.Web.Razor.ArchitectUI

<PageHeader Icon=@FontAwesomeIcons.Directions IconStyle=IconStyle.FaDuo>
	<HeadingContent>
		@if (!this.FieldTripId.HasValue)
		{
			<h1>Ajout d'une sortie pédagogique</h1>
		}
		else if(this.CanEdit)
		{
			<h1>Modification d'une sortie pédagogique</h1>
		}
		else 
		{
			<h1>Consultation d'une sortie pédagogique</h1>

		}
	</HeadingContent>
	<ActionsContent>
		<Button Color="Color.Light"
				Icon="@FontAwesomeIcons.Save"
				IsLoading="this.IsSaving" Disabled=@(!this.CanEdit)
				Clicked="()=>this.SaveAsync(false)">
			Enregistrer
		</Button>

		<Button Color="Color.Light"
				Icon="@FontAwesomeIcons.Copy"
				IconStyle=@(IconStyle.FaLight)
				IsLoading="this.IsDuplicating"
				Clicked="this.Duplicate">
			Dupliquer
		</Button>
	</ActionsContent>
	<BreadcrumbsContent>
		<li>
			<a href="@FieldTripsPage.Url">
				Gestion des sorties pédagogiques
			</a>
		</li>
		<li>
			@if (!this.FieldTripId.HasValue)
			{
				<a>Ajout d'une sortie pédagogiques</a>
			}
			else
			{
				<a>@this.FieldTrip?.Name</a>
			}
		</li>
	</BreadcrumbsContent>
</PageHeader>

@if (this.FieldTrip == null && !this.NavigationManager.Uri.EndsWith("creation"))
{
	<AppLoading />
}
else
{
	<Container Fluid>
		<div class="mt-3">
			<Row>                    
				@if ((this.Model is FieldTripUpdateModel updateModel))
				{
					<Column Size="3">
						<Card>
							<CardHeader>
								<Icon Name="@(this.SiteMapIsExpanded ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronRight)"
							  Clicked="() => this.SiteMapIsExpanded =! this.SiteMapIsExpanded" Class="pointer mr-2" />
								Arborescence de la sortie
							</CardHeader>
							@if (this.SiteMapIsExpanded)
							{
								<CardBody>
									<SiteMap CurrentPageType=@(this.GetType()) FieldTrip=@(this.FieldTrip) OnUnitDeleted="this.OnUnitDeleted" />
								</CardBody>
							}
						</Card>

						<Card Class="mt-3">
							<CardHeader>

								<Icon Name="@(this.OptionsAreExpanded ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronRight)"
							  Clicked="()=>this.OptionsAreExpanded=!this.OptionsAreExpanded" Class="pointer mr-2" />
								Options
							</CardHeader>

							@if (this.OptionsAreExpanded)
							{
								<CardBody>
									<div>
										<div Class="d-flex align-items-center">
										<SfCheckBox Label="Temps limité" @bind-Checked="updateModel.TimeIsLimited" Disabled=@(!this.CanEdit) @onchange="this.OnOptionsChange" />

											@if (updateModel.TimeIsLimited)
											{
												<div class="px-5 py-3">
													<Row Class="mt-1">
														<div Class="d-flex align-items-center">
															<Label Style="margin-bottom: 0;">Durée en minutes</Label>
														</div>
														<SfNumericTextBox Placeholder="Durée en minutes" Enabled=@this.CanEdit
														  @bind-Value="updateModel.AllottedTimeDuration" 
														  @onchange="this.OnOptionsChange" />
													</Row>
												</div>
											}
											<Button Icon="@FontAwesomeIcons.InfoCircle"
												Class="text-secondary"
												Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_OptionsDuration)">
											</Button>
										</div>
									</div>
									<div>
										<div Class="d-flex align-items-center">
											<SfCheckBox Label="Afficher le temps écoulé"
												Disabled=@(!this.CanEdit)
												@bind-Checked="updateModel.ShowChrono"
											@onchange="this.OnOptionsChange" />
											<Button Icon="@FontAwesomeIcons.InfoCircle"
												Class="text-secondary"
										Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_OptionsDisplayStopWatch)">
											</Button>
										</div>
									</div>
									<div>
										<div Class="d-flex align-items-center">
											<SfCheckBox Label="Demander un nom de groupe"
														Disabled=@(!this.CanEdit)
														@bind-Checked="updateModel.AllowTeamNames"
														@onchange="this.OnOptionsChange" />
											<Button Icon="@FontAwesomeIcons.InfoCircle"
													Class="text-secondary"
													Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_OptionsTeamName)">
											</Button>
										</div>
									</div>
									@*<div>
										<div Class="d-flex align-items-center">
											<SfCheckBox Label="Visibilité relevés" Disabled=@(!this.CanEdit)
											@bind-Checked="updateModel.ReadingsAreVisible"
											@onchange="this.OnOptionsChange" />
											<Button Icon="@FontAwesomeIcons.InfoCircle"
										Class="text-secondary"
										Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_OptionsReadingsVisibility)">
											</Button>
										</div>

										@if (updateModel.ReadingsAreVisible)
										{
											<div class="px-5 py-3">
												<SfDatePicker Placeholder="du" FloatLabelType="FloatLabelType.Always" Enabled=@this.CanEdit
															  @bind-Value="updateModel.ReadingsVisibilityStartDate" >
													<DatePickerEvents TValue="DateTime?" ValueChange="OnReadingsVisibilityDateChange"></DatePickerEvents>
												</SfDatePicker>

												<SfDatePicker Placeholder="au" FloatLabelType="FloatLabelType.Always" Enabled=@this.CanEdit
															  @bind-Value="updateModel.ReadingsVisibilityEndDate" >
													<DatePickerEvents TValue="DateTime?" ValueChange="OnReadingsVisibilityDateChange"></DatePickerEvents>
												</SfDatePicker>

											</div>
											<hr />
										}
									</div>

									<Button Block Color="Color.Danger" Class="my-2" Icon="@FontAwesomeIcons.Eraser" Disabled=@(!this.CanEdit) Clicked=@(this.RemoveStatements)>
										Effacer les relevés
									</Button>*@
								</CardBody>
							}
						</Card>
					</Column>
				}

				<Column Size="9">
					<Card>
						<CardHeader>

							<Icon Name="@(this.GeneralIsExpanded ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronRight)"
								Clicked="()=>this.GeneralIsExpanded=!this.GeneralIsExpanded" Class="pointer mr-2" />

							Général
						</CardHeader>
						@if (this.GeneralIsExpanded)
						{
							<CardBody>
								<Container Fluid>
									<div class="d-flex">
										@if (this.FieldTrip != null)
										{
											<div class="mt-2">

												@if (this.FieldTripId.HasValue)
												{
													<Button Icon=@(FontAwesomeIcons.Pen)
															Class="mb-3 map-edition-green-button"
															Disabled=@(!this.CanEdit) 
															Block
															Clicked="()=>this.NavigationManager.NavigateTo(FieldTripMapEditionPage.GetUrl(this.FieldTripId.Value))" >
														Éditer la carte
													</Button>
												}

												<FieldTripMap @ref="this.Map" FieldTrip="this.FieldTrip" FullScreen="false" ShowTileLayersSwitch=@(false) />
											</div>
										}
										<div style="flex:1">
											<Container Fluid>
												@if (this.Errors?.Any() ?? false)
												{
													<Row>
														<Column>
															<ErrorsSummary Errors="this.Errors" Style="position: initial;width: 100%;margin: 0;" />
														</Column>
													</Row>
												}
												<Row Class="mt-2">
													<Column>
														<Label>Nom de la sortie*</Label>
														<SfTextBox Placeholder="Nom de la sortie"
														   Enabled=@(this.CanEdit)
														   Value=@this.Model.Name
														   ValueChanged=@(async val => await this.UpdateField("name", val))
														   />
													</Column>
												</Row>
												<Row Class="mt-2">
													<Column>
														<Label>Description*</Label>
														<Button Icon="@FontAwesomeIcons.InfoCircle"
														Class="text-secondary"
														Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_Description)">
														</Button>
														<SfTextBox Placeholder="Description"
														   Enabled=@(this.CanEdit)
														   Multiline
														   @bind-Value="this.Model.Description" />
													</Column>
												</Row>
												<Row Class="mt-2">
													<Column>
														<Label>Domaine pédagogique*</Label>
														<Button Icon="@FontAwesomeIcons.InfoCircle"
														Class="text-secondary"
														Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_PedagogicalField)">
														</Button>

														@if (this.CanEdit)
														{
															<RemoteSelect TEntity=@PedagogicalField TModel=@PedagogicalField TValue=string
															  @bind-SelectedValue=@this.Model.PedagogicalFieldName
															  GetData=@this.PedagogicalFieldsRepository.GetAllPedagogicalFieldsAsync
															  Placeholder="Domaine pédagogique"
															  GetOptionText=@(f => f.Name)
															  GetOptionValue="f => f.Name"
															  FilterFunction="(f, val) => f.Name.Contains(val)"
															  SortFunction="f => f.Name"
															  DefaultItem="new PedagogicalField{ Id = -1, Name = this.Model.PedagogicalFieldName}"
															  FloatLabelType="PlaceholderType.Never">

															</RemoteSelect>
														}
														else
														{
															<SfTextBox Enabled=@(this.CanEdit) Value=@this.Model.PedagogicalFieldName />
														}
														
													</Column>																										
												</Row>
												<Row Class="mt-2">
													@if (!(this.Model is FieldTripUpdateModel))
													{
														<Column>
															<Label>Type*</Label>
															<Button Icon="@FontAwesomeIcons.InfoCircle"
																	Class="text-secondary"
																	Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_Type)">
															</Button>
															@if (this.CanEdit)
															{
																<Select Placeholder="Type"
																		TModel="OptionItem<FieldTripType>" TValue="FieldTripType"
																		GetOptionText="o=>o.Label" GetOptionValue="o=>o.Value"
																		Options="typeof(FieldTripType).ToOptionItems<FieldTripType>()"
																		FloatLabelType="PlaceholderType.Never"
																		@bind-SelectedValue="this.Model.FieldTripType"
																		DisableFilter />
															}
															else
															{
																<SfTextBox Enabled=@(this.CanEdit) Value=@this.Model.FieldTripType.GetFriendlyName() />
															}

														</Column>
													}
													else
													{
														<Column Class="d-flex align-items-center">
															<div class="readonly-field">
																<div>
																	<Label>Type</Label>
																	<Button Icon="@FontAwesomeIcons.InfoCircle"
																Class="text-secondary"
																Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_Type)">
																	</Button>
																</div>
																<span>@this.FieldTrip?.FieldTripType.GetFriendlyName()</span>
															</div>
														</Column>
													}
												</Row>

												@if (!(this.Model is FieldTripUpdateModel))
												{
													<Row Class="mt-2">
														<Column>
															<Button Color="Color.Primary" Icon="@FontAwesomeIcons.Check"
																	IsLoading="this.IsSaving"
																	Block
																	Disabled=@(!this.CanEdit)
																	Clicked="() => this.SaveAsync(false)">
																Enregistrer
															</Button>
														</Column>
													</Row>
												}

											</Container>
										</div>
										@if (this.FieldTrip != null)
										{
											<div style="flex:1">
												@if (this.Model is FieldTripUpdateModel)
												{
													var shortenId = Base64UrlEncoder.Encode(this.FieldTripId.Value.ToByteArray());

													<div class="fieldtrip-edition-page-button-test-container mt-2">
														<div class="fieldtrip-edition-page-button-test">
															<a href=@($"{NavigationManager.BaseUri}jouer/{shortenId}") target="_blank" class="btn">
																<Icon Name=@FontAwesomeIcons.Play /> Tester depuis SituLearn-Editor
															</a>
														</div>
													</div>
												}

												<div class="fieldtrip-edition-publication">
													@if (this.FieldTrip != null)
													{
														<Label>Publication de la sortie</Label>
														<div class="fieldtrip-edition-publication-visibility">
															<SfSwitch @bind-Checked="this.FieldTrip.IsVisible" ValueChange="OnVisibilityChange" TChecked="bool" Disabled="!(this.CanEdit)" />
															<Icon Name="@(this.FieldTrip.IsVisible ? ApplicationIcons.FieldTripIsVisible : ApplicationIcons.FieldTripIsVisibleNot)" />
															<span>
																@(this.FieldTrip.IsVisible ? "Visible par tout le monde" : "Non visible")
															</span>
															<Button Icon="@FontAwesomeIcons.InfoCircle" 
																	Class="text-secondary"
																	Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_Visibility)" />
														</div>
														<div class="fieldtrip-edition-publication-publish">
															@if (this.IsUncomplete)
															{
																<SfTooltip OpensOn="Hover" Position="Position.BottomCenter">
																	<TooltipTemplates>
																		<Content>
																			La publication n'est possible que si la sortie contient des titres et contenu pour la page d'accueil, de fin ainsi qu'au moins une unité de jeu.
																			Il faut également être administrateur de Situlearn ou être le concepteur de la sortie.
																		</Content>
																	</TooltipTemplates>
																	<SfSwitch @bind-Checked="this.FieldTrip.IsPublished" ValueChange="OnPublishedStateChange" TChecked="bool" Disabled />
																	<Icon Name="@(this.FieldTrip.IsPublished ? ApplicationIcons.FieldTripIsPublished : ApplicationIcons.FieldTripIsPublishedNot)" />
																	<span>
																		@(this.FieldTrip.IsPublished ? "Publiée" : "Non publiée")
																	</span>
																</SfTooltip>
															}
															else
															{
																<SfSwitch @bind-Checked="this.FieldTrip.IsPublished" ValueChange="OnPublishedStateChange" TChecked="bool" Disabled="!(this.CanEdit)" />
																<Icon Name="@(this.FieldTrip.IsPublished ? ApplicationIcons.FieldTripIsPublished : ApplicationIcons.FieldTripIsPublishedNot)" />
																<span>
																	@(this.FieldTrip.IsPublished ? "Publiée" : "Non publiée")
																</span>
															}
															<Button Icon="@FontAwesomeIcons.InfoCircle"
																	Class="text-secondary"
																	Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_PublishState)" />
														</div>
													}

													@if (this.Model is FieldTripUpdateModel)
													{
														var shortenId = Base64UrlEncoder.Encode(this.FieldTripId.Value.ToByteArray());
														var link = $"{this.Configuration["playerUrl"]}jouer/{shortenId}";

														<Row Class="d-flex align-items-end">
															<Column Size="7">
																<div>
																	<div>
																		<a href=@(link) target="_blank">
																			@(link)
																		</a>
																		<Button Color=@(Color.Primary) 
																				Icon=@(FontAwesomeIcons.Copy)
																				class="mt-4" 
																				Block
																				Clicked=@(() => this.CopyPersonalLink(link))>
																			Lien SituLearn-Player
																		</Button>
																	</div>
																</div>
															</Column>
															<Column Size="5" Class="pl-0">
																<div style="margin-left:auto">
																	<a @onclick="@(()=>this.ExportQrCode())" class="pointer">
																		<SfQRCodeGenerator @ref="this.QrCode"
																		   Width="130px" Height="130px" ForeColor="#000"
																		   Value="@($"{this.Configuration["playerUrl"]}jouer/{shortenId}")">
																			<QRCodeGeneratorDisplayText Text=" "></QRCodeGeneratorDisplayText>
																		</SfQRCodeGenerator>
																	</a>
																	<Button Color=@(Color.Primary) 
																			Icon=@(FontAwesomeIcons.Download)
																			Block
																			Clicked=@(() => this.ExportQrCode())>
																		QR Code 
																	</Button>
																</div>
															</Column>
														</Row>
													}
												</div>
											</div>
										}										
									</div>
								</Container>
							</CardBody>
						}
					</Card>

                    @if ((this.Model is FieldTripUpdateModel updateModel))
                    {
                        <div class="mt-3">
                            <Row>
                                <Column>
                                    <Card>
                                        <CardHeader>

                                            <Icon Name="@(this.ConceptorIsExpanded ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronRight)"
                                          Clicked="()=>this.ConceptorIsExpanded=!this.ConceptorIsExpanded" Class="pointer mr-2" />

                                            Editeur
                                        </CardHeader>

                                        @if (this.ConceptorIsExpanded)
                                        {
                                            <Column Class="sim-card no-max-width">
                                                <CardBody>
                                                    <div class="d-flex">
                                                        <MobilePrevizualizer Title="Page d'accueil">
                                                            <div class="home-page-preview">
                                                                <header>
                                                                    <InPlaceTextBox Text=@(updateModel.HomePageTitle)
                                                                        Disabled=@(!this.CanEdit)
                                                                        OnUpdate=@(async val => await this.UpdateField("home_title", val)) />
                                                                </header>
                                                                <section class="content">
                                                                    <InPlaceRichText Text=@(updateModel.HomePageText)
                                                                         Disabled=@(!this.CanEdit)
                                                                         OnUpdate=@(async val => await this.UpdateField("home_text", val)) />

                                                                    @if (this.CanEdit)
                                                                    {
                                                                        <InlineImageChooser AllowDeletion
                                                                            BaseUrl="/files?path="
                                                                            ImageUrlChanged=@(val => this.UpdateField("home_picture", val))
                                                                            ImageUrl=@(updateModel.HomePagePicture)
																			MaxSize="2000"
																			MaxFileSize="512000"
																			OnMaxFileSizeReached=@((size) => this.OnMaxUploadedFileSizeReached(size))>
                                                                            <Placeholder>
                                                                                Image (optionnelle)
                                                                            </Placeholder>
                                                                        </InlineImageChooser>
                                                                    }
                                                                    else if (!string.IsNullOrEmpty(updateModel.HomePagePicture))
                                                                    {
                                                                        <img style="width:100%;" src=@("/files?path="+updateModel.HomePagePicture) alt="image d'accueil'" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <div>Pas d'image renseignée</div>
                                                                    }
                                                                </section>
                                                            </div>
                                                        </MobilePrevizualizer>

                                                        <div class="d-flex align-items-start">
                                                            <Button Icon="@FontAwesomeIcons.InfoCircle"
                                                        Class="text-secondary p-0"
                                                        Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_HomePage)">
                                                            </Button>
                                                        </div>

                                                        <FieldTripJourneys FieldTrip="this.FieldTrip" OnChange="() => this.ReloadDataAsync()" />

                                                        <div class="d-flex align-items-start">
                                                            <Button Icon="@FontAwesomeIcons.InfoCircle"
                                                        Class="text-secondary p-0"
                                                        Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_LocatedGameUnits)">
                                                            </Button>
                                                        </div>

                                                        <MobilePrevizualizer Title="Page de fin">
                                                            <div class="end-page-preview">
                                                                <header>
                                                                    <InPlaceTextBox Text=@(updateModel.EndPageTitle)
                                                                        Disabled=@(!this.CanEdit)
                                                                        OnUpdate=@(async val => await this.UpdateField("end_title", val)) />
                                                                </header>
                                                                <section class="content">
                                                                    <InPlaceRichText Text=@(updateModel.EndPageText)
                                                                         Disabled=@(!this.CanEdit)
                                                                         OnUpdate=@(async val => await this.UpdateField("end_text", val)) />

                                                                    @if (this.CanEdit)
                                                                    {
                                                                        <InlineImageChooser AllowDeletion
                                                                            BaseUrl="/files?path="
                                                                            ImageUrlChanged=@(val => this.UpdateField("end_picture", val))
																			ImageUrl=@(updateModel.EndPagePicture)
																			MaxSize="2000"
																			MaxFileSize="512000"
																			OnMaxFileSizeReached=@((size) => this.OnMaxUploadedFileSizeReached(size))>
                                                                            <Placeholder>
                                                                                Image (optionnelle)
                                                                            </Placeholder>
                                                                        </InlineImageChooser>
                                                                    }
                                                                    else if (!string.IsNullOrEmpty(updateModel.EndPagePicture))
                                                                    {
                                                                        <img style="width:100%;" src=@("/files?path="+updateModel.EndPagePicture) alt="image de fin de sortie" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <div>Pas d'image renseignée</div>
                                                                    }
                                                                </section>
                                                            </div>
                                                        </MobilePrevizualizer>

                                                        <div class="d-flex align-items-start">
                                                            <Button Icon="@FontAwesomeIcons.InfoCircle"
                                                        Class="text-secondary p-0"
                                                        Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripEditionPage_EndPage)">
                                                            </Button>
                                                        </div>
                                                    </div>
                                                </CardBody>
                                            </Column>
                                        }
                                    </Card>
                                </Column>
                            </Row>
                        </div>
                    }
                </Column>
            </Row>
        </div>
    </Container>
}
@if (this.ShowContextualHelpModal)
{
	<ContextualHelpModal OnClose="this.CloseContextualHelpModal"
					 Id=@this.ContextualHelpIdToShow />
}
