﻿@using System.Globalization
@using NetTopologySuite.Geometries
@using Web.Client.Pages.ContextualHelps
@using Web.Client.Shared

<PageHeader Icon="@FontAwesomeIcons.Map">
	<HeadingContent>
		Carte de jeu
	</HeadingContent>
	<SubHeadingContent>
		@if (this.FieldTrip != null)
		{
			@this.FieldTrip.Name
		}
	</SubHeadingContent>
	<BreadcrumbsContent>
		<li>
			<a href="@FieldTripsPage.Url">
				Gestion des sorties pédagogiques
			</a>
		</li>
		<li>
			<a href="@FieldTripEditionPage.GetEditionUrl(this.FieldTripId)">@this.FieldTrip?.Name</a>
		</li>
		<li>
			Carte
		</li>
	</BreadcrumbsContent>
</PageHeader>

@if (this.FieldTrip == null)
{
	<AppLoading />
}
else
{

	<Container Fluid>
		<div class="d-flex mt-2">
			<div style="flex:1" class="pr-2">
				<Row Class="mt-2">
					<Column>

						<div class="input-group mb-2">

							<input placeholder="Localisation" class="form-control"
							   @onkeyup="@(async e=>{if(e.Code=="Enter"){
										   this.StateHasChanged();
										   await this.SearchLocationAsync();
									   }})"
							   type="search"
							   @bind-value="@this.LocalisationText" />
							<div class="input-group-append">
								<Button Color="Color.Primary" IsLoading="this.IsSearchingLocation"
									Icon="@FontAwesomeIcons.Search" Clicked=@(() => this.SearchLocationAsync())/>
							</div>
						</div>

						@if (this.ShowLocationResults)
						{
							<div style="background-color: lightblue; padding: 5px; border-radius: 5px;">
								<AlertHeading>@(this.LocalisationResults?.Count() ?? 0) résultat(s)</AlertHeading>

								<ul>
									@foreach (var result in this.LocalisationResults)
									{
										var label = string.Join(", ", new[]{
											result.Street,
											result.PostalCode +" "+result.City,
											result.Country
										}.Where(s => !string.IsNullOrWhiteSpace(s)));

										<li style="cursor:pointer" @onclick="()=>this.SetMapCenterAsync(result.Latitude, result.Longitude)">
											@label
										</li>
									}
								</ul>
							</div>
						}

						<div>
							<div>
								<SfCheckBox Disabled=@(this.FieldTrip.FieldTripType == FieldTripType.InteractiveWalk) 
											Label="Carte géolocalisée" 
											@bind-Checked="this.MapIsGeolocalized" 
											CssClass="m-2" 
											@onchange="this.onChange" />
								<Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary"
									Clicked="()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripMapEditionPage_GeolocatableMap)">
								</Button>
							</div>
							<div>
								<SfCheckBox Label="Zone d'exploration activée" TChecked=@(bool) Checked=@(this.ExplorationAreaEnabled) CheckedChanged=@(this.ToggleExplorationAreaActivation) CssClass="m-2" Disabled="!this.MapIsGeolocalized" />
							</div>
						</div>

						<Tabs OnTabActivated=@(this.ToggleTabs) @ref=@(this.Tabs)>
							<Tab Title=@(PoiTabName) TabAlternateTitleAction=@(() => this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripMapEditionPage_Poi))>
								<OzList Data=@(this.FieldTrip.LocatedGameUnits.Where(lgu => !lgu.IsDeleted).OrderBy(lu=>lu.Order))>
									<ItemContent>
										<DropZone AcceptCurrentDraggedItem="item=>item is LocatedGameUnit"
											  OnDrop="(item)=>this.UpdatePoiOrderAsync(context, item)">
											<PoiListItem Unit="@context" CanEdit=@(this.CanEdit)
													 IsEditing="this.EditedUnit?.Id==context.Id"
													 OnDeleted="this.RefreshLocatedGameUnitsAsync"
													 OnUpdate=@(this.RefreshLocatedGameUnitsAsync)
													 OnEditCancelled="@(async() => {
														this.EditedUnit = null;
														this.StateHasChanged();
													 })"
													 OnEdit="@(async ()=>{
														this.EditedUnit=context;
														this.StateHasChanged();
													 })"
													 MapIsGeolocalized="this.MapIsGeolocalized"/>
										</DropZone>
									</ItemContent>
									<EmptyContent>
										Aucun point défini pour cette sortie
									</EmptyContent>
								</OzList>
							</Tab>

							<Tab Title=@(ExplorationTabName) @ref=@(this.ExplorationAreaTab) TabAlternateTitleAction=@(() => this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripMapEditionPage_Area))
									NavStyle=@(this.ExplorationAreaEnabled ? null : "display: none;")>
								<div>
									<SfCheckBox Label="Alerte hors zone organisateur (Monitor)" @bind-Checked=@(this.AlertZoneOutUsersMonitor) CssClass="m-2" />
								</div>
								<div>
									<SfCheckBox Label="Alerte hors zone participant (Player)" @bind-Checked=@(this.AlertZoneOutUsersPlayer) CssClass="m-2" />
								</div>
							</Tab>

							<Tab Title="Fond de carte" TabAlternateTitleAction=@(() => this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.FieldTripMapEditionPage_Background))>
								<Container Fluid>
									<Row>
										<Column></Column>
										<Column>
											<InlineImageChooser BaseUrl="/files?path=" @ref=@(this.BackgroundChooser) ImageUrl="@this.MapBackground" AllowDeletion ImageUrlChanged="this.MapBackgroundHasChanged">
												<Placeholder>Choisir une image de fond</Placeholder>
											</InlineImageChooser>
										</Column>
										<Column></Column>
									</Row>

									@if (!string.IsNullOrEmpty(this.MapBackground))
									{
										<!-- #region MapBackground Control -->
										<div class="text-center mt-2">
											<ButtonActionGroup Type="ButtonActionGroupType.Icon">
												<Button Icon="@FontAwesomeIcons.Undo"
												Color="Color.Link"
												IconStyle=@(IconStyle.FaLight)
												FaIconSize=@(FaIconSize.Fa2x)
												Class="px-0"
												Clicked=@(() => this.RotateMapBackground(-1))>
													Faire pivoter à gauche (petit pas)
												</Button>
												<Button Icon="@FontAwesomeIcons.Redo"
												Color="Color.Link"
												IconStyle=@(IconStyle.FaLight)
												FaIconSize=@(FaIconSize.Fa2x)
												Clicked=@(() => this.RotateMapBackground(1))
												Class="px-0">
													Faire pivoter à droite (petit pas)
												</Button>
												<Button Icon="@FontAwesomeIcons.ExpandAlt"
												Color="Color.Link"
												IconStyle=@(IconStyle.FaLight)
												FaIconSize=@(FaIconSize.Fa2x)
												Clicked="()=>this.ChangeMapBackgroundSize(1)"
												Class="px-0">
													Agrandir la diagonale (petit pas)
												</Button>
												<Button Icon="@FontAwesomeIcons.CompressAlt"
												Color="Color.Link"
												IconStyle=@(IconStyle.FaLight)
												FaIconSize=@(FaIconSize.Fa2x)
												Clicked="()=>this.ChangeMapBackgroundSize(-1)"
												Class="px-0">
													Réduire la diagonale (petit pas)
												</Button>
											</ButtonActionGroup>
										</div>
										<div class="text-center">
											<ButtonActionGroup Type="ButtonActionGroupType.Icon">
												<Button Icon="@FontAwesomeIcons.Undo"
												Color="Color.Link"
												IconStyle=@(IconStyle.FaSolid)
												FaIconSize=@(FaIconSize.Fa2x)
												Clicked=@(() => this.RotateMapBackground(-5))
												Class="px-0">
													Faire pivoter à gauche (grand pas)
												</Button>
												<Button Icon="@FontAwesomeIcons.Redo"
												Color="Color.Link"
												IconStyle=@(IconStyle.FaSolid)
												FaIconSize=@(FaIconSize.Fa2x)
												Clicked=@(() => this.RotateMapBackground(5))
												Class="px-0">
													Faire pivoter à droite (grand pas)
												</Button>
												<Button Icon="@FontAwesomeIcons.ExpandAlt"
												Color="Color.Link"
												IconStyle=@(IconStyle.FaSolid)
												FaIconSize=@(FaIconSize.Fa2x)
												Clicked="()=>this.ChangeMapBackgroundSize(5)"
												Class="px-0">
													Agrandir la diagonale (grand pas)
												</Button>
												<Button Icon="@FontAwesomeIcons.CompressAlt"
												Color="Color.Link"
												IconStyle=@(IconStyle.FaSolid)
												FaIconSize=@(FaIconSize.Fa2x)
												Clicked="()=>this.ChangeMapBackgroundSize(-5)"
												Class="px-0">
													Réduire la diagonale (grand pas)
												</Button>
											</ButtonActionGroup>
										</div>
										<Row>
											<Column>
												<div class="text-center map-pad">
													<div>
														<Button Icon="@FontAwesomeIcons.AngleDoubleUp"
														Color="Color.Link"
														FaIconSize=@(FaIconSize.Fa2x)
														Clicked="() => this.MoveMapBackgroundY(10)"
														Class="pointer" />
													</div>
													<div>
														<Button Icon="@FontAwesomeIcons.AngleUp"
														Color="Color.Link"
														FaIconSize=@(FaIconSize.Fa2x)
														Clicked="() => this.MoveMapBackgroundY(1)"
														Class="pointer" />
													</div>
													<div>
														<Button Icon="@FontAwesomeIcons.AngleDoubleLeft"
														Color="Color.Link"
														FaIconSize=@(FaIconSize.Fa2x)
														Clicked="() => this.MoveMapBackgroundX(-10)"
														Class="pointer" />
														<Button Icon="@FontAwesomeIcons.AngleLeft"
														Clicked="() => this.MoveMapBackgroundX(-1)"
														Color="Color.Link"
														FaIconSize=@(FaIconSize.Fa2x)
														Class="pointer" />
														<span class="mx-3"></span>
														<Button Icon="@FontAwesomeIcons.AngleRight"
														Clicked="() => this.MoveMapBackgroundX(1)"
														Color="Color.Link"
														FaIconSize=@(FaIconSize.Fa2x)
														Class="pointer" />
														<Button Icon="@FontAwesomeIcons.AngleDoubleRight"
														Color="Color.Link"
														FaIconSize=@(FaIconSize.Fa2x)
														Clicked="() => this.MoveMapBackgroundX(10)"
														Class="pointer" />
													</div>
													<div>
														<Button Icon="@FontAwesomeIcons.AngleDown"
														Color="Color.Link"
														FaIconSize=@(FaIconSize.Fa2x)
														Clicked="() => this.MoveMapBackgroundY(-1)"
														Class="pointer" />
													</div>
													<div>
														<Button Icon="@FontAwesomeIcons.AngleDoubleDown"
														Color="Color.Link"
														FaIconSize=@(FaIconSize.Fa2x)
														Clicked="() => this.MoveMapBackgroundY(-10)"
														Class="pointer" />
													</div>
												</div>
											</Column>
										</Row>

										<Row Class="my-2">
											<Column>
												<Label>Opacité du fonds personnalisé</Label>
												<Slider @bind-Value="this.MapBackgroundOpacity"
												Min="0" Max="1" IsImmediateValue />
											</Column>
										</Row>
										<!-- #endregion MapBackground Control -->
									}
								</Container>
							</Tab>
						</Tabs>

						<Button Class="my-3 map-edition-green-button" 
								Clicked="this.SaveMapPositionAsync"
								Block
								IsLoading="this.IsSavingPosition" 
								Icon="@FontAwesomeIcons.Save">
							Enregistrer et retourner à la sortie
						</Button>
					</Column>
				</Row>
			</div>
			<div style="flex:1; border: solid 2px #0066ff;">
				<div class="d-flex justify-content-end" style="position:relative">
					<LeafletMap Width="calc((100vw - 500px) * 0.75)"
							Height="calc((100vw - 500px) * 0.75 / 1.41421)"
							ElementId="fieldTripMap"
							IsEditable="true"
							@ref="this.Map"
							CenterOnMyPositionAtStartup="this.MapCenter==null"
							Center="this.MapCenter"
							OnClick="this.OnMapClickAsync"
							LoadDependencies="false"
							InitialZoom="(this.FieldTrip?.ExplorationMap?.Zoom ?? 14)"
							ZoomDelta=0.5m
							ZoomSnap=0.5m
							ShowTileLayersSwitch="false">


						@if (this.PoiEditionInProgress)
						{
							@if(this.NextMapClick == AddMarkerAction) {
								<LeafletControl Icon="@FontAwesomeIcons.Crosshairs"
									Title="Ajouter un point d'intérêt"
									Class="add-marker"
									OnClick="this.AddMarkerAsync" />
							}
							else
							{
								<LeafletControl Icon="@FontAwesomeIcons.MapMarkerPlus"
									Title="Ajouter un point d'intérêt"
									Class="add-marker"
									OnClick="this.AddMarkerAsync" />
							}

						}

						@if (this.EditedUnit != null && this.PoiEditionInProgress)
						{
							<LeafletControl Icon="@FontAwesomeIcons.Circle"
									Title="Définir une zone d'activation circulaire"
									Class="@Css(new{
										BgDark = this.EditedUnit.ActivationAreaType==ActivationAreaType.Circle,
										TextWhite = this.EditedUnit.ActivationAreaType==ActivationAreaType.Circle
									})"
									OnClick="()=>this.ChangePoiActivationTypeAsync(ActivationAreaType.Circle, this.EditedUnit)" />
							<LeafletControl Icon="@FontAwesomeIcons.Square"
									Title="Définir une zone d'activation rectangulaire"
									Class="@Css(new{
										BgDark = this.EditedUnit.ActivationAreaType==ActivationAreaType.Rectangle,
										TextWhite = this.EditedUnit.ActivationAreaType==ActivationAreaType.Rectangle
									})"
									OnClick="()=>this.ChangePoiActivationTypeAsync(ActivationAreaType.Rectangle, this.EditedUnit)" />
							<LeafletControl Icon="@FontAwesomeIcons.DrawPolygon"
									Title="Définir une zone d'activation polygonale"
									Class="@Css(new{
										BgDark = this.EditedUnit.ActivationAreaType==ActivationAreaType.Polygon,
										TextWhite = this.EditedUnit.ActivationAreaType==ActivationAreaType.Polygon
									})"
									OnClick="()=>this.ChangePoiActivationTypeAsync(ActivationAreaType.Polygon, this.EditedUnit)" />
						}

						@if (this.MapIsGeolocalized)
						{
							<LeafletTileLayer Attribution="@LeafletTileLayer.OpenStreetMap.Attribution"
									  Label="@LeafletTileLayer.OpenStreetMap.Label"
									  UrlTemplate="@LeafletTileLayer.OpenStreetMap.UrlTemplate"
									  SubDomains="@LeafletTileLayer.OpenStreetMap.SubDomains" />
						}

						@if (!string.IsNullOrEmpty(this.MapBackground) && this.MapBackgroundUpperLeftLatitude.HasValue)
						{
							string mapUrl = this.MapBackground;

							if (!mapUrl.StartsWith("data:"))
							{
								mapUrl = "/files?path=" + System.Web.HttpUtility.UrlEncode(mapUrl);
							}

							List<string> styles = new();
							styles.Add($"opacity:{this.MapBackgroundOpacity.ToString(CultureInfo.InvariantCulture)}");

							<LeafletImageOverlay ImageBounds="this.MapBackgroundBounds"
										 ImageUrl="@mapUrl"
										 Rotation="this.MapRotation"
										 Style="@($"{string.Join(";", styles)}")" />
						}

						@foreach (var unit in this.FieldTrip.LocatedGameUnits.Where(lgu => !lgu.IsDeleted))
						{
							if (unit.Id == this.EditedUnit?.Id)
							{
								<LeafletMarker Latitude="@this.EditedUnit.Latitude" Longitude="@this.EditedUnit.Longitude"
									Draggable="unit==this.EditedUnit"
									Color="@(unit==this.EditedUnit?"orange":"")"
									OnDragEnd="async(coords)=>await this.UpdatePoiPositionAsync(unit, coords)">
								</LeafletMarker>

								@if (this.EditedUnit?.ActivationArea != null)
								{
									Console.WriteLine("Type 2 " + this.EditedUnit.ActivationAreaType);
									if (this.EditedUnit.ActivationAreaType == ActivationAreaType.Polygon)
									{
										<LeafletGeoJson EnableEdit=@(this.EditActivationArea && this.PoiEditionInProgress)
											Geometry="this.EditedUnit.ActivationArea"
											OnEvent=@(this.EditActivationAreaShape)
											FillColor="Olive" FillOpacity="0.5m" />
									}
									else if (this.EditedUnit.ActivationAreaType == ActivationAreaType.Circle)
									{
										LeafletCoordinates center = new()
										{
											Latitude = this.EditedUnit.ActivationAreaCenterLatitude.Value,
											Longitude = this.EditedUnit.ActivationAreaCenterLongitude.Value
										};

										<LeafletCircle Center="center"
											EnableEdit=@(this.EditActivationArea && this.PoiEditionInProgress)
											Radius="this.EditedUnit.ActivationRadius.Value"
											OnEvent=@(this.EditActivationAreaShape)
											FillColor="Olive" FillOpacity="0.5m" />
									}
									else if (this.EditedUnit.ActivationAreaType == ActivationAreaType.Rectangle)
									{
										var coordinates = this.EditedUnit.ActivationArea.Coordinates
										.Select(c => new LeafletCoordinates((decimal)c.Y, (decimal)c.X)).ToArray();

										<LeafletRectangle EnableEdit=@(this.EditActivationArea && this.PoiEditionInProgress)
											Coordinates="coordinates"
											OnEvent=@(this.EditActivationAreaShape)
											FillColor="Olive" FillOpacity="0.5m" />
									}
								}
							}
							else
							{
								<LeafletMarker Latitude="@unit.Latitude" Longitude="@unit.Longitude"
										Draggable="unit==this.EditedUnit"
										OnClick=@(async () => {
											if(this.Tabs.TabsList.Find(t => t.Title == PoiTabName)?.IsActive ?? false){
												this.EditedUnit = unit; 
												this.EditActivationArea = true; 
												this.StateHasChanged();
											}
										})
										Color="@(unit==this.EditedUnit?"olive":"")">
									<Popup>
										@unit.Name
									</Popup>
								</LeafletMarker>
							}
						}

						@if (this.ExplorationAreaEnabled)
						{
							if (this.ExplorationZoneInProgress && this.ExplorationArea == null)
							{
								<LeafletControl Icon="@FontAwesomeIcons.Circle"
									Title="Définir une zone d'exploration circulaire"
									OnClick=@(() => this.AddExplorationZoneAsync(ActivationAreaType.Circle)) />
								<LeafletControl Icon="@FontAwesomeIcons.Square"
									Title="Définir une zone d'exploration rectangulaire"
									OnClick=@(() => this.AddExplorationZoneAsync(ActivationAreaType.Rectangle)) />
								<LeafletControl Icon="@FontAwesomeIcons.DrawPolygon"
									Title="Définir une zone d'exploration polygonale"
									OnClick=@(() => this.AddExplorationZoneAsync(ActivationAreaType.Polygon)) />
							}
							else
							{
								@if (this.ExplorationZoneInProgress)
								{
									<LeafletControl Icon=@(FontAwesomeIcons.TrashAlt)
									Title="Supprimer la zone d'exploration"
									OnClick=@(this.RemoveExplorationArea) />
								}

								if (this.ExplorationArea != null)
								{

									switch (this.ExplorationAreaShape)
									{
										case ActivationAreaType.Circle:
											LeafletCoordinates center = new()
										{
											Latitude = this.ExplorationAreaCenterLatitude.Value,
											Longitude = this.ExplorationAreaCenterLongitude.Value
										};

											<LeafletCircle Center=@(center)
												EnableEdit=@(this.ExplorationZoneInProgress)
												Radius=@(this.ExplorationAreaRadius)
												OnEvent=@(this.EditExplorationArea)
												Color=@(ApplicationIcons.ExplorationOutline)
												FillOpacity="0m"
												Class="exploration-area" />

											break;

										case ActivationAreaType.Rectangle:
											var coordinates = this.ExplorationArea.Coordinates
											.Select(c => new LeafletCoordinates((decimal)c.Y, (decimal)c.X)).ToArray();

											<LeafletRectangle EnableEdit=@(this.ExplorationZoneInProgress)
												Coordinates=@(coordinates)
												OnEvent=@(this.EditExplorationArea)
												Color=@(ApplicationIcons.ExplorationOutline)
												FillOpacity="0m"
												Class="exploration-area" />
											break;

										case ActivationAreaType.Polygon:
											<LeafletGeoJson EnableEdit=@(this.ExplorationZoneInProgress)
												Geometry=@(this.ExplorationArea)
												OnEvent=@(this.EditExplorationArea)
												Color=@(ApplicationIcons.ExplorationOutline)
												FillOpacity="0m"
												Class="exploration-area" />
											break;

										default:
											Console.WriteLine(this.ExplorationArea.GetType());
											break;
									}
								}
							}
						}

						@if (this.CreatedPoint != null)
						{
							<LeafletMarker Latitude="@this.CreatedPoint.Latitude" Longitude="@this.CreatedPoint.Longitude"
								   Color="@("green")" >
							</LeafletMarker>
						}

					</LeafletMap>

					@if (this.AddMarkerInProgress)
					{
						<div class="map-edition-add-marker-label">
							Placer le point d’intérêt
						</div>
					}
				</div>

				<div class="map-edition-download">
					<ButtonActionGroup Type=@(ButtonActionGroupType.Icon) >
						<Button Icon=@(FontAwesomeIcons.Download) 
								Class="fa-2x" 
								Color=@(Color.Link)
								Clicked=@(() => { this.ShowLargeMap = true; this.PrintOptionsExportOnly = true; this.StateHasChanged(); })>
							Télécharger
						</Button>
					</ButtonActionGroup>
					<ButtonActionGroup Type=@(ButtonActionGroupType.Icon) >
						<Button Icon=@(FontAwesomeIcons.Print)
							Class="fa-2x"
							Color=@(Color.Link)
							Clicked=@(() => { this.ShowLargeMap = true; this.PrintOptionsExportOnly = false; this.StateHasChanged(); })>
							Imprimer
						</Button>
					</ButtonActionGroup>
				</div>
			</div>
		</div>
	</Container>

	if (this.CreatedPoint! != null)
	{
		<PoiCreation FieldTrip="this.FieldTrip"
			 SetDefaultGeometryMethod=@(this.ChangePoiActivationTypeAsync)
			 Latitude="this.CreatedPoint.Latitude"
			 Longitude="this.CreatedPoint.Longitude"
			 OnCancel="this.OnPointCancelledAsync"
			 OnCreated="this.OnPointCreatedAsync"
			 MapIsGeolocalized="this.MapIsGeolocalized"/>
	}

	if (this.ShowContextualHelpModal)
	{
		<ContextualHelpModal OnClose="this.CloseContextualHelpModal"
					 Id=@this.ContextualHelpIdToShow />
	}

	@if (this.ShowLargeMap)
	{
		<Modal Size="ModalSize.ExtraLarge" OnClosing="()=>this.ShowLargeMap=false">
			<Header>
				Carte de la sortie @this.FieldTrip.Name
			</Header>
			<Content>
				<div class="d-flex justify-content-center">
					<FieldTripMap FieldTrip="this.FieldTrip" FullScreen="true" PrintOptionsExportOnly="@this.PrintOptionsExportOnly" />
				</div>
			</Content>
		</Modal>
	}
}