﻿@using Web.Client.Shared
@using System.Globalization

<Modal Size="ModalSize.Large" OnClosing="this.OnCloseReportModal">
    <Header>
        <div class="font-weight-bold">
            Souhaitez-vous télécharger un compte-rendu pour la sortie <span class="text-secondary font-weight-bold">@this.FieldTrip.Name</span> ?
        </div>
    </Header>
    <Content>
        <div class="font-weight-bold">
            Afin d'obtenir un compte-rendu ciblé sur une séance, veuillez choisir un intervalle de temps :
        </div>

        @if (this.ShowDeadlineAlert)
        {
            <Alert Color="Color.Warning" Visible="true" Class="report-modal-alert">
                Seules les données de moins de 3 mois sont disponibles
            </Alert>
        }

        <Row Class="mt-2">
            <Column Size="6">
                <Row>
                    <Column Size="1" Class="pt-1">

                    </Column>
                    <Column Size="11">
                        <Label Class="font-weight-bold">Date et heure</Label>
                    </Column>
                </Row>
            </Column>
        </Row>

        <Row Class="mt-0">
            <Column Size="6">
                <Row>
                    <Column Size="1" Class="pt-1">
                        <Label>du</Label>
                    </Column>
                    <Column Size="11">
                        <SfDatePicker TValue="DateTime?"
                                      Placeholder="du"
                                      Value="@this.ReportFilterStartDate"
                                      ValueChanged="val => this.OnChangeReportFilterStartDate(val)" />
                    </Column>
                </Row>
            </Column>
            <Column Size="6">
                <Row>
                    <Column Size="1" Class="pt-1">
                        <Label>à</Label>
                    </Column>
                    <Column Size="11">
                        <SfTimePicker TValue="DateTime?"
                                      Placeholder="à"
                                      Value="@this.ReportFilterStartTime"
                                      ValueChanged="val => this.OnChangeReportFilterStartTime(val)" />
                    </Column>
                </Row>
            </Column>
        </Row>

        <Row Class="mt-2">
            <Column Size="6">
                <Row>
                    <Column Size="1" Class="pt-1">
                        <Label>au</Label>
                    </Column>
                    <Column Size="11">
                        <SfDatePicker TValue="DateTime?"
                                      Placeholder="au"
                                      Min="this.ReportFilterStartDate.HasValue ? this.ReportFilterStartDate.Value : default"
                                      Value="@this.ReportFilterEndDate"
                                      ValueChanged="val => this.OnChangeReportFilterEndDate(val)" />
                    </Column>
                </Row>
            </Column>
            <Column Size="6">
                <Row>
                    <Column Size="1" Class="pt-1">
                        <Label>à</Label>
                    </Column>
                    <Column Size="11">
                        <SfTimePicker TValue="DateTime?"
                                      Placeholder="à"
                                      Value="@this.ReportFilterEndTime"
                                      ValueChanged="val => this.OnChangeReportFilterEndTime(val)" />
                    </Column>
                </Row>
            </Column>
        </Row>

        @if (this.ReportFilterStartDate.HasValue && this.ReportFilterStartTime.HasValue && this.ReportFilterEndDate.HasValue && this.ReportFilterEndTime.HasValue)
        {
            <Row Class="mt-2">
                <Column Size="12">
                    <div class="font-weight-bold">
                        <span class="text-secondary font-weight-bold">@this.ParticipantsNumber participant(e)s</span> dans l'intervalle
                    </div>
                </Column>
            </Row>
        }
    </Content>
    <Footer>
        <FileDownloadButton Icon="@FontAwesomeIcons.Download" 
                            Label="Télécharger le compte-rendu de la sortie" 
                            Url="@($"api/fieldtrips/report/{Uri.EscapeDataString((this.FieldTrip.Id).ToString())}?startDateSelected={Uri.EscapeDataString(this.ReportStartDate.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture))}&endDateSelected={Uri.EscapeDataString(this.ReportEndDate.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture))}")"
                            Color="Color.Secondary"
                            Class="report-modal-button"
                            ReadOnly="!this.ReportFilterStartDate.HasValue || !this.ReportFilterStartTime.HasValue || !this.ReportFilterEndDate.HasValue || !this.ReportFilterEndTime.HasValue"
                            OnSuccess="this.OnSuccessDownload" />
    </Footer>
</Modal>