﻿<Draggable DraggedData="this.Link">
    <DropZone AcceptCurrentDraggedItem="item=>item is LocatedGameUnit || item is JourneyLocatedGameUnit"
              OnDrop="this.OnItemDroppedAsync">
        <li class="journey-located-game-unit">
            <div style="max-width:75%;">
                @if (this.Index.HasValue)
                {
                    <text>
                        @(this.Index.Value
                        +" " + this.Link.LocatedGameUnit.Name)</text>

                }
                else
                {
                    @this.Link.LocatedGameUnit.Name
                }
            </div>

            <div class="actions">
                <ButtonActionGroup Type="ButtonActionGroupType.Icon">
                    <Button Color="Color.Link" Icon="@FontAwesomeIcons.Edit"
                            Clicked="()=>this.NavigationManager
                            .NavigateTo(LocatedGameUnits.LocatedGameUnitEdition.GetUrl(this.Journey.FieldTripId, this.Link.LocatedGameUnitId))">
                        Modifier
                    </Button>
                    <Button Color="Color.Link" Icon="@FontAwesomeIcons.MinusCircle" Disabled=@(!this.CanEdit)
                            Clicked="()=> this.RemoveFromJourneyAsync()">
                        Retirer
                    </Button>
                </ButtonActionGroup>
            </div>
        </li>
    </DropZone>
</Draggable>