﻿<Draggable DraggedData="this.Link" >
	<DropZone AcceptCurrentDraggedItem="item=>item is LocatedActivity" 
			  OnDrop="this.OnItemDroppedAsync"
			  OnDragOver="async () => await this.OnDragOver.InvokeAsync(true)"
			  OnDragLeave="async () => await this.OnDragOver.InvokeAsync(false)" >
		<div class="game-unit-activity">
			<Row Style="align-items: center;">
				<Column Size=3>
					<Icon Name=@(this.Link.ActivityType == ActivityType.Question ? FontAwesomeIcons.Question : FontAwesomeIcons.Search) />
				</Column>
				<Column>
					<span>@this.Link.Name</span>
				</Column>
				<Column Size=3>
					<Button disabled=@(!this.CanEdit) Icon="@FontAwesomeIcons.Trash" Color="Color.Link" Clicked=@(() => this.RemoveActivity(this.Link)) />
					<Button Icon=@(this.CanEdit ? FontAwesomeIcons.Edit : FontAwesomeIcons.BookReader) 
                            Color="Color.Link" 
                            Clicked=@(() => this.NavigationManager.NavigateTo(Activities.ActivityEdition.GetEditionUrl(this.FieldTripId, this.LocatedGameUnitId, this.Link.Id))) />
				</Column>
			</Row>
		</div>
	</DropZone>
</Draggable>