﻿
<Container Fluid Style="padding: 5px; background-color: lightblue;">
    <ErrorsSummary Errors="this.Errors" />

    <Row class="mt-2">
        <Column>
            <SfTextBox Placeholder="Nom" @bind-Value="this.Model.Name" FloatLabelType="FloatLabelType.Always" />
        </Column>
    </Row>

    @if (this.MapIsGeolocalized)
    {
        <Row class="mt-2">
            <Column>
                <SfNumericTextBox Placeholder="Latitude"
                                  @bind-Value="this.Model.Latitude"
                                  FloatLabelType="FloatLabelType.Always"
                                  Readonly
                                  ShowSpinButton="false"
                                  Format="0.#####"
                                  Decimals="5" />
            </Column>
        </Row>
        <Row class="mt-2">
            <Column>
                <SfNumericTextBox Placeholder="Longitude"
                                  @bind-Value="this.Model.Longitude"
                                  FloatLabelType="FloatLabelType.Always"
                                  Readonly
                                    ShowSpinButton="false"
                                  Format="0.#####"
                                  Decimals="5" />
            </Column>
        </Row>
    }

    <Row Class="mt-2">
        <Column Class="text-center">
            <Button Color="Color.Link" Clicked="this.OnCancel" Icon="@FontAwesomeIcons.Undo">
                Annuler
            </Button>
            <Button Color="Color.Primary" Clicked="ProcessAsync" IsLoading="this.IsProcessing"
                    Icon="@FontAwesomeIcons.Check">
                Valider
            </Button>
        </Column>
    </Row>
</Container>