﻿<Draggable DraggedData="this.Unit">
    <li class="poi">
        @if (!this.IsEditing)
        {
            <div class="poi-title">@(this.Unit.Name??"Non renseigné")</div>

            <div class="poi-actions">
                <ButtonActionGroup Type="ButtonActionGroupType.Icon">

                    @if (this.OnEdit.HasDelegate)
                    {
                        <Button Color="Color.Link" Icon="@FontAwesomeIcons.Edit" Clicked="()=>this.EditAsync()" Disabled=@(!this.CanEdit)>
                            Modifier
                        </Button>
                    }

                    @if (this.OnDeleted.HasDelegate)
                    {
                        <Button Color="Color.Link" IsLoading="this.IsDeleting" Clicked="this.DeleteAsync" Icon="@FontAwesomeIcons.Trash" Disabled=@(!this.CanEdit)>
                            Supprimer
                        </Button>
                    }
                </ButtonActionGroup>
            </div>
        }
        else 
        {
            <PoiEdition OnCancel="()=>this.CancelEditionAsync()"
                    Unit="this.Unit"
                    OnActivationAreaTypeChange="this.OnActivationAreaTypeChange"
                    OnUpdated="()=>this.UpdateAsync()"
                    MapIsGeolocalized="this.MapIsGeolocalized" />
            }
        </li>
    </Draggable>
