﻿<div class="confirm-holder">
    <div class="confirm-modal">
        <Icon Name="@FontAwesomeIcons.TimesCircle" 
              Class="close-button"
              Clicked="()=>this.OnAnswer.InvokeAsync()"/>
        <div class="confirm-text">
            @this.Text
        </div>
        <div class="confirm-footer">
            <button class="no-button" @onclick="()=>this.OnAnswer.InvokeAsync(false)">
                @this.NoText
            </button>
             <button class="yes-button" @onclick="()=>this.OnAnswer.InvokeAsync(true)">
                @this.YesText
            </button>
        </div>
    </div>
</div>