﻿<div class="modal-holder">
    <div class="modal-window">
        @if (this.DisplayCancelButton)
        {
            <Icon Name="@FontAwesomeIcons.TimesCircle"
                  Class="close-button"
                  Clicked="this.OnCancel" />
        }

        <div class="modal-content">
            @this.Content
        </div>

        <div class="modal-footer">
            <button class="action-button" @onclick="this.OnClosing">
                @this.ActionText
            </button>
        </div>
    </div>
</div>