﻿// SituLearn is a set of tools to create fun and interactive educational field trips. It was developed as a research project of LIUM (Laboratoire d'Informatique de l'Université du Mans) in France.
//
// For more information, tutorials and to test a version of the SituLearn tools on our server, please go to https://situlearn.univ-lemans.fr/
//
// Contact : iza.marfisi@univ-lemans.fr
//
// Copyright (C) 2023 Iza MARFISI Sébastien GEORGE propriété Le Mans Université
//
// This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
//
// This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
//
//You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.

@import "./vars.scss";

/*@media screen and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}*/

@font-face {
    font-family: 'poppins';
    font-weight: 600;
    src: url('fonts/poppins-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins';
    font-weight: 800;
    src: url('fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins';
    font-weight: 400;
    src: url('fonts/poppins-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins';
    font-weight: 700;
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'helveticaneue';
    src: url('fonts/helveticaneue-regular.ttf') format('truetype');
}

body {
    overscroll-behavior-y: contain;
}

.app-authorizing, .app-loading {
    text-align: center;
    font-size: 1.2rem;
    height: 100%;

    &:not(.with-logo) {
        margin-top: 45vh !important;
    }

    i {
        display: block;
    }
}

.btn {
    i {
        margin-right: 0.5rem;
    }

    &.btn-icon-only {
        i {
            margin-right: 0;
        }
    }
}

.page {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
    box-sizing: border-box;
}

$mockup-height: 805;
$mockup-width: 375;
$header-toolbar-height: 50;

.header-toolbar {
    display: flex;
    min-height: calc($header-toolbar-height * 100vh / $mockup-height);
    position: fixed;
    z-index: 4;
    width: 100%;
    background-color: $gray;
    backdrop-filter: blur(5px);

    &.header-hidden-offset {
        position: relative;
        z-index: 1;
        visibility: hidden;
    }

    .page-title {
        color: $primary !important;
        padding-top: calc(12 * 100vh / $mockup-height);
        text-align: center;
        flex: 1;
        font-family: poppins;
        font-size: calc(18 * 100vh / $mockup-height);
        align-items: flex-start;
        justify-content: center;
        max-width: calc(($mockup-width - 50) * 100vw / $mockup-width);
        padding-left: calc(12 * 100vw / $mockup-width);
        box-sizing: border-box;

        i {
            vertical-align: middle;
            display: inline-block;
        }

        .btn-link {
            position: absolute;
            left: calc(0 * 100vw / $mockup-width);
            font-size: calc(18 * 100vh / $mockup-height);
            color: #fff;
        }
    }

    .button-menu {
        position: absolute;
        right: calc(6 * 100vh / $mockup-height);
        top: calc(6 * 100vh / $mockup-height);
        background: url("../images/avatar.svg") center center no-repeat;
        height: calc(40 * 100vh / $mockup-height);
        width: calc(40 * 100vh / $mockup-height);
        border-radius: calc(20 * 100vh / $mockup-height);
        margin-left: auto;
    }
}


.regular-page {
    background: url('../images/texture.svg') no-repeat center center, linear-gradient($dark-blue, $primary);
    background-size: cover;
    position: relative;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;

    & > div {
        display: flex;
        flex-flow: column;
    }

    .maincontent {
        footer {
            .text-center {
                font-size: calc(19 * 100vh / $mockup-height);
            }
        }
    }

    .floating-update-button {
        background-color: #f7b92499;
    }

    $main-menu-top: 6;

    .main-menu {
        background-color: $dark-gray;
        backdrop-filter: blur(10px);
        color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        border-radius: calc(25 * 100vh / $mockup-height) calc(25 * 100vh / $mockup-height) 0 0;
        transition-property: height;
        transition-duration: 0.25s;
        height: 0;
        overflow-y: hidden;
        z-index: 4;

        &.menu-visible {
            height: calc(($mockup-height - $main-menu-top) * 100vh / $mockup-height);
            border: solid 1px $primary;
            border-bottom: none;
        }

        font-size: calc(18 * 100vh / $mockup-height);

        header {
            text-align: center;
            position: relative;
            padding-top: calc(18 * 100vh / $mockup-height);
            font-family: poppins;
            font-weight: bold;
            margin-bottom: calc(18 * 100vh / $mockup-height);
            color: $primary;

            i {
                position: absolute;
                font-size: calc(27 * 100vh / $mockup-height);
                top: calc(18 * 100vh / $mockup-height);
                right: calc(27 * 100vh / $mockup-height);
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                border-top: solid 1px #fff;
                margin-left: calc(12 * 100vw / $mockup-width);
                margin-right: calc(12 * 100vw / $mockup-width);
                padding-left: calc(50 * 100vw / $mockup-width);
                padding-right: calc(50 * 100vw / $mockup-width);
                padding-top: calc(18 * 100vh / $mockup-height);
                padding-bottom: calc(18 * 100vh / $mockup-height);

                & > a {
                    display: flex;
                    align-items: center;

                    & > div {
                        height: calc(42 * 100vh / $mockup-height);
                        width: calc(42 * 100vh / $mockup-height);
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        margin-right: calc(25 * 100vw / $mockup-width);

                        &.avatar {
                            background: url('../images/avatar.svg');
                        }

                        &.star {
                            background: url('../images/starred-3x.svg');
                        }

                        &.compas {
                            background: url('../images/compas.svg');
                        }

                        &.check {
                            background: url('../images/check.svg');
                        }

                        &.bookmark {
                            background: url('../images/bookmark.svg');
                        }

                        &.logout {
                            background: url('../images/logout.svg');
                        }
                    }
                }

                .downloaded {
                    display: flex;
                    align-items: center;

                    i {
                        color: $primary;
                        font-size: calc(42 * 100vh / $mockup-height);
                        margin-right: calc(25 * 100vw / $mockup-width);
                    }

                    .menu-icon-downloaded {
                        white-space: nowrap;
                    }
                }
            }

            li:first-child {
                border-color: $primary;
            }
        }
    }

    $supervision-map-top: 43;

    .supervision-map {
        background-color: lightblue;
        color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        border-radius: calc(25 * 100vh / $mockup-height) calc(25 * 100vh / $mockup-height) 0 0;
        overflow-y: hidden;
        height: calc(($mockup-height - $supervision-map-top) * 100vh / $mockup-height);
        font-size: calc(18 * 100vh / $mockup-height);
    }

    .map {
        &:not(.location-aid) {
            height: calc(($mockup-height - $supervision-map-top) * 100vh / $mockup-height);
        }
        /*.leaflet-marker-pane {
            z-index: 402;
        }*/
        /*.leaflet-shadow-pane {
                z-index: 0;
            }*/
        /*.marker-unit {
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background: url('../images/leaflet-marker-unit.svg');
            height: calc(30 * 100vh / $mockup-height);
            width: calc(30 * 100vh / $mockup-height);
        }

        .marker-myposition {
            background-size: contain !important;
            background-repeat: no-repeat !important;*/
        /*background: url('../images/leaflet-marker-myposition.svg');*/
        /*background: url('../images/icon-people.svg');
            height: calc(30 * 100vh / $mockup-height);
            width: calc(30 * 100vh / $mockup-height);
        }*/
        /*.marker-information-sheet {
                background-size: contain !important;
                background-repeat: no-repeat !important;
                background: url('../images/leaflet-marker-information-sheet.svg');
                height: calc(30 * 100vh / $mockup-height);
                width: calc(30 * 100vh / $mockup-height);
            }*/
        /*.marker-reading {
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background: url('../images/leaflet-marker-reading.svg');
            height: calc(30 * 100vh / $mockup-height);
            width: calc(30 * 100vh / $mockup-height);
        }

        .marker-remaining-unit {
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background: url('../images/leaflet-marker-remaining-unit.svg');
            height: calc(30 * 100vh / $mockup-height);
            width: calc(30 * 100vh / $mockup-height);
        }*/

        .leaflet-popup-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: poppins;
            font-weight: bold;
            font-size: calc(13 * 100vh / $mockup-height);
            /*.activity-name {
                color: #059efb;
            }*/

            button {
                border: none;
                background-color: transparent;
                display: flex;
                align-items: center;
                margin: calc(0 * 100vw / $mockup-width) 0 calc(10 * 100vw / $mockup-width) 0;

                i {
                    font-size: x-large;

                    &.fa-info-circle {
                        margin-top: calc(5 * 100vh / $mockup-height);
                        color: #ffa32c;
                    }
                    /*&.fa-clipboard-list {
                        font-size: large;
                        margin-right: calc(5 * 100vh / $mockup-height);
                        color: #059efb;
                    }

                    &.fa-location-arrow {
                        font-size: large;
                        margin-top: calc(5 * 100vh / $mockup-height);
                        color: #D1FF46;
                        background-color: $dark-blue;
                        border-radius: calc(25 * 100vw / $mockup-width);
                        padding: calc(10 * 100vh / $mockup-height);
                    }

                    &.fa-sync {
                        font-size: large;
                        margin-top: calc(5 * 100vh / $mockup-height);
                        color: #D1FF46;
                        background-color: $dark-blue;
                        border-radius: calc(25 * 100vw / $mockup-width);
                        padding: calc(10 * 100vh / $mockup-height);
                    }*/
                }
            }
        }
    }

    .maincontent {
        min-height: calc(($mockup-height - $header-toolbar-height) * 100vh / $mockup-height);
    }

    .main-notify {
        margin-left: calc(27 * 100vw / $mockup-width);
        margin-right: calc(27 * 100vw / $mockup-width);
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto !important;
        width: calc(($mockup-width - 54) * 100vw / $mockup-width) !important;
        z-index: 3;
    }

    .app-loading {
        color: #fff;

        i {
            display: block;
        }
    }

    .btn {
        font-family: poppins;
        font-weight: bold;
        font-size: calc(18 * 100vh / $mockup-height);
        padding: calc(13 * 100vh / $mockup-height) 0;
        text-transform: uppercase;
        border-radius: calc(18 * 100vh / $mockup-height);
        border: none;

        i {
            margin-right: calc(13 * 100vw / $mockup-width);
        }
    }
}

#build-date {
    font-size: small;
    text-align: center;
}


#login-page {
    background: linear-gradient($dark-blue, $primary);
    position: relative;

    .logo {
        width: 100%;
    }

    .textured {
        margin-top: calc(-32 * 100vh / $mockup-height);
        padding-top: calc(48 * 100vh / $mockup-height);
        background: url('/images/texture.svg') no-repeat center center;
        background-size: cover;
        min-height: calc(($mockup-height - 352) * 100vh / $mockup-height);
        box-sizing: border-box;
    }

    $login-input-radius: calc(71 /2 * 100vw / $mockup-width);

    .email-holder {
        box-sizing: border-box;
        width: calc(348 * 100vw / $mockup-width);
        border-radius: $login-input-radius 0 0 $login-input-radius;
        height: calc(71 * 100vh / $mockup-height);
        background: $light-blue;
        margin-left: calc(27 * 100vw / $mockup-width);
        margin-top: calc(16 * 100vh / $mockup-height);
        padding-left: calc(40 * 100vw / $mockup-width);
        position: relative;
        text-align: left;

        input {
            margin-left: calc(50 * 100vh / $mockup-height / 2 + 0.5vh); //half width of the before element + little offset
        }

        &:before {
            position: absolute;
            content: '';
            height: calc(50 * 100vh / $mockup-height);
            width: calc(50 * 100vh / $mockup-height);
            background: url('../images/avatar.svg') no-repeat center center;
            background-size: contain;
            left: calc(15.36 * 100vw / $mockup-width);
            top: calc(11 * 100vh / $mockup-height);
        }
    }

    .password-holder {
        box-sizing: border-box;
        width: calc(348 * 100vw / $mockup-width);
        border-radius: 0 $login-input-radius $login-input-radius 0;
        height: calc(71 * 100vh / $mockup-height);
        background: $light-blue;
        margin-top: calc(16 * 100vh / $mockup-height);
        padding-left: calc(147.85 * 100vw / $mockup-width);
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            content: '';
            height: calc(50 * 100vh / $mockup-height);
            width: calc(50 * 100vh / $mockup-height);
            background: url('../images/locked.svg') no-repeat center center;
            background-size: contain;
            right: calc(15.36 * 100vw / $mockup-width);
            top: calc(11 * 100vh / $mockup-height);
        }

        margin-bottom: calc(12 * 100vh / $mockup-height);

        &:focus:before, &:active:before {
            display: none;
        }
    }

    .stay-connected {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-bottom: calc(12 * 100vh / $mockup-height);
        font-size: calc(15 * 100vh / $mockup-height);

        input {
            margin-right: calc(10 * 100vw / $mockup-width);
            height: calc(20 * 100vh / $mockup-height);
            width: calc(20 * 100vh / $mockup-height);
            border-radius: calc(5 * 100vh / $mockup-height);
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid #fff;
            position: relative;

            &:checked {
                border-color: $primary;

                &:after {
                    content: '\2713';
                    font-size: calc(12 * 100vh / $mockup-height);
                    position: absolute;
                    top: 0px;
                    left: calc(4 * 100vw / $mockup-width);
                    color: $primary;
                }
            }
        }
    }

    #email, #password {
        background: transparent;
        border: none;
        font-family: poppins, sans-serif;
        color: $black;
        font-size: calc(18 * 100vh / $mockup-height);
        font-weight: 400;
        margin-top: calc(24 * 100vh / $mockup-height);

        &.-internal-autofill-selected {
            background: transparent
        }

        &:focus, &:active {
            outline: 0;
            border: 0;
        }

        &::placeholder {
            color: $black;
            font-family: poppins, sans-serif;
            color: $black;
            font-size: calc(18 * 100vh / $mockup-height);
            font-weight: 400;
        }
    }

    #email {
        overflow-x: hidden;
    }

    .btn-primary {
        font-family: poppins;
        font-weight: bold;
        color: #fff;
        font-size: calc(21 * 100vh / $mockup-height);
        text-transform: uppercase;
        border-radius: $login-input-radius $login-input-radius $login-input-radius $login-input-radius;
        margin-left: calc(27 * 100vw / $mockup-width);
        margin-right: calc(27 * 100vw / $mockup-width);
        margin-bottom: calc(16 * 100vh / $mockup-height);
        width: calc(($mockup-width - 54) * 100vw / $mockup-width);
        padding: calc(22 * 100vh / $mockup-height) 0;
    }

    a {
        text-decoration: underline;
        color: $white;
        font-family: poppins, sans-serif;
        font-weight: 600;
        font-size: calc(15 * 100vh / $mockup-height);
    }

    .alert-danger {
        margin-left: calc(27 * 100vw / $mockup-width);
        margin-right: calc(27 * 100vw / $mockup-width);
        margin-top: calc(16 * 100vh / $mockup-height);
        font-size: calc(13 * 100vh / $mockup-height);


        ul {
            list-style: disc;
            padding: 0 calc(27 * 100vw / $mockup-width);
            margin: 0;
            text-align: left;
        }
    }

    footer {
        background: $gray;
        border-radius: 62pt 62pt 0 0;
        color: #fff;
        width: 100%;
        text-align: center;
        padding: calc(19 * 100vh / $mockup-height) 0;
        font-family: helveticaneue, Roboto, sans-serif;
        font-size: calc(16 * 100vh / $mockup-height);

        img {
            display: block;
            width: calc(176 * 100vw / $mockup-width);
            margin: calc(13 * 100vh / $mockup-height) auto;
        }

        margin-top: calc(16 * 100vh / $mockup-height);
    }
}

.options-container-opened {

    .e-control {
        border-radius: calc(18 * 100vh / $mockup-height) calc(18 * 100vh / $mockup-height) 0 0 !important;
    }
}

.options-container {
    color: #fff;
    border: none !important;
    background-color: $gray !important;
    backdrop-filter: blur(5px);
    padding: 0 calc(12 * 100vw / $mockup-width);
}

.confirm-holder {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 calc(18 * 100vw / $mockup-width);
    box-sizing: border-box;
    z-index: 3;
    background-color: $light-gray;

    .confirm-modal {
        border-radius: calc(18 * 100vw / $mockup-width);
        padding: calc(18 * 100vh / $mockup-height) 0 0 0;
        margin: 0 calc(36 * 100vw / $mockup-width);
        background-color: #0F4C6E;
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0 calc(8 * 100vh / $mockup-height) calc(8 * 100vh / $mockup-height) calc(2 * 100vh / $mockup-height) $shadow-color;
        font-family: poppins;
        font-size: calc(13 * 100vh / $mockup-height);
        position: relative;

        .close-button {
            color: #d92550;
            position: absolute;
            top: calc(10 * 100vh / $mockup-height);
            right: calc(10 * 100vw / $mockup-width);
            font-size: large;
            background-color: white;
            border-radius: calc(20 * 100vw / $mockup-width);
        }

        .confirm-text {
            text-align: center;
            padding: calc(17 * 100vw / $mockup-width);
            color: #fff;
        }

        .confirm-footer {
            display: flex;
            margin-top: calc(16 * 100vh / $mockup-height);

            button {
                border: none;
                flex: 1;
                margin: 0;
                color: #fff;
                font-size: calc(17 * 100vh / $mockup-height);
            }

            .no-button {
                background-color: $primary;
                border-radius: 0 0 0 calc(18 * 100vw / $mockup-width);
                height: calc(44 * 100vh / $mockup-height);
                border-right: solid 1px #0F4C6E;
            }

            .yes-button {
                background-color: $primary;
                border-radius: 0 0 calc(18 * 100vw / $mockup-width) 0;
                height: calc(44 * 100vh / $mockup-height);
                border-left: solid 1px #0F4C6E;
            }
        }
    }
}

#fieldtrips-page {
    padding: calc(12 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width);

    .filters-bar {
        margin-bottom: calc(12 * 100vh / $mockup-height);


        .e-input-group {
            background: transparent !important;
            border: none !important;
        }

        .filter-type {

            .sort-way {
                display: inline-block;
                color: #fff;
                position: absolute;
                right: 0;
                top: calc(9 * 100vh / $mockup-height);
                margin-right: calc(12 * 100vw / $mockup-width);
                z-index: 3;
            }

            .e-control {
                padding: calc(3 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width);
            }

            position: relative;
        }

        .form-control, .e-control {
            background: $light-gray !important;
            backdrop-filter: blur(2px);
            color: #fff;
            border-radius: calc(18 * 100vh / $mockup-height);
            padding: calc(3 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width);
            height: calc(36 * 100vh / $mockup-height);
            font-family: poppins;
            font-size: calc(14 * 100vh / $mockup-height);
            margin-bottom: calc(12 * 100vh / $mockup-height);
            width: 100%;
            box-shadow: none;
            border: 0;
        }
    }

    .fieldtrips-filter-type-title {
        display: flex;
        justify-content: center;
        align-items: center;

        .fieldtrips-filter-type {
            color: #fff;
            font-style: italic;
            display: flex;
            margin-bottom: calc(6 * 100vh / $mockup-height);
            font-size: calc(15 * 100vh / $mockup-height);

            .fieldtrips-filter-type-icon {
                background-color: #002a41;
                height: calc(25 * 100vh / $mockup-height);
                width: calc(25 * 100vh / $mockup-height);
                border-radius: calc(20 * 100vh / $mockup-height);
                border: solid 1px #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: calc(5 * 100vw / $mockup-width);

                i {
                    font-size: calc(12 * 100vh / $mockup-height);
                }
            }

            .fieldtrips-filter-type-label {
                margin-left: calc(5 * 100vw / $mockup-width);
            }
        }
    }

    .fieldtrips-list {
        .no-results {
            color: #fff;
            font-style: italic;
            font-size: calc(13 * 100vh / $mockup-height);
        }
    }

    .fieldtrip-card {
        display: flex;
        color: #fff;
        background-color: $light-gray;
        backdrop-filter: blur(1px);
        border: solid 1px $primary;
        margin-bottom: calc(18 * 100vh / $mockup-height);
        box-shadow: 0 calc(5 * 100vh / $mockup-height) calc(5 * 100vh / $mockup-height) calc(2 * 100vh / $mockup-height) $shadow-color;
        padding: calc(12 * 100vh / $mockup-height) 0 calc(12 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width);
        border-radius: calc(28 * 100vh / $mockup-height);
        position: relative;
        align-items: center;

        &.menu-visible {
            backdrop-filter: none;
        }

        .fieldtrip-picture {
            height: calc(72 * 100vh / $mockup-height);
            width: calc(72 * 100vh / $mockup-height);
            background: #fff center center no-repeat;
            background-size: cover;
            border-radius: calc(36 * 100vh / $mockup-height);
            margin-right: calc(9 * 100vh / $mockup-height);
            position: relative;
        }

        .fieldtrip-info {
            display: flex;
            flex-flow: column;
            flex: 1;
            margin-right: calc(39 * 100vw / $mockup-width);
            max-width: calc(195 * 100vw / $mockup-width);

            .fieldtrip-type {
                font-family: poppins;
                font-size: calc(12 * 100vh / $mockup-height);
            }

            .fieldtrip-title {
                font-family: poppins;
                font-size: calc(18 * 100vh / $mockup-height);
                font-weight: 800;
                padding: 0;
            }

            .fieldtrip-attributes {
                font-size: calc(12 * 100vh / $mockup-height);
                font-family: poppins;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .fieldtrip-field {
                    position: relative;
                    padding-left: calc(22 * 100vw / $mockup-width);

                    &:before {
                        content: '';
                        height: calc(18 * 100vh / $mockup-height);
                        width: calc(18 * 100vh / $mockup-height);
                        border-radius: calc(18 * 100vh / $mockup-height);
                        background: url('../images/field.svg') no-repeat center center;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }

        .fieldtrip-actions {
            width: calc(39 * 100vw / $mockup-width);
            max-width: calc(39 * 100vw / $mockup-width);
            text-align: center;
            position: absolute;
            right: 0;
            z-index: 1;

            i {
                font-size: calc(32 * 100vh / $mockup-height);
                width: 100%;
            }
        }

        $fieldtrip-card-description-top: 6;

        .fieldtrip-card-description {
            background-color: $dark-gray;
            backdrop-filter: blur(10px);
            color: #fff;
            border-radius: calc(28 * 100vh / $mockup-height) calc(28 * 100vh / $mockup-height) calc(28 * 100vh / $mockup-height) calc(28 * 100vh / $mockup-height);
            transition-property: width;
            transition-duration: 0.3s;
            width: 0;
            overflow-y: hidden;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;

            &.menu-visible {
                width: 100%;
            }

            font-size: calc(18 * 100vh / $mockup-height);

            section {
                font-family: poppins;
                font-size: calc(14 * 100vh / $mockup-height);
                padding: calc(18 * 100vh / $mockup-height) calc(45 * 100vh / $mockup-height) 0 calc(23 * 100vh / $mockup-height);
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}

.alert-danger {
    width: auto !important;
    font-size: calc(13 * 100vh / $mockup-height);
}

.alert {
    font-size: calc(13 * 100vh / $mockup-height);
}

#myaccount-page {
    padding: calc(12 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width);

    .myaccount-card {
        color: #fff;
        background-color: $light-gray;
        backdrop-filter: blur(1px);
        box-shadow: 0 calc(5 * 100vh / $mockup-height) calc(5 * 100vh / $mockup-height) calc(2 * 100vh / $mockup-height) $shadow-color;
        padding: calc(12 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width) calc(12 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width);
        border-radius: calc(28 * 100vh / $mockup-height);
        border: solid 1px $primary;
    }
}

.myaccount-page {
    .header-toolbar {
        .page-title {
            display: flex;
            padding-left: calc(6 * 100vw / $mockup-width);
            align-content: stretch;
            justify-content: stretch;
            justify-items: stretch;
            align-items: flex-start;

            i {
                flex: 1;
                width: calc(20 * 100vw / $mockup-width);
                max-width: calc(20 * 100vw / $mockup-width);
                margin-top: calc(6 * 100vh / $mockup-height);
            }

            .myaccount-title {
                flex: 1;
            }
        }
    }
}

.journey-blanc {
    background-color: $blanc !important;
    color: $dark-blue;

    .header-toolbar {
        .page-title {
            color: $black;
        }
    }

    & .journey-inner, &.journey-page > div {
        background-image: url('../images/journey-texture-dark.svg');
    }
}

.journey-jaune {
    background-color: $jaune !important;
    color: $dark-blue;

    .header-toolbar {
        .page-title {
            color: $black;
        }
    }

    & .journey-inner, &.journey-page > div {
        background-image: url('../images/journey-texture-dark.svg');
    }
}

.journey-orange {
    background-color: $orange !important;

    & .journey-inner, &.journey-page > div {
        background-image: url('../images/journey-texture-light.svg');
    }

    color: #fff;
}

.journey-vert {
    background-color: $vert !important;
    color: $dark-blue;

    .header-toolbar {
        .page-title {
            color: $black;
        }
    }

    & .journey-inner, &.journey-page > div {
        background-image: url('../images/journey-texture-dark.svg');
    }
}

.journey-bleu {
    background-color: $bleu !important;
    color: #fff;

    & > .journey-inner , &.journey-page > div {
        background-image: url('../images/journey-texture-light.svg');
    }
}

.journey-violet {
    background-color: $violet !important;
    color: #fff;

    & > .journey-inner , &.journey-page > div {
        background-image: url('../images/journey-texture-light.svg');
    }
}

.journey-marron {
    background-color: $marron !important;
    color: #fff;

    & > .journey-inner , &.journey-page > div {
        background-image: url('../images/journey-texture-light.svg');
    }
}

.journey-gris {
    background-color: $gris !important;
    color: #fff;

    & > .journey-inner , &.journey-page > div {
        background-image: url('../images/journey-texture-light.svg');
    }
}

h2 {
    color: #fff;
    font-size: calc(18 * 100vh / $mockup-height);
    font-family: poppins;
    font-weight: 700;
    margin: calc(6 * 100vh / $mockup-height) 0;
}

em {
    background-color: transparent;
}

#game-header {
    padding: calc(12 * 100vh / $mockup-height) calc(12 * 100vw / $mockup-width) 0 calc(12 * 100vw / $mockup-width);
    display: flex;
    justify-content: center;
    font-family: poppins;
    font-weight: bold;
    font-size: calc(15 * 100vh / $mockup-height);

    .game-progression {
        display: flex;
        color: #D1FF46;
        white-space: nowrap;
        background-color: $dark-blue;
        height: calc(36 * 100vh / $mockup-height);
        border-radius: calc(18 * 100vh / $mockup-height);
        display: flex;
        align-items: center;
        padding: calc(5 * 100vw / $mockup-width) calc(10 * 100vw / $mockup-width) calc(5 * 100vw / $mockup-width) calc(5 * 100vw / $mockup-width);
        margin: 0 calc(7 * 100vw / $mockup-width);

        .game-progression-icon {
            background-color: #D1FF46;
            border-radius: calc(13 * 100vh / $mockup-height);
            margin-right: calc(5 * 100vw / $mockup-width);
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(26 * 100vh / $mockup-height);
            width: calc(26 * 100vh / $mockup-height);

            .marker-unit {
                height: calc(20 * 100vh / $mockup-height);
                width: calc(15 * 100vh / $mockup-height);
                background-size: contain !important;
                background-repeat: no-repeat !important;
                background: url('../images/leaflet-marker-unit.svg');
            }
        }
    }

    .game-alloted-time {
        display: flex;
        color: #D1FF46;
        white-space: nowrap;
        background-color: $dark-blue;
        height: calc(36 * 100vh / $mockup-height);
        border-radius: calc(18 * 100vh / $mockup-height);
        display: flex;
        align-items: center;
        padding: calc(5 * 100vw / $mockup-width) calc(10 * 100vw / $mockup-width) calc(5 * 100vw / $mockup-width) calc(5 * 100vw / $mockup-width);
        margin: 0 calc(7 * 100vw / $mockup-width);

        .hourglass {
            height: calc(26 * 100vh / $mockup-height);
            width: calc(26 * 100vh / $mockup-height);
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background: url('../images/hourglass.svg');
            margin-right: calc(5 * 100vw / $mockup-width);
        }
    }

    .game-elapsed-time {
        display: flex;
        color: #AEECA5;
        white-space: nowrap;
        background-color: $dark-blue;
        height: calc(36 * 100vh / $mockup-height);
        border-radius: calc(18 * 100vh / $mockup-height);
        display: flex;
        align-items: center;
        padding: calc(5 * 100vw / $mockup-width) calc(10 * 100vw / $mockup-width) calc(5 * 100vw / $mockup-width) calc(5 * 100vw / $mockup-width);
        margin: 0 calc(7 * 100vw / $mockup-width);

        .stopwatch {
            height: calc(26 * 100vh / $mockup-height);
            width: calc(26 * 100vh / $mockup-height);
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background: url('../images/stopwatch.svg');
            margin-right: calc(5 * 100vw / $mockup-width);
        }
    }

    .game-gain {
        display: flex;
        color: #FFEB41;
        white-space: nowrap;
        background-color: $dark-blue;
        height: calc(36 * 100vh / $mockup-height);
        border-radius: calc(18 * 100vh / $mockup-height);
        display: flex;
        align-items: center;
        padding: calc(5 * 100vw / $mockup-width) calc(10 * 100vw / $mockup-width) calc(5 * 100vw / $mockup-width) calc(5 * 100vw / $mockup-width);
        transition-property: font-size, border, color;
        transition-duration: 0.1s;
        margin: 0 calc(7 * 100vw / $mockup-width);

        &.increase {
            font-size: x-large;
            border: solid 2px lime;
            color: lime;
        }

        &.decrease {
            font-size: x-large;
            border: solid 2px #ff0b0b;
            color: #ff0b0b;
        }

        .star {
            height: calc(26 * 100vh / $mockup-height);
            width: calc(26 * 100vh / $mockup-height);
            background-size: contain !important;
            background-repeat: no-repeat !important;
            margin-right: calc(5 * 100vw / $mockup-width);
            background: url('../images/starred-3x.svg');
        }
    }
}

.game-alert-title {
    font-size: calc(17 * 100vh / $mockup-height);
    margin-bottom: calc(9 * 100vh / $mockup-height);
    color: $primary;
}

.game-alert-text {
    font-size: calc(13 * 100vh / $mockup-height);
    color: #fff;

    .remaining-time {
        font-weight: bold;
        white-space: nowrap;
    }
}

#participations-supervision-page {
    padding: calc(12 * 100vh / $mockup-height) calc(12 * 100vw / $mockup-width);
    color: #fff;

    .button-switch-map-or-list {
        position: fixed;
        right: calc(6 * 100vw / $mockup-width);
        bottom: calc(6 * 100vh / $mockup-height);
        height: calc(70 * 100vh / $mockup-height);
        width: calc(70 * 100vh / $mockup-height);
        border-radius: calc(35 * 100vh / $mockup-height);
        z-index: 2;
        background-color: $dark-blue;
        color: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(30 * 100vh / $mockup-height);
    }

    .participations-list-supervision-card {
        background-color: $light-gray;
        backdrop-filter: blur(1px);
        padding: calc(12 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width);
        border-radius: calc(28 * 100vh / $mockup-height);
        box-shadow: 0 calc(5 * 100vh / $mockup-height) calc(5 * 100vh / $mockup-height) calc(2 * 100vh / $mockup-height) $shadow-color;
        padding: calc(18 * 100vh / $mockup-height) calc(20 * 100vw / $mockup-width);
        border: solid 1px $primary;
        min-height: 90vh;
    }

    .supervision-map {
        $supervision-map-top: 80;

        height: calc(($mockup-height - $supervision-map-top) * 100vh / $mockup-height);
        border-radius: calc(28 * 100vh / $mockup-height);
        box-shadow: 0 calc(5 * 100vh / $mockup-height) calc(5 * 100vh / $mockup-height) calc(2 * 100vh / $mockup-height) $shadow-color;
        background-color: transparent;
        position: relative;
        width: auto;
        border: solid 1px $primary;

        .player-details-window-holder {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            z-index: 3;
            background-color: $gray;

            .player-details-window {
                border-radius: calc(18 * 100vw / $mockup-width);
                box-sizing: border-box;
                width: 100%;
                background-color: $dark-gray;
                backdrop-filter: blur(1px);
                border: solid 1px $primary;
                box-shadow: 0 calc(8 * 100vh / $mockup-height) calc(8 * 100vh / $mockup-height) calc(2 * 100vh / $mockup-height) $shadow-color;
                margin: 0 calc(36 * 100vw / $mockup-width);
                font-family: poppins;
                font-size: calc(13 * 100vh / $mockup-height);
                text-align: center;
                position: relative;

                .close-button {
                    color: $primary;
                    position: absolute;
                    top: calc(10 * 100vh / $mockup-height);
                    right: calc(10 * 100vw / $mockup-width);
                    font-size: large;
                    background-color: transparent;
                    border-radius: calc(20 * 100vw / $mockup-width);
                    z-index: 2;
                }

                .player-details-window-content {
                    padding: calc(18 * 100vh / $mockup-height) calc(24 * 100vw / $mockup-width);
                    background-color: transparent;
                    border-radius: calc(18 * 100vw / $mockup-width) calc(18 * 100vw / $mockup-width) 0 0;

                    .player-details-first-line {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        .player-details-name {
                            margin-left: calc(20 * 100vw / $mockup-width);
                            width: 70%;

                            .player-details-phone-action {
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;
                                margin-top: calc(7 * 100vh / $mockup-height);

                                .fa-phone-alt {
                                    color: forestgreen;
                                }

                                .fa-comment-dots {
                                    color: darkorange;
                                }

                                .disabled {
                                    color: #6c757d;
                                    opacity: .65;
                                }
                            }
                        }
                    }

                    .player-details-second-line {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-top: calc(15 * 100vh / $mockup-height);

                        .player-details-progression-text {
                            background-color: black;
                            padding: calc(5 * 100vh / $mockup-height) 0vh;
                            border-radius: calc(5 * 100vh / $mockup-height) calc(5 * 100vh / $mockup-height);
                            width: calc(52 * 100vh / $mockup-height);
                        }

                        .player-details-unit {
                            margin-left: calc(20 * 100vw / $mockup-width);
                        }
                    }

                    .player-details-third-line {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: calc(15 * 100vh / $mockup-height);

                        .player-details-score {
                            color: yellow;
                        }

                        .player-details-correct-answers-rate {
                            color: green;
                        }

                        .player-details-readings-number {
                            color: greenyellow;

                            i {
                                margin-right: 1.5vw;
                            }
                        }
                    }

                    .player-details-fourth-line {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: calc(15 * 100vh / $mockup-height);

                        .player-details-alert {
                            color: red;
                            display: flex;
                            flex-flow: column;
                        }
                    }
                }
            }
        }
    }

    .supervision-list {
        .filters-bar {
            margin-bottom: calc(12 * 100vh / $mockup-height);

            .e-input-group {
                background: transparent !important;
                border: none !important;
            }

            .form-control, .e-control {
                background: $light-gray !important;
                backdrop-filter: blur(2px);
                color: #fff;
                border-radius: calc(18 * 100vh / $mockup-height);
                padding: calc(3 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width);
                height: calc(36 * 100vh / $mockup-height);
                font-family: poppins;
                font-size: calc(14 * 100vh / $mockup-height);
                margin-bottom: calc(12 * 100vh / $mockup-height);
                width: 100%;
                box-shadow: none;
                border: 0;
            }

            .filter-hide {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .participants-number {
                    width: 100%;
                    text-align: center;
                    font-size: calc(18 * 100vh / $mockup-height);
                    font-weight: bold;
                }

                .filter-hide-action {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    /* The switch - the box around the slider */
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 60px;
                        height: 34px;
                        margin-bottom: 0 !important;
                    }
                    /* Hide default HTML checkbox */
                    .switch input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                    /* The slider */
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $light-gray;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }

                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }

                    input:checked + .slider {
                        background-color: $primary;
                    }

                    input:focus + .slider {
                        box-shadow: 0 0 1px $primary;
                    }

                    input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                    }
                    /* Rounded sliders */
                    .slider.round {
                        border-radius: 34px;
                    }

                    .slider.round:before {
                        border-radius: 50%;
                    }
                }
            }
        }

        .participants-list {
            .no-results {
                color: #fff;
                font-style: italic;
                font-size: calc(13 * 100vh / $mockup-height);
            }

            .participant-card {
                display: flex;
                color: #fff;
                background-color: $light-gray;
                backdrop-filter: blur(1px);
                border: solid 1px $primary;
                margin-bottom: calc(18 * 100vh / $mockup-height);
                box-shadow: 0 calc(5 * 100vh / $mockup-height) calc(5 * 100vh / $mockup-height) calc(2 * 100vh / $mockup-height) $shadow-color;
                padding: calc(12 * 100vh / $mockup-height) 0 calc(12 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width);
                border-radius: calc(28 * 100vh / $mockup-height);
                position: relative;
                align-items: center;
                justify-content: flex-start;

                .permanent-data {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .player-details-alert {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        margin-left: calc(3 * 100vw / $mockup-width);
                        width: calc(25 * 100vw / $mockup-width);
                        color: red;
                    }
                }

                .main-data {
                    display: flex;
                    flex-flow: column;
                    margin-left: calc(5 * 100vw / $mockup-width);
                    width: calc(200 * 100vw / $mockup-width);

                    .main-data-first-line {
                        font-size: calc(15 * 100vh / $mockup-height);
                    }

                    .main-data-second-line {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: calc(6 * 100vh / $mockup-height);

                        .fa-phone-alt {
                            color: forestgreen;
                        }

                        .fa-comment-dots {
                            color: darkorange;
                        }

                        .disabled {
                            color: #6c757d;
                            opacity: .65;
                        }

                        .fa-eye-slash {
                            color: lightblue;
                        }

                        .fa-eye {
                            color: lightblue;
                        }
                    }

                    .player-details-progression-text {
                        background-color: black;
                        padding: calc(3 * 100vh / $mockup-height) 0;
                        border-radius: calc(5 * 100vh / $mockup-height) calc(5 * 100vh / $mockup-height);
                        width: calc(50 * 100vw / $mockup-width);
                        text-align: center;
                    }
                }

                &.menu-visible {
                    backdrop-filter: none;
                    background-color: $gray;
                    transition-property: background-color;
                    transition-duration: 0.3s;
                }

                .participant-card-actions {
                    width: calc(39 * 100vw / $mockup-width);
                    max-width: calc(39 * 100vw / $mockup-width);
                    text-align: center;
                    position: absolute;
                    right: 0;
                    z-index: 1;

                    i {
                        font-size: calc(32 * 100vh / $mockup-height);
                        width: 100%;
                    }
                }

                .participant-card-description {
                    background-color: $dark-gray;
                    backdrop-filter: blur(10px);
                    color: #fff;
                    border-radius: calc(14 * 100vh / $mockup-height) calc(28 * 100vh / $mockup-height) calc(28 * 100vh / $mockup-height) calc(14 * 100vh / $mockup-height);
                    transition-property: width;
                    transition-duration: 0.3s;
                    width: 0;
                    overflow-y: hidden;
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;

                    &.menu-visible {
                        width: calc(245 * 100vw / $mockup-width);
                        border-left: solid 1px $primary;
                    }

                    font-size: calc(18 * 100vh / $mockup-height);

                    section {
                        font-family: poppins;
                        padding: calc(10 * 100vh / $mockup-height) calc(45 * 100vh / $mockup-height) 0 calc(10 * 100vh / $mockup-height);
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;

                        .participant-card-description-unit {
                            font-size: calc(14 * 100vh / $mockup-height);
                        }

                        .participant-card-description-second-line {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: calc(10 * 100vh / $mockup-height);
                            font-size: calc(12 * 100vh / $mockup-height);

                            i {
                                font-size: calc(20 * 100vh / $mockup-height);
                            }
                        }
                    }
                }
            }
        }
    }

    div[role="progressbar"] {
        --fg: #369;
        --bg: lightgray;
        --pgPercentage: var(--value);
        animation: growProgressBar 1s 1 forwards;
        border-radius: 50%;
        display: grid;
        place-items: center;
        background: radial-gradient(closest-side, white 75%, transparent 0 99.9%, white 0), conic-gradient(from 180deg, var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
        width: calc(55 * 100vw / $mockup-width);
        height: calc(55 * 100vw / $mockup-width);
        border: solid 1px white;

        &.map-marker {
            width: 42px;
            height: 42px;
            animation: none;
            box-shadow: 5px -5px 15px $shadow-color;
        }

        .player-details-progression {
            z-index: 1;
            width: calc(16 * 100vw / $mockup-width);
            height: calc(16 * 100vw / $mockup-width);
            border-radius: 50%;

            &.map-marker {
                width: 12px;
                height: 12px;
            }
        }

        // essai représentation personnage au coeur de la jauge de progression : à remettre ?
        /*.player-details-progression {
            z-index: 2;
            width: calc(13 * 100vw / $mockup-width);
            height: calc(13 * 100vw / $mockup-width);
            border-radius: 50%;
            border: solid white 1px;

            &.map-marker {
                width: 10px;
                height: 10px;
            }
        }

        .player-details-progression-core {
            z-index: 1;
            position: absolute;
            width: calc(40 * 100vw / $mockup-width);
            height: calc(40 * 100vw / $mockup-width);
            border-radius: 50%;

            &.map-marker {
                width: 30px;
                height: 30px;
            }
        }*/

        .alerts-map-marker {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 10px;
            color: red;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1px;

            .invisible {
                visibility: hidden;
            }
        }
    }
}

.participations-supervision-page {
    .header-toolbar {
        .page-title {
            display: flex;
            padding-left: calc(6 * 100vw / $mockup-width);
            align-content: stretch;
            justify-content: stretch;
            justify-items: stretch;
            align-items: flex-start;

            i {
                flex: 1;
                width: calc(20 * 100vw / $mockup-width);
                max-width: calc(20 * 100vw / $mockup-width);
                margin-top: calc(6 * 100vh / $mockup-height);
            }

            .fieldtrip-title {
                flex: 1;
            }
        }
    }
}

#time-select-supervision-page {
    color: #fff;
    padding: calc(12 * 100vh / $mockup-height) calc(12 * 100vw / $mockup-width);

    .time-select-supervision-card {
        background-color: $light-gray;
        backdrop-filter: blur(1px);
        padding: calc(12 * 100vh / $mockup-height) calc(18 * 100vw / $mockup-width);
        border-radius: calc(28 * 100vh / $mockup-height);
        box-shadow: 0 calc(5 * 100vh / $mockup-height) calc(5 * 100vh / $mockup-height) calc(2 * 100vh / $mockup-height) $shadow-color;
        padding: calc(18 * 100vh / $mockup-height) calc(20 * 100vw / $mockup-width);
        border: solid 1px $primary;

        .fieldtrip-picture {
            margin-bottom: calc(18 * 100vh / $mockup-height);
            text-align: center;

            img {
                width: 100%;
                border-radius: calc(18 * 100vh / $mockup-height);
            }
        }

        .time-picker-label {
            color: $primary;
            font-family: poppins;
            font-weight: 300;
            font-size: calc(21 * 100vh / $mockup-height);
            text-align: center;
        }

        $time-select-input-radius: calc(71 /2 * 100vw / $mockup-width);

        input {
            font-size: calc(21 * 100vh / $mockup-height);
            padding: calc(5 * 100vh / $mockup-height);
            width: 100%;
            border-radius: $time-select-input-radius $time-select-input-radius $time-select-input-radius $time-select-input-radius;
            height: calc(50 * 100vh / $mockup-height);
            background: $light-blue;
            padding-left: calc(10 * 100vw / $mockup-width);
            border: solid 1px $dark-blue !important;

            &:focus-visible {
                outline: solid 2px $primary !important;
            }
        }

        .btn {
            font-family: poppins;
            font-weight: bold;
            color: #fff;
            font-size: calc(21 * 100vh / $mockup-height);
            text-transform: inherit;
            border-radius: $time-select-input-radius $time-select-input-radius $time-select-input-radius $time-select-input-radius;
            width: 100%;
        }
    }
}

.time-select-supervision-page {
    .header-toolbar {
        .page-title {
            display: flex;
            padding-left: calc(6 * 100vw / $mockup-width);
            align-content: stretch;
            justify-content: stretch;
            justify-items: stretch;
            align-items: flex-start;

            i {
                flex: 1;
                width: calc(20 * 100vw / $mockup-width);
                max-width: calc(20 * 100vw / $mockup-width);
                margin-top: calc(6 * 100vh / $mockup-height);
            }

            .fieldtrip-title {
                flex: 1;
            }
        }
    }
}

@keyframes growProgressBar {
    0%, 33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}
