﻿@charset "UTF-8";
/*@media screen and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}*/
@font-face {
  font-family: "poppins";
  font-weight: 600;
  src: url("fonts/poppins-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 800;
  src: url("fonts/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 400;
  src: url("fonts/poppins-regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 700;
  src: url("fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "helveticaneue";
  src: url("fonts/helveticaneue-regular.ttf") format("truetype");
}
body {
  overscroll-behavior-y: contain;
}

.app-authorizing, .app-loading {
  text-align: center;
  font-size: 1.2rem;
  height: 100%;
}
.app-authorizing:not(.with-logo), .app-loading:not(.with-logo) {
  margin-top: 45vh !important;
}
.app-authorizing i, .app-loading i {
  display: block;
}

.btn i {
  margin-right: 0.5rem;
}
.btn.btn-icon-only i {
  margin-right: 0;
}

.page {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  box-sizing: border-box;
}

.header-toolbar {
  display: flex;
  min-height: 6.2111801242vh;
  position: fixed;
  z-index: 4;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  backdrop-filter: blur(5px);
}
.header-toolbar.header-hidden-offset {
  position: relative;
  z-index: 1;
  visibility: hidden;
}
.header-toolbar .page-title {
  color: #1CCCC6 !important;
  padding-top: 1.4906832298vh;
  text-align: center;
  flex: 1;
  font-family: poppins;
  font-size: 2.2360248447vh;
  align-items: flex-start;
  justify-content: center;
  max-width: 86.6666666667vw;
  padding-left: 3.2vw;
  box-sizing: border-box;
}
.header-toolbar .page-title i {
  vertical-align: middle;
  display: inline-block;
}
.header-toolbar .page-title .btn-link {
  position: absolute;
  left: 0vw;
  font-size: 2.2360248447vh;
  color: #fff;
}
.header-toolbar .button-menu {
  position: absolute;
  right: 0.7453416149vh;
  top: 0.7453416149vh;
  background: url("../images/avatar.svg") center center no-repeat;
  height: 4.9689440994vh;
  width: 4.9689440994vh;
  border-radius: 2.4844720497vh;
  margin-left: auto;
}

.regular-page {
  background: url("../images/texture.svg") no-repeat center center, linear-gradient(#002A41, #1CCCC6);
  background-size: cover;
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}
.regular-page > div {
  display: flex;
  flex-flow: column;
}
.regular-page .maincontent footer .text-center {
  font-size: 2.3602484472vh;
}
.regular-page .floating-update-button {
  background-color: rgba(247, 185, 36, 0.6);
}
.regular-page .main-menu {
  background-color: rgba(0, 0, 0, 0.6196078431);
  backdrop-filter: blur(10px);
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  border-radius: 3.1055900621vh 3.1055900621vh 0 0;
  transition-property: height;
  transition-duration: 0.25s;
  height: 0;
  overflow-y: hidden;
  z-index: 4;
  font-size: 2.2360248447vh;
}
.regular-page .main-menu.menu-visible {
  height: 99.2546583851vh;
  border: solid 1px #1CCCC6;
  border-bottom: none;
}
.regular-page .main-menu header {
  text-align: center;
  position: relative;
  padding-top: 2.2360248447vh;
  font-family: poppins;
  font-weight: bold;
  margin-bottom: 2.2360248447vh;
  color: #1CCCC6;
}
.regular-page .main-menu header i {
  position: absolute;
  font-size: 3.3540372671vh;
  top: 2.2360248447vh;
  right: 3.3540372671vh;
}
.regular-page .main-menu ul {
  list-style: none;
  padding: 0;
}
.regular-page .main-menu ul li {
  border-top: solid 1px #fff;
  margin-left: 3.2vw;
  margin-right: 3.2vw;
  padding-left: 13.3333333333vw;
  padding-right: 13.3333333333vw;
  padding-top: 2.2360248447vh;
  padding-bottom: 2.2360248447vh;
}
.regular-page .main-menu ul li > a {
  display: flex;
  align-items: center;
}
.regular-page .main-menu ul li > a > div {
  height: 5.2173913043vh;
  width: 5.2173913043vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin-right: 6.6666666667vw;
}
.regular-page .main-menu ul li > a > div.avatar {
  background: url("../images/avatar.svg");
}
.regular-page .main-menu ul li > a > div.star {
  background: url("../images/starred-3x.svg");
}
.regular-page .main-menu ul li > a > div.compas {
  background: url("../images/compas.svg");
}
.regular-page .main-menu ul li > a > div.check {
  background: url("../images/check.svg");
}
.regular-page .main-menu ul li > a > div.bookmark {
  background: url("../images/bookmark.svg");
}
.regular-page .main-menu ul li > a > div.logout {
  background: url("../images/logout.svg");
}
.regular-page .main-menu ul li .downloaded {
  display: flex;
  align-items: center;
}
.regular-page .main-menu ul li .downloaded i {
  color: #1CCCC6;
  font-size: 5.2173913043vh;
  margin-right: 6.6666666667vw;
}
.regular-page .main-menu ul li .downloaded .menu-icon-downloaded {
  white-space: nowrap;
}
.regular-page .main-menu ul li:first-child {
  border-color: #1CCCC6;
}
.regular-page .supervision-map {
  background-color: lightblue;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  border-radius: 3.1055900621vh 3.1055900621vh 0 0;
  overflow-y: hidden;
  height: 94.6583850932vh;
  font-size: 2.2360248447vh;
}
.regular-page .map {
  /*.leaflet-marker-pane {
      z-index: 402;
  }*/
  /*.leaflet-shadow-pane {
          z-index: 0;
      }*/
  /*.marker-unit {
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background: url('../images/leaflet-marker-unit.svg');
      height: calc(30 * 100vh / $mockup-height);
      width: calc(30 * 100vh / $mockup-height);
  }

  .marker-myposition {
      background-size: contain !important;
      background-repeat: no-repeat !important;*/
  /*background: url('../images/leaflet-marker-myposition.svg');*/
  /*background: url('../images/icon-people.svg');
      height: calc(30 * 100vh / $mockup-height);
      width: calc(30 * 100vh / $mockup-height);
  }*/
  /*.marker-information-sheet {
          background-size: contain !important;
          background-repeat: no-repeat !important;
          background: url('../images/leaflet-marker-information-sheet.svg');
          height: calc(30 * 100vh / $mockup-height);
          width: calc(30 * 100vh / $mockup-height);
      }*/
  /*.marker-reading {
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background: url('../images/leaflet-marker-reading.svg');
      height: calc(30 * 100vh / $mockup-height);
      width: calc(30 * 100vh / $mockup-height);
  }

  .marker-remaining-unit {
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background: url('../images/leaflet-marker-remaining-unit.svg');
      height: calc(30 * 100vh / $mockup-height);
      width: calc(30 * 100vh / $mockup-height);
  }*/
}
.regular-page .map:not(.location-aid) {
  height: 94.6583850932vh;
}
.regular-page .map .leaflet-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-weight: bold;
  font-size: 1.6149068323vh;
  /*.activity-name {
      color: #059efb;
  }*/
}
.regular-page .map .leaflet-popup-content button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin: 0vw 0 2.6666666667vw 0;
}
.regular-page .map .leaflet-popup-content button i {
  font-size: x-large;
  /*&.fa-clipboard-list {
      font-size: large;
      margin-right: calc(5 * 100vh / $mockup-height);
      color: #059efb;
  }

  &.fa-location-arrow {
      font-size: large;
      margin-top: calc(5 * 100vh / $mockup-height);
      color: #D1FF46;
      background-color: $dark-blue;
      border-radius: calc(25 * 100vw / $mockup-width);
      padding: calc(10 * 100vh / $mockup-height);
  }

  &.fa-sync {
      font-size: large;
      margin-top: calc(5 * 100vh / $mockup-height);
      color: #D1FF46;
      background-color: $dark-blue;
      border-radius: calc(25 * 100vw / $mockup-width);
      padding: calc(10 * 100vh / $mockup-height);
  }*/
}
.regular-page .map .leaflet-popup-content button i.fa-info-circle {
  margin-top: 0.6211180124vh;
  color: #ffa32c;
}
.regular-page .maincontent {
  min-height: 93.7888198758vh;
}
.regular-page .main-notify {
  margin-left: 7.2vw;
  margin-right: 7.2vw;
  position: fixed;
  bottom: 0;
  left: 0;
  top: auto !important;
  width: 85.6vw !important;
  z-index: 3;
}
.regular-page .app-loading {
  color: #fff;
}
.regular-page .app-loading i {
  display: block;
}
.regular-page .btn {
  font-family: poppins;
  font-weight: bold;
  font-size: 2.2360248447vh;
  padding: 1.6149068323vh 0;
  text-transform: uppercase;
  border-radius: 2.2360248447vh;
  border: none;
}
.regular-page .btn i {
  margin-right: 3.4666666667vw;
}

#build-date {
  font-size: small;
  text-align: center;
}

#login-page {
  background: linear-gradient(#002A41, #1CCCC6);
  position: relative;
}
#login-page .logo {
  width: 100%;
}
#login-page .textured {
  margin-top: -3.9751552795vh;
  padding-top: 5.9627329193vh;
  background: url("/images/texture.svg") no-repeat center center;
  background-size: cover;
  min-height: 56.2732919255vh;
  box-sizing: border-box;
}
#login-page .email-holder {
  box-sizing: border-box;
  width: 92.8vw;
  border-radius: 9.4666666667vw 0 0 9.4666666667vw;
  height: 8.8198757764vh;
  background: #DDE8FD;
  margin-left: 7.2vw;
  margin-top: 1.9875776398vh;
  padding-left: 10.6666666667vw;
  position: relative;
  text-align: left;
}
#login-page .email-holder input {
  margin-left: 3.6055900621vh;
}
#login-page .email-holder:before {
  position: absolute;
  content: "";
  height: 6.2111801242vh;
  width: 6.2111801242vh;
  background: url("../images/avatar.svg") no-repeat center center;
  background-size: contain;
  left: 4.096vw;
  top: 1.3664596273vh;
}
#login-page .password-holder {
  box-sizing: border-box;
  width: 92.8vw;
  border-radius: 0 9.4666666667vw 9.4666666667vw 0;
  height: 8.8198757764vh;
  background: #DDE8FD;
  margin-top: 1.9875776398vh;
  padding-left: 39.4266666667vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.4906832298vh;
}
#login-page .password-holder:before {
  position: absolute;
  content: "";
  height: 6.2111801242vh;
  width: 6.2111801242vh;
  background: url("../images/locked.svg") no-repeat center center;
  background-size: contain;
  right: 4.096vw;
  top: 1.3664596273vh;
}
#login-page .password-holder:focus:before, #login-page .password-holder:active:before {
  display: none;
}
#login-page .stay-connected {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 1.4906832298vh;
  font-size: 1.8633540373vh;
}
#login-page .stay-connected input {
  margin-right: 2.6666666667vw;
  height: 2.4844720497vh;
  width: 2.4844720497vh;
  border-radius: 0.6211180124vh;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  position: relative;
}
#login-page .stay-connected input:checked {
  border-color: #1CCCC6;
}
#login-page .stay-connected input:checked:after {
  content: "✓";
  font-size: 1.4906832298vh;
  position: absolute;
  top: 0px;
  left: 1.0666666667vw;
  color: #1CCCC6;
}
#login-page #email, #login-page #password {
  background: transparent;
  border: none;
  font-family: poppins, sans-serif;
  color: #12121A;
  font-size: 2.2360248447vh;
  font-weight: 400;
  margin-top: 2.9813664596vh;
}
#login-page #email.-internal-autofill-selected, #login-page #password.-internal-autofill-selected {
  background: transparent;
}
#login-page #email:focus, #login-page #email:active, #login-page #password:focus, #login-page #password:active {
  outline: 0;
  border: 0;
}
#login-page #email::placeholder, #login-page #password::placeholder {
  color: #12121A;
  font-family: poppins, sans-serif;
  color: #12121A;
  font-size: 2.2360248447vh;
  font-weight: 400;
}
#login-page #email {
  overflow-x: hidden;
}
#login-page .btn-primary {
  font-family: poppins;
  font-weight: bold;
  color: #fff;
  font-size: 2.6086956522vh;
  text-transform: uppercase;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  margin-left: 7.2vw;
  margin-right: 7.2vw;
  margin-bottom: 1.9875776398vh;
  width: 85.6vw;
  padding: 2.7329192547vh 0;
}
#login-page a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.3607843137);
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-size: 1.8633540373vh;
}
#login-page .alert-danger {
  margin-left: 7.2vw;
  margin-right: 7.2vw;
  margin-top: 1.9875776398vh;
  font-size: 1.6149068323vh;
}
#login-page .alert-danger ul {
  list-style: disc;
  padding: 0 7.2vw;
  margin: 0;
  text-align: left;
}
#login-page footer {
  background: rgba(0, 0, 0, 0.5019607843);
  border-radius: 62pt 62pt 0 0;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 2.3602484472vh 0;
  font-family: helveticaneue, Roboto, sans-serif;
  font-size: 1.9875776398vh;
  margin-top: 1.9875776398vh;
}
#login-page footer img {
  display: block;
  width: 46.9333333333vw;
  margin: 1.6149068323vh auto;
}

.options-container-opened .e-control {
  border-radius: 2.2360248447vh 2.2360248447vh 0 0 !important;
}

.options-container {
  color: #fff;
  border: none !important;
  background-color: rgba(0, 0, 0, 0.5019607843) !important;
  backdrop-filter: blur(5px);
  padding: 0 3.2vw;
}

.confirm-holder {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4.8vw;
  box-sizing: border-box;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1607843137);
}
.confirm-holder .confirm-modal {
  border-radius: 4.8vw;
  padding: 2.2360248447vh 0 0 0;
  margin: 0 9.6vw;
  background-color: #0F4C6E;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 0.9937888199vh 0.9937888199vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  font-family: poppins;
  font-size: 1.6149068323vh;
  position: relative;
}
.confirm-holder .confirm-modal .close-button {
  color: #d92550;
  position: absolute;
  top: 1.2422360248vh;
  right: 2.6666666667vw;
  font-size: large;
  background-color: white;
  border-radius: 5.3333333333vw;
}
.confirm-holder .confirm-modal .confirm-text {
  text-align: center;
  padding: 4.5333333333vw;
  color: #fff;
}
.confirm-holder .confirm-modal .confirm-footer {
  display: flex;
  margin-top: 1.9875776398vh;
}
.confirm-holder .confirm-modal .confirm-footer button {
  border: none;
  flex: 1;
  margin: 0;
  color: #fff;
  font-size: 2.1118012422vh;
}
.confirm-holder .confirm-modal .confirm-footer .no-button {
  background-color: #1CCCC6;
  border-radius: 0 0 0 4.8vw;
  height: 5.4658385093vh;
  border-right: solid 1px #0F4C6E;
}
.confirm-holder .confirm-modal .confirm-footer .yes-button {
  background-color: #1CCCC6;
  border-radius: 0 0 4.8vw 0;
  height: 5.4658385093vh;
  border-left: solid 1px #0F4C6E;
}

#fieldtrips-page {
  padding: 1.4906832298vh 4.8vw;
}
#fieldtrips-page .filters-bar {
  margin-bottom: 1.4906832298vh;
}
#fieldtrips-page .filters-bar .e-input-group {
  background: transparent !important;
  border: none !important;
}
#fieldtrips-page .filters-bar .filter-type {
  position: relative;
}
#fieldtrips-page .filters-bar .filter-type .sort-way {
  display: inline-block;
  color: #fff;
  position: absolute;
  right: 0;
  top: 1.1180124224vh;
  margin-right: 3.2vw;
  z-index: 3;
}
#fieldtrips-page .filters-bar .filter-type .e-control {
  padding: 0.3726708075vh 4.8vw;
}
#fieldtrips-page .filters-bar .form-control, #fieldtrips-page .filters-bar .e-control {
  background: rgba(0, 0, 0, 0.1607843137) !important;
  backdrop-filter: blur(2px);
  color: #fff;
  border-radius: 2.2360248447vh;
  padding: 0.3726708075vh 4.8vw;
  height: 4.4720496894vh;
  font-family: poppins;
  font-size: 1.7391304348vh;
  margin-bottom: 1.4906832298vh;
  width: 100%;
  box-shadow: none;
  border: 0;
}
#fieldtrips-page .fieldtrips-filter-type-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#fieldtrips-page .fieldtrips-filter-type-title .fieldtrips-filter-type {
  color: #fff;
  font-style: italic;
  display: flex;
  margin-bottom: 0.7453416149vh;
  font-size: 1.8633540373vh;
}
#fieldtrips-page .fieldtrips-filter-type-title .fieldtrips-filter-type .fieldtrips-filter-type-icon {
  background-color: #002a41;
  height: 3.1055900621vh;
  width: 3.1055900621vh;
  border-radius: 2.4844720497vh;
  border: solid 1px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3333333333vw;
}
#fieldtrips-page .fieldtrips-filter-type-title .fieldtrips-filter-type .fieldtrips-filter-type-icon i {
  font-size: 1.4906832298vh;
}
#fieldtrips-page .fieldtrips-filter-type-title .fieldtrips-filter-type .fieldtrips-filter-type-label {
  margin-left: 1.3333333333vw;
}
#fieldtrips-page .fieldtrips-list .no-results {
  color: #fff;
  font-style: italic;
  font-size: 1.6149068323vh;
}
#fieldtrips-page .fieldtrip-card {
  display: flex;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1607843137);
  backdrop-filter: blur(1px);
  border: solid 1px #1CCCC6;
  margin-bottom: 2.2360248447vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 1.4906832298vh 0 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  position: relative;
  align-items: center;
}
#fieldtrips-page .fieldtrip-card.menu-visible {
  backdrop-filter: none;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-picture {
  height: 8.9440993789vh;
  width: 8.9440993789vh;
  background: #fff center center no-repeat;
  background-size: cover;
  border-radius: 4.4720496894vh;
  margin-right: 1.1180124224vh;
  position: relative;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin-right: 10.4vw;
  max-width: 52vw;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-type {
  font-family: poppins;
  font-size: 1.4906832298vh;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-title {
  font-family: poppins;
  font-size: 2.2360248447vh;
  font-weight: 800;
  padding: 0;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-attributes {
  font-size: 1.4906832298vh;
  font-family: poppins;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-attributes .fieldtrip-field {
  position: relative;
  padding-left: 5.8666666667vw;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-attributes .fieldtrip-field:before {
  content: "";
  height: 2.2360248447vh;
  width: 2.2360248447vh;
  border-radius: 2.2360248447vh;
  background: url("../images/field.svg") no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-actions {
  width: 10.4vw;
  max-width: 10.4vw;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 1;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-actions i {
  font-size: 3.9751552795vh;
  width: 100%;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-card-description {
  background-color: rgba(0, 0, 0, 0.6196078431);
  backdrop-filter: blur(10px);
  color: #fff;
  border-radius: 3.4782608696vh 3.4782608696vh 3.4782608696vh 3.4782608696vh;
  transition-property: width;
  transition-duration: 0.3s;
  width: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 2.2360248447vh;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-card-description.menu-visible {
  width: 100%;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-card-description section {
  font-family: poppins;
  font-size: 1.7391304348vh;
  padding: 2.2360248447vh 5.5900621118vh 0 2.8571428571vh;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.alert-danger {
  width: auto !important;
  font-size: 1.6149068323vh;
}

.alert {
  font-size: 1.6149068323vh;
}

#myaccount-page {
  padding: 1.4906832298vh 4.8vw;
}
#myaccount-page .myaccount-card {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1607843137);
  backdrop-filter: blur(1px);
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 1.4906832298vh 4.8vw 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  border: solid 1px #1CCCC6;
}

.myaccount-page .header-toolbar .page-title {
  display: flex;
  padding-left: 1.6vw;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
  align-items: flex-start;
}
.myaccount-page .header-toolbar .page-title i {
  flex: 1;
  width: 5.3333333333vw;
  max-width: 5.3333333333vw;
  margin-top: 0.7453416149vh;
}
.myaccount-page .header-toolbar .page-title .myaccount-title {
  flex: 1;
}

.journey-blanc {
  background-color: #FBFBFB !important;
  color: #002A41;
}
.journey-blanc .header-toolbar .page-title {
  color: #12121A;
}
.journey-blanc .journey-inner, .journey-blanc.journey-page > div {
  background-image: url("../images/journey-texture-dark.svg");
}

.journey-jaune {
  background-color: #F6E165 !important;
  color: #002A41;
}
.journey-jaune .header-toolbar .page-title {
  color: #12121A;
}
.journey-jaune .journey-inner, .journey-jaune.journey-page > div {
  background-image: url("../images/journey-texture-dark.svg");
}

.journey-orange {
  background-color: #FF6E03 !important;
  color: #fff;
}
.journey-orange .journey-inner, .journey-orange.journey-page > div {
  background-image: url("../images/journey-texture-light.svg");
}

.journey-vert {
  background-color: #A5E09C !important;
  color: #002A41;
}
.journey-vert .header-toolbar .page-title {
  color: #12121A;
}
.journey-vert .journey-inner, .journey-vert.journey-page > div {
  background-image: url("../images/journey-texture-dark.svg");
}

.journey-bleu {
  background-color: #069EFB !important;
  color: #fff;
}
.journey-bleu > .journey-inner, .journey-bleu.journey-page > div {
  background-image: url("../images/journey-texture-light.svg");
}

.journey-violet {
  background-color: #490779 !important;
  color: #fff;
}
.journey-violet > .journey-inner, .journey-violet.journey-page > div {
  background-image: url("../images/journey-texture-light.svg");
}

.journey-marron {
  background-color: #382510 !important;
  color: #fff;
}
.journey-marron > .journey-inner, .journey-marron.journey-page > div {
  background-image: url("../images/journey-texture-light.svg");
}

.journey-gris {
  background-color: #575757 !important;
  color: #fff;
}
.journey-gris > .journey-inner, .journey-gris.journey-page > div {
  background-image: url("../images/journey-texture-light.svg");
}

h2 {
  color: #fff;
  font-size: 2.2360248447vh;
  font-family: poppins;
  font-weight: 700;
  margin: 0.7453416149vh 0;
}

em {
  background-color: transparent;
}

#game-header {
  padding: 1.4906832298vh 3.2vw 0 3.2vw;
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-weight: bold;
  font-size: 1.8633540373vh;
}
#game-header .game-progression {
  display: flex;
  color: #D1FF46;
  white-space: nowrap;
  background-color: #002A41;
  height: 4.4720496894vh;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  padding: 1.3333333333vw 2.6666666667vw 1.3333333333vw 1.3333333333vw;
  margin: 0 1.8666666667vw;
}
#game-header .game-progression .game-progression-icon {
  background-color: #D1FF46;
  border-radius: 1.6149068323vh;
  margin-right: 1.3333333333vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2298136646vh;
  width: 3.2298136646vh;
}
#game-header .game-progression .game-progression-icon .marker-unit {
  height: 2.4844720497vh;
  width: 1.8633540373vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/leaflet-marker-unit.svg");
}
#game-header .game-alloted-time {
  display: flex;
  color: #D1FF46;
  white-space: nowrap;
  background-color: #002A41;
  height: 4.4720496894vh;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  padding: 1.3333333333vw 2.6666666667vw 1.3333333333vw 1.3333333333vw;
  margin: 0 1.8666666667vw;
}
#game-header .game-alloted-time .hourglass {
  height: 3.2298136646vh;
  width: 3.2298136646vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/hourglass.svg");
  margin-right: 1.3333333333vw;
}
#game-header .game-elapsed-time {
  display: flex;
  color: #AEECA5;
  white-space: nowrap;
  background-color: #002A41;
  height: 4.4720496894vh;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  padding: 1.3333333333vw 2.6666666667vw 1.3333333333vw 1.3333333333vw;
  margin: 0 1.8666666667vw;
}
#game-header .game-elapsed-time .stopwatch {
  height: 3.2298136646vh;
  width: 3.2298136646vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/stopwatch.svg");
  margin-right: 1.3333333333vw;
}
#game-header .game-gain {
  display: flex;
  color: #FFEB41;
  white-space: nowrap;
  background-color: #002A41;
  height: 4.4720496894vh;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  padding: 1.3333333333vw 2.6666666667vw 1.3333333333vw 1.3333333333vw;
  transition-property: font-size, border, color;
  transition-duration: 0.1s;
  margin: 0 1.8666666667vw;
}
#game-header .game-gain.increase {
  font-size: x-large;
  border: solid 2px lime;
  color: lime;
}
#game-header .game-gain.decrease {
  font-size: x-large;
  border: solid 2px #ff0b0b;
  color: #ff0b0b;
}
#game-header .game-gain .star {
  height: 3.2298136646vh;
  width: 3.2298136646vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin-right: 1.3333333333vw;
  background: url("../images/starred-3x.svg");
}

.game-alert-title {
  font-size: 2.1118012422vh;
  margin-bottom: 1.1180124224vh;
  color: #1CCCC6;
}

.game-alert-text {
  font-size: 1.6149068323vh;
  color: #fff;
}
.game-alert-text .remaining-time {
  font-weight: bold;
  white-space: nowrap;
}

#participations-supervision-page {
  padding: 1.4906832298vh 3.2vw;
  color: #fff;
}
#participations-supervision-page .button-switch-map-or-list {
  position: fixed;
  right: 1.6vw;
  bottom: 0.7453416149vh;
  height: 8.6956521739vh;
  width: 8.6956521739vh;
  border-radius: 4.347826087vh;
  z-index: 2;
  background-color: #002A41;
  color: #A1EB94;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.7267080745vh;
}
#participations-supervision-page .participations-list-supervision-card {
  background-color: rgba(0, 0, 0, 0.1607843137);
  backdrop-filter: blur(1px);
  padding: 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 2.2360248447vh 5.3333333333vw;
  border: solid 1px #1CCCC6;
  min-height: 90vh;
}
#participations-supervision-page .supervision-map {
  height: 90.0621118012vh;
  border-radius: 3.4782608696vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  background-color: transparent;
  position: relative;
  width: auto;
  border: solid 1px #1CCCC6;
}
#participations-supervision-page .supervision-map .player-details-window-holder {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window {
  border-radius: 4.8vw;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6196078431);
  backdrop-filter: blur(1px);
  border: solid 1px #1CCCC6;
  box-shadow: 0 0.9937888199vh 0.9937888199vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  margin: 0 9.6vw;
  font-family: poppins;
  font-size: 1.6149068323vh;
  text-align: center;
  position: relative;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .close-button {
  color: #1CCCC6;
  position: absolute;
  top: 1.2422360248vh;
  right: 2.6666666667vw;
  font-size: large;
  background-color: transparent;
  border-radius: 5.3333333333vw;
  z-index: 2;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content {
  padding: 2.2360248447vh 6.4vw;
  background-color: transparent;
  border-radius: 4.8vw 4.8vw 0 0;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-first-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-first-line .player-details-name {
  margin-left: 5.3333333333vw;
  width: 70%;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-first-line .player-details-name .player-details-phone-action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.8695652174vh;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-first-line .player-details-name .player-details-phone-action .fa-phone-alt {
  color: forestgreen;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-first-line .player-details-name .player-details-phone-action .fa-comment-dots {
  color: darkorange;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-first-line .player-details-name .player-details-phone-action .disabled {
  color: #6c757d;
  opacity: 0.65;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-second-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.8633540373vh;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-second-line .player-details-progression-text {
  background-color: black;
  padding: 0.6211180124vh 0vh;
  border-radius: 0.6211180124vh 0.6211180124vh;
  width: 6.4596273292vh;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-second-line .player-details-unit {
  margin-left: 5.3333333333vw;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-third-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.8633540373vh;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-third-line .player-details-score {
  color: yellow;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-third-line .player-details-correct-answers-rate {
  color: green;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-third-line .player-details-readings-number {
  color: greenyellow;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-third-line .player-details-readings-number i {
  margin-right: 1.5vw;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-fourth-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.8633540373vh;
}
#participations-supervision-page .supervision-map .player-details-window-holder .player-details-window .player-details-window-content .player-details-fourth-line .player-details-alert {
  color: red;
  display: flex;
  flex-flow: column;
}
#participations-supervision-page .supervision-list .filters-bar {
  margin-bottom: 1.4906832298vh;
}
#participations-supervision-page .supervision-list .filters-bar .e-input-group {
  background: transparent !important;
  border: none !important;
}
#participations-supervision-page .supervision-list .filters-bar .form-control, #participations-supervision-page .supervision-list .filters-bar .e-control {
  background: rgba(0, 0, 0, 0.1607843137) !important;
  backdrop-filter: blur(2px);
  color: #fff;
  border-radius: 2.2360248447vh;
  padding: 0.3726708075vh 4.8vw;
  height: 4.4720496894vh;
  font-family: poppins;
  font-size: 1.7391304348vh;
  margin-bottom: 1.4906832298vh;
  width: 100%;
  box-shadow: none;
  border: 0;
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .participants-number {
  width: 100%;
  text-align: center;
  font-size: 2.2360248447vh;
  font-weight: bold;
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .filter-hide-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .filter-hide-action .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0 !important;
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .filter-hide-action .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .filter-hide-action .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1607843137);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .filter-hide-action .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .filter-hide-action input:checked + .slider {
  background-color: #1CCCC6;
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .filter-hide-action input:focus + .slider {
  box-shadow: 0 0 1px #1CCCC6;
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .filter-hide-action input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .filter-hide-action .slider.round {
  border-radius: 34px;
}
#participations-supervision-page .supervision-list .filters-bar .filter-hide .filter-hide-action .slider.round:before {
  border-radius: 50%;
}
#participations-supervision-page .supervision-list .participants-list .no-results {
  color: #fff;
  font-style: italic;
  font-size: 1.6149068323vh;
}
#participations-supervision-page .supervision-list .participants-list .participant-card {
  display: flex;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1607843137);
  backdrop-filter: blur(1px);
  border: solid 1px #1CCCC6;
  margin-bottom: 2.2360248447vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 1.4906832298vh 0 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .permanent-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .permanent-data .player-details-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.8vw;
  width: 6.6666666667vw;
  color: red;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .main-data {
  display: flex;
  flex-flow: column;
  margin-left: 1.3333333333vw;
  width: 53.3333333333vw;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .main-data .main-data-first-line {
  font-size: 1.8633540373vh;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .main-data .main-data-second-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7453416149vh;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .main-data .main-data-second-line .fa-phone-alt {
  color: forestgreen;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .main-data .main-data-second-line .fa-comment-dots {
  color: darkorange;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .main-data .main-data-second-line .disabled {
  color: #6c757d;
  opacity: 0.65;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .main-data .main-data-second-line .fa-eye-slash {
  color: lightblue;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .main-data .main-data-second-line .fa-eye {
  color: lightblue;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .main-data .player-details-progression-text {
  background-color: black;
  padding: 0.3726708075vh 0;
  border-radius: 0.6211180124vh 0.6211180124vh;
  width: 13.3333333333vw;
  text-align: center;
}
#participations-supervision-page .supervision-list .participants-list .participant-card.menu-visible {
  backdrop-filter: none;
  background-color: rgba(0, 0, 0, 0.5019607843);
  transition-property: background-color;
  transition-duration: 0.3s;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .participant-card-actions {
  width: 10.4vw;
  max-width: 10.4vw;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 1;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .participant-card-actions i {
  font-size: 3.9751552795vh;
  width: 100%;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .participant-card-description {
  background-color: rgba(0, 0, 0, 0.6196078431);
  backdrop-filter: blur(10px);
  color: #fff;
  border-radius: 1.7391304348vh 3.4782608696vh 3.4782608696vh 1.7391304348vh;
  transition-property: width;
  transition-duration: 0.3s;
  width: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 2.2360248447vh;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .participant-card-description.menu-visible {
  width: 65.3333333333vw;
  border-left: solid 1px #1CCCC6;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .participant-card-description section {
  font-family: poppins;
  padding: 1.2422360248vh 5.5900621118vh 0 1.2422360248vh;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .participant-card-description section .participant-card-description-unit {
  font-size: 1.7391304348vh;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .participant-card-description section .participant-card-description-second-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2422360248vh;
  font-size: 1.4906832298vh;
}
#participations-supervision-page .supervision-list .participants-list .participant-card .participant-card-description section .participant-card-description-second-line i {
  font-size: 2.4844720497vh;
}
#participations-supervision-page div[role=progressbar] {
  --fg: #369;
  --bg: lightgray;
  --pgPercentage: var(--value);
  animation: growProgressBar 1s 1 forwards;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, white 75%, transparent 0 99.9%, white 0), conic-gradient(from 180deg, var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  width: 14.6666666667vw;
  height: 14.6666666667vw;
  border: solid 1px white;
  /*.player-details-progression {
      z-index: 2;
      width: calc(13 * 100vw / $mockup-width);
      height: calc(13 * 100vw / $mockup-width);
      border-radius: 50%;
      border: solid white 1px;

      &.map-marker {
          width: 10px;
          height: 10px;
      }
  }

  .player-details-progression-core {
      z-index: 1;
      position: absolute;
      width: calc(40 * 100vw / $mockup-width);
      height: calc(40 * 100vw / $mockup-width);
      border-radius: 50%;

      &.map-marker {
          width: 30px;
          height: 30px;
      }
  }*/
}
#participations-supervision-page div[role=progressbar].map-marker {
  width: 42px;
  height: 42px;
  animation: none;
  box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.5568627451);
}
#participations-supervision-page div[role=progressbar] .player-details-progression {
  z-index: 1;
  width: 4.2666666667vw;
  height: 4.2666666667vw;
  border-radius: 50%;
}
#participations-supervision-page div[role=progressbar] .player-details-progression.map-marker {
  width: 12px;
  height: 12px;
}
#participations-supervision-page div[role=progressbar] .alerts-map-marker {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  color: red;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
}
#participations-supervision-page div[role=progressbar] .alerts-map-marker .invisible {
  visibility: hidden;
}

.participations-supervision-page .header-toolbar .page-title {
  display: flex;
  padding-left: 1.6vw;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
  align-items: flex-start;
}
.participations-supervision-page .header-toolbar .page-title i {
  flex: 1;
  width: 5.3333333333vw;
  max-width: 5.3333333333vw;
  margin-top: 0.7453416149vh;
}
.participations-supervision-page .header-toolbar .page-title .fieldtrip-title {
  flex: 1;
}

#time-select-supervision-page {
  color: #fff;
  padding: 1.4906832298vh 3.2vw;
}
#time-select-supervision-page .time-select-supervision-card {
  background-color: rgba(0, 0, 0, 0.1607843137);
  backdrop-filter: blur(1px);
  padding: 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 2.2360248447vh 5.3333333333vw;
  border: solid 1px #1CCCC6;
}
#time-select-supervision-page .time-select-supervision-card .fieldtrip-picture {
  margin-bottom: 2.2360248447vh;
  text-align: center;
}
#time-select-supervision-page .time-select-supervision-card .fieldtrip-picture img {
  width: 100%;
  border-radius: 2.2360248447vh;
}
#time-select-supervision-page .time-select-supervision-card .time-picker-label {
  color: #1CCCC6;
  font-family: poppins;
  font-weight: 300;
  font-size: 2.6086956522vh;
  text-align: center;
}
#time-select-supervision-page .time-select-supervision-card input {
  font-size: 2.6086956522vh;
  padding: 0.6211180124vh;
  width: 100%;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  height: 6.2111801242vh;
  background: #DDE8FD;
  padding-left: 2.6666666667vw;
  border: solid 1px #002A41 !important;
}
#time-select-supervision-page .time-select-supervision-card input:focus-visible {
  outline: solid 2px #1CCCC6 !important;
}
#time-select-supervision-page .time-select-supervision-card .btn {
  font-family: poppins;
  font-weight: bold;
  color: #fff;
  font-size: 2.6086956522vh;
  text-transform: inherit;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  width: 100%;
}

.time-select-supervision-page .header-toolbar .page-title {
  display: flex;
  padding-left: 1.6vw;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
  align-items: flex-start;
}
.time-select-supervision-page .header-toolbar .page-title i {
  flex: 1;
  width: 5.3333333333vw;
  max-width: 5.3333333333vw;
  margin-top: 0.7453416149vh;
}
.time-select-supervision-page .header-toolbar .page-title .fieldtrip-title {
  flex: 1;
}

@keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
