﻿// SituLearn is a set of tools to create fun and interactive educational field trips. It was developed as a research project of LIUM (Laboratoire d'Informatique de l'Université du Mans) in France.
//
// For more information, tutorials and to test a version of the SituLearn tools on our server, please go to https://situlearn.univ-lemans.fr/
//
// Contact : iza.marfisi@univ-lemans.fr
//
// Copyright (C) 2023 Iza MARFISI Sébastien GEORGE propriété Le Mans Université
//
// This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
//
// This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
//
//You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.

$blue: #105175;
$dark-blue: #002A41;
$gray: #00000080;
$light-blue: #DDE8FD;
$green: #A1EB94;
$light-gray: #00000029;
$dark-gray: #0000009E;
$black: #12121A;
$white: #FFFFFF5C;
$primary: #1CCCC6;
$shadow-color: #0000008E;

$gris: #575757;
$bleu: #069EFB;
$violet: #490779;
$blanc: #FBFBFB;
$marron: #382510;
$orange: #FF6E03;
$vert: #A5E09C;
$jaune: #F6E165;