﻿@using SituLearn.Player.Pages.FullScreenImageViewer
@using SituLearn.Player.Shared;

@if (this.UnitInformationSheetToShow != null)
{
    <Modal OnClosing="this.OnClosing"
           ActionText="OK">
        <Content>
            <div class="information-sheet">
                <div class="information-sheet-title">
                    @((MarkupString)this.UnitInformationSheetToShow?.InformationSheetTitle)
                </div>
                <div class="information-sheet-content">
                    <div class="information-sheet-description">
                        @((MarkupString)this.UnitInformationSheetToShow?.InformationSheetDescription)
                    </div>

                    @if (!string.IsNullOrEmpty(this.UnitInformationSheetToShow?.InformationSheetPicture))
                    {
                        <div class="information-sheet-picture" @onclick="() => { this.DisplayPictureInFullScreen = true; this.StateHasChanged(); }">
                            @if (this.UnitInformationSheetToShow.InformationSheetPicture.StartsWith("data:"))
                            {
                                <img src="@this.UnitInformationSheetToShow.InformationSheetPicture" alt="Image" />
                            }
                            else
                            {
                                <img src="@($"{this.BasePictureUrl}{this.UnitInformationSheetToShow?.InformationSheetPicture}")" alt="Image" />
                            }
                        </div>
                    }
                </div>                
            </div>
        </Content>
    </Modal>

    @if (this.DisplayPictureInFullScreen)
    {
        var pictureUrlToDisplayInFullScreen = this.UnitInformationSheetToShow.InformationSheetPicture.StartsWith("data:") ? this.UnitInformationSheetToShow.InformationSheetPicture : $"{this.BasePictureUrl}{this.UnitInformationSheetToShow?.InformationSheetPicture}";

        <FullScreenImageViewer PictureUrl="@pictureUrlToDisplayInFullScreen" OnClosing="() => { this.DisplayPictureInFullScreen = false; this.StateHasChanged(); }" />
    }
}