﻿@using SituLearn.Player.Utilities;

<SituLearn.Player.Shared.HeaderToolbar Class="@Css("played-fieldtrips-page")">
    @if(!this.TestEnv)
    {
        <Icon Name="@FontAwesomeIcons.ArrowLeft" IconStyle="IconStyle.FaLight"
              Clicked="()=>this.NavigationManager.NavigateTo(this.BackUrl ?? SituLearn.Player.Pages.FieldTrips.FieldTripsPage.Url)">
        </Icon>
    }
    
    <span class="played-fieldtrips-title">
        Déjà fait
    </span>
</SituLearn.Player.Shared.HeaderToolbar>

<div id="played-fieldtrips-page">
    @if (this.FieldTripsMade == null)
    {
        <AppLoading />
    }
    else
    {
        <div class="played-fieldtrips-header">
            <div class="game-gain">
                <div class="star"/>
                @this.TotalPoints  @(this.TotalPoints > 1 ? "points" : "point")
            </div>
        </div>

        <div class="played-fieldtrips-list">
            @if (this.FieldTripsMade.Any())
            {
                foreach (var fieldTripMade in this.FieldTripsMade)
                {
                    <PlayedFieldTripCard FieldTripMade="fieldTripMade" />
                }
            }
            else
            {
                <div class="no-results">
                    Vous n'avez pas encore effectué de sortie
                </div>
            }
        </div>
    }
</div>