﻿@using SituLearn.Player.Pages.FullScreenImageViewer
@using SituLearn.Player.Shared;

@if (this.PlayedReadingActivityToShow != null)
{
    <Modal OnClosing="this.OnClosing"
           ActionText="OK">
        <Content>
            <div class="played-reading-activity">
                <div class="activity-title mb-3">
                    @if (this.LocatedActivity != null)
                    {
                        <text>@this.LocatedActivity.Name</text>
                    }
                    else if (!string.IsNullOrEmpty(this.PlayedReadingActivityToShow.ActivityName))
                    {
                        <text>@this.PlayedReadingActivityToShow.ActivityName</text>
                    }
                    else
                    {
                        <text>Relevé</text>
                    }
                </div>
                <div class="played-reading-date mb-4">
                    @this.PlayedReadingActivityToShow.AnswerDate.ToLocalTime().ToString("dd/MM/yyyy à HH:mm")
                </div>

                <div class="played-reading-content">
                    <div class="played-reading-location mb-3">
                        <Label class="played-reading-activity-label">Localisation GPS :</Label>
                        <div>@this.PlayedReadingActivityToShow.Latitude, @this.PlayedReadingActivityToShow.Longitude</div>
                    </div>
                
                    @if (!string.IsNullOrEmpty(this.PlayedReadingActivityToShow.Answer))
                    {
                        <div class="played-reading-answer mb-3">
                            <Label class="played-reading-activity-label">Votre prise de notes :</Label>
                            <div>@(this.PlayedReadingActivityToShow.Answer)</div>
                        </div>
                    }
                    
                    @if (this.Photos != null && this.Photos.Any())
                    {
                        <div class="played-reading-recordings mb-3">
                            <Label class="played-reading-activity-label">Vos photos :</Label>

                            @if (this.Photos.Any(p => string.IsNullOrEmpty(p.Url)))
                            {
                                <div class="carroussel font-italic">
                                    @this.Photos.Count() @(this.Photos.Count() > 1 ? "photos prises (supprimées " : "photo prise (supprimée ") depuis car le relevé date de plus de 3 mois)
                                </div>
                            }
                            else
                            {
                                <div class="carroussel">
                                    @if (this.IndexPhotoToDisplay > 0)
                                    {
                                        <Icon Name="@FontAwesomeIcons.ArrowAltCircleLeft" Clicked="() => { this.IndexPhotoToDisplay--; this.StateHasChanged(); }" />
                                    }

                                    @if (this.Photos.ElementAt(this.IndexPhotoToDisplay).Url.StartsWith("data:"))
                                    {
                                        <img src="@this.Photos.ElementAt(this.IndexPhotoToDisplay).Url"
                                             class="played-reading-activity-picture"
                                        @onclick="() => { this.DisplayFullScreenPhoto = true; this.StateHasChanged(); }" />
                                    }
                                    else
                                    {
                                        <img src="@(this.BasePictureUrl + this.Photos.ElementAt(this.IndexPhotoToDisplay).Url)"
                                             class="played-reading-activity-picture"
                                        @onclick="() => { this.DisplayFullScreenPhoto = true; this.StateHasChanged(); }" />
                                    }

                                    @if (this.IndexPhotoToDisplay < this.Photos.Count() - 1 && this.Photos.Count() > 1)
                                    {
                                        <Icon Name="@FontAwesomeIcons.ArrowAltCircleRight" Clicked="() => { this.IndexPhotoToDisplay++; this.StateHasChanged(); }" />
                                    }
                                </div>

                                @if (this.Photos.Count() > 1)
                                {
                                    <div class="carroussel-index">
                                        @for (int i = 0; i < this.Photos.Count(); i++)
                                        {
                                            int indexValue = i;

                                            <Icon Name="@FontAwesomeIcons.Circle"
                                                  Class="@(i == this.IndexPhotoToDisplay ? " checked" : "")"
                                                  Clicked="() => { this.IndexPhotoToDisplay = indexValue; this.StateHasChanged(); }" />
                                        }
                                    </div>
                                }
                            }
                        </div>
                    }
                    
                    @if (this.AudioRecordings != null && this.AudioRecordings.Any())
                    {
                        <div class="played-reading-recordings mb-3">
                            <Label class="played-reading-activity-label">Vos enregistrements sonores :</Label>

                            @if (this.AudioRecordings.Any(a => string.IsNullOrEmpty(a.Url)))
                            {
                                <div class="carroussel font-italic">
                                    @this.AudioRecordings.Count() @(this.AudioRecordings.Count() > 1 ? "enregistrements sonores effectués (supprimés " : "enregistrement sonore effectué (supprimé ") depuis car le relevé date de plus de 3 mois)
                                </div>
                            }
                            else
                            {
                                <div class="carroussel">
                                    @if (this.IndexAudioToDisplay > 0)
                                    {
                                        <Icon Name="@FontAwesomeIcons.ArrowAltCircleLeft" Clicked="() => { this.IndexAudioToDisplay--; this.StateHasChanged(); }" />
                                    }

                                    @if (this.AudioRecordings.ElementAt(this.IndexAudioToDisplay).Url.StartsWith("data:"))
                                    {
                                        <figure>
                                            <audio controls
                                                   src="@this.AudioRecordings.ElementAt(this.IndexAudioToDisplay).Url">
                                                Your browser does not support the
                                                <code>audio</code> element.
                                            </audio>
                                        </figure>
                                    }
                                    else
                                    {
                                        <figure>
                                            <audio controls
                                                   src="@(this.BasePictureUrl + this.AudioRecordings.ElementAt(this.IndexAudioToDisplay).Url)">
                                                Your browser does not support the
                                                <code>audio</code> element.
                                            </audio>
                                        </figure>
                                    }

                                    @if (this.IndexAudioToDisplay < this.AudioRecordings.Count() - 1 && this.AudioRecordings.Count() > 1)
                                    {
                                        <Icon Name="@FontAwesomeIcons.ArrowAltCircleRight" Clicked="() => { this.IndexAudioToDisplay++; this.StateHasChanged(); }" />
                                    }
                                </div>

                                @if (this.AudioRecordings.Count() > 1)
                                {
                                    <div class="carroussel-index">
                                        @for (int i = 0; i < this.AudioRecordings.Count(); i++)
                                        {
                                            int indexValue = i;

                                            <Icon Name="@FontAwesomeIcons.Circle"
                                                  Class="@(i == this.IndexAudioToDisplay ? " checked" : "")"
                                                  Clicked="() => { this.IndexAudioToDisplay = indexValue; this.StateHasChanged(); }" />
                                        }
                                    </div>
                                }
                            }
                        </div>
                    }

                    @*@if (this.PlayerId == null || !(this.GamesRepository.CurrentPlayer != null && this.GamesRepository.CurrentPlayer.Id == this.PlayerId && this.GamesRepository.CurrentPlayer.PlayerState == Common.PlayerState.Playing))
                    {
                        <div Class="share-readings">
                            <Button Class="btn-primary" 
                                    Block
                                    Clicked="this.ShareReadingAsync"
                                    Icon="@FontAwesomeIcons.ShareAlt"
                                    IsLoading="this.IsSharing"
                                    Disabled="!this.GamesRepository.ConnectivityService.IsOnline">
                                Partager le relevé
                            </Button>
                        </div>
                    }*@
                </div>                                        
                                
            </div>
        </Content>
    </Modal>

    @if (this.DisplayFullScreenPhoto)
    {
        var pictureUrlToDisplayInFullScreen = this.Photos.ElementAt(this.IndexPhotoToDisplay).Url.StartsWith("data:") ? this.Photos.ElementAt(this.IndexPhotoToDisplay).Url : this.BasePictureUrl + this.Photos.ElementAt(this.IndexPhotoToDisplay).Url;

        <FullScreenImageViewer PictureUrl="@pictureUrlToDisplayInFullScreen" OnClosing="() => { this.DisplayFullScreenPhoto = false; this.StateHasChanged(); }" />
    }
}