﻿@using Ozytis.Common.Core.Web.Razor.Layout
@using static Ozytis.Common.Core.Web.Razor.Button

<PageHeader Icon="@Icon">
	<HeadingContent>
		<h1>Gestion des aides contextuelles</h1>
	</HeadingContent>
	<ActionsContent>
	</ActionsContent>
	<BreadcrumbsContent>
        <li>
            <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                Aides contextuelles
            </Button>
        </li>
	</BreadcrumbsContent>
</PageHeader>

<OzSimpleRemoteTable TModel="ContextualHelp"
					 TEntity="ContextualHelp"
					 @ref="this.Table"
					 DefaultSortedColumnIndex="0"
					 GetModelKey="f => f.Id"
					 GetData="this.ContextualHelpsRepository.GetAllContextualHelpsAsync">
	<ColumnsDefinition>
		<OzSimpleTableColumn TModel="ContextualHelp" TEntity="ContextualHelp"
							 Filter="(ch, vals) => ch.Title.Contains(vals[0] as string)"
							 Sort="ch => ch.Title">
			<HeaderDisplay>Titre</HeaderDisplay>
		</OzSimpleTableColumn>
		<OzSimpleTableColumn TModel="ContextualHelp" TEntity="ContextualHelp"
							 Filter="(ch, vals) => ch.Description.Contains(vals[0] as string)"
							 Sort="ch => ch.Description">
			<HeaderDisplay>Description</HeaderDisplay>
		</OzSimpleTableColumn>
		<OzSimpleTableColumn TModel="ContextualHelp" TEntity="ContextualHelp" CanClearFilter=true>
			<HeaderDisplay>Actions</HeaderDisplay>
		</OzSimpleTableColumn>
	</ColumnsDefinition>
	<RowContent>
		<TableRow>
			<TableRowCell>
				@context.Title
			</TableRowCell>
			<TableRowCell>
				@context.Description
			</TableRowCell>
			<TableRowCell>
				<ButtonActionGroup Type="ButtonActionGroupType.Icon">
					<Button Clicked="() => this.NavigationManager.NavigateTo(Pages.ContextualHelps.ContextualHelpEditionPage.GetUrl(context.Id.ToString()))"
							Icon="@FontAwesomeIcons.PencilAlt">
						Modifier cette aide contextuelle
					</Button>
				</ButtonActionGroup>
			</TableRowCell>
		</TableRow>
	</RowContent>

</OzSimpleRemoteTable>