﻿@inherits FormComponent;

@if (this.Model == default)
{
    <Loader IsLoading="true" />
}
else
{
    <PageHeader Icon="@FontAwesomeIcons.PencilAlt">
        <HeadingContent>
            <h1>Édition d'une aide contextuelle</h1>
        </HeadingContent>
        <BreadcrumbsContent>
            <li>
                <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor"
                    Clicked="() => this.NavigationManager.NavigateTo(ContextualHelpsPage.Url)">
                    Aides contextuelles
                </Button>
            </li>
            <li>
                <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                    Édition
                </Button>
            </li>
        </BreadcrumbsContent>
    </PageHeader>

    <ErrorsSummary Errors="this.Errors" />

    <Container Class="bg-white p-4 user-form" Fluid="true">
        <Row Class="mt-2">
            <Column Size="12">
                <Field>
                    <Label>Titre*</Label>
                    <SfTextBox PlaceHolder="Titre" @bind-Value="@this.Model.Title" />
                </Field>
            </Column>
        </Row>
        <Row Class="mt-2">
            <Column Size="12">
                <Field>
                    <Label>Description</Label>
                    <SfTextBox PlaceHolder="Description" @bind-Value="@this.Model.Description" Multiline />
                </Field>
            </Column>
        </Row>
        <Row Class="mt-2">
            <Column Size="12">
                <Field>
                    <Label>Contenu</Label>
                    <QuillEditor @bind-Content="this.Model.Content" Height="45vh" />
                </Field>
            </Column>
        </Row>
        <Row>
            <Column Class="text-center">
                <Button Color="Color.Light" Clicked=@(()=> { this.NavigationManager.NavigateTo(this.NavigationManager.history.Skip(1).FirstOrDefault()); })>
                    <Icon Name="@FontAwesomeIcons.Undo" />Annuler
                </Button>
                <Button Color="Color.Primary" Clicked="ProcessAsync">
                    <Loader IsLoading="this.IsProcessing" />
                    Valider
                </Button>
            </Column>
        </Row>
    </Container>
}