﻿@if (this.ContextualHelp != default)
{
    <Modal Size="ModalSize.Large" OnClosing="()=> this.OnClose.InvokeAsync()">
        <Header>
            <Icon Name=@FontAwesomeIcons.InfoCircle Class="fas fa-lg text-secondary" />
            @this.ContextualHelp.Title
        </Header>
        <Content>
            <div class="ql-snow">
                <div class="ql-editor">
                    @((MarkupString)this.ContextualHelp.Content)
                </div>
            </div>
        </Content>
        <Footer>
            @if (this.UsersRepository.CurrentUser.Role == Common.UserRoleNames.Administrator)
            {
                <Button Color="Color.Link" Clicked=@(() => { this.NavigationManager.NavigateTo(ContextualHelpEditionPage.GetUrl(this.Id)); })>
                    <Icon Name="@FontAwesomeIcons.PencilAlt" />Editer
                </Button>
            }
        </Footer>
    </Modal>
}
