﻿@inherits FormComponent
@using Ozytis.Common.Core.Web.Razor.ArchitectUI
@using Web.Client.Pages.ContextualHelps
@using Web.Client.Shared
@using Syncfusion.Blazor.InPlaceEditor
@using Syncfusion.Blazor.RichTextEditor
@using Syncfusion.Blazor.Inputs
@using System.Globalization

<PageHeader Icon="@FontAwesomeIcons.MapMarker" IconStyle=IconStyle.FaLight>
    <HeadingContent>
        Unités de jeu
    </HeadingContent>
    <ActionsContent>
        <Button IsLoading=this.IsProcessing Clicked="() => this.ProcessAsync()"
                Icon=@FontAwesomeIcons.Save Color=Color.Light Disabled=@(!this.CanEdit)>
            Enregistrer
        </Button>
    </ActionsContent>
    <BreadcrumbsContent>
        <li>
            <a href="@FieldTripsPage.Url">
                Gestion des sorties pédagogiques
            </a>
        </li>
        <li>
            <a href="@FieldTripEditionPage.GetEditionUrl(this.FieldTripId)">
                @this.FieldTrip?.Name
            </a>
        </li>
        <li>
            @this.LocatedGameUnit?.Name
        </li>
    </BreadcrumbsContent>
</PageHeader>

@if (this.LocatedGameUnit == null)
{
    <AppLoading />
}
else
{
    <Container Fluid>
        <Row Class="mt-2">
            <Column Size=@(3)>
                <Card>
                    <CardHeader>
                        <Icon Name="@(this.SiteMapIsExpanded ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronRight)"
                          Clicked="() => this.SiteMapIsExpanded =! this.SiteMapIsExpanded" Class="pointer mr-2" />
                        Arborescence de la sortie
                    </CardHeader>
                    @if (this.SiteMapIsExpanded)
                    {
                        <CardBody>
                            <SiteMap FieldTrip=@(this.FieldTrip) 
                                     CurrentPageType=@(this.GetType()) 
                                     CurrentItemId=@(this.LocatedGameUnitId) 
                                     RefreshGameUnit=@(this.Refresh) 
                                     OnUnitDeleted="this.OnUnitDeleted"
                                     OnActivityDeleted="this.OnActivityDeleted" />
                        </CardBody>
                    }
                </Card>
            </Column>

            <Column Size=@(9)>
                <BigTabs OnTabActivated="this.OnTabActivated">
                    <BigTab Title="POI">
                        <Container Fluid>
                            @if (this.Errors?.Any() ?? false)
                            {
                                <Row>
                                    <Column>
                                        <div class="errors-summary">
                                            <ErrorsSummary Errors="this.Errors"/>
                                        </div>
                                    </Column>
                                </Row>
                            }
                            <Row>
                                <Column>
                                    <Card Class="mt-3">
                                        <CardHeader>
                                            <Icon Name="@(this.GeneralIsExpanded ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronRight)"
                                              Clicked="() => this.GeneralIsExpanded =! this.GeneralIsExpanded" Class="pointer mr-2" />
                                            Informations obligatoires
                                        </CardHeader>
                                        @if (this.GeneralIsExpanded)
                                        {
                                            <CardBody>
                                                <Container Fluid>
                                                    <Row Class="mt-2">
                                                        <Column>
                                                            <Label>Nom de l'unité de jeu</Label>
                                                            <SfTextBox Enabled=@(this.CanEdit) @bind-Value=this.Model.Name
                                                               ValueChange=@(this.AutomaticSaveAsync) />
                                                        </Column>
                                                    </Row>
                                                    @if (this.CanEdit)
                                                    {
                                                        bool locationAidTypeIsIncoherent = !this.FieldTrip.ExplorationMap.IsGeolocatable 
                                                            && (this.Model.LocationAidType == LocationAidType.MapWithGps || this.Model.LocationAidType == LocationAidType.GpsRadar);

                                                        bool locationValidationTypeIsIncoherent = !this.FieldTrip.ExplorationMap.IsGeolocatable 
                                                            && this.Model.LocationValidationType == LocationValidationType.GpsLocation;

                                                        <Row Class="mt-2">
                                                            <Column>
                                                                <div style="display: flex;align-items: center;justify-content:space-between;">
                                                                    <Label>Mode d'orientation</Label>
                                                                    <Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary"
                                                                        Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.LocatedGameUnitEditionPage_Orientation))>
                                                                    </Button>
                                                                </div>
                                                                <div style=@(locationAidTypeIsIncoherent ? "border: 1px solid red; padding-right: 2px; border-radius: 4px;" : null)>
                                                                    <Select TValue=LocationAidType TModel="OptionItem<LocationAidType>"
                                                                            DisableFilter
                                                                            GetOptionText="o => o.Label"
                                                                            GetOptionValue="o => o.Value"
                                                                            Options="typeof(LocationAidType).ToOptionItems<LocationAidType>()"
                                                                            SelectedValueChanged=@((val) => this.UpdateField("location_aid_type", val))
                                                                            SelectedValue="this.Model.LocationAidType"
                                                                            GetOptionStyle="@(t => !this.FieldTrip.ExplorationMap.IsGeolocatable && (t.Value == LocationAidType.MapWithGps || t.Value == LocationAidType.GpsRadar) ? "color:red" : "")" />
                                                                            @*Style=@(locationAidTypeIsIncoherent ? "border: 1px solid red;" : null) />*@
                                                                </div>

                                                                @if (locationAidTypeIsIncoherent)
                                                                {
                                                                    <div style="color: red; font-style: italic;">
                                                                        <Icon Name="@(FontAwesomeIcons.ExclamationTriangle)" />
                                                                        La carte de cette sortie n'est pas géolocalisée
                                                                    </div>
                                                                }
                                                            </Column>
                                                        </Row>
                                                        <Row Class="mt-2">
                                                            <Column>
                                                                <div style="display: flex;align-items: center;justify-content:space-between;">
                                                                    <Label>Type de validation</Label>
                                                                    <Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary"
                                                                        Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.LocatedGameUnitEditionPage_Validation))>
                                                                    </Button>
                                                                </div>
                                                                <div style=@(locationValidationTypeIsIncoherent ? "border: 1px solid red; padding-right: 2px; border-radius: 4px;" : null)>
                                                                    <Select TValue=LocationValidationType TModel="OptionItem<LocationValidationType>"
                                                                            DisableFilter
                                                                            GetOptionText="o => o.Label" GetOptionValue="o => o.Value"
                                                                            Options="typeof(LocationValidationType).ToOptionItems<LocationValidationType>()"
                                                                            SelectedValueChanged=@((val) => this.UpdateField("location_validation_type", val))
                                                                            SelectedValue="this.Model.LocationValidationType"
                                                                            GetOptionStyle="@(t=> !this.FieldTrip.ExplorationMap.IsGeolocatable && t.Value == LocationValidationType.GpsLocation ? "color:red" : "")" />
                                                                            @*Style=@(locationValidationTypeIsIncoherent ? "border: 1px solid red;" : null) />*@
                                                                </div>

                                                                @if (locationValidationTypeIsIncoherent)
                                                                {
                                                                    <div style="color: red; font-style: italic;">
                                                                        <Icon Name="@(FontAwesomeIcons.ExclamationTriangle)" />
                                                                        La carte de cette sortie n'est pas géolocalisée
                                                                    </div>
                                                                }                                                                
                                                            </Column>
                                                        </Row>
                                                    }
                                                    else
                                                    {
                                                        <Row Class="mt-2">
                                                            <Column>
                                                                <div style="display: flex;align-items: center;justify-content:space-between;">
                                                                    <Label>Mode d'orientation</Label>
                                                                    <Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary"
                                                                        Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.LocatedGameUnitEditionPage_Orientation))>
                                                                    </Button>
                                                                </div>
                                                                <SfTextBox Value=@(this.Model.LocationAidType.GetFriendlyName()) Enabled=@(this.CanEdit) />
                                                            </Column>
                                                        </Row>
                                                        <Row Class="mt-2">
                                                            <Column>
                                                                <div style="display: flex;align-items: center;justify-content:space-between;">
                                                                    <Label>Type de validation</Label>
                                                                    <Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary"
                                                                        Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.LocatedGameUnitEditionPage_Validation))>
                                                                    </Button>
                                                                </div>
                                                                <SfTextBox Value=@(this.Model.LocationValidationType.GetFriendlyName()) Enabled=@(this.CanEdit) />
                                                            </Column>
                                                        </Row>
                                                    }
                                                    <Row Class="mt-2">
                                                        <Column>
                                                            <div style="display: flex;align-items: center;justify-content:space-between;">
                                                                <Label>Points à gagner</Label>
                                                                <Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary"
                                                                    Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.LocatedGameUnitEditionPage_Points))>
                                                                </Button>
                                                            </div>
                                                            <SfNumericTextBox Enabled=@(this.CanEdit)
                                                                ShowSpinButton=@(false)
                                                                @bind-Value=this.Model.LocationGain
                                                                      OnChange=@(this.AutomaticSaveAsync) />
                                                        </Column>
                                                    </Row>

                                                    @if (this.Model.LocationValidationType == LocationValidationType.QrCode)
                                                    {
                                                        <Row Class="mt-2">
                                                            <Column Class="text-center">
                                                                <a @onclick="@(()=>this.ExportQrCode())" class="pointer">
                                                                    <Syncfusion.Blazor.BarcodeGenerator.SfQRCodeGenerator @ref="this.QrCode"
                                                                                                              Width="150px" Height="150px" ForeColor="#000"
                                                                                                              Value="@(this.LocatedGameUnitId.ToString()+this.FieldTripId.ToString())">
                                                                        <Syncfusion.Blazor.BarcodeGenerator.QRCodeGeneratorDisplayText Text=" "></Syncfusion.Blazor.BarcodeGenerator.QRCodeGeneratorDisplayText>
                                                                    </Syncfusion.Blazor.BarcodeGenerator.SfQRCodeGenerator>
                                                                </a>
                                                            </Column>
                                                        </Row>
                                                    }

                                                </Container>
                                            </CardBody>
                                        }
                                    </Card>
                                </Column>
                                <Column>
                                    <Card Class="mt-3">
                                        <CardHeader>
                                            <Icon Name="@(this.LocalizationIsExpanded ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronRight)"
                                              Clicked="() => this.LocalizationIsExpanded =! this.LocalizationIsExpanded" Class="pointer mr-2" />
                                            Carte
                                        </CardHeader>
                                        <CardBody>

                                            @if (this.LocalizationIsExpanded)
                                            {
                                                var map = this.FieldTrip?.ExplorationMap ?? new ExplorationMap() { Zoom = 13 };
                                                string mapUrl = map.CustomBackgroundMap;

                                                <LeafletMap @ref="this.LeafletMap" DisableInteractions=@(true)
                                                    Center="new LeafletCoordinates(this.LocatedGameUnit.Latitude, this.LocatedGameUnit.Longitude)"
                                                    Width="100%"
                                                    InitialZoom=@(map.IsGeolocatable ? 18 : map.Zoom)
                                                    LoadDependencies="false"
                                                    Height="350px">

                                                    @if (map.IsGeolocatable)
                                                    {
                                                        <LeafletTileLayer Attribution="@LeafletTileLayer.OpenStreetMap.Attribution"
                                                              Label="@LeafletTileLayer.OpenStreetMap.Label"
                                                              UrlTemplate="@LeafletTileLayer.OpenStreetMap.UrlTemplate"
                                                              SubDomains="@LeafletTileLayer.OpenStreetMap.SubDomains" />
                                                    }
                                                    
                                                    @if (!string.IsNullOrEmpty(mapUrl))
                                                    {
                                                        if (!mapUrl.StartsWith("data:") && !mapUrl.StartsWith("http"))
                                                        {
                                                            mapUrl = "/files?path=" + System.Web.HttpUtility.UrlEncode(mapUrl);
                                                        }

                                                        List<string> styles = new();
                                                        styles.Add($"opacity:{map.CustomBackgroundOpacity.Value.ToString(CultureInfo.InvariantCulture)}");

                                                        <LeafletImageOverlay ImageBounds=@(new LeafletCoordinates[]{
                                                                new(
                                                                    map.CustomBackgroundUpperLeftLatitude.Value,
                                                                    map.CustomBackgroundUpperLeftLongitude.Value
                                                                ),
                                                                new(
                                                                    map.CustomBackgroundLowerRightLatitude.Value,
                                                                    map.CustomBackgroundLowerRightLongitude.Value
                                                                )
                                                            })
                                                            ImageUrl="@mapUrl"
                                                            Rotation="map.CustomBackgroundRotation ?? 0"
                                                            Style="@($"{string.Join(";", styles)}")" />
                                                    }

                                                    <LeafletMarker Latitude=this.LocatedGameUnit.Latitude Longitude=this.LocatedGameUnit.Longitude Color="Blue">
                                                        <Popup>
                                                            @this.LocatedGameUnit.Name
                                                        </Popup>
                                                    </LeafletMarker>

                                                    @if (this.LocatedGameUnit?.ActivationArea != null)
                                                    {
                                                        if (this.LocatedGameUnit.ActivationAreaType == ActivationAreaType.Polygon)
                                                        {
                                                            <LeafletGeoJson EnableEdit=@(false)
                                                                Geometry="this.LocatedGameUnit.ActivationArea"
                                                                OnEvent=@((str,obj) => {})
                                                                FillColor="Olive" FillOpacity="0.5m" />
                                                        }
                                                        else if (this.LocatedGameUnit.ActivationAreaType == ActivationAreaType.Circle)
                                                        {
                                                            LeafletCoordinates center = new()
                                                            {
                                                                Latitude = this.LocatedGameUnit.ActivationAreaCenterLatitude.Value,
                                                                Longitude = this.LocatedGameUnit.ActivationAreaCenterLongitude.Value
                                                            };

                                                            <LeafletCircle Center="center"
                                                                EnableEdit=@(false)
                                                                Radius="this.LocatedGameUnit.ActivationRadius.Value"
                                                                OnEvent=@((str,obj) => {})
                                                                FillColor="Olive" FillOpacity="0.5m" />
                                                        }
                                                        else if (this.LocatedGameUnit.ActivationAreaType == ActivationAreaType.Rectangle)
                                                        {
                                                            var coordinates = this.LocatedGameUnit.ActivationArea.Coordinates
                                                            .Select(c => new LeafletCoordinates((decimal)c.Y, (decimal)c.X)).ToArray();

                                                            <LeafletRectangle EnableEdit=@(false)
                                                                Coordinates="coordinates"
                                                                OnEvent=@((str,obj) => {})
                                                                FillColor="Olive" FillOpacity="0.5m" />
                                                        }
                                                    }
                                                </LeafletMap>
                                            }
                                        </CardBody>
                                    </Card>
                                </Column>
                                <Column Class="sim-card">
                                    <Card Class="mt-3 mb-3">
                                        <CardHeader style="min-height: initial;">
                                            <div>
                                                @this.GetExpendableDescription(nameof(this.LocationSupportIsExpended))

                                                <Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary"
                                                    Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.LocatedGameUnitEditionPage_LocationSupport))>
                                                </Button>
                                            </div>
                                        </CardHeader>

                                        <CardBody>
                                            <MobilePrevizualizer>
                                                <div class="home-page-preview">
                                                    <header>
                                                        <InPlaceTextBox Text=@(this.Model.LocationSupportTitle)
                                                                    Disabled=@(!this.CanEdit)
                                                                    OnUpdate=@(async val => await this.UpdateField("location_support_title", val)) />
                                                    </header>
                                                    <section class="content">
                                                        <InPlaceRichText Text=@(this.Model.LocationSupportDescription)
                                                                     Disabled=@(!this.CanEdit)
                                                                     OnUpdate=@(async val => await this.UpdateField("location_support_description", val)) />

                                                        @if (this.CanEdit)
                                                        {
                                                            <InlineImageChooser AllowDeletion @ref=@(this.LocationSupportPicture) ElementId=@($"{this.LocatedGameUnitId}")
                                                                                BaseUrl="/files?path="
                                                                                ImageUrlChanged=@(val => this.UpdateField("location_support_picture", val))
                                                                                ImageUrl=@(this.Model.LocationSupportPicture)
																                MaxSize="2000"
																                MaxFileSize="512000"
																                OnMaxFileSizeReached=@((size) => this.OnMaxUploadedFileSizeReached(size))>
                                                                <Placeholder>
                                                                    Image (optionnelle)
                                                                </Placeholder>
                                                            </InlineImageChooser>
                                                        }
                                                        else
                                                        {
                                                            <img style="width:100%;" src="/files?path=@this.Model.LocationSupportPicture" alt="Image de l'indice" />
                                                        }
                                                    </section>
                                                </div>
                                            </MobilePrevizualizer>
                                        </CardBody>
                                    </Card>
                                </Column>
                            </Row>
                        </Container>
                    </BigTab>
                    <BigTab Title="Activités et options" IsActiveByDefault="this.DisplayActivitiesOptions">
                        <Container Fluid>
                            @if (this.Errors?.Any() ?? false)
                            {
                                <Row>
                                    <Column>
                                        <div class="errors-summary">
                                            <ErrorsSummary Errors="this.Errors"/>
                                        </div>
                                    </Column>
                                </Row>
                            }

                            <Card Class="mt-3">
                                <CardBody>
                                    <Row>
                                        <Column>
                                            <SfCheckBox TChecked=bool Checked=this.Model.InformationSheetEnabled Label=@(this.GetExpendableDescription(nameof(this.InformationSheetIsExpended))) LabelPosition=LabelPosition.After
                                                    Disabled=@(!this.CanEdit) CheckedChanged=@(async () => {
                                                    this.InformationSheetIsExpended = !InformationSheetIsExpended;
                                                    this.Model.InformationSheetEnabled = !this.Model.InformationSheetEnabled;
                                                    await this.AutomaticSaveAsync();
                                                    }) />
                                        </Column>
                                    </Row>
                                    <Row>
                                        <Column>
                                            <SfCheckBox TChecked=bool Checked=this.Model.ActivitiesEnabled Label=@(this.GetExpendableDescription(nameof(this.ActivitiesIsExpanded))) LabelPosition=LabelPosition.After
                                                    Disabled=@(!this.CanEdit) CheckedChanged=@((val) => this.ToggleActivityUsage(val)) />
                                        </Column>
                                    </Row>
                                    <Row>
                                        <Column>
                                            <SfCheckBox TChecked=bool Checked=this.Model.ConclusionEnabled Label=@(this.GetExpendableDescription(nameof(this.ConclusionIsExpended))) LabelPosition=LabelPosition.After
                                                    Disabled=@(!this.CanEdit) CheckedChanged=@(async () => {
                                                    this.ConclusionIsExpended = !ConclusionIsExpended;
                                                    this.Model.ConclusionEnabled = !this.Model.ConclusionEnabled;
                                                    await this.AutomaticSaveAsync();
                                                    }) />
                                        </Column>
                                    </Row>
                                </CardBody>
                            </Card>

                            <Row>
                                <Column Style=@(!this.InformationSheetIsExpended ? "display: none;" : null) Class="sim-card">
                                    <Card Class="mt-3">
                                        <CardHeader style="min-height: initial;">
                                            <div>
                                                @this.GetExpendableDescription(nameof(this.InformationSheetIsExpended))

                                                <Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary" Disabled=@(!this.CanEdit)
                                                    Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.LocatedGameUnitEditionPage_InformationSheet))>
                                                </Button>
                                            </div>
                                        </CardHeader>

                                        <CardBody>
                                            <MobilePrevizualizer>
                                                <div class="home-page-preview">
                                                    <header>
                                                        <InPlaceTextBox Text=@(this.Model.InformationSheetTitle)
                                                                    Disabled=@(!this.CanEdit)
                                                                    OnUpdate=@(async val => await this.UpdateField("information_title", val)) />
                                                    </header>
                                                    <section class="content">
                                                        <InPlaceRichText Text=@(this.Model.InformationSheetDescription)
                                                                     Disabled=@(!this.CanEdit)
                                                                     OnUpdate=@(async val => await this.UpdateField("information_description", val)) />

                                                        @if (this.CanEdit)
                                                        {
                                                            <InlineImageChooser AllowDeletion
                                                                                BaseUrl="/files?path="
                                                                                ImageUrl=@(this.Model.InformationSheetPicture)
                                                                                ImageUrlChanged=@((val) => this.UpdateField("information_picture", val))
																                MaxSize="2000"
																                MaxFileSize="512000"
																                OnMaxFileSizeReached=@((size) => this.OnMaxUploadedFileSizeReached(size))>
                                                                <Placeholder>
                                                                    Image (optionnelle)
                                                                </Placeholder>
                                                            </InlineImageChooser>
                                                        }
                                                        else
                                                        {
                                                            <img src=@(this.Model.InformationSheetPicture) alt="Image présentée à titre d'information" />
                                                        }
                                                    </section>
                                                </div>
                                            </MobilePrevizualizer>
                                        </CardBody>
                                    </Card>
                                </Column>

                                <Column Style=@(!this.ActivitiesIsExpanded ? "display: none;" : null) Class="sim-card">
                                    <Card Class="mt-3">
                                        <CardHeader style="min-height:initial;">
                                            <div>
                                                @this.GetExpendableDescription(nameof(this.ActivitiesIsExpanded))

                                                <Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary"
                                                    Clicked=@(()=> this.DisplayContextualHelpModal(Common.ContextualHelpKeyInventory.LocatedGameUnitEditionPage_Activities))>
                                                </Button>
                                            </div>
                                            <div style="position: absolute; right: 0; margin: 6px 4px;">
                                                <ButtonActionGroup PositionTooltip=@(Position.BottomCenter) Type=@(ButtonActionGroupType.Icon) Class="activity-list-access" style="width: 45%; text-align: right;">
                                                    <Button Icon=@FontAwesomeIcons.ThList Color=@(Color.Link) Clicked=@(() => this.NavigationManager.NavigateTo(Activities.ActivitiesPage.GetUrl(this.FieldTripId, this.LocatedGameUnitId)))>
                                                        Consulter la liste des activités
                                                    </Button>
                                                </ButtonActionGroup>
                                            </div>
                                        </CardHeader>

                                        <CardBody Class="activities">
                                            @if (!this.LocatedGameUnit.Activities?.Where(a => !a.IsDeleted)?.Any() ?? true)
                                            {
                                                <div class="no-activity">Cette unité de jeu ne contient aucune activité</div>
                                            }
                                            else
                                            {
                                                <div class="@Css("draggable-activities", new{ DragOver = ActivitiesAreDragOver } )">
                                                    @foreach (var activity in this.LocatedGameUnit.Activities.Where(a => !a.IsDeleted))
                                                    {
                                                        <LocatedActivityDraggableItem Link="@activity"
                                                                            FieldTripId="this.FieldTripId"
                                                                            LocatedGameUnitId="this.LocatedGameUnitId"
                                                                            CanEdit=@this.CanEdit
                                                                            OnRemove="() => this.OnRemoveActivity(activity)"
                                                                            OnChange="this.RefreshActivitiesOrder"
                                                                            OnDragOver="(answer)=>this.ActivitiesAreDragOver=answer" />
                                                    }
                                                </div>

                                            }

                                            <div style="@(this.CanEdit ? null : "display: none;")">
                                                <Button Icon="@FontAwesomeIcons.PlusCircle" Color=Color.Link
                                                    Clicked=@(() => this.NavigationManager.NavigateTo(Activities.ActivityEdition.GetCreateUrl(this.FieldTripId, this.LocatedGameUnitId, "question")))>
                                                    Question
                                                </Button>
                                                <Button Icon="@FontAwesomeIcons.PlusCircle" Color=Color.Link
                                                    Clicked=@(() => this.NavigationManager.NavigateTo(Activities.ActivityEdition.GetCreateUrl(this.FieldTripId, this.LocatedGameUnitId, "releve")))>
                                                    Relevé
                                                </Button>
                                            </div>
                                        </CardBody>
                                    </Card>
                                </Column>

                                <Column Style=@(!this.ConclusionIsExpended ? "display: none;" : null) Class="sim-card">
                                    <Card Class="mt-3">
                                        <CardHeader style="min-height: initial;">
                                            <div>
                                                @this.GetExpendableDescription(nameof(this.ConclusionIsExpended))

                                                <Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary"
                                                    Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.LocatedGameUnitEditionPage_Conclusion))>
                                                </Button>
                                            </div>
                                        </CardHeader>

                                        <CardBody>
                                            <MobilePrevizualizer>
                                                <div class="home-page-preview">
                                                    <header>
                                                        <InPlaceTextBox Text=@(this.Model.ConclusionTitle)
                                                                    Disabled=@(!this.CanEdit)
                                                                    OnUpdate=@(async val => await this.UpdateField("conclusion_title", val)) />
                                                    </header>
                                                    <section class="content">
                                                        <InPlaceRichText Text=@(this.Model.ConclusionText)
                                                                     Disabled=@(!this.CanEdit)
                                                                     OnUpdate=@(async val => await this.UpdateField("conclusion_text", val)) />

                                                        @if (this.CanEdit)
                                                        {
                                                            <InlineImageChooser AllowDeletion
                                                                                BaseUrl="/files?path="
                                                                                ImageUrl=@(this.Model.ConclusionPicture)
                                                                                ImageUrlChanged=@(val => this.UpdateField("conclusion_picture", val))
																                MaxSize="2000"
																                MaxFileSize="512000"
																                OnMaxFileSizeReached=@((size) => this.OnMaxUploadedFileSizeReached(size))>
                                                                <Placeholder>
                                                                    Image (optionnelle)
                                                                </Placeholder>
                                                            </InlineImageChooser>
                                                        }
                                                        else
                                                        {
                                                            <img src=@(this.Model.ConclusionPicture) alt="Image présentée à titre de conclusion" />
                                                        }
                                                    </section>
                                                </div>
                                            </MobilePrevizualizer>
                                        </CardBody>
                                    </Card>
                                </Column>
                            </Row>

                        </Container>
                    </BigTab>
                </BigTabs>
            </Column>
        </Row>
    </Container>
}

@if (this.ShowContextualHelpModal)
{
    <ContextualHelpModal OnClose="this.CloseContextualHelpModal" Id=@this.ContextualHelpIdToShow />
}
