﻿@using OzRazor = Ozytis.Common.Core.Web.Razor

<PageHeader Icon="@FontAwesomeIcons.MapMarker" IconStyle=IconStyle.FaDuo>
    <HeadingContent>
        Unités de jeu
    </HeadingContent>
    <ActionsContent>
    </ActionsContent>
    <BreadcrumbsContent>
        <li>
            <a href="@FieldTripsPage.Url">
                Gestion des sorties pédagogiques
            </a>
        </li>
        <li>
            <a href="@FieldTripEditionPage.GetEditionUrl(this.FieldTripId)">
                Modification d'une sortie pédagogiques
            </a>
        </li>
        <li>
            Unités de jeu
        </li>
    </BreadcrumbsContent>
</PageHeader>

@if (this.FieldTrip == null)
{
    <Icon Spin=true Name=@FontAwesomeIcons.SyncAlt />
}
else
{
   
<OzSimpleRemoteTable @ref=this.Table TModel=LocatedGameUnit TEntity=LocatedGameUnit GetModelKey="lgu => lgu.Id" 
        GetData="this.LocatedGameUnitsRepository.GetAllLocatedGameUnitsAsync">
    <ColumnsDefinition>
        <OzSimpleTableColumn TModel=LocatedGameUnit TEntity=LocatedGameUnit
                Sort="lgu => lgu.Name"
                FilterType="OzRazor.FilterType.SimpleText"
                Filter="(lgu, values) =>  lgu.Name.Contains(values[0] as string)">
            <HeaderDisplay>Nom</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedGameUnit TEntity=LocatedGameUnit>
            <HeaderDisplay>Nombre d'activités</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedGameUnit TEntity=LocatedGameUnit
                FilterType=@(Ozytis.Common.Core.Web.Razor.FilterType.Select)
                FilterOptions=@(this.FieldtripsFilterOptions)
                Filter=@((lgu, values) => lgu.FieldTrip.Name == (values[0] as string))
                Sort=@(lgu => lgu.FieldTrip.Name)>
            <HeaderDisplay>Sortie pédagogique</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedGameUnit TEntity=LocatedGameUnit
                FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                FilterOptions="this.PedagogicFieldsFilterOptions"
                Filter="(lgu, vals)=> lgu.FieldTrip.PedagogicalFieldName == (vals[0] as string)"
                Sort="lgu => lgu.FieldTrip.PedagogicalFieldName">
            <HeaderDisplay>Domaine pédagogique</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedGameUnit TEntity=LocatedGameUnit
                FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                FilterOptions="this.DesignersFilterOptions"
                Filter="(lgu, vals) => lgu.FieldTrip.DesignerId == (vals[0] as string)"
                Sort="lgu => lgu.FieldTrip.Designer.LastName + lgu.FieldTrip.Designer.FirstName">
            <HeaderDisplay>Concepteur</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedGameUnit TEntity=LocatedGameUnit
                FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                FilterOptions="this.EstablishmentsFilterOptions"
                Filter="(lgu, vals)=> lgu.FieldTrip.Establishment==(vals[0] as string)"
                Sort="lgu => lgu.FieldTrip.Establishment">
            <HeaderDisplay>Établissement</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedGameUnit TEntity=LocatedGameUnit CanClearFilter>
            <HeaderDisplay>Actions</HeaderDisplay>
        </OzSimpleTableColumn>
    </ColumnsDefinition>
   	<RowContent>
		<TableRow>
			<TableRowCell>
                @context.Name
            </TableRowCell>
            <TableRowCell>
                @context.Activities?.Count
            </TableRowCell>
            <TableRowCell>
                @context.FieldTrip?.Name
            </TableRowCell>
            <TableRowCell>
                @context.FieldTrip?.PedagogicalFieldName
            </TableRowCell>
            <TableRowCell>
                @($"{context.FieldTrip?.Designer?.FirstName} {context.FieldTrip?.Designer?.LastName}")
            </TableRowCell>
            <TableRowCell>
                @context.FieldTrip?.Establishment
            </TableRowCell>
            <TableRowCell>
                <ButtonActionGroup Type=@ButtonActionGroupType.Icon GroupButton=true PositionTooltip=Position.BottomCenter>
                    <Button Clicked="() => this.CloneGameUnit(context.Id)"
                            Class="icon-only" Icon=@FontAwesomeIcons.Plus Disabled=@(context.FieldTripId == this.FieldTripId || !this.CanEdit) Color=@Color.Link>
                        Ajouter cette unité de jeu à la sortie @(this.FieldTrip?.Name)
                    </Button>
                    <Button Clicked="() => this.NavigationManager.NavigateTo(LocatedGameUnitEdition.GetUrl(this.FieldTripId, context.Id))"
                            Class="icon-only" Icon=@(this.CanEdit ? FontAwesomeIcons.PencilAlt : FontAwesomeIcons.Eye) Color=@Color.Link>
                        @(this.CanEdit ? "Modifier cette unité de jeu" : "Visualisation cette unité de jeu")
                    </Button>
                    <Button Clicked="() => this.RemoveGameUnit(context)"
                            Class="icon-only" Icon=@FontAwesomeIcons.Trash Disabled=@(!this.CanEdit) Color=@Color.Link>
                        Supprimer cette unité de jeu
                    </Button>
                </ButtonActionGroup>
            </TableRowCell>
        </TableRow>
    </RowContent>
</OzSimpleRemoteTable>
}