﻿@using System.Globalization
@using SituLearn.Player.Pages.PlayedFieldTrips

<div class="@Css("enriched-map", new{ MapVisible = this.ShowEnrichedMap }, this.MapClass)">
    
    @if (!this.IsAlwaysVisible && !this.DisableInteractions)
    {
        <div class="close-enriched-map" @onclick="this.OnClosing">
            <div class="times-circle"></div>
        </div>
    }
    
    @if (this.IsStartingUnit)
    {
        <AppLoading />

    }
    else
    {
        <div class="map">
            @{
                LeafletCoordinates centerEnrichedMap = null;

                var map = this.FieldTrip.ExplorationMap;

                List<LocatedGameUnit> playedUnits;

                if (this.PlayerToDisplay?.PlayedUnits != null && this.FieldTrip?.LocatedGameUnits != null)
                {
                    var playedUnitIds = this.PlayerToDisplay.PlayedUnits.Where(pu => pu.LocalisationReachDate.HasValue).Select(pu => pu.UnitId);
                    playedUnits = this.FieldTrip.LocatedGameUnits.Where(lgu => playedUnitIds.Contains(lgu.Id)).ToList();
                }
                else
                {
                    playedUnits = new();
                }

                var playedReadingActivities = this.PlayerToDisplay?.PlayedUnits != null ? 
                    this.PlayerToDisplay.PlayedUnits
                        .Where(pu => pu.LocalisationReachDate.HasValue && pu.PlayedActivities != null)
                        .SelectMany(pu => pu.PlayedActivities)
                        .Where(pa => pa.Latitude.HasValue && pa.Longitude.HasValue).OrderBy(pa => pa.AnswerDate)
                        .GroupBy(pa => (decimal.Round(pa.Latitude.Value * 8000, MidpointRounding.AwayFromZero) / 8000).ToString() + "/" + (decimal.Round(pa.Longitude.Value * 8000, MidpointRounding.AwayFromZero) / 8000).ToString())
                    : null;

                string height = this.IsAlwaysVisible ? (this.MapClass == "interactive-walk" ? "73vh" : "75vh") : "95vh";

                <LeafletMap Width="100%" 
                            Height="@height" 
                            LoadDependencies="false"
                            InitialZoom="map.Zoom" 
                            DisableInteractions=@this.DisableInteractions
                            CacheTileLevels="15"
                            Center="@this.MapCenter"
                            TrackUser="this.TrackUser"
                            UserTrackingMarkerColor="red"
                            @ref="this.Map"
                            ShowTileLayersSwitch="false">

                    @if (!string.IsNullOrEmpty(map.CustomBackgroundMap) && map.CustomBackgroundUpperLeftLatitude.HasValue)
                    {
                        string mapUrl = map.CustomBackgroundMap.StartsWith(this.BasePictureUrl ?? string.Empty) ? map.CustomBackgroundMap : this.BasePictureUrl + map.CustomBackgroundMap;

                        List<string> styles = new();
                        styles.Add($"opacity:{map.CustomBackgroundOpacity.Value.ToString(CultureInfo.InvariantCulture)}");

                        <LeafletImageOverlay ImageBounds="new LeafletCoordinates[]{
                                    new(
                                        map.CustomBackgroundUpperLeftLatitude.Value,
                                        map.CustomBackgroundUpperLeftLongitude.Value
                                    ),
                                    new(
                                        map.CustomBackgroundLowerRightLatitude.Value,
                                        map.CustomBackgroundLowerRightLongitude.Value
                                    )
                                    }"
                                        ImageUrl="@mapUrl"
                                        Rotation="map.CustomBackgroundRotation??0"
                                        Style="@($"{string.Join(";", styles)}")" />
                    }
                    else
                    {
                        <LeafletTileLayer UrlTemplate="@LeafletTileLayer.OpenStreetMap.UrlTemplate"
                                      Attribution="@LeafletTileLayer.OpenStreetMap.Attribution"
                                      Label="@LeafletTileLayer.OpenStreetMap.Label"
                                      SubDomains="@LeafletTileLayer.OpenStreetMap.SubDomains" />
                    }

                    @if (this.GameIsInProgress)
                    {
                        @if (this.FieldTrip.ExplorationMap.IsGeolocatable && this.FieldTrip.ExplorationMap.ExplorationArea != null)
                        {
                            if (this.FieldTrip.ExplorationMap.ExplorationShape == ActivationAreaType.Polygon)
                            {
                                <LeafletGeoJson Color="#58d68d"
                                                FillColor="transparent"
                                                Geometry="this.FieldTrip.ExplorationMap.ExplorationArea" />
                            }
                            else if (this.FieldTrip.ExplorationMap.ExplorationShape == ActivationAreaType.Circle
                            && this.FieldTrip.ExplorationMap.ExplorationAreaCenterLatitude.HasValue
                            && this.FieldTrip.ExplorationMap.ExplorationAreaCenterLongitude.HasValue)
                            {
                                var center = new LeafletCoordinates(
                                    this.FieldTrip.ExplorationMap.ExplorationAreaCenterLatitude.Value,
                                    this.FieldTrip.ExplorationMap.ExplorationAreaCenterLongitude.Value
                                );

                                <LeafletCircle Color="#58d68d"
                                               FillColor="transparent"
                                               Center="center" 
                                               Radius="this.FieldTrip.ExplorationMap.ExplorationAreaRadius" />
                            }
                            else if (this.FieldTrip.ExplorationMap.ExplorationShape == ActivationAreaType.Rectangle)
                            {
                                <LeafletRectangle Color="#58d68d"
                                                  FillColor="transparent"
                                                  Coordinates="this.FieldTrip.ExplorationMap.ExplorationArea.Coordinates.ToLeafletCoordinates()" />
                            }                            
                        }

                        if (this.FieldTrip.FieldTripType != Common.FieldTripType.TreasureHunt)
                        {
                            List<LocatedGameUnit> remainingUnits = this.CurrentJourney.JourneyLocatedGameUnits
                                .Where(jlgu => !playedUnits.Select(p => p.Id).Contains(jlgu.LocatedGameUnitId))
                                .Select(jlgu => jlgu.LocatedGameUnit)
                                .ToList();
                        
                            foreach (var remainingUnit in remainingUnits)
                            {
                                <LeafletMarker Latitude="remainingUnit.Latitude" 
                                               Longitude="remainingUnit.Longitude" 
                                               Color="orange"
                                               IconClass="marker-remaining-unit"
                                               MarkerGroup="units">
                                    <Popup>
                                        <div>
                                            @remainingUnit.Name
                                        </div>

                                        @if (this.FieldTrip.FieldTripType == Common.FieldTripType.ActivityHub 
                                            && this.PlayerToDisplay.CurrentUnitId == null)
                                        {
                                            <button data-unit-id="@remainingUnit.Id" onclick="playUnit(this)">
                                                <Icon Name="@FontAwesomeIcons.LocationArrow" />
                                            </button>
                                        }
                                    </Popup>
                                </LeafletMarker>
                            }
                        }
                    }

                    @foreach (var playedUnit in playedUnits)
                    {
                        <LeafletMarker Latitude="playedUnit.Latitude" 
                                       Longitude="playedUnit.Longitude" 
                                       Color="Green"
                                       IconClass="marker-unit"
                                       MarkerGroup="units">
                            <Popup>
                                <div>
                                    @playedUnit.Name
                                </div>

                                @if (playedUnit.InformationSheetEnabled)
                                {
                                    <button data-unit-id="@playedUnit.Id" onclick="displayInformationSheet(this)">
                                        <Icon Name="@FontAwesomeIcons.InfoCircle" />
                                    </button>
                                }
                            </Popup>
                        </LeafletMarker>
                    }

                    @if (playedReadingActivities != null)
                    {
                        foreach (var playedReadingActivity in playedReadingActivities)
                        {
                            var coordinates = playedReadingActivity.Key.ToString().Split("/");

                            decimal latitude = decimal.Parse(coordinates.First());
                            decimal longitude = decimal.Parse(coordinates.Last());

                            var readings = playedReadingActivity.ToList();
                            if (readings.Count() == 1)
                            {
                                latitude = readings.First().Latitude.Value;
                                longitude = readings.First().Longitude.Value;
                            }
                            
                            <LeafletMarker Latitude="latitude" 
                                           Longitude="longitude" 
                                           Color="Blue"
                                           IconClass="marker-reading"
                                           MarkerGroup="readings">
                                <Popup>
                                    @foreach (var reading in readings)
                                    {
                                        var activity = this.FieldTrip.LocatedGameUnits.FirstOrDefault(u => u.Id == reading.PlayedUnit.UnitId);

                                        <div class="activity-name">
                                            @activity?.Name
                                        </div>
                                        <button data-played-reading-activity-id="@reading.Id" onclick="displayPlayedReadingActivity(this)">
                                            <Icon Name="@FontAwesomeIcons.ClipboardList" />
                                            @reading.AnswerDate.ToLocalTime().ToString("dd/MM/yyyy à HH:mm")
                                        </button>
                                    }
                                </Popup>
                            </LeafletMarker>
                        }
                    }                
                </LeafletMap>
            }
        </div>
    }    

    @if (this.ShowInformationSheet)
    {
        <InformationSheetPage UnitInformationSheetToShow="this.UnitInformationSheetToShow"
                              OnClosing="this.CloseInformationSheetModal"/>
    }

    @if (this.ShowPlayedReadingActivity)
    {
        var activity = this.FieldTrip.LocatedGameUnits.FirstOrDefault(lgu => lgu.Id == this.PlayedReadingActivityToShow.PlayedUnit.UnitId)?.Activities.FirstOrDefault(a => a.Id == this.PlayedReadingActivityToShow.ActivityId);
        <PlayedReadingActivityPage PlayedReadingActivityToShow="this.PlayedReadingActivityToShow"
                                    Activity=@(activity)
                                   OnClosing="this.ClosePlayedReadingActivityModal"
                                   PlayerId="this.PlayerToDisplay.Id" />
    }
</div>