﻿// SituLearn is a set of tools to create fun and interactive educational field trips. It was developed as a research project of LIUM (Laboratoire d'Informatique de l'Université du Mans) in France.
//
// For more information, tutorials and to test a version of the SituLearn tools on our server, please go to https://situlearn.univ-lemans.fr/
//
// Contact : iza.marfisi@univ-lemans.fr
//
// Copyright (C) 2023 Iza MARFISI Sébastien GEORGE propriété Le Mans Université
//
// This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
//
// This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
//
//You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.

/*$secondary: red;*/
$white: white;

@import "./vars.scss";
@import "./themes/architectui/base.min.css";

.btn-primary {
	background-color: $primary !important;
}

.forest-bg {
	background-image: url('../images/cartography-2074079.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#blazor-error-ui {
	display: none;
}

.app-header__logo {
	cursor: pointer;
}

.bg-primary {
	background-color: $primary !important;
}

.app-logo {
	text-align: center;

	.logo-src {
		height: 82px;
		margin-top: 10px;
		/*margin-bottom: 10px;*/
	}
}

.oz-select {
	position: relative;
	width: 100%;

	.selected-option-container {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: stretch;
		border: solid 1px $gray-400;
		cursor: pointer;

		.selected-option {
			flex: 1;
			display: flex;
			align-content: center;
			align-items: center;
			padding: 0 9px;

			.placeholder {
				color: $gray-500;
			}
		}

		.options-toggle {
			padding: 6px 9px;
		}
	}

	.options-container {
		width: 100%;
		background-color: #fff;
		padding: 9px 0;
		border: solid 1px $gray-500;
		display: none;
		position: absolute;
		z-index: +2;

		.filter {
			border: solid 1px $gray-400;
			width: calc(100% - 12px);
			padding: 6px 9px;
			margin: 1px 6px;
			box-sizing: border-box;
		}

		.options-list {
			list-style: none;
			padding: 0;

			.list-option {
				cursor: pointer;
				padding: 6px 9px;

				&:hover {
					background-color: $gray-400;
				}
			}
		}
	}

	&.show-options {
		.selected-option-container {
			border: solid 1px $gray-500;
		}

		.options-container {
			display: block;
		}
	}
}

.oz-ps {
	height: 100%;
	max-height: 100%;
	overflow-y: hidden;
	position: relative;
	z-index: 15;
	width: 100%;

	.ps__thumb-y {
		background-color: $brand;
	}

	.ps__rail-y:hover > .ps__thumb-y,
	.ps__rail-y:focus > .ps__thumb-y,
	.ps__rail-y.ps--clicking .ps__thumb-y {
		background-color: $brand;
		width: 11px;
	}
}

.app-main__inner {
	&.blue-bg {
		background: linear-gradient(to right, #037FB1 0%, #4DBCE9 100%);

		.app-page-title {
			color: #fff;
			background: transparent;
		}
	}

	&.white-bg {
		background: #fff;
	}

	position: relative;
}

.app-page-title {
	position: relative;

	&.blue-bg {
		color: #fff;
		background: linear-gradient(to right, #037FB1 0%, #4DBCE9 100%);
	}

	&.brand-bg {
		color: #fff;
		background: url('../images/Groupe 55.svg') $dark;
		//filter: grayscale(80%);
		background-size: cover;
	}

	&.secondary-bg {
		color: #fff;
		// background: linear-gradient(to right, $secondary 0%, $secondary 50%, lighten($secondary, 30%) 100%);
	}

	&.dark-bg {
		color: #fff;
		background: linear-gradient(to right, #000 0%, #333 33%, #777 70%, #000 100%)
	}

	.page-title-icon {
		width: auto;
	}

	margin: 0;
}

.page-title-actions {
	text-align: right;
}

.app-authorizing, .app-loading {
	text-align: center;
	font-size: 48px;
	height: 100%;
}

.app-header-left {
	width: 331px;

	.logo-src {
		background: url('../images/SitulearnA_Chemin.svg');
		/*background: url('../images/logo.png');*/
		background-size: contain;
		background-repeat: no-repeat;
		font-size: 0;
		width: 175px;
		height: 35px;
		display: block !important;
	}
}

/*.app-sidebar, .header__pane.ml-auto {
    display: none;
}*/
/*.closed-sidebar.fixed-sidebar .app-main__outer {
    padding: 0;
}*/
/*.app-header-right {
    .logo-src {
        background: url('../images/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 0;
        width: 100px;
        height: 50px;
    }
}*/

.breadcrumb {
	display: flex;
	list-style: none;
	flex-direction: row;
	text-align: right;
	margin-top: 12px !important;

	li {
		color: $white;



		& + li::before {
			color: $white;
			content: " / ";
			padding-left: 6px;
		}

		a {
			color: $white;
			text-decoration: none;
		}
	}
}

.metismenu-link {
	cursor: pointer;

	.metismenu-icon {
		opacity: 1 !important;
	}
}

.pointer {
	cursor: pointer;
}

.app-wrapper-footer {
	display: none;
}
/*****************************************Ozytis**************************************************/


$big-tab-size: 16px;

.big-tabs {
	.ozytis-table {
		max-height: calc(100vh - 201px - #{$big-tab-size * 4});
	}

	.card-header {
		.widget-number {
			font-size: 1.3rem;
			font-weight: bold;
		}

		& > .nav {

			.nav-item {
				height: $big-tab-size * 4;
			}

			.nav-link {
				padding: $big-tab-size 0;

				&.active {
					color: $primary !important;
				}

				&:hover {
					color: $primary-hover !important;
				}
			}
		}
	}
}

.ozytis-table {
	position: relative;
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 200px);
	overflow: hidden;
	margin: 0;
	border-color: $gray-500;

	thead {
		border: 0;
		width: 100%;

		th {
			border: none;
			font-weight: 500;
			text-overflow: ellipsis;
			overflow-x: auto;
		}
	}

	tbody {
		display: block;
		overflow-y: auto;
		width: 100%;

		tr {
			border-color: $gray-300;
		}

		td {
			padding-left: 20px;
			overflow-x: auto;
			text-overflow: ellipsis;
			border-bottom-color: $gray-300 !important;
		}
	}

	thead, tbody tr {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
}

.btn i {
	margin-right: 6px;
}

.e-dialog {
	.modal-footer {
		background: none;
		border: none;
	}
}

.image-picker {
	display: block;
	position: relative;

	.placeholder {
		cursor: pointer;
		text-align: center;
		background-color: #eee;
		padding: 6px;
	}

	img {
		cursor: pointer;
		max-width: 100%;
		width: 100%;
	}

	.remove-button {
		display: none;
		cursor: pointer;
		position: absolute;
		bottom: 6px;
		right: 6px;
	}

	&.show-remove:hover {
		.remove-button {
			display: block;
		}
	}
}
/********************************************************Specific*******************************************************/
.parent-part {
	right: 15px;
	position: absolute;
}

.app-header .app-header__content {
	padding: 0;
}

.app-header-right {
	padding-right: 15px;
}

.app-header__logo {
	width: auto;
	padding: 0 15px;
}

.app-theme-white.app-container {
	background-color: #fff;
}

.app-container {
	& > div.pb-3 {
		padding-bottom: 0 !important;
	}
}

table.table {
	tr td:last-child {
		button.icon-only {
			i.fa, i.fas, i.far {
				margin: 0;
			}
		}
	}
}

.btn-group {
	div.e-tooltip {
		.btn {
			border-radius: 0;
		}
	}

	div.e-tooltip:first-child {
		.btn {
			border-radius: 5px 0 0 5px;
		}
	}

	div.e-tooltip:not([id="Tooltip_content_placeholder"]):last-child {
		.btn {
			border-radius: 0 5px 5px 0;
		}
	}
}

.remote-select {
	width: 100%;

	input[readonly] {
		background-color: #fff;
		height: 29px;
		font-family: "Helvetica Neue","Helvetica","Arial",sans-serif,"-apple-system","BlinkMacSystemFont";
		font-size: 14px;
	}
}

.readonly-field {
	display: flex;
	flex-direction: column;
	width: 100%;
}


.column-filter-cell {
	vertical-align: top !important;

	select {
	}

	.clear-filter {
		.btn {
			padding-left: 0;
			color: $danger !important;
		}
	}
}


.poi {
	list-style: none;
	padding: 0 0 0 1em;
	display: flex;
	cursor: move;
	align-items: center;

	.poi-title {
		padding: 0 !important;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.poi-actions {
		margin-left: auto;
		padding: 0 !important;
		min-width: 82px;

		.btn i {
			margin: 0;
		}
	}
}

.btn.superpose-plus-icon {
	position: relative;
	padding-right: 6px;

	i:first-child::after {
		content: "+";
		position: absolute;
		left: 42%;
		font-size: 25px;
		bottom: 40%;
	}
}

.fieltrip-row-header {
	font-weight: bold;

	td {
		border-bottom: none;
	}
}

.fieltrip-row-desc {
	td {
		border-top: none;
	}
}

.mobile-previsualizer {
	flex: 1;
	display: inline-block;
	position: relative;

	.dummy {
		margin-top: 175%;
	}

	.main-element {
		position: absolute;
		top: 0;
		/*bottom: 0;*/
		left: 0;
		right: 0;
		/* background: url("../images/mobile.png") no-repeat center center;*/
		background-size: contain;
	}

	.page-title {
		text-align: center;
		font-weight: bold;
		font-variant: small-caps;
		font-size: 1.25em;
		position: relative;
		top: 20px;
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}

.page-preview {
	background: #eee;
	display: block;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	/*background-color: $gray-100;*/
	padding: .5rem;

	.e-inplaceeditor {
		width: 100%;

		.e-editable-value-container {
			width: 100%;
		}
	}

	header .e-inplaceeditor {
		.e-editable-value-container {
			width: 100%;
			text-align: center;

			.e-editable-value {
				font-weight: bolder;
				color: $white;
			}
		}
	}

	section .e-inplaceeditor .e-editable-value-container .e-editable-value {
		color: $white;

		p {
			line-height: 12pt;
			margin: .25rem;
		}
	}

	.e-inplaceeditor .e-editable-value-container .e-editable-value {
		border-bottom: none;
		margin: 0;

		&:hover {
			color: $secondary;
		}
	}
}

.home-page-preview, .end-page-preview {
	display: block;
	width: 100%;
	min-height: 100%;
	/*background: #fff;*/

	header {
		background-color: $primary;
		color: $white;
		text-align: center;
		padding: 6px;

		.e-inplaceeditor .e-editable-value-container {

			&:hover {
				.e-editable-value {
					color: $dark;
				}
			}

			.e-editable-value {
				color: $title-blue;
				font-weight: bold;
				font-size: 22px;
			}
		}
	}

	section {
		padding-top: 6px;
		text-align: justify;

		.e-editable-value {
			font-size: 12px !important;
		}
	}
}

.journeys-preview {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: stretch;
	justify-items: stretch;


	.journey {
		flex: 1;
		position: relative;

		& > div {
			height: 100%;
		}

		overflow-y: auto;

		&.drag-over {
			background-color: $gray-400;
		}
	}

	.journey-info {
		flex: 1;
		display: flex;
		max-height: 50px;
		height: 50px;
		flex-flow: row;
		align-items: center;
		padding: 0 6px;
	}

	.journey-located-game-units {
		list-style: none;
		margin: 0;
		padding: 0;

		.journey-located-game-unit {
			padding: 6px;
			display: flex;
			align-items: center;
			cursor: move;

			.actions {
				margin-left: auto;

				.btn {
					padding: 0;
				}
			}
		}
	}


	.journey-tabs {
		flex: 1;
		display: flex;
		max-height: 50px;
		height: 50px;
		list-style: none;
		flex-direction: row;
		margin: 0;
		padding: 0;
		margin-top: auto;
		align-items: start;
		width: 100%;
		overflow-y: auto;
		align-items: center;
		padding-left: 6px;

		li {
			list-style: none;
			margin-right: 2px;
			border-radius: 12px;
			display: flex;
			height: 24px;
			width: 24px;
			align-items: center;
			font-size: 0;
			box-sizing: border-box;
			cursor: pointer;
			border: solid 2px #000;

			&.selected {
				cursor: default;
			}

			.btn {
				font-size: 10px;
				padding: 0;
				text-align: center;
				margin-left: 4px;
			}

			i.fas {
				margin: 0 0 0 1px;
			}
		}

		li:only-child {
			width: 100%;
			border: none;
		}
	}

	.journeys-preview-add-unit-form {
		padding: 0.25rem;
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: lightgrey;
		border-radius: 0.25rem;
		border: solid 1px $primary;

		label {
			color: $primary;
			font-weight: bold;
			font-size: .8rem;
		}

		.fa-check-circle {
			&:not(.disabled) {
				color: green;
			}
		}
	}

	.btn-lg {
		font-size: 1.25rem;

		&:hover {
			color: $secondary;
		}
	}
}

.bg-blanc {
	background-color: $blanc;
}

.bg-jaune {
	background-color: $jaune;
}

.bg-orange {
	background-color: $orange;
}

.bg-vert {
	background-color: $vert;
}

.bg-bleu {
	background-color: $bleu;
}

.bg-violet {
	background-color: $violet;
}

.bg-marron {
	background-color: $marron;
}

.bg-gris {
	background-color: $gris;
}

.mobile-previsualizer {
	width: 100%;

	.create-activity {
		/*bottom: 0;*/
		/*position: absolute;*/
		width: 100%;
		display: flex;

		& > * {
			flex: 1;
		}
	}
}

.sim-card {
	max-width: 33%;

	&.no-max-width {
		max-width: 100%;
	}

	.no-bg .page-preview {
		background-color: $gray-200;
	}

	.page-preview {
		background-color: $primary;
	}

	.remote-select {
		padding-left: 15%;
	}

	.activities {

		.page-preview {
			display: flex;
			flex-direction: column;
			padding: 5px;

			& > div:first-child {
				overflow-y: auto;
			}
		}
	}
}

.bordered-inplace-editor {
	width: calc(100% - 6px);
	margin: 0 3px;

	&.yes {
		border: 1px solid green;
	}

	&.no {
		border: 1px solid red;
	}
}

.input-gain {
	max-width: 20%;
	position: absolute !important;
	right: 10px;
}

.game-unit-activity {
	margin: 5px;
	border-radius: 5px;
	background: lightgray;
	cursor: move;

	.row {
		margin: 0;
	}
}


.draggable-activities {
	&.drag-over {
		background-color: $gray-400;
	}
}

.activity-list-access {
	width: 45%;
	text-align: right;
}

.sitemap {
	padding: .5em;
	min-width: 280px;

	.no-activities ul li {
		color: lightgray;

		&.deleted {
			color: rgba(255,0,0,0.3);
		}
	}

	.deleted {
		color: red;
		text-decoration-line: line-through;
	}

	& > div {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.active {
		font-weight: bold;

		i {
			margin-right: 6px;
		}
	}

	a {
		color: inherit !important;
		padding: 0;

		&:hover {
			text-decoration: none;
			font-style: italic;
		}
	}

	ul {
		list-style: none;
		padding-left: 25px;
	}

	.sitemap-li {
		list-style: none;
		display: flex;
		align-items: center;
		max-height: 1.5rem;
		padding-left: 0.5rem;

		&:hover {
			background-color: lightblue;
			border-radius: 0.2rem;
		}

		.sitemap-li-actions {
			margin-left: auto;

			.btn i {
				margin: 0;
			}
		}
	}
}

.remote-select .input-group::after {
	content: "\25BE";
	position: absolute;
	right: 9px;
	line-height: 27px;
	font-size: 16px;
}


.confirm-holder {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 36vw;
	box-sizing: border-box;
	background-color: rgba(9,9,9,0.5);
	z-index: +10;

	.confirm-modal {
		border-radius: 18px;
		padding: 18px 24px;
		background-color: #fff;
		box-sizing: border-box;
		width: 100%;

		.confirm-text {
			text-align: center;
		}

		.confirm-footer {
			display: flex;
			margin-top: 16px;

			button {
				border: none;
				flex: 1;
				margin: 0 4px;
			}
		}
	}
}

.e-editable-value {
	a {
		color: #069EFB;
		/*font-weight: bold;*/
	}
}

.pass-reco-body {
	margin-top: 8rem !important;
	margin-bottom: 12rem !important;

	.pass-reco-title {
		margin-bottom: 20px;
	}

	.pass-reco-button {
		justify-content: center;
		margin: 4rem !important;
	}
}

footer {
	.text-foot {
		margin-top: 2rem !important;
		text-align: center;

		.logo-lium {
			width: 250px;
			margin-left: 5px;
			margin-right: 5px;
		}

		.logo-anr {
			width: 200px;
			margin-left: 10px;
		}
	}
}

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo {
	width: 0px !important;
	padding: 0 8px !important;
}

.closed-sidebar #build-date {
	display: none;
}

#build-date {
	font-size: small;
	position: absolute;
	bottom: 0;
}

.alert {
	position: fixed;
	top: 0;
	right: 0;
	width: 250px;
	z-index: 100;
	margin: 25px;
	border-radius: 5px;
	z-index: 100;
}

.answer-row {
	.box, .e-editable-value-container {
		width: 100%;
	}

	.qcm-check {
		margin: auto 10px;
		margin-right: 0px;

		label {
			width: 15px;
		}
	}

	.remove-answer {
		padding: 0px 6px 6px 0px;
	}
}

.empty-box {
	width: 100%;

	.e-editable-value-container {
		background: #f2f4f6;
		opacity: 0.5;
		margin: 0 0 5px;
		border-radius: 5px;
		width: 100%;
	}
}

.oz-quill-editor {
	.alert {
		position: relative;
		width: 100%;
		margin: 0;
	}

	.merge-var {
		background-color: #105175;
		color: $white;
		border-radius: .25rem;
		font-weight: bold;
		text-transform: uppercase;
		padding: 5px 10px;
		min-width: 19px;
		white-space: nowrap;
		user-select: all;
		font-size: 75%;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
	}
}

.sim-card {
	.card-header {
		display: flex;
		flex-direction: column;
		min-height: 70px;
		padding: 6px 10px; // width
		align-items: start;

		& > div:first-child, div.padd {
			display: flex;
			align-items: center;
			height: 100%;
			width: 100%;

			.label-small {
				text-transform: none;
				font-weight: normal;

			}
			.contextual-button {
				padding: 0;
				position: absolute;
				right: 6px; // width
			}

			&.remote-select {
				padding: 0;
			}
		}
	}
}

.fieldTrip-simulator {
	width: 24%;
	margin: 2% auto;
	display: block;

	.dummy {
		margin: 0;
	}

	.page-preview {
		overflow: hidden;
	}
}

@media screen and (min-width: 1440px) and (max-width: 1440px) {
	.mobile-previsualizer .page-title {
		top: 10px;
		right: 20px;
	}

	.ozytis-table {
		&.fieldtrips {
			th:nth-child(6), td:nth-child(6) {
				width: 145px;
				padding: 10px;
			}

			td {
				button {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}

	.fieldTrip-simulator {
		width: 32%;
	}
}

#fieldTripMap {
	.leaflet-control {
		.leaflet-control-command-interior {
			height: 60px;
			width: 60px;
			font-size: 30px;
			padding-top: 15px;
			padding-left: 15px;
			color: #3287CC;

			.add-marker {
				color: limegreen;
			}
		}
	}

	.leaflet-interactive {

		&.exploration-area {
			pointer-events: none !important;
		}
	}
}

.errors-summary {
	.alert-danger {
		position: relative !important;
		width: 100% !important;
		margin: 15px 0 0 0 !important;
	}
}

.e-editable-value-container {
	&:hover {
		.e-editable-value {
			color: #343a40 !important;

			&:hover {
				color: $title-blue !important;
			}
		}
	}
}

/*.alert-success {
	&.main-notify {
		display: none;
	}
}*/

.map-edition-add-marker-label {
	position: absolute;
	left: 25rem;
	background-color: white;
	border: 2px solid #3287cc;
	top: 0.5rem;
	padding: 0 1rem;
	color: #3287cc;
	font-weight: bold;
}

.map-edition-download {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;

	button {
		font-size: 1.5rem;

		i {
			padding: 1rem;
			background-color: white;
			border-radius: 0.2rem;
			border: 2px solid rgba(0,0,0,0.2);

			&.fa-print {
				margin-bottom: 0.5rem;
			}
		}
	}
}

.map-edition-green-button {
	background-color: #00cc00;
	border-color: green;
	color: white;

	&:hover {
		background-color: forestgreen;
		color: white;
	}
}

.fieldtrip-edition-page-button-test-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	.fieldtrip-edition-page-button-test {
		background-color: #F9B900;
		font-size: .8rem;
		font-weight: 500;
		border-radius: .25rem;
		border: solid 1px #C49300;

		&:hover {
			background-color: #ECB100;
		}
	}
}

.fieldtrip-edition-publication {
	border: solid 1px lightgrey;
	border-radius: 0.25rem;
	margin-top: 1rem;
	padding: 1rem;

	.fieldtrip-edition-publication-visibility, .fieldtrip-edition-publication-publish {
		display: flex;
		align-items: center;

		.e-switch-wrapper {
			margin-right: 1rem !important;

			.e-switch-on {
				background-color: limegreen;
			}
		}

		.e-switch-wrapper .e-switch-inner.e-switch-active, .e-css.e-switch-wrapper .e-switch-inner.e-switch-active {
			border-color: limegreen;
			background-color: limegreen;
		}

		.fa-eye, .fa-eye-slash, .fa-users, .fa-users-slash {
			margin-right: 6px;
		}
	}

	.e-barcode {
		display: flex;
		justify-content: center;
	}
}

.fieldtrips {
	td {
		padding-left: 10px !important;
	}
}

.e-dlg-header {
	width: 97% !important;
}

.report-modal-button {
	width: 100%;
	border-radius: 20px;

	&.disabled {
		background-color: grey;
		border-color: grey;
	}
}

.report-modal-alert {
	position: relative;
	width: 100%;
	margin: 0;
	border-radius: 5px;
}

.fieldtrip-journeys-edition-card {
	width: 30%;
	border-radius: 10px 10px;
	border: solid 1px rgba(1,3,5,.125);
	margin-right: 0.25vw;

	.fieldtrip-journeys-edition-card-header {
		min-height: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px 10px 0px 0px;
		font-weight: bold;
	}
}