﻿@charset "UTF-8";
/*$secondary: red;*/
@import "./themes/architectui/base.min.css";
.btn-primary {
  background-color: #105175 !important;
}

.forest-bg {
  background-image: url("../images/cartography-2074079.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#blazor-error-ui {
  display: none;
}

.app-header__logo {
  cursor: pointer;
}

.bg-primary {
  background-color: #105175 !important;
}

.app-logo {
  text-align: center;
}
.app-logo .logo-src {
  height: 82px;
  margin-top: 10px;
  /*margin-bottom: 10px;*/
}

.oz-select {
  position: relative;
  width: 100%;
}
.oz-select .selected-option-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: stretch;
  border: solid 1px #ced4da;
  cursor: pointer;
}
.oz-select .selected-option-container .selected-option {
  flex: 1;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0 9px;
}
.oz-select .selected-option-container .selected-option .placeholder {
  color: #adb5bd;
}
.oz-select .selected-option-container .options-toggle {
  padding: 6px 9px;
}
.oz-select .options-container {
  width: 100%;
  background-color: #fff;
  padding: 9px 0;
  border: solid 1px #adb5bd;
  display: none;
  position: absolute;
  z-index: 2;
}
.oz-select .options-container .filter {
  border: solid 1px #ced4da;
  width: calc(100% - 12px);
  padding: 6px 9px;
  margin: 1px 6px;
  box-sizing: border-box;
}
.oz-select .options-container .options-list {
  list-style: none;
  padding: 0;
}
.oz-select .options-container .options-list .list-option {
  cursor: pointer;
  padding: 6px 9px;
}
.oz-select .options-container .options-list .list-option:hover {
  background-color: #ced4da;
}
.oz-select.show-options .selected-option-container {
  border: solid 1px #adb5bd;
}
.oz-select.show-options .options-container {
  display: block;
}

.oz-ps {
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
  position: relative;
  z-index: 15;
  width: 100%;
}
.oz-ps .ps__thumb-y {
  background-color: #1BCAC4;
}
.oz-ps .ps__rail-y:hover > .ps__thumb-y,
.oz-ps .ps__rail-y:focus > .ps__thumb-y,
.oz-ps .ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #1BCAC4;
  width: 11px;
}

.app-main__inner {
  position: relative;
}
.app-main__inner.blue-bg {
  background: linear-gradient(to right, #037FB1 0%, #4DBCE9 100%);
}
.app-main__inner.blue-bg .app-page-title {
  color: #fff;
  background: transparent;
}
.app-main__inner.white-bg {
  background: #fff;
}

.app-page-title {
  position: relative;
  margin: 0;
}
.app-page-title.blue-bg {
  color: #fff;
  background: linear-gradient(to right, #037FB1 0%, #4DBCE9 100%);
}
.app-page-title.brand-bg {
  color: #fff;
  background: url("../images/Groupe 55.svg") #002A41;
  background-size: cover;
}
.app-page-title.secondary-bg {
  color: #fff;
}
.app-page-title.dark-bg {
  color: #fff;
  background: linear-gradient(to right, #000 0%, #333 33%, #777 70%, #000 100%);
}
.app-page-title .page-title-icon {
  width: auto;
}

.page-title-actions {
  text-align: right;
}

.app-authorizing, .app-loading {
  text-align: center;
  font-size: 48px;
  height: 100%;
}

.app-header-left {
  width: 331px;
}
.app-header-left .logo-src {
  background: url("../images/SitulearnA_Chemin.svg");
  /*background: url('../images/logo.png');*/
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  width: 175px;
  height: 35px;
  display: block !important;
}

/*.app-sidebar, .header__pane.ml-auto {
    display: none;
}*/
/*.closed-sidebar.fixed-sidebar .app-main__outer {
    padding: 0;
}*/
/*.app-header-right {
    .logo-src {
        background: url('../images/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 0;
        width: 100px;
        height: 50px;
    }
}*/
.breadcrumb {
  display: flex;
  list-style: none;
  flex-direction: row;
  text-align: right;
  margin-top: 12px !important;
}
.breadcrumb li {
  color: #fff;
}
.breadcrumb li + li::before {
  color: #fff;
  content: " / ";
  padding-left: 6px;
}
.breadcrumb li a {
  color: #fff;
  text-decoration: none;
}

.metismenu-link {
  cursor: pointer;
}
.metismenu-link .metismenu-icon {
  opacity: 1 !important;
}

.pointer {
  cursor: pointer;
}

.app-wrapper-footer {
  display: none;
}

/*****************************************Ozytis**************************************************/
.big-tabs .ozytis-table {
  max-height: calc(100vh - 201px - 64px);
}
.big-tabs .card-header .widget-number {
  font-size: 1.3rem;
  font-weight: bold;
}
.big-tabs .card-header > .nav .nav-item {
  height: 64px;
}
.big-tabs .card-header > .nav .nav-link {
  padding: 16px 0;
}
.big-tabs .card-header > .nav .nav-link.active {
  color: #105175 !important;
}
.big-tabs .card-header > .nav .nav-link:hover {
  color: #ADEBA4 !important;
}

.ozytis-table {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 200px);
  overflow: hidden;
  margin: 0;
  border-color: #adb5bd;
}
.ozytis-table thead {
  border: 0;
  width: 100%;
}
.ozytis-table thead th {
  border: none;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow-x: auto;
}
.ozytis-table tbody {
  display: block;
  overflow-y: auto;
  width: 100%;
}
.ozytis-table tbody tr {
  border-color: #dee2e6;
}
.ozytis-table tbody td {
  padding-left: 20px;
  overflow-x: auto;
  text-overflow: ellipsis;
  border-bottom-color: #dee2e6 !important;
}
.ozytis-table thead, .ozytis-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.btn i {
  margin-right: 6px;
}

.e-dialog .modal-footer {
  background: none;
  border: none;
}

.image-picker {
  display: block;
  position: relative;
}
.image-picker .placeholder {
  cursor: pointer;
  text-align: center;
  background-color: #eee;
  padding: 6px;
}
.image-picker img {
  cursor: pointer;
  max-width: 100%;
  width: 100%;
}
.image-picker .remove-button {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 6px;
  right: 6px;
}
.image-picker.show-remove:hover .remove-button {
  display: block;
}

/********************************************************Specific*******************************************************/
.parent-part {
  right: 15px;
  position: absolute;
}

.app-header .app-header__content {
  padding: 0;
}

.app-header-right {
  padding-right: 15px;
}

.app-header__logo {
  width: auto;
  padding: 0 15px;
}

.app-theme-white.app-container {
  background-color: #fff;
}

.app-container > div.pb-3 {
  padding-bottom: 0 !important;
}

table.table tr td:last-child button.icon-only i.fa, table.table tr td:last-child button.icon-only i.fas, table.table tr td:last-child button.icon-only i.far {
  margin: 0;
}

.btn-group div.e-tooltip .btn {
  border-radius: 0;
}
.btn-group div.e-tooltip:first-child .btn {
  border-radius: 5px 0 0 5px;
}
.btn-group div.e-tooltip:not([id=Tooltip_content_placeholder]):last-child .btn {
  border-radius: 0 5px 5px 0;
}

.remote-select {
  width: 100%;
}
.remote-select input[readonly] {
  background-color: #fff;
  height: 29px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
  font-size: 14px;
}

.readonly-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column-filter-cell {
  vertical-align: top !important;
}
.column-filter-cell .clear-filter .btn {
  padding-left: 0;
  color: #d92550 !important;
}

.poi {
  list-style: none;
  padding: 0 0 0 1em;
  display: flex;
  cursor: move;
  align-items: center;
}
.poi .poi-title {
  padding: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.poi .poi-actions {
  margin-left: auto;
  padding: 0 !important;
  min-width: 82px;
}
.poi .poi-actions .btn i {
  margin: 0;
}

.btn.superpose-plus-icon {
  position: relative;
  padding-right: 6px;
}
.btn.superpose-plus-icon i:first-child::after {
  content: "+";
  position: absolute;
  left: 42%;
  font-size: 25px;
  bottom: 40%;
}

.fieltrip-row-header {
  font-weight: bold;
}
.fieltrip-row-header td {
  border-bottom: none;
}

.fieltrip-row-desc td {
  border-top: none;
}

.mobile-previsualizer {
  flex: 1;
  display: inline-block;
  position: relative;
}
.mobile-previsualizer .dummy {
  margin-top: 175%;
}
.mobile-previsualizer .main-element {
  position: absolute;
  top: 0;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  /* background: url("../images/mobile.png") no-repeat center center;*/
  background-size: contain;
}
.mobile-previsualizer .page-title {
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.25em;
  position: relative;
  top: 20px;
}
.mobile-previsualizer iframe {
  width: 100%;
  height: 100%;
}

.page-preview {
  background: #eee;
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /*background-color: $gray-100;*/
  padding: 0.5rem;
}
.page-preview .e-inplaceeditor {
  width: 100%;
}
.page-preview .e-inplaceeditor .e-editable-value-container {
  width: 100%;
}
.page-preview header .e-inplaceeditor .e-editable-value-container {
  width: 100%;
  text-align: center;
}
.page-preview header .e-inplaceeditor .e-editable-value-container .e-editable-value {
  font-weight: bolder;
  color: #fff;
}
.page-preview section .e-inplaceeditor .e-editable-value-container .e-editable-value {
  color: #fff;
}
.page-preview section .e-inplaceeditor .e-editable-value-container .e-editable-value p {
  line-height: 12pt;
  margin: 0.25rem;
}
.page-preview .e-inplaceeditor .e-editable-value-container .e-editable-value {
  border-bottom: none;
  margin: 0;
}
.page-preview .e-inplaceeditor .e-editable-value-container .e-editable-value:hover {
  color: #1BCAC4;
}

.home-page-preview, .end-page-preview {
  display: block;
  width: 100%;
  min-height: 100%;
  /*background: #fff;*/
}
.home-page-preview header, .end-page-preview header {
  background-color: #105175;
  color: #fff;
  text-align: center;
  padding: 6px;
}
.home-page-preview header .e-inplaceeditor .e-editable-value-container:hover .e-editable-value, .end-page-preview header .e-inplaceeditor .e-editable-value-container:hover .e-editable-value {
  color: #002A41;
}
.home-page-preview header .e-inplaceeditor .e-editable-value-container .e-editable-value, .end-page-preview header .e-inplaceeditor .e-editable-value-container .e-editable-value {
  color: #1cccc6;
  font-weight: bold;
  font-size: 22px;
}
.home-page-preview section, .end-page-preview section {
  padding-top: 6px;
  text-align: justify;
}
.home-page-preview section .e-editable-value, .end-page-preview section .e-editable-value {
  font-size: 12px !important;
}

.journeys-preview {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  justify-items: stretch;
}
.journeys-preview .journey {
  flex: 1;
  position: relative;
  overflow-y: auto;
}
.journeys-preview .journey > div {
  height: 100%;
}
.journeys-preview .journey.drag-over {
  background-color: #ced4da;
}
.journeys-preview .journey-info {
  flex: 1;
  display: flex;
  max-height: 50px;
  height: 50px;
  flex-flow: row;
  align-items: center;
  padding: 0 6px;
}
.journeys-preview .journey-located-game-units {
  list-style: none;
  margin: 0;
  padding: 0;
}
.journeys-preview .journey-located-game-units .journey-located-game-unit {
  padding: 6px;
  display: flex;
  align-items: center;
  cursor: move;
}
.journeys-preview .journey-located-game-units .journey-located-game-unit .actions {
  margin-left: auto;
}
.journeys-preview .journey-located-game-units .journey-located-game-unit .actions .btn {
  padding: 0;
}
.journeys-preview .journey-tabs {
  flex: 1;
  display: flex;
  max-height: 50px;
  height: 50px;
  list-style: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-top: auto;
  align-items: start;
  width: 100%;
  overflow-y: auto;
  align-items: center;
  padding-left: 6px;
}
.journeys-preview .journey-tabs li {
  list-style: none;
  margin-right: 2px;
  border-radius: 12px;
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
  font-size: 0;
  box-sizing: border-box;
  cursor: pointer;
  border: solid 2px #000;
}
.journeys-preview .journey-tabs li.selected {
  cursor: default;
}
.journeys-preview .journey-tabs li .btn {
  font-size: 10px;
  padding: 0;
  text-align: center;
  margin-left: 4px;
}
.journeys-preview .journey-tabs li i.fas {
  margin: 0 0 0 1px;
}
.journeys-preview .journey-tabs li:only-child {
  width: 100%;
  border: none;
}
.journeys-preview .journeys-preview-add-unit-form {
  padding: 0.25rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border-radius: 0.25rem;
  border: solid 1px #105175;
}
.journeys-preview .journeys-preview-add-unit-form label {
  color: #105175;
  font-weight: bold;
  font-size: 0.8rem;
}
.journeys-preview .journeys-preview-add-unit-form .fa-check-circle:not(.disabled) {
  color: green;
}
.journeys-preview .btn-lg {
  font-size: 1.25rem;
}
.journeys-preview .btn-lg:hover {
  color: #1BCAC4;
}

.bg-blanc {
  background-color: #FBFBFB;
}

.bg-jaune {
  background-color: #F6E165;
}

.bg-orange {
  background-color: #FF6E03;
}

.bg-vert {
  background-color: #A5E09C;
}

.bg-bleu {
  background-color: #069EFB;
}

.bg-violet {
  background-color: #490779;
}

.bg-marron {
  background-color: #382510;
}

.bg-gris {
  background-color: #575757;
}

.mobile-previsualizer {
  width: 100%;
}
.mobile-previsualizer .create-activity {
  /*bottom: 0;*/
  /*position: absolute;*/
  width: 100%;
  display: flex;
}
.mobile-previsualizer .create-activity > * {
  flex: 1;
}

.sim-card {
  max-width: 33%;
}
.sim-card.no-max-width {
  max-width: 100%;
}
.sim-card .no-bg .page-preview {
  background-color: #e9ecef;
}
.sim-card .page-preview {
  background-color: #105175;
}
.sim-card .remote-select {
  padding-left: 15%;
}
.sim-card .activities .page-preview {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.sim-card .activities .page-preview > div:first-child {
  overflow-y: auto;
}

.bordered-inplace-editor {
  width: calc(100% - 6px);
  margin: 0 3px;
}
.bordered-inplace-editor.yes {
  border: 1px solid green;
}
.bordered-inplace-editor.no {
  border: 1px solid red;
}

.input-gain {
  max-width: 20%;
  position: absolute !important;
  right: 10px;
}

.game-unit-activity {
  margin: 5px;
  border-radius: 5px;
  background: lightgray;
  cursor: move;
}
.game-unit-activity .row {
  margin: 0;
}

.draggable-activities.drag-over {
  background-color: #ced4da;
}

.activity-list-access {
  width: 45%;
  text-align: right;
}

.sitemap {
  padding: 0.5em;
  min-width: 280px;
}
.sitemap .no-activities ul li {
  color: lightgray;
}
.sitemap .no-activities ul li.deleted {
  color: rgba(255, 0, 0, 0.3);
}
.sitemap .deleted {
  color: red;
  text-decoration-line: line-through;
}
.sitemap > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sitemap .active {
  font-weight: bold;
}
.sitemap .active i {
  margin-right: 6px;
}
.sitemap a {
  color: inherit !important;
  padding: 0;
}
.sitemap a:hover {
  text-decoration: none;
  font-style: italic;
}
.sitemap ul {
  list-style: none;
  padding-left: 25px;
}
.sitemap .sitemap-li {
  list-style: none;
  display: flex;
  align-items: center;
  max-height: 1.5rem;
  padding-left: 0.5rem;
}
.sitemap .sitemap-li:hover {
  background-color: lightblue;
  border-radius: 0.2rem;
}
.sitemap .sitemap-li .sitemap-li-actions {
  margin-left: auto;
}
.sitemap .sitemap-li .sitemap-li-actions .btn i {
  margin: 0;
}

.remote-select .input-group::after {
  content: "▾";
  position: absolute;
  right: 9px;
  line-height: 27px;
  font-size: 16px;
}

.confirm-holder {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 36vw;
  box-sizing: border-box;
  background-color: rgba(9, 9, 9, 0.5);
  z-index: 10;
}
.confirm-holder .confirm-modal {
  border-radius: 18px;
  padding: 18px 24px;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
}
.confirm-holder .confirm-modal .confirm-text {
  text-align: center;
}
.confirm-holder .confirm-modal .confirm-footer {
  display: flex;
  margin-top: 16px;
}
.confirm-holder .confirm-modal .confirm-footer button {
  border: none;
  flex: 1;
  margin: 0 4px;
}

.e-editable-value a {
  color: #069EFB;
  /*font-weight: bold;*/
}

.pass-reco-body {
  margin-top: 8rem !important;
  margin-bottom: 12rem !important;
}
.pass-reco-body .pass-reco-title {
  margin-bottom: 20px;
}
.pass-reco-body .pass-reco-button {
  justify-content: center;
  margin: 4rem !important;
}

footer .text-foot {
  margin-top: 2rem !important;
  text-align: center;
}
footer .text-foot .logo-lium {
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
}
footer .text-foot .logo-anr {
  width: 200px;
  margin-left: 10px;
}

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo {
  width: 0px !important;
  padding: 0 8px !important;
}

.closed-sidebar #build-date {
  display: none;
}

#build-date {
  font-size: small;
  position: absolute;
  bottom: 0;
}

.alert {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  z-index: 100;
  margin: 25px;
  border-radius: 5px;
  z-index: 100;
}

.answer-row .box, .answer-row .e-editable-value-container {
  width: 100%;
}
.answer-row .qcm-check {
  margin: auto 10px;
  margin-right: 0px;
}
.answer-row .qcm-check label {
  width: 15px;
}
.answer-row .remove-answer {
  padding: 0px 6px 6px 0px;
}

.empty-box {
  width: 100%;
}
.empty-box .e-editable-value-container {
  background: #f2f4f6;
  opacity: 0.5;
  margin: 0 0 5px;
  border-radius: 5px;
  width: 100%;
}

.oz-quill-editor .alert {
  position: relative;
  width: 100%;
  margin: 0;
}
.oz-quill-editor .merge-var {
  background-color: #105175;
  color: #fff;
  border-radius: 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  min-width: 19px;
  white-space: nowrap;
  user-select: all;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.sim-card .card-header {
  display: flex;
  flex-direction: column;
  min-height: 70px;
  padding: 6px 10px;
  align-items: start;
}
.sim-card .card-header > div:first-child, .sim-card .card-header div.padd {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.sim-card .card-header > div:first-child .label-small, .sim-card .card-header div.padd .label-small {
  text-transform: none;
  font-weight: normal;
}
.sim-card .card-header > div:first-child .contextual-button, .sim-card .card-header div.padd .contextual-button {
  padding: 0;
  position: absolute;
  right: 6px;
}
.sim-card .card-header > div:first-child.remote-select, .sim-card .card-header div.padd.remote-select {
  padding: 0;
}

.fieldTrip-simulator {
  width: 24%;
  margin: 2% auto;
  display: block;
}
.fieldTrip-simulator .dummy {
  margin: 0;
}
.fieldTrip-simulator .page-preview {
  overflow: hidden;
}

@media screen and (min-width: 1440px) and (max-width: 1440px) {
  .mobile-previsualizer .page-title {
    top: 10px;
    right: 20px;
  }
  .ozytis-table.fieldtrips th:nth-child(6), .ozytis-table.fieldtrips td:nth-child(6) {
    width: 145px;
    padding: 10px;
  }
  .ozytis-table.fieldtrips td button {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fieldTrip-simulator {
    width: 32%;
  }
}
#fieldTripMap .leaflet-control .leaflet-control-command-interior {
  height: 60px;
  width: 60px;
  font-size: 30px;
  padding-top: 15px;
  padding-left: 15px;
  color: #3287CC;
}
#fieldTripMap .leaflet-control .leaflet-control-command-interior .add-marker {
  color: limegreen;
}
#fieldTripMap .leaflet-interactive.exploration-area {
  pointer-events: none !important;
}

.errors-summary .alert-danger {
  position: relative !important;
  width: 100% !important;
  margin: 15px 0 0 0 !important;
}

.e-editable-value-container:hover .e-editable-value {
  color: #343a40 !important;
}
.e-editable-value-container:hover .e-editable-value:hover {
  color: #1cccc6 !important;
}

/*.alert-success {
	&.main-notify {
		display: none;
	}
}*/
.map-edition-add-marker-label {
  position: absolute;
  left: 25rem;
  background-color: white;
  border: 2px solid #3287cc;
  top: 0.5rem;
  padding: 0 1rem;
  color: #3287cc;
  font-weight: bold;
}

.map-edition-download {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.map-edition-download button {
  font-size: 1.5rem;
}
.map-edition-download button i {
  padding: 1rem;
  background-color: white;
  border-radius: 0.2rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.map-edition-download button i.fa-print {
  margin-bottom: 0.5rem;
}

.map-edition-green-button {
  background-color: #00cc00;
  border-color: green;
  color: white;
}
.map-edition-green-button:hover {
  background-color: forestgreen;
  color: white;
}

.fieldtrip-edition-page-button-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fieldtrip-edition-page-button-test-container .fieldtrip-edition-page-button-test {
  background-color: #F9B900;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.25rem;
  border: solid 1px #C49300;
}
.fieldtrip-edition-page-button-test-container .fieldtrip-edition-page-button-test:hover {
  background-color: #ECB100;
}

.fieldtrip-edition-publication {
  border: solid 1px lightgrey;
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 1rem;
}
.fieldtrip-edition-publication .fieldtrip-edition-publication-visibility, .fieldtrip-edition-publication .fieldtrip-edition-publication-publish {
  display: flex;
  align-items: center;
}
.fieldtrip-edition-publication .fieldtrip-edition-publication-visibility .e-switch-wrapper, .fieldtrip-edition-publication .fieldtrip-edition-publication-publish .e-switch-wrapper {
  margin-right: 1rem !important;
}
.fieldtrip-edition-publication .fieldtrip-edition-publication-visibility .e-switch-wrapper .e-switch-on, .fieldtrip-edition-publication .fieldtrip-edition-publication-publish .e-switch-wrapper .e-switch-on {
  background-color: limegreen;
}
.fieldtrip-edition-publication .fieldtrip-edition-publication-visibility .e-switch-wrapper .e-switch-inner.e-switch-active, .fieldtrip-edition-publication .fieldtrip-edition-publication-visibility .e-css.e-switch-wrapper .e-switch-inner.e-switch-active, .fieldtrip-edition-publication .fieldtrip-edition-publication-publish .e-switch-wrapper .e-switch-inner.e-switch-active, .fieldtrip-edition-publication .fieldtrip-edition-publication-publish .e-css.e-switch-wrapper .e-switch-inner.e-switch-active {
  border-color: limegreen;
  background-color: limegreen;
}
.fieldtrip-edition-publication .fieldtrip-edition-publication-visibility .fa-eye, .fieldtrip-edition-publication .fieldtrip-edition-publication-visibility .fa-eye-slash, .fieldtrip-edition-publication .fieldtrip-edition-publication-visibility .fa-users, .fieldtrip-edition-publication .fieldtrip-edition-publication-visibility .fa-users-slash, .fieldtrip-edition-publication .fieldtrip-edition-publication-publish .fa-eye, .fieldtrip-edition-publication .fieldtrip-edition-publication-publish .fa-eye-slash, .fieldtrip-edition-publication .fieldtrip-edition-publication-publish .fa-users, .fieldtrip-edition-publication .fieldtrip-edition-publication-publish .fa-users-slash {
  margin-right: 6px;
}
.fieldtrip-edition-publication .e-barcode {
  display: flex;
  justify-content: center;
}

.fieldtrips td {
  padding-left: 10px !important;
}

.e-dlg-header {
  width: 97% !important;
}

.report-modal-button {
  width: 100%;
  border-radius: 20px;
}
.report-modal-button.disabled {
  background-color: grey;
  border-color: grey;
}

.report-modal-alert {
  position: relative;
  width: 100%;
  margin: 0;
  border-radius: 5px;
}

.fieldtrip-journeys-edition-card {
  width: 30%;
  border-radius: 10px 10px;
  border: solid 1px rgba(1, 3, 5, 0.125);
  margin-right: 0.25vw;
}
.fieldtrip-journeys-edition-card .fieldtrip-journeys-edition-card-header {
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
}
