﻿// SituLearn is a set of tools to create fun and interactive educational field trips. It was developed as a research project of LIUM (Laboratoire d'Informatique de l'Université du Mans) in France.
//
// For more information, tutorials and to test a version of the SituLearn tools on our server, please go to https://situlearn.univ-lemans.fr/
//
// Contact : iza.marfisi@univ-lemans.fr
//
// Copyright (C) 2023 Iza MARFISI Sébastien GEORGE propriété Le Mans Université
//
// This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
//
// This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
//
//You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.

$body-bg: #fff;
$search-box-size: 42px;

// Colors

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;


$brand: #1BCAC4;
$blue: #86c6fb;
$indigo: #444054;
$purple: #83588a;
$pink: #f65ca2;
$red: #d92550;
$orange: #BF9900;
$yellow: #f7b924;
$green: #3ac47d;
$teal: #16E0BD;
$cyan: #30b1ff;
$blue-light: #eeeeee;

$gris: #575757;
$bleu: #069EFB;
$violet: #490779;
$blanc: #FBFBFB;
$marron: #382510;
$orange: #FF6E03;
$vert: #A5E09C;
$jaune: #F6E165;

$primary: #105175;
$primary-hover: #ADEBA4;
$secondary: #1BCAC4;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $blue-light;
$dark: #002A41;
$focus: $indigo;
$alt: $purple;

$title-blue: #1cccc6;
