﻿@using Api.PedagogicalFields
@using Ozytis.Common.Core.Web.Razor.Layout
@using static Ozytis.Common.Core.Web.Razor.Button
@using Web.Client.Shared

<PageHeader Icon="@FontAwesomeIcons.EnvelopeOpenText">
	<HeadingContent>
		<h1>Gestion du contenu des emails</h1>
	</HeadingContent>
	<BreadcrumbsContent>
        <li>
            <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                Gestion du contenu des emails
            </Button>
        </li>
	</BreadcrumbsContent>
</PageHeader>

<OzSimpleRemoteTable TModel="EmailContent"
					 TEntity="EmailContent"
					 @ref="this.Table"
					 DefaultSortedColumnIndex="0"
					 GetModelKey="f => f.Id"
					 GetData="this.EmailContentsRepository.GetAllEmailContentsAsync">
	<ColumnsDefinition>
		<OzSimpleTableColumn TModel="EmailContent" TEntity="EmailContent"
							 Filter="(ec, vals) => ec.Name.Contains(vals[0] as string)"
							 Sort="ec => ec.Name">
			<HeaderDisplay>Nom</HeaderDisplay>
		</OzSimpleTableColumn>
		<OzSimpleTableColumn TModel="EmailContent" TEntity="EmailContent"
							 Filter="(ec, vals) => ec.Subject.Contains(vals[0] as string)"
							 Sort="ec => ec.Subject">
			<HeaderDisplay>Sujet</HeaderDisplay>
		</OzSimpleTableColumn>
		<OzSimpleTableColumn TModel="EmailContent" TEntity="EmailContent" CanClearFilter=true>
			<HeaderDisplay>Actions</HeaderDisplay>
		</OzSimpleTableColumn>
	</ColumnsDefinition>
	<RowContent>
		<TableRow>
			<TableRowCell>
				@context.Name
			</TableRowCell>
			<TableRowCell>
				@context.Subject
			</TableRowCell>
			<TableRowCell>
				<ButtonActionGroup Type="ButtonActionGroupType.Icon" GroupButton="true" PositionTooltip="Position.TopCenter">
					<Button Clicked="() => this.NavigationManager.NavigateTo(Pages.EmailContents.EmailContentEditionPage.GetUrl(context.Id.ToString()))" TagType="ButtonTagType.Button"
								Color="Color.Link"
								Class="icon-only"
								Icon="@FontAwesomeIcons.PencilAlt">
							Modifier ce contenu d'email
					</Button>
				</ButtonActionGroup>
			</TableRowCell>
		</TableRow>
	</RowContent>

</OzSimpleRemoteTable>