﻿@inherits FormComponent
@using Web.Client.Shared

@if (this.Model == default)
{
    <Loader IsLoading="true" />
}
else
{
    <PageHeader Icon="@FontAwesomeIcons.PencilAlt">
        <HeadingContent>
            <h1>Édition du contenu d'un email</h1>
        </HeadingContent>
        <BreadcrumbsContent>
            <li>
                <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor"
                    Clicked="() => this.NavigationManager.NavigateTo(EmailContentsPage.Url)">
                    Gestion du contenu des emails
                </Button>
            </li>
            <li>
                <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                    Édition
                </Button>
            </li>
        </BreadcrumbsContent>
    </PageHeader>

    <ErrorsSummary Errors="this.Errors" />

    <Container Class="bg-white p-4 user-form" Fluid="true">
        <Row Class="mt-2">
            <Column Size="12">
                <Field>
                    <Label>Nom*</Label>
                    <SfTextBox PlaceHolder="Nom" @bind-Value="@this.Model.Name" Enabled="false" />
                </Field>
            </Column>
        </Row>
        <Row Class="mt-2">
            <Column Size="12">
                <Field>
                    <Label>Objet de l'email*</Label>
                    <SfTextBox PlaceHolder="Nom" @bind-Value="@this.Model.Subject" />
                </Field>
            </Column>
        </Row>
        <Row Class="mt-2">
            <Column Size="12">
                <Field>
                    <Label>Contenu de l'email</Label>
                    <QuillEditor @bind-Content="this.Model.Content"
                                 Height="50vh"
                                 AvailableVariables="this.Variables" />
                </Field>
            </Column>            
        </Row>
        <Row>
            <Column Class="text-center">
                <Button Color="Color.Light" Clicked=@(() => { this.NavigationManager.NavigateTo(EmailContentsPage.Url); })>
                    <Icon Name="@FontAwesomeIcons.Undo" />Annuler
                </Button>
                <Button Color="Color.Primary"
                    Clicked=@(this.ProcessAsync)>
                    <Loader IsLoading="this.IsProcessing" />
                    Valider
                </Button>
            </Column>
        </Row>
    </Container>
}