﻿@using Ozytis.Common.Core.Web.Razor.BarcodeReader

<SituLearn.Player.Shared.HeaderToolbar>
    <Button Color="Color.Link" Icon="@FontAwesomeIcons.ChevronLeft"
            Clicked="()=>this.NavigationManager.NavigateTo(this.BackUrl ?? FieldTrips.FieldTripsPage.Url)">       
    </Button>
    Scanner un QR Code
</SituLearn.Player.Shared.HeaderToolbar>

<div id="scanner-page">
    @if (this.FieldTripToPlay == null)
    {
        <div class="code-reader-holder">
            <CodeReader DataFound="this.OnDataFoundAsync" />
        </div>
    }
</div>