@using SituLearn.Monitor.Shared
@using SituLearn.Monitor.Utilities
<div class="@Css("fieldtrip-card", new{ MenuVisible = this.FieldTrip.ShowDescription })">
    <div class="fieldtrip-picture" style="@Css($"background-image:url('{this.FieldTrip.Picture}');")" @onclick="@(()=> this.StartGamesSupervisionAsync())">
    </div>

    <div class="fieldtrip-info" @onclick="@(()=> this.StartGamesSupervisionAsync())" >
        <span class="fieldtrip-type">
            @this.FieldTrip.Type.GetFriendlyName()
        </span>
        <span class="fieldtrip-title" >
            @this.FieldTrip.Name
        </span>
        <span class="fieldtrip-attributes">
            <span class="fieldtrip-field">@this.FieldTrip.FieldName</span>            
        </span>
    </div>
    <div class="fieldtrip-actions">
        <Icon Name="@FontAwesomeIcons.EllipsisV" IconStyle="IconStyle.FaLight"
                Clicked="()=>this.SwitchDescriptionDisplay()" />
    </div>

    <div class="@Css("fieldtrip-card-description", new{ MenuVisible = this.FieldTrip.ShowDescription })">
        <section>
            @this.FieldTrip.Description
        </section>
    </div>
</div>