﻿@using SituLearn.Monitor.Utilities;
<SituLearn.Monitor.Shared.HeaderToolbar>
    Catalogue des sorties
</SituLearn.Monitor.Shared.HeaderToolbar>

<div id="fieldtrips-page" class="text-white">
    @if (this.FieldTrips == null)
    {
        <AppLoading />
    }
    else
    {
        <div class="filters-bar">

            <div class="filter-type">
                <Select TValue="string" TModel="SituLearn.Monitor.Utilities.OptionItem<string>" DisableFilter
                        GetOptionText="o=>o.Label"
                        GetOptionValue="o=>o.Value"
                        @bind-SelectedValue="this.FilterType"
                        Options="this.FilterOptions"></Select>
                 <div class="sort-way">
                     <Icon Name="@(this.OrderWay=="asc" ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronUp)"
                           Clicked="@(()=>{ this.OrderWay = (this.OrderWay=="asc" ? "desc" : "asc"); this.StateHasChanged(); })" />
                 </div>
             </div>
             <input class="@Css("e-control")" @bind-value="this.Filter" @bind-value:event="oninput" />
         </div>

        IEnumerable<FieldTripHeaderForMonitorModel> fieldTrips = this.FieldTrips;

        if (!string.IsNullOrEmpty(this.Filter))
        {
            switch (this.FilterType)
            {
                case "name":
                    fieldTrips = fieldTrips
                    .Where(t => t.Name.Contains(this.Filter, StringComparison.InvariantCultureIgnoreCase))
                    .OrderBy(t => t.Name);
                    break;
                case "type":
                    fieldTrips = fieldTrips.Where(t => t.Type.GetFriendlyName().Contains(this.Filter, StringComparison.InvariantCultureIgnoreCase))
                    .OrderBy(t => t.Type.GetFriendlyName());
                    break;
                case "field":
                    fieldTrips = fieldTrips
                    .Where(t => t.FieldName.Contains(this.Filter, StringComparison.InvariantCultureIgnoreCase))
                    .OrderBy(t => t.FieldName); ;
                    break;
            }
        }

        switch (this.FilterType)
        {
            case "name":
                fieldTrips = fieldTrips.OrderBy(t => t.Name);
                break;
            case "type":
                fieldTrips = fieldTrips.OrderBy(t => t.Type.GetFriendlyName());
                break;
            case "field":
                fieldTrips = fieldTrips.OrderBy(t => t.FieldName);
                break;
        }

        if (this.OrderWay != "asc")
        {
            fieldTrips = fieldTrips.Reverse();
        }

        <div class="fieldtrips-list">
            @if (fieldTrips.Any())
            {
                foreach (var fieldTrip in fieldTrips)
                {
                    <FieldTripCard FieldTrip="fieldTrip" />
                }
            }
            else
            {
                <div class="no-results">
                    <text>Aucune sortie ne correspond à vos critères de recherche</text>
                </div>
            }
        </div>
    }
</div>