﻿@inherits FormComponent
@using Web.Client.Shared

@if (this.Model == default)
{
    <Loader IsLoading="true" />
}
else
{
    <PageHeader Icon="@ApplicationIcons.PedagogicalField">
        <HeadingContent>
            <h1>Création d'un domaine pédagogique</h1>
        </HeadingContent>
        <BreadcrumbsContent>
            <li>
                <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor"
                    Clicked="() => this.NavigationManager.NavigateTo(ListPage.Url)">
                    Tous les domaines
                </Button>
            </li>
            <li>
                <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                    Création
                </Button>
            </li>
        </BreadcrumbsContent>
    </PageHeader>

    <ErrorsSummary Errors="this.Errors" />

    <Container Class="bg-white p-4 user-form" Fluid="true">
        <Row Class="mt-2">
            <Column Size="6">
                <Field>
                    <Label>Nom*</Label>
                    <SfTextBox PlaceHolder="Nom" @bind-Value="@this.Model.Name" />
                </Field>
            </Column>
        </Row>
        <Row>
            <Column Class="text-center">
                <Button Color="Color.Light" Icon="@FontAwesomeIcons.Undo"
                    Clicked=@(() => { this.NavigationManager.NavigateTo(ListPage.Url); })>
                    Annuler
                </Button>
                <Button Color="Color.Primary" Icon="@FontAwesomeIcons.Check"
                    Clicked=@(() => { ProcessAsync(); this.NavigationManager.NavigateTo(ListPage.Url); })>
                    Valider
                </Button>
            </Column>
        </Row>
    </Container>
}