﻿@inherits FormComponent
@using Web.Client.Shared

@if (this.Model == default)
{
    <Loader IsLoading="true" />
}
else
{
    <PageHeader Icon="@ApplicationIcons.PedagogicalField">
        <HeadingContent>
            <h1>Édition d'un domaine pédagogique</h1>
        </HeadingContent>
        <BreadcrumbsContent>
            <li>
                <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor"
                    Clicked="() => this.NavigationManager.NavigateTo(ListPage.Url)">
                    Tous les domaines
                </Button>
            </li>
            <li>
                <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                    Édition
                </Button>
            </li>
        </BreadcrumbsContent>
    </PageHeader>

    <ErrorsSummary Errors="this.Errors" />

    <Container Class="bg-white p-4 user-form" Fluid="true">
        <Row Class="mt-2">
            <Column Size="6">
                <Field>
                    <Label>Nom*</Label>
                    <SfTextBox PlaceHolder="Nom" @bind-Value="@this.Model.Name" />
                </Field>
            </Column>
        </Row>
        <Row>
            <Column Class="text-center">
                <Button Color="Color.Light" Clicked=@(() => { this.NavigationManager.NavigateTo(ListPage.Url); })>
                    <Icon Name="@FontAwesomeIcons.Undo" />Annuler
                </Button>
                <Button Color="Color.Primary"
                    Clicked=@(() => { this.NavigationManager.NavigateTo(ListPage.Url); ProcessAsync();})>
                    <Loader IsLoading="this.IsProcessing" />
                    Valider
                </Button>
            </Column>
        </Row>
    </Container>
}