﻿@using Api.PedagogicalFields
@using Ozytis.Common.Core.Web.Razor.Layout
@using static Ozytis.Common.Core.Web.Razor.Button
@using Web.Client.Shared

<PageHeader Icon="@ApplicationIcons.PedagogicalField">
	<HeadingContent>
		<h1>Gestion des domaines pédagogiques</h1>
	</HeadingContent>
	<ActionsContent>
		<Button Color="Color.Light" Clicked="() => this.NavigationManager.NavigateTo(CreatePage.Url)">
            <Icon Name="@ApplicationIcons.PedagogicalField" /> Ajouter un domaine pédagogique
        </Button>
	</ActionsContent>
	<BreadcrumbsContent>
        <li>
            <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                Gestion des domaines pédagogiques
            </Button>
        </li>
	</BreadcrumbsContent>
</PageHeader>

<OzSimpleRemoteTable TModel="PedagogicalField"
					 TEntity="PedagogicalField"
					 @ref="this.Table"
					 DefaultSortedColumnIndex="0"
					 GetModelKey="f => f.Id"
					 GetData="this.PedagogicalFieldsRepository.GetAllPedagogicalFieldsAsync">
	<ColumnsDefinition>
		<OzSimpleTableColumn TModel="PedagogicalField" TEntity="PedagogicalField"
							 Filter="(pf, vals) => pf.Name.Contains(vals[0] as string)"
							 Sort="pf => pf.Name">
			<HeaderDisplay>Nom</HeaderDisplay>
		</OzSimpleTableColumn>
		<OzSimpleTableColumn TModel="PedagogicalField" TEntity="PedagogicalField" CanClearFilter=true>
			<HeaderDisplay>Actions</HeaderDisplay>
		</OzSimpleTableColumn>
	</ColumnsDefinition>
	<RowContent>
		<TableRow>
			<TableRowCell>
				@context.Name
			</TableRowCell>
			<TableRowCell>
				<ButtonActionGroup Type="ButtonActionGroupType.Icon" GroupButton="true" PositionTooltip="Position.TopCenter">
					<Button Clicked="() => this.NavigationManager.NavigateTo(Pages.PedagogicalFields.EditPage.GetUrl(context.Id.ToString()))" TagType="ButtonTagType.Button"
								Class="icon-only"
								Icon=@ApplicationIcons.EditIcon>
							Modifier ce domaine pédagogique
					</Button>
					<Button Clicked="() => this.RemoveField(context)" TagType="ButtonTagType.Button"
								Class="icon-only"
								Icon=@ApplicationIcons.TrashIcon>
							Supprimer ce domaine pédagogique
					</Button>
				</ButtonActionGroup>
			</TableRowCell>
		</TableRow>
	</RowContent>

</OzSimpleRemoteTable>