﻿<Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView RouteData="@routeData"
                                                                              DefaultLayout="@typeof(AppLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <div class="app-authorizing">
                        <Icon Name="@FontAwesomeIcons.Sync" IconStyle="IconStyle.FaSolid" Class="fa-spin" />
                        Autorisation en cours...
                    </div>
                </Authorizing>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(AppLayout)">
                <p>Page non trouvée</p>
            </LayoutView>
        </NotFound>
    </Router>
</Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
