﻿@inherits LayoutComponentBase

@using SituLearn.Monitor.Shared;
@using Pages;


<div class="@Css("regular-page", this.PageCssClass)">

    <div>

        @if (this.Zones.ContainsKey(AppLayout.HeaderToolbarZone))
        {
            <header class="header-toolbar">
                <div class="page-title">
                    @this.Zones[AppLayout.HeaderToolbarZone]
                </div>
                
                <div class="button-menu" @onclick="()=>{this.ShowMainMenu=!this.ShowMainMenu; this.StateHasChanged();}">
                </div>
            </header>

            <header class="header-toolbar header-hidden-offset">
                <div class="page-title">
                    @this.Zones[AppLayout.HeaderToolbarZone]
                </div>

                <div class="button-menu">
                </div>
            </header>
        }

        <div class="maincontent">
            <UpdateAvailableDetector />

            <CascadingValue Value=this>
                @Body
            </CascadingValue>

            @*@if (this.ShowConfirmation)
            {
                <SituLearn.Monitor.Shared.Confirm Text="@this.ConfirmText"
                                             YesText="@this.YesConfirmationText"
                                             NoText="@this.NoConfirmationText"
                                             OnAnswer="this.SetConfirmationResult" />
            }*@
        </div>

        <div class="@Css("main-menu", new{ MenuVisible = this.ShowMainMenu })">
            <header>
                <text>Mon compte</text>
                
                <Icon Name="@FontAwesomeIcons.Times" IconStyle="IconStyle.FaLight"
                      Clicked="()=>{this.ShowMainMenu=false;this.StateHasChanged();}" />
            </header>
            <section>
                <ul>
                    <li>
                        <a @onclick="()=>{ this.NavigationManager.NavigateTo(Pages.User.MyAccountPage.Url); this.ShowMainMenu=false;this.StateHasChanged(); }">
                            <div class="menu-icon avatar" />
                            Mes informations
                        </a>
                    </li>
                    <li>
                        <a @onclick="()=>{ this.NavigationManager.NavigateTo(Pages.FieldTrips.FieldTripsPage.Url); this.ShowMainMenu=false;this.StateHasChanged(); }">
                            <div class="menu-icon compas" />
                            Catalogue des sorties
                        </a>
                    </li>

                    @*<li>
                        <a @onclick="this.NavigateToPlayedFieldTripsPage">
                            <div class="menu-icon check" />
                            Mes sorties déjà faites
                        </a>
                    </li>

                    <li>
                        <a @onclick="this.NavigateToFieldTripsPageFilteredOnFavorites">
                            <div class="menu-icon bookmark" />
                            Mes favoris
                        </a>
                    </li>

                    <li>
                        <div class="downloaded" @onclick="()=>{ this.NavigateToFieldTripsPageFilteredOnDownloaded(); }">
                            <Icon Name="@FontAwesomeIcons.Download" IconStyle="@IconStyle.FaLight" />

                            <div class="menu-icon-downloaded">Mes sorties téléchargées</div>
                        </div>
                    </li>*@

                    <li>
                        <a @onclick="this.LogOut">
                            <div class="menu-icon logout" />
                            Déconnexion
                        </a>
                    </li>
                    
                </ul>
            </section>
            <div id="build-date">
                @BuildInformation.Branch - @BuildInformation.Commit - @BuildInformation.BuildDate
            </div>
        </div>

        @if (this.ShowNotification)
        {
            <Alert IsDimissable="true"
                   Class="main-notify"
                   OnHide="()=> { this.ShowNotification = false; this.StateHasChanged(); }"
                   Color="this.NotificationColor">
                @this.NotificationText
            </Alert>
        }

    </div>

</div>
