﻿@using ClientApi
@using Ozytis.Common.Core.Web.Razor.Interfaces;

<Button Class="@this.Class" Color="this.Color" Clicked="() => this.OpenFile()" Disabled="this.ReadOnly" IsLoading="this.IsProcessing" Icon="@this.Icon">
    @this.Label
</Button>

@code {
    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public bool ReadOnly { get; set; }

    [Parameter]
    public Color Color { get; set; } = Color.Primary;

    [Parameter]
    public EventCallback OnSuccess { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    [CascadingParameter]
    public INotifier Notifier { get; set; }


    public bool IsProcessing { get; set; }

    private Lazy<Task<IJSObjectReference>> moduleTask;


    protected async Task OpenFile()
    {
        this.IsProcessing = true;
        DotNetObjectReference<FileDownloadButton> dotNetReference = DotNetObjectReference.Create(this);

        await this.JSRuntime.InvokeVoidAsync("queryAndSaveAsFile", this.Url, true, dotNetReference);
    }

    [JSInvokable]
    public async Task HandleSendingSuccess()
    {
        Notifier.Notify(Color.Success, "Le fichier a bien été téléchargé.");
        this.IsProcessing = false;
        await this.OnSuccess.InvokeAsync();
        this.StateHasChanged();
    }

    [JSInvokable]
    public void HandleSendingFail(string[] err)
    {
        this.Notifier.Notify(Color.Danger, string.Join(" ", err));
        this.IsProcessing = false;
        this.StateHasChanged();
    }
}