﻿@using Syncfusion.Blazor.InPlaceEditor
@using Syncfusion.Blazor.RichTextEditor
@using SfInPlace = Syncfusion.Blazor.InPlaceEditor

<SfInPlaceEditor TValue=@(string) CssClass=@(this.TextIsClearExceptTags ? "empty-box" : null)
		Value=@(this.Text) 
		ActionOnBlur=@(ActionBlur.Submit)
		ValueChanged=@(this.ValueChanged)
		ShowButtons=@(false)
		Type=@(SfInPlace.InputType.RichTextEditor)
		Mode=@(RenderMode.Inline)
		SubmitOnEnter=@(false)
		Disabled=@(this.Disabled)
		EditableOn=@(EditableType.Click)
		EmptyText=@(string.Empty)>
	<EditorComponent>
		<SfRichTextEditor Value=@(this.Text) ValueChanged=@(this.ValueChanged) EditorMode=@(EditorMode.HTML)>
			<ChildContent>
				<RichTextEditorPasteCleanupSettings PlainText="true" />
				<RichTextEditorToolbarSettings Items=@(this.EditorToolbarItems) EnableFloating=@(false) />
			</ChildContent>
		</SfRichTextEditor>
	</EditorComponent>
</SfInPlaceEditor>