﻿@using Syncfusion.Blazor.InPlaceEditor
@using SfInPlace = Syncfusion.Blazor.InPlaceEditor

<SfInPlaceEditor TValue=@(string) CssClass=@(string.IsNullOrEmpty(this.Text) ? "empty-box" : "box")
		Value=@(this.Text)
		ActionOnBlur=@(ActionBlur.Submit)
		ValueChanged=@(this.ValueChanged)
		ShowButtons=@(false)
		Type=@(SfInPlace.InputType.Text)
		Mode=@(RenderMode.Inline)
		SubmitOnEnter=@(false)
		Disabled=@(this.Disabled)
		EditableOn=@(EditableType.Click)
		EmptyText=@(string.Empty)>
	<EditorComponent>
		<SfTextBox Value=@(this.Text) ValueChanged=@(this.ValueChanged) />
	</EditorComponent>
</SfInPlaceEditor>