﻿<Menu Title="Sorties">
	<MenuItem Title="Gestion des sorties" Icon="@Web.Client.Pages.FieldTrips.FieldTripsPage.Icon"
			  Link="@Web.Client.Pages.FieldTrips.FieldTripsPage.Url" />
</Menu>


@if (this.User?.Role == Common.UserRoleNames.Administrator)
{
	<Menu Title="Paramètres">
		<MenuItem Title="Domaines pédagogiques" Icon="@Web.Client.Pages.PedagogicalFields.ListPage.Icon"
			  Link=@Web.Client.Pages.PedagogicalFields.ListPage.Url />
		<MenuItem Title="Contenu e-mails" Icon="@Web.Client.Pages.EmailContents.EmailContentsPage.Icon"
			  Link=@Web.Client.Pages.EmailContents.EmailContentsPage.Url />
	</Menu>
	<Menu Title="Administration">
		<MenuItem Title="Utilisateurs" Icon="@Web.Client.Pages.Users.UsersPage.Icon"
			  Link="@Web.Client.Pages.Users.UsersPage.Url" />

		@if (!Env.Environment.Equals("iut", StringComparison.InvariantCultureIgnoreCase))
		{
			<MenuItem Title="Logs" Icon="@FontAwesomeIcons.JournalWhills"
			  Link="/ozlogs" />
		}

		<MenuItem Title="Aides contextuelles" Icon="@FontAwesomeIcons.InfoCircle"
			  Link="@Web.Client.Pages.ContextualHelps.ContextualHelpsPage.Url" />

	</Menu>
}

<Menu Title="Mon compte">
	<MenuItem Title="@($"Mes informations")"
			  Icon="@FontAwesomeIcons.User"
			  Link="@Web.Client.Pages.User.MyAccountPage.Url" />
</Menu>

<div id="build-date">
    @BuildInformation.Branch - @BuildInformation.Commit -  @BuildInformation.BuildDate
</div>