﻿<div class=@(string.Join(' ',new string[] {"mobile-previsualizer", this.Class}))>
    <div class="page-title">
        @this.Title
    </div>
    <div class="dummy"></div>
    <div class="main-element">

        <svg width="100%" height="100%" viewBox="0 0 300 539.67" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1">

            <g>
	            <g id="g1488">
		            <g id="svg_1">
			            <g id="svg_2">
				            <path id="svg_3-2" d="m 249.85373,540.77406 c 26.221,0 47.545,-21.324 47.545,-47.555 V 48.658063 c 0,-26.22 -21.334,-47.5540006 -47.545,-47.5540006 H 55.429731 c -26.221,0 -47.5449995,21.3240006 -47.5449995,47.5540006 V 493.21906 c 0,26.221 21.3239995,47.555 47.5449995,47.555 z m -69.26,-535.0956081 -0.268,0.6980003 c -0.355,0.9369999 -1.732,1.8739999 -2.727,1.8739999 h -49.352 c -1.042,0 -2.515,-0.975 -2.917,-1.9409999 l -0.268,-0.6310003 z M 12.748251,493.22906 V 48.658063 c 0,-22.366546 17.7004,-42.9886111 42.68148,-42.9886111 h 61.849999 l 1.435,3.4140002 c 1.51599,3.6066879 5.613,2.5149569 9.534,2.5149569 h 49.352 c 3.969,0 8.023,1.014043 9.43,-2.6959569 l 1.223,-3.2420002 h 61.602 c 25.10933,0 42.62186,20.6220651 42.62186,43.1078621 V 493.32931 c 0,24.51307 -20.02581,43.10887 -42.62186,43.10887 H 55.429731 c -24.74257,0 -42.68148,-19.41056 -42.68148,-43.20912 z" sodipodi:nodetypes="sssssssssccsscccssscsssccssssss"/>
				            <path id="svg_4" d="m202.023,28.926l7.297,0c2.322,0 4.207,-1.884 4.207,-4.207c0,-2.314 -1.885,-4.198 -4.207,-4.198l-7.297,0c-2.324,0 -4.207,1.884 -4.207,4.198c0,2.323 1.893,4.207 4.207,4.207z"/>
				            <circle id="svg_5" r="7.105" cy="24.719" cx="232.586"/>
				            <path id="svg_6" d="M 283.32855,489.59259 V 46.648084 c 0,-2.059979 -1.75918,-3.732736 -3.92558,-3.732736 H 25.804474 c -2.166404,0 -3.925582,1.671715 -3.925582,3.732736 V 489.59154 c 0,2.05999 1.758083,3.73274 3.925582,3.73274 H 279.41392 c 2.15545,9.9e-4 3.91463,-1.67275 3.91463,-3.73169 z M 25.951498,489.69109 25.779597,46.769381 279.31725,46.65013 l 0.21756,443.03062 c -83.86712,-0.10369 -169.16553,-0.0346 -253.583312,0.0103 z" style="stroke-width:1.06746" sodipodi:nodetypes="ssssssscsccccc"/>
			            </g>
		            </g>
	            </g> 

                <foreignObject x="25.779596" y="46.769382" width="253.75522" height="442.91138" style="background-color:red;border:none;stroke:transparent" >
                    <div class="page-preview" xmlns="http://www.w3.org/1999/xhtml">
                    @this.ChildContent
                    </div>     
                </foreignObject>        
             </g>
        </svg>
    </div>
</div>