﻿@using Web.Client.Pages
@using Web.Client.Pages.FieldTrips
@using Web.Client.Pages.FieldTrips.Activities
@using Web.Client.Pages.FieldTrips.LocatedGameUnits

@{
	var allQuestionWithCorrectAnswer = true;
}

<div class="sitemap">
	@if (this.FieldTrip != null)
	{
		<div class=@(!this.FieldTrip.IsDeleted ? null : "deleted")>
			@if (this.CurrentPageType != typeof(FieldTripEditionPage))
			{
				<a href=@(FieldTripEditionPage.GetEditionUrl(this.FieldTrip.Id))><span><Icon IconStyle=@(IconStyle.FaLight) Name=@(FontAwesomeIcons.Directions) /> @(this.FieldTrip.Name)</span></a>
			}
			else
			{
				<span class="active"><Icon IconStyle=@(IconStyle.FaLight) Name=@(FontAwesomeIcons.Directions) /> @(this.FieldTrip.Name)</span>
			}

			@if (this.CurrentPageType != typeof(FieldTripMapEditionPage))
			{
				<a href=@(FieldTripMapEditionPage.GetUrl(this.FieldTrip.Id))>
					<span><Icon IconStyle=@(IconStyle.FaLight) Name=@(FontAwesomeIcons.Map) /> Carte</span>
				</a>
			}
			else
			{
				<span class="active"><Icon IconStyle=@(IconStyle.FaLight) Name=@(FontAwesomeIcons.Map) /> Carte</span>
			}
		</div>
		<ul>
			@foreach (var gu in this.FieldTrip.LocatedGameUnits.Where(gu => !gu.IsDeleted).OrderBy(gu => gu.Name))
			{
				<li class=@(string.Join(" ", !gu.IsDeleted ? null : "deleted", !gu.ActivitiesEnabled ? "no-activities" : null))>
					<div class="sitemap-li">
						@if (this.CurrentPageType != typeof(LocatedGameUnitEdition) || this.CurrentItemId != gu.Id)
						{
							<span><Button TagType=ButtonTagType.Anchor Clicked=@(() => this.NextGameUnit(gu.Id))><Icon IconStyle=@(IconStyle.FaLight) Name=@(FontAwesomeIcons.MapMarker) /> @gu?.Name</Button></span>
						}
						else
						{
							<span class="active"><Icon IconStyle=@(IconStyle.FaLight) Name=@(FontAwesomeIcons.MapMarker) /> @gu?.Name</span>
						}

						@if (string.IsNullOrEmpty(gu.LocationSupportDescription))
						{
							<span class="uncomplete">*</span>
						}

						<div class="sitemap-li-actions">
							<ButtonActionGroup Type="ButtonActionGroupType.Icon">
								<Button Color="Color.Link" IsLoading="this.IsDeleting" Clicked="async () => await this.DeleteUnitAsync(gu)" Icon="@FontAwesomeIcons.Trash">
									Supprimer
								</Button>
							</ButtonActionGroup>
						</div>
					</div>					

					@if (gu.Activities?.Any(x => !x.IsDeleted) ?? false)
					{
						<ul class=@(gu.ActivitiesEnabled ? null : "disabled")>
							@foreach (var act in gu.Activities.Where(a => !a.IsDeleted).OrderBy(a => a.Name))
							{
								var isQuestion = act.ActivityType == ActivityType.Question;
								var validQuestion = isQuestion && (!(act as QuestionActivity)?.InvalidAnswers ?? false);

								allQuestionWithCorrectAnswer &= isQuestion ? validQuestion : true;

								<li class=@(!act.IsDeleted ? null : "deleted")>
									<div class="sitemap-li">
										@if (this.CurrentPageType != typeof(ActivityEdition) || this.CurrentItemId != act.Id)
										{
											<span><Button TagType=ButtonTagType.Anchor Clicked=@(() => this.NextActivity(gu.Id, act.Id))><Icon IconStyle=@(IconStyle.FaLight) Name=@(isQuestion ? (validQuestion ? FontAwesomeIcons.Question : FontAwesomeIcons.CommentSlash) : FontAwesomeIcons.Search) /> @act?.Name</Button></span>
										}
										else
										{
											<span class="active"><Icon IconStyle=@(IconStyle.FaLight) Name=@(isQuestion ? (validQuestion ? FontAwesomeIcons.Question : FontAwesomeIcons.CommentSlash) : FontAwesomeIcons.Search) /> @act?.Name</span>
										}

										<div class="sitemap-li-actions">
											<ButtonActionGroup Type="ButtonActionGroupType.Icon">
												<Button Color="Color.Link" IsLoading="this.IsDeleting" Clicked="async () => await this.DeleteActivityAsync(act, gu.Id)" Icon="@FontAwesomeIcons.Trash">
													Supprimer
												</Button>
											</ButtonActionGroup>
										</div>
									</div>									
								</li>
							}
						</ul>
					}
				</li>
			}
		</ul>
	}
	else
	{
		<AppLoading />
	}

	@if (!allQuestionWithCorrectAnswer)
	{
		<span style="font-style: italic;font-size: 0.75em;color: red;">
			<Icon IconStyle=@(IconStyle.FaLight) Name=@(FontAwesomeIcons.CommentSlash) /> Une ou plusieurs questions n'ont pas de réponse correcte.
		</span>
	}
</div>