﻿@layout AnonymousLayout

<div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">

    <div class="app-logo">
        <a href="https://situlearn.univ-lemans.fr/">
            <img src="/images/SitulearnA_Chemin.svg" class="logo-src" alt="SituLearn" />
        </a>
    </div>

    <h4 class="mb-4">
        <span>Bienvenue sur le site SituLearn. Afin de finaliser votre inscription, veuillez utiliser le formulaire ci-dessous pour définir votre mot de passe.</span>
    </h4>

    <div>
        <ErrorsSummary errors="@this.Errors" />

        <Row>
            <Column Size="12">
                <Field>
                    <Label>Adresse email</Label>
                    <SfTextBox Type="InputType.Email" name="email" ReadOnly="true" placeholder="Votre adresse email..." @bind-Value="this.Email" />
                </Field>
                <Field Class="required">
                    <Label>Nouveau mot de passe</Label>
                    <SfTextBox Type="InputType.Password" name="NewPassword" placeholder="Votre  mot de passe" @bind-Value="this.NewPassword" />
                </Field>

                <Field Class="required">
                    <Label>Confirmation de votre nouveau mot de passe</Label>
                    <SfTextBox Type="InputType.Password" name="NewPasswordConfirmation" placeholder="Confirmation de votre mot de passe" @bind-Value="this.NewPasswordConfirmation" />
                </Field>
            </Column>
        </Row>


        <div class="text-center">
            <Button Color="Color.Primary" Size="ButtonSize.Large" Disabled="this.IsProcessing" 
                Clicked="this.ProcessAsync">
                <Loader IsLoading="this.IsProcessing" />
                Enregistrer mon mot de passe
            </Button>
        </div>
    </div>
    
    <footer>
        <div class="text-foot">
            Avec le soutien :
            <a href="https://lium.univ-lemans.fr/">
                <img src="/images/Logo-LIUM_Couleurs_WEB_Blanc.png" alt="LIUM" class="logo-lium" />
            </a>
            <a href="https://anr.fr/Projet-ANR-20-CE38-0012">
                <img src="/images/anr-logo-2021-sigle.png" alt="ANR agence nationale de recherche" class="logo-anr" />
            </a>
        </div>
    </footer>
</div>