﻿@layout AnonymousLayout

<div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">

    <div class="app-logo big-logo">
        <a href="https://situlearn.univ-lemans.fr/">
            <img src="/images/SitulearnA_Chemin.svg" class="logo-src" alt="SituLearn" />
        </a>
    </div>

    @if (this.IsSuccess.HasValue)
    {
        <div class="text-center">

            @if (this.IsSuccess.Value)
            {
                <Alert Color="Color.Success" Visible="true">
                    Merci d'avoir confirmé votre adresse email. Vous pouvez désormais vous reconnecter avec celle-ci.
                </Alert>
            }
            else
            {
                <Alert Color="Color.Danger" Visible="true">
                    Une erreur s'est produite.
                </Alert>
            }

            <div class="mt-3">
                <Button Color="Color.Primary" Clicked="@(() => this.NavigationManager.NavigateTo(LoginPage.Url + "?email=" + this.Email))">
                    <Icon Name="@FontAwesomeIcons.Unlock" /> Me connecter
                </Button>
            </div>
        </div>
    }
    else
    {
        <AppLoading />
    }

    <footer>
        <div class="text-foot">
            Avec le soutien :
            <a href="https://lium.univ-lemans.fr/">
                <img src="/images/Logo-LIUM_Couleurs_WEB_Blanc.png" alt="LIUM" class="logo-lium" />
            </a>
            <a href="https://anr.fr/Projet-ANR-20-CE38-0012">
                <img src="/images/anr-logo-2021-sigle.png" alt="ANR agence nationale de recherche" class="logo-anr" />
            </a>
        </div>
    </footer>
</div>
