﻿@layout AnonymousLayout

<div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">

    <div class="app-logo big-logo">
        <a href="https://situlearn.univ-lemans.fr/">
            <img src="/images/SitulearnA_Chemin.svg" class="logo-src" alt="SituLearn" />
        </a>
    </div>

    <div>
        <div>
            <div style="text-align:justify">
                <p>
                    SituLearn est un <strong>outil d'auteur gratuit</strong> pour <strong>enseignants</strong> de toutes matières et tous niveaux qui permet de créer des applications mobiles pour <strong>les sorties pédagogiques.</strong> <br />
                    Les élèves peuvent ensuite y accéder via <strong>smartphone</strong> ou tablette.
                </p>
                <p>
                    Il propose plusieurs modèles adaptés aux <strong>sorties en extérieur</strong> (visite de site archéologique, course d'orientation, sortie botanique en forêt...) et <strong>en intérieur</strong> (visite d'un musée, découverte d'un bâtiment...).
                </p>
                <p>
                    Un système d'<strong>aide intégrée</strong> guide dans le choix des options les mieux adaptées aux besoins pédagogiques et contraintes organisationnelles (durée de sortie, zone d'exploration, nombre de participants...).
                </p>
                <p>
                    SituLearn a été développé dans le cadre d'un <strong>projet de recherche</strong> du
                    <a href="https://lium.univ-lemans.fr/" target="_blank">LIUM</a>, financé par l'<a href="https://anr.fr" target="_blank">ANR</a>.
                    Il propose également d'autres outils gratuits, notamment pour le suivi des participants en temps réel durant la sortie pédagogique.
                </p>
                <p class="text-center">
                    Déjà <strong class="text-primary fa-2x">@this.TripsCount</strong> @(this.TripsCount < 2 ? "sortie pédagogique disponible" : "sorties pédagogiques disponibles") !
                </p>
            </div>
        </div>
    </div>

    <Card Class="mt-2">

        <CardBody>

            <CardTitle>
                Veuillez vous connecter.
            </CardTitle>

            <ErrorsSummary errors="@this.Errors" />

            <Row>
                <Column Size="6">
                    <Field>
                        <Label For="exampleEmail">Adresse email</Label>
                        <SfTextBox Type="InputType.Email"
                                   name="email" id="exampleEmail" placeholder="Votre adresse email..."
                                   @bind-Value="this.Email" />
                    </Field>
                </Column>
                <Column Size="6">
                    <Field>
                        <Label For="examplePassword">Mot de passe</Label>
                        <SfTextBox Type="InputType.Password" name="password" id="examplePassword"
                                   placeholder="Votre mot de passe..." @bind-Value="this.Password" />
                    </Field>
                </Column>
            </Row>
            <Field>
                <Syncfusion.Blazor.Buttons.SfCheckBox TValue="bool" name="check" @bind-Checked="this.RememberMe">Laissez-moi connecté</Syncfusion.Blazor.Buttons.SfCheckBox>
            </Field>
            <div class="d-flex align-items-center">
                <div class="ml-auto">
                    <Button Clicked="@(()=> this.NavigateTo("password-recovery"))"
                            Size="ButtonSize.Large" Class="btn-link">
                        Récupérer mon mot de passe
                    </Button>
                    <Button Color="Color.Primary" Size="ButtonSize.Large"
                            Clicked="this.SubmitLoginAsync"
                            Disabled="this.IsSubmitting"
                            IsLoading="this.IsSubmitting"
                            Icon="@FontAwesomeIcons.Check">
                        Connexion
                    </Button>
                </div>
            </div>

            <h6 class="mt-3">Vous n'avez pas de compte ? <a class="font-weight-bold" href="@RegisterPage.Url">Inscrivez-vous</a></h6>

        </CardBody>
    </Card>

    <footer>
        <div class="text-foot">
            Avec le soutien :
            <a href="https://lium.univ-lemans.fr/">
                <img src="/images/Logo-LIUM_Couleurs_WEB_Blanc.png" alt="LIUM" class="logo-lium" />
            </a>
            <a href="https://anr.fr/">
                <img src="/images/anr-logo-2021-sigle.png" alt="ANR agence nationale de recherche" class="logo-anr" />
            </a>
        </div>
    </footer>
</div>