﻿<Card>
    <CardHeader>
        <Icon Name="@FontAwesomeIcons.AddressCard" Class="header-icon" />
        Mon profil
        <CardActions>
            <Button Class="btn-icon btn-icon-only" Color="Color.Link" Clicked="@(()=>this.ChangeEditingMode())">
                <Icon Name="@FontAwesomeIcons.Edit" />
            </Button>
        </CardActions>
    </CardHeader>
    <CardBody>
        <ErrorsSummary Errors="this.Errors" />

        @if (this.IsEditing)
        {
            <Field>
                <Label>Nom</Label>
                <SfTextBox @bind-Value="this.UpdateModel.LastName" />
            </Field>
            <Field>
                <Label>Prénom</Label>
                <SfTextBox @bind-Value="this.UpdateModel.FirstName" />
            </Field>
            <Field>
                <Label>Établissement</Label>
                <SfTextBox @bind-Value="this.UpdateModel.Establishment" />
            </Field>
            @*<Field>
                <Label>Photo</Label>
                <InputFile OnChange="this.ChangePicture" />
            </Field>*@
        }
        else
        {
            string imgUrl = this.UserModel.Photo ?? $"https://www.gravatar.com/avatar/{this.UserModel.Email?.ToMd5() ?? "none"}?s=512";

            <Row>
                <Column Size="8">
                    <dl>
                        <dt>Nom</dt>
                        <dd>@this.UserModel.LastName</dd>

                        <dt>Prénom</dt>
                        <dd>@this.UserModel.FirstName</dd>

                        <dt>Établissement</dt>
                        <dd class="d-flex">
                            @if (!string.IsNullOrEmpty(this.UserModel.Establishment))
                            {
                                <text>@this.UserModel.Establishment</text>
                            }
                            else
                            {
                                <span style="font-style: italic;">Pas d'établissement renseigné</span>
                            }
                        </dd>

                        <dt>Rôle</dt>
                        <dd class="d-flex">
                            @this.UserModel.Role
                        </dd>
                    </dl>
                </Column>
                <Column Size="4">
                    <img src="@imgUrl" style="width:100%" />
                </Column>
            </Row>
        }

    </CardBody>

    @if (this.IsEditing)
    {
        <CardFooter Class="d-block text-right">
            <Button Color="Color.Link" Clicked="@(()=>this.ChangeEditingMode())">
                <Icon Name="@FontAwesomeIcons.Undo" /> Annuler
            </Button>

            <Button Color="Color.Secondary" Clicked="@(()=>this.SaveAsync())">
                <Loader UsualIcon="@FontAwesomeIcons.Check" IsLoading="this.IsUpdating" /> Valider
            </Button>
        </CardFooter>
    }
</Card>