﻿<PageHeader Icon="@FontAwesomeIcons.User">
    <HeadingContent>
        <h1>Mon compte</h1>
    </HeadingContent>
    <ActionsContent>
        @if (this.UsersRepository.CurrentUser.Role != UserRoleNames.Administrator)
        {
            <Button Color="Color.Secondary" 
                    Clicked="@(async ()=> { await this.DeleteMyAccount(); })"
                    Icon="@FontAwesomeIcons.UserSlash"
                    IsLoading="this.IsDeleting">
                Supprimer mon compte
            </Button>
        }
    </ActionsContent>
    <BreadcrumbsContent>
        <li>
            <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                Mon compte
            </Button>
        </li>
    </BreadcrumbsContent>
</PageHeader>

<Container Class="m-1" Fluid="true">
    <Row Class="mt-4">
        <Column Size="4" SmSize="12">
            <MyAccountInfo />
        </Column>
        <Column Size="4" SmSize="12">
            <Card>
                <CardHeader>
                    <Icon Name="@FontAwesomeIcons.PhoneVolume" Class="header-icon" />
                    Mes informations de contact
                </CardHeader>
                <CardBody>
                    <dl>
                        <dt>Adresse email</dt>
                        <dd class="d-flex">
                            @this.Email

                            <Button Class="btn-icon btn-icon-only ml-auto" Color="Color.Link" Clicked="@(() => {this.ShowEmailEditionModal = true; })">
                                <Icon Name="@FontAwesomeIcons.Edit" />
                            </Button>

                        </dd>
                    </dl>
                    <dl>
                        <dt>Numéro de téléphone mobile</dt>
                        <dd class="d-flex">
                            @if (!string.IsNullOrEmpty(this.PhoneNumber))
                            {
                                <text>@this.PhoneNumber</text>
                            }
                            else
                            {
                                <span style="font-style: italic;">Pas de numéro renseigné</span>
                            }

                            <Button Class="btn-icon btn-icon-only ml-auto" Color="Color.Link" Clicked="@(() => {this.ShowPhoneNumberEditionModal = true; })">
                                <Icon Name="@FontAwesomeIcons.Edit" />
                            </Button>

                        </dd>
                    </dl>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Container>

@if (this.ShowEmailEditionModal)
{
    <MyEmailEdition OnCloseAsync="this.CloseEmailEditionAsync" />
}

@if (this.ShowPhoneNumberEditionModal)
{
    <MyPhoneNumberEdition OnCloseAsync="this.ClosePhoneNumberEdition" />
}