﻿<Modal OnClosing="()=> this.OnCloseAsync()">
    <Header>
        Modifier mon adresse email
    </Header>
    <Content>
        <ErrorsSummary Errors="this.Errors" />
        @if (Model != null)
        {

            <Field>
                <Label Class="required">Adresse email</Label>
                <SfTextBox placeholder="Adresse email" @bind-Value="this.Model.Email" />
            </Field>

        }
        else
        {
            <div>
                <Loader IsLoading="true" /> Chargement...
            </div>
        }
    </Content>
    <Footer>
        <Button Color="Color.Secondary" Clicked="@OnCloseAsync">
            <Icon Name="@FontAwesomeIcons.Undo" />
            Annuler
        </Button>
        <Button Color="Color.Primary" Clicked="@ProcessAsync">
            <Loader IsLoading="this.IsProcessing" UsualIcon="@FontAwesomeIcons.Check" />
            Suivant
        </Button>
    </Footer>
</Modal>
