﻿<Card>
    <CardHeader>
        <Icon Name="@FontAwesomeIcons.Unlock" Class="header-icon" />
        Modifier mot de passe      
    </CardHeader>
    <CardBody>
        <ErrorsSummary Errors="this.Errors" />
        <Field>
            <Label>Mot de passe actuel</Label>
            <SfTextBox Type="InputType.Password" @bind-Value="this.Model.CurrentPassword" /> 
        </Field> 
        <Field>
            <Label>Nouveau mot de passe actuel</Label>
            <SfTextBox Type="InputType.Password" @bind-Value="this.Model.NewPassword" /> 
        </Field>
    </CardBody>
</Card>