﻿<Modal OnClosing="()=> this.OnCloseAsync()" Size="ModalSize.Large">
    <Header>
        Modifier mon numéro de téléphone
    </Header>

    <Content>
        @if (this.Step == 0)
        {
            <ErrorsSummary Errors="this.Errors" />
            @if (Model != null)
            {

                <Field>
                    <Label Class="required">Numéro de téléphone mobile</Label>
                    <SfTextBox placeholder="Numéro de téléphone mobile" @bind-Value="this.Model.PhoneNumber" />
                </Field>

            }
            else
            {
                <div>
                    <Loader IsLoading="true" /> Chargement...
                </div>
            }
        }
        else
        {
            <ErrorsSummary Errors="this.Errors" />

            <Alert Color="Color.Info" Visible="true">
                Veuillez renseigner le code reçu sur votre téléphone :
            </Alert>

            @if (ConfirmModel != null)
            {

                <Field>
                    <Label Class="required">Code de validation</Label>
                    <SfTextBox placeholder="Code" @bind-Value="this.ConfirmModel.ValidationCode" />
                </Field>

            }
            else
            {
                <div>
                    <Loader IsLoading="true" /> Chargement...
                </div>
            }
        }
    </Content>
    <Footer>
        @if (this.Step == 0)
        {
            <Button Color="Color.Link" Clicked="@OnCloseAsync">
                <Icon Name="@FontAwesomeIcons.Undo" />
                Annuler
            </Button>
            <Button Color="Color.Primary" Clicked="@ProcessStep1Async">
                <Loader IsLoading="this.IsProcessingStep1" />
                Valider
            </Button>

        }
        else
        {
            <Button Color="Color.Link" Clicked="@OnCloseAsync">
                <Icon Name="@FontAwesomeIcons.Undo" />
                Annuler
            </Button>
            <Button Color="Color.Primary" Clicked="@ProcessStep2Async">
                <Loader IsLoading="this.IsProcessingStep2" />
                Enregistrer
            </Button>
        }
    </Footer>
</Modal>