﻿@page "/password-recovery"
@layout AnonymousLayout

<div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">

    <div class="app-logo">
        <a href="https://situlearn.univ-lemans.fr/">
            <img src="/images/SitulearnA_Chemin.svg" class="logo-src" alt="SituLearn" />
        </a>
    </div>

    <div class="pass-reco-body">

        <h4 class="mb-4">
            <span class="pass-reco-title">Vous avez oublié votre mot de passe ?</span>
            <span>Veuillez utiliser le formulaire ci-dessous afin de le regénérer.</span>
        </h4>

        <div>
            <ErrorsSummary errors="@this.Errors" />

            <Row>
                <Column Size="12">
                    <Field>
                        <Label Class="required">Adresse email</Label>
                        <SfTextBox Type="InputType.Email" name="email" id="exampleEmail" placeholder="Votre adresse email..." @bind-Value="this.Email" />
                    </Field>
                </Column>
            </Row>

            <div class="d-flex align-items-center pass-reco-button">
                <div>
                    <Button Clicked="@(()=> this.NavigateTo(LoginPage.Url))" Size="ButtonSize.Large" Color="Color.Link">
                        Me connecter à mon compte
                    </Button>
                    <Button Color="Color.Primary" Size="ButtonSize.Large" Disabled="this.IsProcessing"
                            Clicked="this.SendPasswordRecoveryAsync">
                        <Loader IsLoading="this.IsProcessing" />
                        Récupérer mon mot de passe
                    </Button>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="text-foot">
            Avec le soutien :
            <a href="https://lium.univ-lemans.fr/">
                <img src="/images/Logo-LIUM_Couleurs_WEB_Blanc.png" alt="LIUM" class="logo-lium" />
            </a>
            <a href="https://anr.fr/Projet-ANR-20-CE38-0012">
                <img src="/images/anr-logo-2021-sigle.png" alt="ANR agence nationale de recherche" class="logo-anr" />
            </a>
        </div>
    </footer>
</div>
