﻿@inherits FormComponent;
@layout AnonymousLayout
@using BlazorCaptcha

<div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">

    <div class="app-logo big-logo">
        <a href="https://situlearn.univ-lemans.fr/">
            <img src="/images/SitulearnA_Chemin.svg" class="logo-src" alt="SituLearn" />
        </a>
    </div>

    <div>
        <div>
            <div style="text-align:justify">
                <p>
                    SituLearn est un <strong>outil d'auteur gratuit</strong> pour <strong>enseignants</strong> de toute matière et tout niveau qui permet de créer des applications mobiles pour <strong>les sorties pédagogiques.</strong> <br />
                    Les élèves peuvent ensuite y accéder via <strong>smartphone</strong> ou tablette.
                </p>
                <p>
                    Il propose plusieurs modèles adaptés aux <strong>sorties en extérieur</strong> (visite de site archélogique, course d'orientation, sortie botanique en forêt...) et <strong>en intérieur</strong> (visite d'un musée, découverte d'un bâtiment...).
                </p>
                <p>
                    Un système d'<strong>aide intégrée</strong> guide dans le choix des options les mieux adaptées aux besoins pédagogiques et contraintes organisationnelles (durée de sortie, zone d'exploration, nombre de participants...).
                </p>
                <p>
                    SituLearn a été développé dans le cadre d'un <strong>projet de recherche</strong> du
                    <a href="https://lium.univ-lemans.fr/" target="_blank">LIUM</a>, financé par l'<a href="https://anr.fr" target="_blank">ANR</a>.
                    Il propose également d'autres outils gratuits, notamment pour le suivi des participants en temps réel durant la sortie pédagogique.
                </p>
                <p class="text-center">
                    Déja <strong class="text-primary fa-2x">@this.TripsCount</strong> @(this.TripsCount<2 ?"sortie pédagogique disponible":"sorties pédagogiques disponibles") !
                </p>
            </div>
        </div>
    </div>


    <Card Class="mt-2">

        <CardBody>

            @if (this.ShowSuccessMessage)
            {
                <h6 class="mt-3"><a class="font-weight-bold" href="@LoginPage.Url">Connectez-vous</a></h6>
            }
            else
            {
                <CardTitle>
                    Créez votre compte.
                </CardTitle>

                @*<ErrorsSummary Errors="@this.Errors" />*@

                <Row Class="mt-2">
                    <Column Size="6">
                        <Field>
                            <Label>Nom*</Label>
                            <SfTextBox PlaceHolder="Nom" @bind-Value="@this.Model.LastName" />
                        </Field>
                    </Column>
                    <Column Size="6">
                        <Field>
                            <Label>Prénom*</Label>
                            <SfTextBox PlaceHolder="Prénom" @bind-Value="@this.Model.FirstName" />
                        </Field>
                    </Column>
                </Row>

                <Row Class="mt-2">
                    <Column Size="6">
                        <Field>
                            <Label>E-mail*</Label>
                            <SfTextBox Placeholder="Mail" @bind-Value="this.Model.Email" Type="InputType.Email" />
                        </Field>
                    </Column>
                    <Column Size="6">
                        <Field>
                            <Label>Numéro de téléphone mobile</Label>
                            <SfTextBox Placeholder="N° téléphone" @bind-Value="this.Model.PhoneNumber" />
                        </Field>
                    </Column>
                </Row>

                <Row Class="mt-2">
                    <Column Size="6">
                        <Field>
                            <Label>Etablissement</Label>
                            <SfTextBox Placeholder="Etablissement" @bind-Value="this.Model.Establishment" />
                        </Field>
                    </Column>
                </Row>
                @if (this.DisplayCaptcha)
                {
                    <Row Class="mt-2">
                        <Column Size="6">
                            <Captcha @key="CaptchaKey" Height="100" Width="340" @ref="this.CaptchaComponent" @bind-CaptchaWord="@this.Captcha" CharNumber="@CaptchaLength" />
                        </Column>
                        <Column Size="6">
                            <Field>
                                <Label>Saisissez le texte de l'image</Label>
                                <SfTextBox @bind-Value="@this.CaptchaInput" />
                            </Field>
                        </Column>
                    </Row>
                }


                <div class="d-flex align-items-center">
                    <div class="ml-auto">
                        <Button Clicked=@(() => { this.NavigationManager.NavigateTo(LoginPage.Url); })
                            Size="ButtonSize.Large" Class="btn-link">
                            <Icon Name="@FontAwesomeIcons.Undo" />Annuler
                        </Button>
                        @if (!this.DisplayCaptcha)
                        {
                            <Button Color="Color.Primary" Size="ButtonSize.Large"
                            Clicked="this.ShowCaptcha">
                                <Icon Name="@FontAwesomeIcons.Robot" />
                                Je ne suis pas un robot
                            </Button>

                        }
                        else
                        {
                            <Button Color="Color.Primary" Size="ButtonSize.Large"
                            Clicked="this.ProcessAsync">
                                <Loader IsLoading="this.IsProcessing" />
                                Valider
                            </Button>
                        }

                    </div>
                </div>
            }

        </CardBody>
    </Card>

    <footer>
        <div class="text-foot">
            Avec le soutien :
            <a href="https://lium.univ-lemans.fr/">
                <img src="/images/Logo-LIUM_Couleurs_WEB_Blanc.png" alt="LIUM" class="logo-lium" />
            </a>
            <a href="https://anr.fr/Projet-ANR-20-CE38-0012">
                <img src="/images/anr-logo-2021-sigle.png" alt="ANR agence nationale de recherche" class="logo-anr" />
            </a>
        </div>
    </footer>
</div>