﻿<PageHeader Icon="@FontAwesomeIcons.User">
    <HeadingContent>
        <h1>@(this.User!=null ? this.User.FirstName+" "+this.User.LastName: "Détails d'un utilisateur")</h1>
    </HeadingContent>
    <BreadcrumbsContent>
        <li>
            <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor"
                    Clicked="()=>this.NavigationManager.NavigateTo(Web.Client.Pages.Users.UsersPage.Url)">
                Utilisateurs
            </Button>
        </li>
        <li>
            <Button Color="Color.Link"
                    Class="p-0"
                    TagType="ButtonTagType.Anchor">
                Détails
            </Button>
        </li>
    </BreadcrumbsContent>
</PageHeader>

@if (this.User == null)
{
    <AppLoading />
}
else
{
    string imgUrl = this.User.Photo ?? $"https://www.gravatar.com/avatar/{this.User.Email?.ToMd5() ?? "none"}?s=512";


    <Row>
        <Column Size="4">
            <Card Class="m-4">
                <CardHeader>
                    @this.User.FirstName @this.User.LastName
                </CardHeader>
                <CardBody>
                    <Container Fluid="true">
                        <Row>
                            <Column Size="8">
                                <dl>

                                    <dt>Email</dt>
                                    <dd><a href="mailto:@this.User.Email" target="_blank">@this.User.Email</a> </dd>

                                </dl>
                            </Column>
                            <Column Size="4">
                                <img src="@imgUrl" class="w-100" />
                            </Column>
                        </Row>
                    </Container>

                </CardBody>
            </Card>

        </Column>


    </Row>
}