﻿@inherits Ozytis.Common.Core.RazorTemplating.RazorEngineBaseTemplate<Business.Templates.ReportModel>
@using System;
@using System.Globalization;
@using Entities;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Compte-rendu</title>
</head>

<body>
    <div>
        <section class="w-100">
            <header class="border border-dark fw-bold text-center" style="background-color: #453CA0;">
                <img src="@Model.BaseUrl/images/logo.png" />
            </header>            
        </section>
        
        <section class="w-100">
            <header class="border border-dark fw-bold text-center">
                SORTIE PÉDAGOGIQUE
            </header>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="fw-bold ps-3 w-25">Nom</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ps-3 w-25">Type</td>
                        <td>@Model.Type</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ps-3 w-25">Description</td>
                        <td>@Model.Description</td>
                    </tr>
                    @* <tr>
                        <td class="fw-bold ps-3 w-25">Date de création</td>
                        <td>@Model.CreationDate</td>
                    </tr> *@
                    <tr>
                        <td class="fw-bold ps-3 w-25">Date de dernière modification</td>
                        <td>@Model.LastUpdateDate</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="w-100">
            <header class="border border-dark fw-bold text-center">
                COMPTE-RENDU (du @Model.ReportStartDate au @Model.ReportEndDate)
            </header>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="fw-bold ps-3 w-25">Nombre de participants</td>
                        <td>@Model.ParticipantsNumber</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ps-3 w-25">Nombre de participants ayant terminé la sortie</td>
                        <td>@Model.ParticipantsCompletedGameNumber</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ps-3 w-25">Nombre de relevés</td>
                        <td>@Model.ReadingsNumber</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ps-3 w-25">Taux moyen de réponses correctes</td>
                        <td>@Model.CorrectAnswersAverageRate %</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ps-3 w-25">Score moyen</td>
                        <td>@Model.AverageScore</td>
                    </tr>
                    <tr>
                        <td class="fw-bold ps-3 w-25">Temps moyen de complétion</td>
                        <td>@Model.AverageDuration</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="w-100">
            <header class="border border-dark fw-bold text-center">
                PARTICIPANTS ou GROUPES
            </header>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <th>Date de complétion</th>
                        <th>Temps de complétion</th>
                        <th>Taux de réponses correctes</th>
                        <th>Score</th>
                    </tr>

                    @foreach (var participant in Model.Participants)
                    {
                        <tr>
                            <td class="fw-bold ps-3 w-25">
                                @if (!string.IsNullOrEmpty(participant.TeamPicture.FileName))
                                {
                                    var path = $"Images de groupe/{participant.TeamPicture.FileName}";

                                    <a href="@path" target="_blank">@participant.Name</a>
                                }
                                else
                                {
                                    <text>@participant.Name</text>
                                }                                
                            </td>
                            <td>@participant.Date</td>
                            <td>@(participant.Duration != default ? participant.Duration.ToString(@"hh\:mm\:ss") : "")</td>
                            <td>@(String.Format("{0:0.0#}", participant.CorrectAnswersRate)) %</td>
                            <td>@(String.Format("{0:0.0#}", participant.Score))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <section class="w-100">
            <header class="border border-dark fw-bold text-center">
                RELEVÉS
            </header>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Participant</th>
                        <th>POI</th>
                        <th>Activité de relevé</th>
                        <th>Date</th>
                        <th></th>
                    </tr>

                    @foreach (var reading in Model.Readings)
                    {
                        <tr>
                            <td class="fw-bold ps-3 w-25">@reading.ParticipantName</td>
                            <td>@reading.LocatedGameUnitName</td>
                            <td>@reading.LocatedActivityName</td>
                            <td>@reading.Date</td>
                            <td>
                                @foreach (var file in reading.Files)
                                {
                                    if (!string.IsNullOrEmpty(file.FilePath))
                                    {
                                        var path = $"Relevés/{file.FileName}";
                                        <p><a href="@path" target="_blank">@file.FileName</a></p>
                                    }
                                    else
                                    {
                                        <p class="font-italic">@file.FileName</p>
                                    }                                    
                                }                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>


<style>

</style>