﻿@page "/"
@namespace BlazorWebAssemblyWithPrerendering.Pages
@using Web.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>SituLearn-Editor</title>
    <base href="/" />

    <link href="css/fontawesome/css/all.css" rel="stylesheet" />
    <link href="_content/Syncfusion.Blazor.Themes/bootstrap4.css" rel="stylesheet" />
    <link href="css/app.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="_content/Ozytis.Common.Core.Web.Razor.Leaflet/leaflet.css" rel="stylesheet" asp-append-version="true" />
    <link href="_content/Ozytis.Common.Core.Web.Razor.Leaflet/leaflet.draw.css" rel="stylesheet" asp-append-version="true" />
    <link href="_content/BlazorCaptcha/captcha.css" rel="stylesheet" />
    <link href="Web.Client.styles.css" rel="stylesheet" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
    <div id="app">
        <div class="d-flex">
            <div class="app-loading" style="margin-top:30vh;margin-left:auto;margin-right:auto;">
                <i class="fas fa-sync fa-spin"></i>  Chargement en cours...
            </div>
        </div>
    </div>

    <div id="blazor-error-ui" style="display:none">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>


     <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
     <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
   
     <script src="./_content/Ozytis.Common.Core.Web.Razor/ozytis.common.js" asp-append-version="true"></script>
     <script src="_content/Ozytis.Common.Core.Web.Razor.Leaflet/turf.min.js"  asp-append-version="true"></script>
     <script src="_content/Ozytis.Common.Core.Web.Razor.Leaflet/leaflet.js"  asp-append-version="true"></script>
    @* <script src="_content/Ozytis.Common.Core.Web.Razor.Leaflet/leaflet-image.js"  asp-append-version="true"></script>*@
     <script src="_content/Ozytis.Common.Core.Web.Razor.Leaflet/leaflet.draw.js"  asp-append-version="true"></script>
     <script src="_content/Ozytis.Common.Core.Web.Razor.Leaflet/dom-to-image.js"  asp-append-version="true"></script>
     <script src="_content/Ozytis.Common.Core.Web.Razor.Leaflet/filesaver.js"  asp-append-version="true"></script>
     <script src="_content/Ozytis.Common.Core.Web.Razor.Leaflet/leaflet.editable.js"  asp-append-version="true"></script>
     <script src="_content/Ozytis.Common.Core.Web.Razor.Leaflet/leaflet-easyprint.js"  asp-append-version="true"></script>
     <script src="_content/Ozytis.Common.Core.Web.Razor.Leaflet/ozytis.leaflet.js"  asp-append-version="true"></script>
     
     <script src="_framework/blazor.webassembly.js" asp-append-version="true"></script>
     <script src="js/app.js" asp-append-version="true"></script>

    @*<script>navigator.serviceWorker.register('service-worker.js');</script>*@
</body>
</html>