﻿@charset "UTF-8";
/*@media screen and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}*/
@font-face {
  font-family: "poppins";
  font-weight: 600;
  src: url("fonts/poppins-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 800;
  src: url("fonts/Poppins-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 400;
  src: url("fonts/poppins-regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppins";
  font-weight: 700;
  src: url("fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "helveticaneue";
  src: url("fonts/helveticaneue-regular.ttf") format("truetype");
}
body {
  overscroll-behavior-y: contain;
}

.app-authorizing, .app-loading {
  text-align: center;
  font-size: 1.2rem;
  height: 100%;
}
.app-authorizing:not(.with-logo), .app-loading:not(.with-logo) {
  margin-top: 45vh !important;
}
.app-authorizing i, .app-loading i {
  display: block;
}

.btn i {
  margin-right: 0.5rem;
}
.btn.btn-icon-only i {
  margin-right: 0;
}

.page {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  box-sizing: border-box;
}

.header-toolbar {
  display: flex;
  align-items: center;
  min-height: 5.7142857143vh;
  position: relative;
}
.header-toolbar .page-title {
  color: #fff;
  padding-top: 1.4906832298vh;
  text-align: center;
  flex: 1;
  font-family: poppins;
  /*font-weight: 800;*/
  font-size: 2.2360248447vh;
  align-items: flex-start;
  justify-content: center;
  max-width: 86.6666666667vw;
  padding-left: 3.2vw;
  box-sizing: border-box;
}
.header-toolbar .page-title i {
  vertical-align: middle;
  display: inline-block;
}
.header-toolbar .page-title .btn-link {
  position: absolute;
  left: 0vw;
  font-size: 2.2360248447vh;
  color: #fff;
}
.header-toolbar .button-menu {
  position: absolute;
  right: 0.7453416149vh;
  top: 0.7453416149vh;
  background: url("../images/avatar.svg") center center no-repeat;
  height: 4.9689440994vh;
  width: 4.9689440994vh;
  border-radius: 2.4844720497vh;
  margin-left: auto;
}

.regular-page {
  background: #105175 url("../images/texture.svg") no-repeat center center;
  background-size: cover;
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}
.regular-page > div {
  display: flex;
  flex-flow: column;
}
.regular-page .maincontent footer .text-center {
  font-size: 2.3602484472vh;
}
.regular-page .main-menu {
  background-color: #002A41;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  border-radius: 3.1055900621vh 3.1055900621vh 0 0;
  transition-property: height;
  transition-duration: 0.25s;
  height: 0;
  overflow-y: hidden;
  z-index: 4;
  font-size: 2.2360248447vh;
}
.regular-page .main-menu.menu-visible {
  height: 99.2546583851vh;
  position: fixed;
}
.regular-page .main-menu header {
  text-align: center;
  position: relative;
  padding-top: 2.2360248447vh;
  font-family: poppins;
  font-weight: bold;
  margin-bottom: 2.2360248447vh;
}
.regular-page .main-menu header i {
  position: absolute;
  font-size: 3.3540372671vh;
  top: 2.2360248447vh;
  right: 3.3540372671vh;
}
.regular-page .main-menu ul {
  list-style: none;
  padding: 0;
}
.regular-page .main-menu ul li {
  border-top: solid 1px #fff;
  margin-left: 3.2vw;
  margin-right: 3.2vw;
  padding-left: 13.3333333333vw;
  padding-right: 13.3333333333vw;
  padding-top: 2.2360248447vh;
  padding-bottom: 2.2360248447vh;
}
.regular-page .main-menu ul li > a {
  display: flex;
  align-items: center;
}
.regular-page .main-menu ul li > a > div {
  height: 5.2173913043vh;
  width: 5.2173913043vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin-right: 6.6666666667vw;
}
.regular-page .main-menu ul li > a > div.avatar {
  background: url("../images/avatar.svg");
}
.regular-page .main-menu ul li > a > div.star {
  background: url("../images/starred-3x.svg");
}
.regular-page .main-menu ul li > a > div.compas {
  background: url("../images/compas.svg");
}
.regular-page .main-menu ul li > a > div.check {
  background: url("../images/check.svg");
}
.regular-page .main-menu ul li > a > div.bookmark {
  background: url("../images/bookmark.svg");
}
.regular-page .main-menu ul li > a > div.logout {
  background: url("../images/logout.svg");
}
.regular-page .main-menu ul li .downloaded {
  display: flex;
  align-items: center;
}
.regular-page .main-menu ul li .downloaded i {
  color: #1CCCC6;
  font-size: 5.2173913043vh;
  margin-right: 6.6666666667vw;
}
.regular-page .main-menu ul li .downloaded .menu-icon-downloaded {
  white-space: nowrap;
}
.regular-page .enriched-map {
  background-color: lightblue;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  border-radius: 3.1055900621vh 3.1055900621vh 0 0;
  transition-property: height;
  transition-duration: 0.25s;
  height: 0;
  overflow-y: hidden;
  z-index: 2;
  font-size: 2.2360248447vh;
}
.regular-page .enriched-map.map-visible {
  height: 94.6583850932vh;
}
.regular-page .enriched-map .close-enriched-map {
  position: absolute;
  font-size: 6.5838509317vh;
  top: 1.4906832298vh;
  right: 1.8666666667vw;
  height: 6.4596273292vh;
  width: 6.4596273292vh;
  background-color: #105175;
  border-radius: 3.2298136646vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.regular-page .enriched-map .close-enriched-map .times-circle {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/close.svg");
  height: 2.2360248447vh;
  width: 2.2360248447vh;
}
.regular-page .map {
  /*.leaflet-shadow-pane {
          z-index: 0;
      }*/
  /*.marker-information-sheet {
          background-size: contain !important;
          background-repeat: no-repeat !important;
          background: url('../images/leaflet-marker-information-sheet.svg');
          height: calc(30 * 100vh / $mockup-height);
          width: calc(30 * 100vh / $mockup-height);
      }*/
}
.regular-page .map:not(.location-aid) {
  height: 94.6583850932vh;
}
.regular-page .map .leaflet-marker-pane {
  z-index: 402;
}
.regular-page .map .marker-unit {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/leaflet-marker-unit.svg");
  height: 3.7267080745vh;
  width: 3.7267080745vh;
}
.regular-page .map .marker-myposition {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  /*background: url('../images/leaflet-marker-myposition.svg');*/
  background: url("../images/icon-people.svg");
  height: 3.7267080745vh;
  width: 3.7267080745vh;
}
.regular-page .map .marker-reading {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/leaflet-marker-reading.svg");
  height: 3.7267080745vh;
  width: 3.7267080745vh;
}
.regular-page .map .marker-remaining-unit {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/leaflet-marker-remaining-unit.svg");
  height: 3.7267080745vh;
  width: 3.7267080745vh;
}
.regular-page .map .leaflet-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-weight: bold;
  font-size: 1.6149068323vh;
}
.regular-page .map .leaflet-popup-content .activity-name {
  color: #059efb;
}
.regular-page .map .leaflet-popup-content button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin: 0vw 0 2.6666666667vw 0;
}
.regular-page .map .leaflet-popup-content button i {
  font-size: x-large;
}
.regular-page .map .leaflet-popup-content button i.fa-info-circle {
  margin-top: 0.6211180124vh;
  color: #ffa32c;
}
.regular-page .map .leaflet-popup-content button i.fa-clipboard-list {
  font-size: large;
  margin-right: 0.6211180124vh;
  color: #059efb;
}
.regular-page .map .leaflet-popup-content button i.fa-location-arrow {
  font-size: large;
  margin-top: 0.6211180124vh;
  color: #D1FF46;
  background-color: #002A41;
  border-radius: 6.6666666667vw;
  padding: 1.2422360248vh;
}
.regular-page .map .leaflet-popup-content button i.fa-sync {
  font-size: large;
  margin-top: 0.6211180124vh;
  color: #D1FF46;
  background-color: #002A41;
  border-radius: 6.6666666667vw;
  padding: 1.2422360248vh;
}
.regular-page .maincontent {
  min-height: 94.2857142857vh;
}
.regular-page .main-notify {
  margin-left: 7.2vw;
  margin-right: 7.2vw;
  position: fixed;
  bottom: 0;
  left: 0;
  top: auto !important;
  width: 85.6vw !important;
  z-index: 3;
}
.regular-page .app-loading {
  color: #fff;
}
.regular-page .app-loading i {
  display: block;
}
.regular-page .btn {
  font-family: poppins;
  font-weight: bold;
  font-size: 2.2360248447vh;
  padding: 1.6149068323vh 0;
  text-transform: uppercase;
  border-radius: 2.2360248447vh;
  border: none;
}
.regular-page .btn i {
  margin-right: 3.4666666667vw;
}

#login-page {
  background: linear-gradient(#105175, #002A41);
  position: relative;
}
#login-page .logo {
  width: 100%;
}
#login-page .home-picture {
  /*padding-top: calc(101 * 100vh / $mockup-height);
  width: 100%;
  background: url('/images/home-picture-logo.svg') no-repeat center bottom;
  background-size: cover;
  min-height: calc(384 * 100vh / $mockup-height);
  box-sizing: border-box;*/
  position: relative;
}
#login-page .home-picture .discovery-mode-button {
  position: absolute;
  bottom: -0.5rem;
  left: 0.5rem;
}
#login-page .home-picture .discovery-mode-button .discovery-mode-button-text {
  white-space: pre-line;
  width: 20vw;
  height: 20vw;
  font-size: 3vw;
  font-weight: bold;
  border-radius: 10vw;
  border: solid 2px #002A41;
  background-color: #bf9900;
  color: white;
  text-align: center;
  font-style: italic;
  transform: rotate(-25deg);
  box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw rgba(0, 0, 0, 0.5568627451);
}
#login-page .home-picture .discovery-mode-button i {
  position: absolute;
  top: -2.5vw;
  left: 2.5vw;
  z-index: 1;
  font-size: 4vw;
  background-color: #002A41;
  color: white;
  padding: 2vw;
  border-radius: 4vw;
  transform: rotate(-25deg);
}
#login-page .textured {
  margin-top: -3.9751552795vh;
  padding-top: 5.9627329193vh;
  background: url("/images/texture.svg") no-repeat center center;
  background-size: cover;
  min-height: 56.2732919255vh;
  box-sizing: border-box;
}
#login-page .email-holder {
  box-sizing: border-box;
  width: 92.8vw;
  border-radius: 9.4666666667vw 0 0 9.4666666667vw;
  height: 8.8198757764vh;
  background: #DDE8FD;
  margin-left: 7.2vw;
  margin-top: 1.9875776398vh;
  padding-left: 10.6666666667vw;
  position: relative;
  text-align: left;
}
#login-page .email-holder input {
  margin-left: 3.6055900621vh;
}
#login-page .email-holder:before {
  position: absolute;
  content: "";
  height: 6.2111801242vh;
  width: 6.2111801242vh;
  background: url("../images/avatar.svg") no-repeat center center;
  background-size: contain;
  left: 4.096vw;
  top: 1.3664596273vh;
}
#login-page .password-holder {
  box-sizing: border-box;
  width: 92.8vw;
  border-radius: 0 9.4666666667vw 9.4666666667vw 0;
  height: 8.8198757764vh;
  background: #DDE8FD;
  margin-top: 1.9875776398vh;
  padding-left: 39.4266666667vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.4906832298vh;
}
#login-page .password-holder:before {
  position: absolute;
  content: "";
  height: 6.2111801242vh;
  width: 6.2111801242vh;
  background: url("../images/locked.svg") no-repeat center center;
  background-size: contain;
  right: 4.096vw;
  top: 1.3664596273vh;
}
#login-page .password-holder:focus:before, #login-page .password-holder:active:before {
  display: none;
}
#login-page .stay-connected {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 1.4906832298vh;
  font-size: 1.8633540373vh;
}
#login-page .stay-connected input {
  margin-right: 2.6666666667vw;
  height: 2.4844720497vh;
  width: 2.4844720497vh;
  border-radius: 0.6211180124vh;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  position: relative;
}
#login-page .stay-connected input:checked {
  border-color: #1CCCC6;
}
#login-page .stay-connected input:checked:after {
  content: "✓";
  font-size: 1.4906832298vh;
  position: absolute;
  top: 0px;
  left: 1.0666666667vw;
  color: #1CCCC6;
}
#login-page #email, #login-page #password {
  background: transparent;
  border: none;
  font-family: poppins, sans-serif;
  color: #12121A;
  font-size: 2.2360248447vh;
  font-weight: 400;
  margin-top: 2.9813664596vh;
}
#login-page #email.-internal-autofill-selected, #login-page #password.-internal-autofill-selected {
  background: transparent;
}
#login-page #email:focus, #login-page #email:active, #login-page #password:focus, #login-page #password:active {
  outline: 0;
  border: 0;
}
#login-page #email::placeholder, #login-page #password::placeholder {
  color: #12121A;
  font-family: poppins, sans-serif;
  color: #12121A;
  font-size: 2.2360248447vh;
  font-weight: 400;
}
#login-page #email {
  overflow-x: hidden;
}
#login-page .btn-primary {
  font-family: poppins;
  font-weight: bold;
  color: #fff;
  font-size: 2.6086956522vh;
  text-transform: uppercase;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  margin-left: 7.2vw;
  margin-right: 7.2vw;
  margin-bottom: 1.9875776398vh;
  width: 85.6vw;
  padding: 2.7329192547vh 0;
}
#login-page a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.3607843137);
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-size: 1.8633540373vh;
}
#login-page .alert-danger {
  margin-left: 7.2vw;
  margin-right: 7.2vw;
  margin-top: 1.9875776398vh;
  font-size: 1.6149068323vh;
}
#login-page .alert-danger ul {
  list-style: disc;
  padding: 0 7.2vw;
  margin: 0;
  text-align: left;
}
#login-page footer {
  background: #105175;
  border-radius: 62pt 62pt 0 0;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 2.3602484472vh 0;
  font-family: helveticaneue, Roboto, sans-serif;
  font-size: 1.9875776398vh;
  margin-top: 1.9875776398vh;
}
#login-page footer img {
  display: block;
  width: 46.9333333333vw;
  margin: 1.6149068323vh auto;
}

.options-container-opened .e-control {
  border-radius: 2.2360248447vh 2.2360248447vh 0 0 !important;
}

.options-container {
  color: #fff;
  border: none !important;
  background-color: #002A41 !important;
  padding: 0 3.2vw;
}

.confirm-holder {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4.8vw;
  box-sizing: border-box;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1607843137);
}
.confirm-holder .confirm-modal {
  border-radius: 4.8vw;
  padding: 2.2360248447vh 0 0 0;
  margin: 0 9.6vw;
  background-color: #0F4C6E;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 0.9937888199vh 0.9937888199vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  font-family: poppins;
  font-size: 1.6149068323vh;
  position: relative;
}
.confirm-holder .confirm-modal .close-button {
  color: #d92550;
  position: absolute;
  top: 1.2422360248vh;
  right: 2.6666666667vw;
  font-size: large;
  background-color: white;
  border-radius: 5.3333333333vw;
}
.confirm-holder .confirm-modal .confirm-text {
  text-align: center;
  padding: 4.5333333333vw;
  color: #fff;
}
.confirm-holder .confirm-modal .confirm-footer {
  display: flex;
  margin-top: 1.9875776398vh;
}
.confirm-holder .confirm-modal .confirm-footer button {
  border: none;
  flex: 1;
  margin: 0;
  color: #fff;
  font-size: 2.1118012422vh;
}
.confirm-holder .confirm-modal .confirm-footer .no-button {
  background-color: #1CCCC6;
  border-radius: 0 0 0 4.8vw;
  height: 5.4658385093vh;
  border-right: solid 1px #0F4C6E;
}
.confirm-holder .confirm-modal .confirm-footer .yes-button {
  background-color: #1CCCC6;
  border-radius: 0 0 4.8vw 0;
  height: 5.4658385093vh;
  border-left: solid 1px #0F4C6E;
}

.modal-holder {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
.modal-holder .modal-window {
  border-radius: 4.8vw;
  box-sizing: border-box;
  width: 100%;
  background-color: #105175;
  box-shadow: 0 0.9937888199vh 0.9937888199vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  margin: 0 9.6vw;
  font-family: poppins;
  font-size: 1.6149068323vh;
  text-align: center;
  position: relative;
}
.modal-holder .modal-window .close-button {
  color: #d92550;
  position: absolute;
  top: 1.2422360248vh;
  right: 2.6666666667vw;
  font-size: large;
  background-color: white;
  border-radius: 5.3333333333vw;
  z-index: 2;
}
.modal-holder .modal-window .modal-content {
  padding: 2.2360248447vh 6.4vw;
  background-color: transparent;
  border-radius: 4.8vw 4.8vw 0 0;
}
.modal-holder .modal-window .modal-footer {
  display: flex;
  padding: 0;
  background-color: transparent;
  border-color: #1CCCC6;
}
.modal-holder .modal-window .modal-footer button {
  border: none;
  flex: 1;
  margin: 0;
  color: #fff;
  font-size: 2.1118012422vh;
}
.modal-holder .modal-window .modal-footer .action-button {
  background-color: #1CCCC6;
  border-radius: 0 0 4.8vw 4.8vw;
  height: 5.4658385093vh;
}

#scanner-page {
  padding: 1.9875776398vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 94.2857142857vh;
}
#scanner-page .code-reader-holder {
  max-width: 100%;
  width: 100%;
  position: relative;
}
#scanner-page .code-reader-holder canvas {
  border: solid 3px #fff;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  width: 39.751552795vh;
  height: 29.8136645963vh;
}

#fieldtrips-page {
  padding: 1.4906832298vh 4.8vw;
}
#fieldtrips-page .filters-bar {
  margin-bottom: 1.4906832298vh;
}
#fieldtrips-page .filters-bar .e-input-group {
  background: transparent !important;
  border: none !important;
}
#fieldtrips-page .filters-bar .filter-type {
  position: relative;
}
#fieldtrips-page .filters-bar .filter-type .sort-way {
  display: inline-block;
  color: #fff;
  position: absolute;
  right: 0;
  top: 1.1180124224vh;
  margin-right: 3.2vw;
  z-index: 3;
}
#fieldtrips-page .filters-bar .filter-type .e-control {
  padding: 0.3726708075vh 4.8vw;
}
#fieldtrips-page .filters-bar .form-control, #fieldtrips-page .filters-bar .e-control {
  background: #002A41 !important;
  color: #fff;
  border-radius: 2.2360248447vh;
  padding: 0.3726708075vh 4.8vw;
  height: 4.4720496894vh;
  font-family: poppins;
  font-size: 1.7391304348vh;
  margin-bottom: 1.4906832298vh;
  width: 100%;
  box-shadow: none;
  border: 0;
}
#fieldtrips-page .fieldtrips-filter-type-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#fieldtrips-page .fieldtrips-filter-type-title .fieldtrips-filter-type {
  color: #fff;
  font-style: italic;
  display: flex;
  margin-bottom: 0.7453416149vh;
  font-size: 1.8633540373vh;
}
#fieldtrips-page .fieldtrips-filter-type-title .fieldtrips-filter-type .fieldtrips-filter-type-icon {
  background-color: #002a41;
  height: 3.1055900621vh;
  width: 3.1055900621vh;
  border-radius: 2.4844720497vh;
  border: solid 1px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3333333333vw;
}
#fieldtrips-page .fieldtrips-filter-type-title .fieldtrips-filter-type .fieldtrips-filter-type-icon i {
  font-size: 1.4906832298vh;
}
#fieldtrips-page .fieldtrips-filter-type-title .fieldtrips-filter-type .fieldtrips-filter-type-label {
  margin-left: 1.3333333333vw;
}
#fieldtrips-page .fieldtrips-list {
  padding-bottom: 11.4285714286vh;
}
#fieldtrips-page .fieldtrips-list .no-results {
  color: #fff;
  font-style: italic;
  font-size: 1.6149068323vh;
}
#fieldtrips-page .fieldtrip-card {
  display: flex;
  color: #fff;
  background-color: #105175;
  margin-bottom: 2.2360248447vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 1.4906832298vh 0 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  position: relative;
  align-items: center;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-picture {
  height: 8.9440993789vh;
  width: 8.9440993789vh;
  background: #fff center center no-repeat;
  background-size: cover;
  border-radius: 4.4720496894vh;
  margin-right: 1.1180124224vh;
  position: relative;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-picture .fieldtrip-bookmark {
  background-color: #002A41;
  height: 4.4720496894vh;
  width: 4.4720496894vh;
  border-radius: 4.4720496894vh;
  position: absolute;
  font-size: 2.2360248447vh;
  top: 2.4844720497vh;
  left: -1.4906832298vh;
  text-align: center;
  display: table;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-picture .fieldtrip-bookmark i {
  display: table-cell;
  vertical-align: middle;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin-right: 10.4vw;
  max-width: 52vw;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-type {
  font-family: poppins;
  font-size: 1.4906832298vh;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-title {
  font-family: poppins;
  font-size: 2.2360248447vh;
  font-weight: 800;
  padding: 0;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-attributes {
  font-size: 1.4906832298vh;
  font-family: poppins;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-attributes .fieldtrip-field {
  position: relative;
  padding-left: 5.8666666667vw;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-attributes .fieldtrip-field:before {
  content: "";
  height: 2.2360248447vh;
  width: 2.2360248447vh;
  border-radius: 2.2360248447vh;
  background: url("../images/field.svg") no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-attributes .fieldtrip-download {
  display: flex;
  margin-left: 2.6666666667vw;
  align-items: center;
  border: solid 1px #002A41;
  border-radius: 2.7329192547vh;
  padding: 1.3333333333vw;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-attributes .fieldtrip-download .fieldtrip-download-icon {
  background-color: #002a41;
  height: 2.4844720497vh;
  width: 2.4844720497vh;
  border-radius: 2.4844720497vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-attributes .fieldtrip-download .fieldtrip-download-icon i {
  font-size: 1.4906832298vh;
  color: #d92550;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-info .fieldtrip-attributes .fieldtrip-download .fieldtrip-download-label {
  margin-left: 1.3333333333vw;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-actions {
  width: 10.4vw;
  max-width: 10.4vw;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 1;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-actions i {
  font-size: 3.9751552795vh;
  width: 100%;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-card-description {
  background-color: #105175;
  color: #fff;
  border-radius: 3.1055900621vh 3.1055900621vh 3.1055900621vh 3.1055900621vh;
  transition-property: width;
  transition-duration: 0.3s;
  width: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 2.2360248447vh;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-card-description.menu-visible {
  width: 100%;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-card-description header {
  text-align: left;
  position: relative;
  padding-top: 2.2360248447vh;
  font-family: poppins;
  margin-bottom: 0.4968944099vh;
  font-size: 1.2422360248vh;
  padding-left: 2.8571428571vh;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-card-description header i {
  position: absolute;
  font-size: 2.2360248447vh;
  top: 2.4844720497vh;
  right: 2.2360248447vh;
}
#fieldtrips-page .fieldtrip-card .fieldtrip-card-description section {
  font-family: poppins;
  font-size: 1.7391304348vh;
  padding: 0 5.5900621118vh 0 2.8571428571vh;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#fieldtrips-page .fieldtrips-footer {
  background: #002A41;
  color: #fff;
  height: 11.4285714286vh;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  border-radius: 6.2111801242vh 6.2111801242vh 0 0;
  padding: 1.4906832298vh 3.1055900621vh;
  z-index: 2;
  font-size: 1.8633540373vh;
}
#fieldtrips-page .fieldtrips-footer a {
  flex: 1;
  text-align: center;
  padding-top: 3.4782608696vh;
  position: relative;
  color: #fff;
}
#fieldtrips-page .fieldtrips-footer a:before {
  content: "";
  height: 3.1055900621vh;
  width: 100%;
  top: 0;
  position: absolute;
  background-size: contain;
  display: block;
}
#fieldtrips-page .fieldtrips-footer a.scanner:before {
  background: url("../images/scanner.svg") center center no-repeat;
  background-size: contain;
}
#fieldtrips-page .fieldtrips-footer a.check:before {
  background: url("../images/check.svg") center center no-repeat;
  background-size: contain;
}
#fieldtrips-page .fieldtrips-footer a.bookmark:before {
  background: url("../images/bookmark.svg") center center no-repeat;
  background-size: contain;
}
#fieldtrips-page .fieldtrips-footer .downloaded {
  flex: 1;
  text-align: center;
  position: relative;
  color: #fff;
}
#fieldtrips-page .fieldtrips-footer .downloaded i {
  color: #1CCCC6;
  font-size: 3.1055900621vh;
}

#register-page {
  background: linear-gradient(#105175, #002A41);
  position: relative;
}
#register-page .logo {
  width: calc(100% - 14.4vw);
  padding-top: 4vh;
  margin-left: 7.2vw;
  margin-right: 7.2vw;
}
#register-page .textured {
  margin-top: -3.9751552795vh;
  padding-top: 5.9627329193vh;
  background: url("/images/texture.svg") no-repeat center center;
  background-size: cover;
  min-height: 56.2732919255vh;
  box-sizing: border-box;
}
#register-page .btn-primary {
  font-family: poppins;
  font-weight: bold;
  color: #fff;
  font-size: 2.6086956522vh;
  text-transform: uppercase;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  margin-left: 7.2vw;
  margin-right: 7.2vw;
  margin-bottom: 1.9875776398vh;
  width: 85.6vw;
}
#register-page .alert-danger {
  margin-left: 7.2vw;
  margin-right: 7.2vw;
  margin-top: 1.9875776398vh;
  font-size: 1.6149068323vh;
}
#register-page .alert-danger ul {
  list-style: disc;
  padding: 0 7.2vw;
  margin: 0;
  text-align: left;
}
#register-page .field {
  margin-left: 7.2vw;
  margin-right: 7.2vw;
  margin-bottom: 2.9813664596vh;
  font-size: 1.8633540373vh;
}
#register-page input {
  box-sizing: border-box;
  width: 85.6vw;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  height: 4.9689440994vh;
  background: #DDE8FD;
  padding-left: 5.3333333333vw;
  position: relative;
  overflow: hidden;
  border: solid 1px #105175 !important;
}
#register-page input:focus-visible {
  outline: solid 2px #1CCCC6 !important;
}
#register-page .divCaptach {
  justify-content: center;
}

.alert-danger {
  width: auto !important;
  font-size: 1.6149068323vh;
}

.alert {
  font-size: 1.6149068323vh;
}

#myaccount-page {
  padding: 1.4906832298vh 4.8vw;
}
#myaccount-page .myaccount-card {
  color: #fff;
  background-color: #105175;
  margin-bottom: 11.4285714286vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 1.4906832298vh 4.8vw 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  border: solid 1px #1CCCC6;
}
#myaccount-page .myaccount-card.editing {
  background: #002A41;
}
#myaccount-page .myaccount-card.editing label {
  color: #1CCCC6 !important;
}
#myaccount-page .myaccount-card.editing input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  height: 4.9689440994vh;
  background: #DDE8FD;
  padding-left: 5.3333333333vw;
  position: relative;
  overflow: hidden;
  border: solid 1px #105175 !important;
}
#myaccount-page .myaccount-card.editing input:focus-visible {
  outline: solid 2px #1CCCC6 !important;
}
#myaccount-page .myaccount-card .form-group.field {
  font-size: 1.8633540373vh;
}
#myaccount-page .myaccount-card .btn {
  font-family: poppins;
  font-weight: bold;
  color: #fff;
  font-size: 2.6086956522vh;
  text-transform: inherit;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  /*margin-left: calc(27 * 100vw / $mockup-width);*/
  margin-right: 10.4vw;
  margin-bottom: 1.9875776398vh;
  width: 80.5333333333vw;
}
#myaccount-page .myaccount-footer {
  background: #002A41;
  color: #fff;
  height: 11.4285714286vh;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  border-radius: 6.2111801242vh 6.2111801242vh 0 0;
  padding: 1.4906832298vh 6.2111801242vh;
  font-size: 1.8633540373vh;
}
#myaccount-page .myaccount-footer a {
  flex: 1;
  text-align: center;
  padding-top: 3.4782608696vh;
  position: relative;
}
#myaccount-page .myaccount-footer a:before {
  content: "";
  height: 3.1055900621vh;
  width: 100%;
  top: 0;
  position: absolute;
  background-size: contain;
  display: block;
}
#myaccount-page .myaccount-footer a.home:before {
  background: url("../images/compas.svg") center center no-repeat;
  background-size: contain;
}

.journey-page.regular-page {
  background: none;
}
.journey-page .header-toolbar .page-title {
  display: flex;
  padding-left: 1.6vw;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
}
.journey-page .header-toolbar .page-title i {
  flex: 1;
  width: 5.3333333333vw;
  max-width: 5.3333333333vw;
  margin-top: 0.7453416149vh;
}
.journey-page .header-toolbar .page-title .journey-title {
  flex: 1;
}

.journey-blanc {
  background-color: #FBFBFB !important;
  color: #002A41;
}
.journey-blanc .header-toolbar .page-title {
  color: #12121A;
}
.journey-blanc .journey-inner, .journey-blanc.journey-page > div {
  background-image: url("../images/journey-texture-dark.svg");
}

.journey-jaune {
  background-color: #F6E165 !important;
  color: #002A41;
}
.journey-jaune .header-toolbar .page-title {
  color: #12121A;
}
.journey-jaune .journey-inner, .journey-jaune.journey-page > div {
  background-image: url("../images/journey-texture-dark.svg");
}

.journey-orange {
  background-color: #FF6E03 !important;
  color: #fff;
}
.journey-orange .journey-inner, .journey-orange.journey-page > div {
  background-image: url("../images/journey-texture-light.svg");
}

.journey-vert {
  background-color: #A5E09C !important;
  color: #002A41;
}
.journey-vert .header-toolbar .page-title {
  color: #12121A;
}
.journey-vert .journey-inner, .journey-vert.journey-page > div {
  background-image: url("../images/journey-texture-dark.svg");
}

.journey-bleu {
  background-color: #069EFB !important;
  color: #fff;
}
.journey-bleu > .journey-inner, .journey-bleu.journey-page > div {
  background-image: url("../images/journey-texture-light.svg");
}

.journey-violet {
  background-color: #490779 !important;
  color: #fff;
}
.journey-violet > .journey-inner, .journey-violet.journey-page > div {
  background-image: url("../images/journey-texture-light.svg");
}

.journey-marron {
  background-color: #382510 !important;
  color: #fff;
}
.journey-marron > .journey-inner, .journey-marron.journey-page > div {
  background-image: url("../images/journey-texture-light.svg");
}

.journey-gris {
  background-color: #575757 !important;
  color: #fff;
}
.journey-gris > .journey-inner, .journey-gris.journey-page > div {
  background-image: url("../images/journey-texture-light.svg");
}

h2 {
  color: #fff;
  font-size: 2.2360248447vh;
  font-family: poppins;
  font-weight: 700;
  margin: 0.7453416149vh 0;
}

#fieldtrip-page {
  color: #fff;
  padding: 1.4906832298vh 3.2vw;
}
#fieldtrip-page .fieldtrip-info {
  background-color: #105175;
  padding: 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 2.2360248447vh 5.3333333333vw;
}
#fieldtrip-page .fieldtrip-info .fieldtrip-type {
  color: #1CCCC6;
  font-family: poppins;
  font-weight: 700;
  font-size: 2.9813664596vh;
  text-align: center;
}
#fieldtrip-page .fieldtrip-info .fieldtrip-picture {
  margin: 2.2360248447vh 0;
  text-align: center;
}
#fieldtrip-page .fieldtrip-info .fieldtrip-picture img {
  width: 100%;
  border-radius: 2.2360248447vh;
}
#fieldtrip-page .fieldtrip-info .fieldtrip-description {
  font-size: 1.8633540373vh;
  font-family: poppins;
  font-weight: lighter;
  text-align: justify;
  color: #fff !important;
}
#fieldtrip-page .fieldtrip-info h2 {
  margin-top: 2.2360248447vh;
}
#fieldtrip-page .journeys-list {
  padding: 0;
}
#fieldtrip-page .journeys-list .journey-button {
  margin: 1.4906832298vh 0;
  display: block;
  font-family: poppins;
  font-weight: bold;
  font-size: 2.2360248447vh;
  position: relative;
  border-radius: 1.4906832298vh;
  text-decoration: none;
  box-sizing: border-box;
}
#fieldtrip-page .journeys-list .journey-button .journey-inner {
  position: relative;
  display: block;
  padding: 0.7453416149vh 4.8vw;
  border-radius: 1.4906832298vh;
  box-sizing: border-box;
}

.fieldtrip-page .header-toolbar .page-title {
  display: flex;
  padding-left: 1.6vw;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
  align-items: flex-start;
}
.fieldtrip-page .header-toolbar .page-title i {
  flex: 1;
  width: 5.3333333333vw;
  max-width: 5.3333333333vw;
  margin-top: 0.7453416149vh;
}
.fieldtrip-page .header-toolbar .page-title .fieldtrip-title {
  flex: 1;
}

em {
  background-color: transparent;
}

#journey-page {
  padding: 1.4906832298vh 3.2vw;
}
#journey-page .fieldtrip-info {
  background-color: #105175;
  padding: 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 2.2360248447vh 5.3333333333vw;
}
#journey-page .fieldtrip-info .end-game-button {
  background-color: #00cc00;
}
#journey-page .fieldtrip-type {
  color: #1CCCC6;
  font-family: poppins;
  font-weight: 700;
  font-size: 3.4782608696vh;
  text-align: center;
  margin-bottom: 1.2422360248vh;
}
#journey-page .fieldtrip-picture {
  margin: 2.2360248447vh 0;
  text-align: center;
}
#journey-page .fieldtrip-picture img {
  width: 100%;
  border-radius: 2.2360248447vh;
}
#journey-page .fieldtrip-description {
  font-size: 1.8633540373vh;
  font-family: poppins;
  font-weight: lighter;
  text-align: justify;
  color: #fff !important;
}
#journey-page .fieldtrip-description span, #journey-page .fieldtrip-description em, #journey-page .fieldtrip-description strong {
  background-color: transparent !important;
  color: #fff !important;
}
#journey-page h2 {
  margin-top: 2.2360248447vh;
}
#journey-page > div {
  position: relative;
}

#game-header {
  padding: 1.4906832298vh 3.2vw 0 3.2vw;
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-weight: bold;
  font-size: 1.8633540373vh;
}
#game-header .game-progression {
  display: flex;
  color: #D1FF46;
  white-space: nowrap;
  background-color: #002A41;
  height: 4.4720496894vh;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  padding: 1.3333333333vw 2.6666666667vw 1.3333333333vw 1.3333333333vw;
  margin: 0 1.8666666667vw;
}
#game-header .game-progression .game-progression-icon {
  background-color: #D1FF46;
  border-radius: 1.6149068323vh;
  margin-right: 1.3333333333vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2298136646vh;
  width: 3.2298136646vh;
}
#game-header .game-progression .game-progression-icon .marker-unit {
  height: 2.4844720497vh;
  width: 1.8633540373vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/leaflet-marker-unit.svg");
}
#game-header .game-alloted-time {
  display: flex;
  color: #D1FF46;
  white-space: nowrap;
  background-color: #002A41;
  height: 4.4720496894vh;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  padding: 1.3333333333vw 2.6666666667vw 1.3333333333vw 1.3333333333vw;
  margin: 0 1.8666666667vw;
}
#game-header .game-alloted-time .hourglass {
  height: 3.2298136646vh;
  width: 3.2298136646vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/hourglass.svg");
  margin-right: 1.3333333333vw;
}
#game-header .game-elapsed-time {
  display: flex;
  color: #AEECA5;
  white-space: nowrap;
  background-color: #002A41;
  height: 4.4720496894vh;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  padding: 1.3333333333vw 2.6666666667vw 1.3333333333vw 1.3333333333vw;
  margin: 0 1.8666666667vw;
}
#game-header .game-elapsed-time .stopwatch {
  height: 3.2298136646vh;
  width: 3.2298136646vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/stopwatch.svg");
  margin-right: 1.3333333333vw;
}
#game-header .game-gain {
  display: flex;
  color: #FFEB41;
  white-space: nowrap;
  background-color: #002A41;
  height: 4.4720496894vh;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  padding: 1.3333333333vw 2.6666666667vw 1.3333333333vw 1.3333333333vw;
  transition-property: font-size, border, color;
  transition-duration: 0.1s;
  margin: 0 1.8666666667vw;
}
#game-header .game-gain.increase {
  font-size: x-large;
  border: solid 2px lime;
  color: lime;
}
#game-header .game-gain.decrease {
  font-size: x-large;
  border: solid 2px #ff0b0b;
  color: #ff0b0b;
}
#game-header .game-gain .star {
  height: 3.2298136646vh;
  width: 3.2298136646vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin-right: 1.3333333333vw;
  background: url("../images/starred-3x.svg");
}

#button-enriched-map {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/btn-map.svg");
  position: fixed;
  right: 1.6vw;
  bottom: 0.7453416149vh;
  height: 18.6666666667vw;
  width: 18.6666666667vw;
  border-radius: 4.347826087vh;
  z-index: 1;
}

.icon-enriched-map {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/btn-map.svg");
  border-radius: 2.8985507246vh;
  height: 12.4444444444vw;
  width: 12.4444444444vw;
  display: inline-block;
  vertical-align: middle;
}

#poi-page {
  padding: 1.4906832298vh 3.2vw;
  color: #fff;
}
#poi-page .location-clue {
  background-color: #105175;
  padding: 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 2.2360248447vh 5.3333333333vw;
  /*margin-top: calc(18 * 100vh / $mockup-height);*/
}
#poi-page .location-clue .clue-title {
  color: #1CCCC6;
  font-family: poppins;
  font-weight: 700;
  font-size: 3.4782608696vh;
  margin-bottom: 1.2422360248vh;
  text-align: center;
}
#poi-page .location-clue .clue-description {
  font-size: 1.8633540373vh;
  font-family: poppins;
  font-weight: lighter;
  text-align: justify;
  color: #fff !important;
}
#poi-page .location-clue .picture-clue {
  margin: 2.2360248447vh 0;
  text-align: center;
}
#poi-page .location-clue .picture-clue img {
  width: 100%;
  border-radius: 2.2360248447vh;
}
#poi-page .location-clue .radar-message {
  font-family: poppins;
  font-weight: bold;
  font-size: 2.2360248447vh;
  height: 11.9254658385vh;
  width: 100%;
  border-radius: 2.2360248447vh;
  background-color: #002A41;
  margin: 5.7142857143vh 0 2.2360248447vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
#poi-page .location-clue .radar-message .radar {
  height: 6.9565217391vh;
  width: 6.9565217391vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/radar.svg");
  position: absolute;
  top: -3.4782608696vh;
}
#poi-page .location-clue .radar-message .radar-distance {
  color: #fff;
}
#poi-page .location-clue .radar-message .radar-distance.increase {
  color: #ff0b0b;
}
#poi-page .location-clue .radar-message .radar-distance.decrease {
  color: lime;
}
#poi-page .unit-info {
  background-color: #105175;
  padding: 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 2.2360248447vh 5.3333333333vw;
}
#poi-page .unit-info .unit-info-title {
  color: #1CCCC6;
  font-family: poppins;
  font-weight: 700;
  font-size: 3.4782608696vh;
  margin-bottom: 1.2422360248vh;
  text-align: center;
}
#poi-page .unit-info .unit-info-description {
  font-size: 1.8633540373vh;
  font-family: poppins;
  font-weight: lighter;
  text-align: justify;
  color: #fff !important;
}
#poi-page .unit-info .unit-info-picture {
  margin: 2.2360248447vh 0;
  text-align: center;
}
#poi-page .unit-info .unit-info-picture img {
  width: 100%;
  border-radius: 2.2360248447vh;
}
#poi-page .unit-conclusion {
  background-color: #105175;
  padding: 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 2.2360248447vh 5.3333333333vw;
}
#poi-page .unit-conclusion .unit-conclusion-title {
  color: #1CCCC6;
  font-family: poppins;
  font-weight: 700;
  font-size: 3.4782608696vh;
  margin-bottom: 1.2422360248vh;
  text-align: center;
}
#poi-page .unit-conclusion .unit-conclusion-description {
  font-size: 1.8633540373vh;
  font-family: poppins;
  font-weight: lighter;
  text-align: justify;
  color: #fff !important;
}
#poi-page .unit-conclusion .unit-conclusion-picture {
  margin: 2.2360248447vh 0;
  text-align: center;
}
#poi-page .unit-conclusion .unit-conclusion-picture img {
  width: 100%;
  border-radius: 2.2360248447vh;
}
#poi-page .activity {
  background-color: #105175;
  padding: 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 2.2360248447vh 5.3333333333vw;
}
#poi-page .activity .activity-title {
  color: #1CCCC6;
  font-family: poppins;
  font-weight: 700;
  font-size: 3.4782608696vh;
  margin-bottom: 1.2422360248vh;
  text-align: center;
}
#poi-page .activity .activity-gain {
  display: flex;
  color: #FFEB41;
  font-family: poppins;
  font-size: 1.6149068323vh;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 1.2422360248vh;
  justify-content: center;
}
#poi-page .activity .activity-gain .star {
  height: 2.2360248447vh;
  width: 2.2360248447vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin-right: 1.3333333333vw;
  background: url("../images/starred-3x.svg");
}
#poi-page .activity .activity-statement {
  font-size: 1.8633540373vh;
  font-family: poppins;
  font-weight: lighter;
  text-align: justify;
  color: #fff !important;
}
#poi-page .activity .activity-picture {
  margin: 2.2360248447vh 0;
  text-align: center;
}
#poi-page .activity .activity-picture img {
  width: 100%;
  border-radius: 2.2360248447vh;
}
#poi-page .activity .text-white {
  font-size: 1.8633540373vh;
}
#poi-page .activity .activity-get-clue {
  position: relative;
  margin-bottom: 2.1118012422vh;
}
#poi-page .activity .activity-get-clue button {
  background-color: #FFA32C;
  text-align: left;
  padding: 1.6149068323vh 10.6666666667vw;
}
#poi-page .activity .activity-get-clue .get-clue-label {
  background-color: #fff;
  position: absolute;
  right: 2.4vw;
  top: 1.1180124224vh;
  color: #FF0B0B;
  font-size: 1.6149068323vh;
  font-family: poppins;
  font-weight: bold;
  height: 4.4720496894vh;
  width: 18.4vw;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#poi-page .activity .activity-get-clue .get-clue-label .clue-cost {
  text-align: center;
}
#poi-page .activity .activity-get-clue .get-clue-label .clue-cost i {
  color: #002A41;
  font-size: 2.2360248447vh;
  height: 2.2360248447vh;
  width: 4.8vw;
  margin-right: 1.3333333333vw;
}
#poi-page .activity .activity-answer {
  padding: 1.3333333333vw;
  margin-bottom: 1.6149068323vh;
  font-size: 1.8633540373vh;
}
#poi-page .activity .activity-answer.correct-answer {
  border: solid 3px lime;
  border-radius: 2.8vw 2.8vw 2.8vw 2.8vw;
}
#poi-page .activity .activity-answer.wrong-answer {
  border: solid 3px #ff0b0b;
  border-radius: 2.8vw 2.8vw 2.8vw 2.8vw;
}
#poi-page .activity .activity-mcq {
  display: flex;
  flex-direction: column;
}
#poi-page .activity .activity-mcq .answer-mcq {
  margin: 1.6149068323vh 0;
}
#poi-page .activity .activity-mcq .answer-mcq .custom-control-label:before {
  background-color: transparent;
  border: #fff solid 1px;
}
#poi-page .activity .activity-mcq .answer-mcq .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}
#poi-page .activity .activity-mcq .answer-mcq i {
  border-radius: 50%;
  margin-bottom: 0.2rem;
  color: transparent;
  border: #fff solid 1px;
}
#poi-page .activity .activity-mcq .answer-mcq i.checked {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}
#poi-page .activity .activity-mcq .answer-mcq label {
  margin-left: 1.3333333333vw;
}
#poi-page .activity .activity-mcq .answer-mcq.correct-answer {
  color: lime;
  font-weight: bold;
}
#poi-page .activity .activity-mcq .answer-mcq.wrong-answer {
  color: #ff0b0b;
  font-weight: bold;
}
#poi-page .activity .activity-picture-mcq {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#poi-page .activity .activity-picture-mcq .answer-picture {
  height: 15.5279503106vh;
  width: 15.5279503106vh;
  border-radius: 2.2360248447vh;
  background: transparent no-repeat center center;
  background-size: contain;
  margin: 2.2360248447vh 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: solid 1px #fff;
  position: relative;
}
#poi-page .activity .activity-picture-mcq .answer-picture.selected {
  border: solid 3px #1CCCC6;
}
#poi-page .activity .activity-picture-mcq .answer-picture.correct-answer {
  border: solid 3px lime;
  border-radius: 2.8vw 2.8vw 2.8vw 2.8vw;
}
#poi-page .activity .activity-picture-mcq .answer-picture.wrong-answer {
  border: solid 3px #ff0b0b;
  border-radius: 2.8vw 2.8vw 2.8vw 2.8vw;
}
#poi-page .activity .activity-picture-mcq .answer-picture i {
  border-radius: 50%;
  margin-bottom: 0.6211180124vh;
  border: #105175 solid 1px;
  background-color: #fff;
}
#poi-page .activity .activity-picture-mcq .answer-picture i.fa-dot-circle {
  color: #fff;
  background-color: #1CCCC6;
  border-color: #007bff;
}
#poi-page .activity .activity-picture-mcq .answer-picture .crossed {
  height: 14.2857142857vh;
  width: 14.2857142857vh;
  position: absolute;
  top: 0.248447205vh;
  left: 0.248447205vh;
  background: linear-gradient(to top left, transparent 0%, transparent calc(50% - 3px), #ff0b0b 50%, transparent calc(50% + 3px), transparent 100%), linear-gradient(to top right, transparent 0%, transparent calc(50% - 3px), #ff0b0b 50%, transparent calc(50% + 3px), transparent 100%);
}
#poi-page .activity .activity-validation {
  position: relative;
}
#poi-page .activity .activity-validation button {
  text-align: left;
  padding: 1.6149068323vh 10.6666666667vw;
}
#poi-page .activity .activity-validation .activity-validation-label {
  background-color: #002A41;
  position: absolute;
  right: 2.4vw;
  top: 1.1180124224vh;
  color: #D1FF46;
  font-size: 1.6149068323vh;
  font-family: poppins;
  font-weight: bold;
  height: 4.4720496894vh;
  width: 18.4vw;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#poi-page .activity .activity-validation .activity-validation-label .activity-validation-gain {
  text-align: center;
}
#poi-page .activity .activity-validation .activity-validation-label .activity-validation-gain i {
  color: #fff;
  font-size: 2.2360248447vh;
  height: 2.2360248447vh;
  width: 4.8vw;
  margin-right: 1.3333333333vw;
}
#poi-page .activity .activity-clue-picture {
  margin-top: 2.2360248447vh;
  text-align: center;
}
#poi-page .activity .activity-clue-picture img {
  width: 100%;
  border-radius: 2.2360248447vh;
}
#poi-page .activity .activity-clue-label {
  background-color: #fff;
  /*            position: absolute;
  left: calc(118 * 100vw / $mockup-width);
  bottom: calc(2 * 100vh / $mockup-height);*/
  color: #FF0B0B;
  font-size: 1.6149068323vh;
  font-family: poppins;
  font-weight: bold;
  height: 4.4720496894vh;
  width: 18.4vw;
  border-radius: 2.2360248447vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #002A41;
  align-self: center;
  margin-top: 0.75vh;
}
#poi-page .activity .activity-clue-label .activity-clue-cost {
  text-align: center;
}
#poi-page .activity .activity-clue-label .activity-clue-cost i {
  color: #002A41;
  font-size: 2.2360248447vh;
  height: 2.2360248447vh;
  width: 4.8vw;
  margin-right: 1.3333333333vw;
}
#poi-page .activity .text-after-answer {
  white-space: pre-line;
}
#poi-page .activity textarea {
  box-sizing: border-box;
  width: 100%;
  border-radius: 2.8vw 2.8vw 2.8vw 2.8vw;
  height: 12.4223602484vh;
  background: #DDE8FD;
  padding: 1.2422360248vh 2.6666666667vw;
  position: relative;
  overflow: hidden;
  border: solid 1px #105175 !important;
  font-size: 1.8633540373vh;
}
#poi-page .activity textarea:focus-visible {
  outline: solid 2px #1CCCC6 !important;
}
#poi-page .activity textarea.note-taking {
  height: 19.8757763975vh;
}
#poi-page .activity input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 2.8vw 2.8vw 2.8vw 2.8vw;
  height: 4.9689440994vh;
  background: #DDE8FD;
  padding-left: 2.6666666667vw;
  position: relative;
  overflow: hidden;
  border: solid 1px #105175 !important;
}
#poi-page .activity input:focus-visible {
  outline: solid 2px #1CCCC6 !important;
}
#poi-page .activity input[type=radio] {
  position: absolute;
}
#poi-page .activity .activity-reading-picture {
  margin-bottom: 2.2360248447vh;
  height: 100%;
  width: 82.6666666667vw;
  object-fit: cover;
  border-radius: 2.2360248447vh;
}
#poi-page .code-reader-holder {
  max-width: 100%;
  width: 100%;
  position: relative;
}
#poi-page .code-reader-holder canvas {
  border: solid 3px #fff;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  width: 39.751552795vh;
  height: 29.8136645963vh;
}

.game-alert-title {
  font-size: 2.1118012422vh;
  margin-bottom: 1.1180124224vh;
  color: #1CCCC6;
}

.game-alert-text {
  font-size: 1.6149068323vh;
  color: #fff;
}
.game-alert-text .remaining-time {
  font-weight: bold;
  white-space: nowrap;
}

.audio-recorder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1.2422360248vh;
}
.audio-recorder .audio-recorder-start {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-size: 3.2298136646vh;
  height: 6.4596273292vh;
  width: 6.4596273292vh;
  border-radius: 3.2298136646vh;
  border: solid 2px #fff;
}
.audio-recorder .audio-recorder-stop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 3.2298136646vh;
  height: 6.4596273292vh;
  width: 6.4596273292vh;
  border-radius: 3.2298136646vh;
  border: solid 2px red;
  color: grey;
}
.audio-recorder .audio-recorder-validate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00cc00;
  font-size: 3.2298136646vh;
  height: 6.4596273292vh;
  width: 6.4596273292vh;
  border-radius: 3.2298136646vh;
  border: solid 2px #fff;
}

.myaccount-page .header-toolbar .page-title {
  display: flex;
  padding-left: 1.6vw;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
  align-items: flex-start;
}
.myaccount-page .header-toolbar .page-title i {
  flex: 1;
  width: 5.3333333333vw;
  max-width: 5.3333333333vw;
  margin-top: 0.7453416149vh;
}
.myaccount-page .header-toolbar .page-title .myaccount-title {
  flex: 1;
}

.played-fieldtrips-page .header-toolbar .page-title {
  display: flex;
  padding-left: 1.6vw;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
  align-items: flex-start;
}
.played-fieldtrips-page .header-toolbar .page-title i {
  flex: 1;
  width: 5.3333333333vw;
  max-width: 5.3333333333vw;
  margin-top: 0.7453416149vh;
}
.played-fieldtrips-page .header-toolbar .page-title .played-fieldtrips-title {
  flex: 1;
}

#played-fieldtrips-page {
  padding: 1.4906832298vh 4.8vw;
}
#played-fieldtrips-page .played-fieldtrips-list {
  padding-bottom: 11.4285714286vh;
}
#played-fieldtrips-page .played-fieldtrips-list .no-results {
  color: #fff;
  font-style: italic;
  font-size: 1.6149068323vh;
}
#played-fieldtrips-page .played-fieldtrips-header .game-gain {
  display: flex;
  color: #fff;
  font-family: poppins;
  font-size: 3.7267080745vh;
  font-weight: bold;
  white-space: nowrap;
  height: 5.3416149068vh;
  align-items: center;
  justify-content: center;
  padding: 1.3333333333vw 2.6666666667vw 1.3333333333vw 1.3333333333vw;
  margin: 1.8666666667vw;
}
#played-fieldtrips-page .played-fieldtrips-header .game-gain .star {
  height: 5.3416149068vh;
  width: 5.3416149068vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin-right: 2.6666666667vw;
  background: url("../images/starred-3x.svg");
}
#played-fieldtrips-page .played-fieldtrip-card {
  color: #fff;
  background-color: #105175;
  margin-bottom: 2.2360248447vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  border-radius: 3.4782608696vh;
  position: relative;
  align-items: center;
  padding: 1.8633540373vh 4vw;
}
#played-fieldtrips-page .played-fieldtrip-card .fieldtrip-info {
  display: flex;
  flex: 1;
}
#played-fieldtrips-page .played-fieldtrip-card .fieldtrip-info .fieldtrip-title {
  font-family: poppins;
  font-size: 2.2360248447vh;
  font-weight: 800;
}
#played-fieldtrips-page .played-fieldtrip-card .fieldtrip-info .game-score {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#played-fieldtrips-page .played-fieldtrip-card .fieldtrip-info .game-score .game-gain {
  display: flex;
  color: #fff;
  font-family: poppins;
  font-size: 1.6149068323vh;
  font-weight: bold;
  white-space: nowrap;
  height: 2.2360248447vh;
  align-items: center;
  justify-content: center;
  margin-top: 0.6211180124vh;
}
#played-fieldtrips-page .played-fieldtrip-card .fieldtrip-info .game-score .game-gain .star {
  height: 2.2360248447vh;
  width: 2.2360248447vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin-right: 1.8666666667vw;
  background: url("../images/starred-3x.svg");
}
#played-fieldtrips-page .played-fieldtrip-card .fieldtrip-info .game-score .game-elapsed-time {
  display: flex;
  color: #fff;
  font-family: poppins;
  font-size: 1.6149068323vh;
  font-weight: bold;
  white-space: nowrap;
  height: 2.2360248447vh;
  align-items: center;
  justify-content: center;
  margin-top: 0.6211180124vh;
}
#played-fieldtrips-page .played-fieldtrip-card .fieldtrip-info .game-score .game-elapsed-time .stopwatch {
  height: 2.2360248447vh;
  width: 2.2360248447vh;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin-right: 1.8666666667vw;
  background: url("../images/stopwatch.svg");
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-actions .btn-primary {
  border-radius: 2.7329192547vh;
  font-family: poppins;
  font-size: 1.6149068323vh;
  font-weight: bold;
  margin-top: 1.2422360248vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-actions .btn-primary.show-readings {
  width: 32.8vw;
  background-color: #059EFB;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-actions .btn-primary.show-map {
  width: 45.3333333333vw;
  background-color: #002A41;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-actions .btn-primary.show-map i {
  color: #A5E09C;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-actions .btn-primary.show-info-sheet {
  width: 32.8vw;
  background-color: #FFA32C;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-actions .btn-primary.show-share-menu {
  width: 45.3333333333vw;
  background-color: #5EC83F;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list {
  background-color: #105175;
  border-radius: 3.1055900621vh 3.1055900621vh 3.1055900621vh 3.1055900621vh;
  transition-property: width;
  transition-duration: 0.3s;
  width: 0;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 2.2360248447vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list.readings {
  left: 0;
  color: #059efb;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list.information-sheets {
  left: 0;
  color: #ffa32c;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list.share-report {
  right: 0;
  color: #5EC83F;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list.card-visible {
  width: 100%;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list.card-visible.readings {
  border: solid 1px #059efb;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list.card-visible.information-sheets {
  border: solid 1px #ffa32c;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list.card-visible.share-report {
  border: solid 1px #5EC83F;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list header {
  text-align: center;
  position: relative;
  padding: 1.4906832298vh 0 0.9937888199vh 2.8571428571vh;
  font-family: poppins;
  margin-bottom: 0.4968944099vh;
  font-size: 1.7391304348vh;
  font-weight: bold;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list header i {
  position: absolute;
  font-size: 2.2360248447vh;
  top: 2.4844720497vh;
  right: 2.2360248447vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list header.readings {
  padding-left: 0;
  padding-right: 2.8571428571vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list header.information-sheets {
  padding-left: 0;
  padding-right: 2.8571428571vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list header.share-report {
  padding-left: 2.8571428571vh;
  padding-right: 0;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section {
  font-family: poppins;
  font-size: 1.7391304348vh;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section.readings {
  padding-right: 3.7267080745vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section.information-sheets {
  padding-right: 3.7267080745vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section.share-report {
  padding-left: 3.7267080745vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .close-readings-list {
  position: absolute;
  font-size: large;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #059efb;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .close-readings-list .close-button {
  padding: 4vw;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .close-information-sheets-list {
  position: absolute;
  font-size: large;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #ffa32c;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .close-information-sheets-list .close-button {
  padding: 4vw;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .close-share-report-options {
  position: absolute;
  font-size: large;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #5EC83F;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .close-share-report-options .close-button {
  padding: 4vw;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .no-results {
  font-size: 1.6149068323vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .no-results.readings {
  padding-right: 2.8571428571vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .no-results.information-sheets {
  padding-left: 2.8571428571vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 13.6645962733vh;
  overflow-y: scroll;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list.readings {
  padding: 0 8vw 0 4vw;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list.information-sheets {
  padding: 0 8vw 0 4vw;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list.share-report {
  padding: 0 4vw 0 8vw;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8vw 0;
  color: #fff;
  font-family: poppins;
  font-size: 1.2422360248vh;
  font-weight: normal;
  border-radius: 2.7329192547vh;
  border: solid 1px #fff;
  padding: 0.6211180124vh 1.3333333333vw;
  width: 100%;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button.share-report-option {
  height: 3.7267080745vh;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .object-button-icon {
  display: flex;
  justify-content: center;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .object-button-icon i {
  font-size: large;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .object-button-icon i.fa-info-circle {
  color: #ffa32c;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .object-button-icon i.fa-clipboard-list {
  font-size: large;
  color: #059efb;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .object-button-icon i.fa-paper-plane {
  color: #5EC83F;
  font-size: small;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .object-button-icon i.fa-user-edit {
  color: #5EC83F;
  font-size: small;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .object-button-icon i.fa-spin {
  color: #5EC83F;
  font-size: small;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .reading-info {
  padding: 0;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .reading-info .activity-name {
  color: #059efb;
  display: inline-block;
  max-width: 53.3333333333vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .reading-info .reading-date {
  text-align: right;
  white-space: nowrap;
  padding-right: 2.6666666667vw;
}
#played-fieldtrips-page .played-fieldtrip-card .played-fieldtrip-card-list section .objects-list .object-button .played-unit-name {
  text-align: center;
  padding-left: 0;
}

.share-report-modal .share-report-modal-title {
  color: #1CCCC6;
  font-family: poppins;
  font-weight: 700;
  font-size: 2.2360248447vh;
  text-align: center;
}
.share-report-modal .field {
  text-align: start;
}
.share-report-modal .field input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  height: 4.9689440994vh;
  background: #DDE8FD;
  padding-left: 5.3333333333vw;
  position: relative;
  overflow: hidden;
  border: solid 1px #105175 !important;
}
.share-report-modal .field input:focus-visible {
  outline: solid 2px #1CCCC6 !important;
}

.played-reading-activity .activity-title {
  color: #1CCCC6;
  font-family: poppins;
  font-weight: 700;
  font-size: 3.4782608696vh;
  text-align: center;
}
.played-reading-activity .played-reading-date {
  color: #D1FF46;
  font-family: poppins;
  font-weight: bold;
  font-size: 2.4844720497vh;
  text-align: center;
}
.played-reading-activity .played-reading-content {
  max-height: 62.1118012422vh;
  overflow-y: scroll;
}
.played-reading-activity .played-reading-content .played-reading-activity-label {
  color: #D1FF46;
}
.played-reading-activity .played-reading-content .played-reading-answer {
  font-size: 1.8633540373vh;
  font-family: poppins;
  font-weight: lighter;
  text-align: justify;
  color: #fff !important;
}
.played-reading-activity .played-reading-content .played-reading-location {
  font-size: 1.8633540373vh;
  font-family: poppins;
  font-weight: lighter;
  text-align: justify;
  color: #fff !important;
}
.played-reading-activity .played-reading-content .played-reading-recordings {
  font-size: 1.8633540373vh;
  font-family: poppins;
  font-weight: lighter;
  text-align: justify;
  color: #fff !important;
}
.played-reading-activity .played-reading-content .played-reading-recordings .carroussel-index {
  display: flex;
  justify-content: center;
  align-items: center;
}
.played-reading-activity .played-reading-content .played-reading-recordings .carroussel-index i {
  border-radius: 50%;
  margin-bottom: 0.2rem;
  color: transparent;
  border: #fff solid 1px;
  font-size: small;
  margin: 0 1.3333333333vw;
}
.played-reading-activity .played-reading-content .played-reading-recordings .carroussel-index i.checked {
  color: #D1FF46;
  border-color: #fff;
}
.played-reading-activity .played-reading-content .carroussel {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1.3333333333vw;
  justify-content: center;
}
.played-reading-activity .played-reading-content .carroussel .played-reading-activity-picture {
  margin-bottom: 2.2360248447vh;
  max-height: 24.8447204969vh;
  /*width: 100%;*/
  object-fit: cover;
  border-radius: 2.2360248447vh;
}
.played-reading-activity .played-reading-content .carroussel i {
  position: absolute;
  color: #D1FF46;
  font-size: xx-large;
  z-index: 1;
}
.played-reading-activity .played-reading-content .carroussel i.fa-arrow-alt-circle-left {
  left: 1.3333333333vw;
}
.played-reading-activity .played-reading-content .carroussel i.fa-arrow-alt-circle-right {
  right: 1.3333333333vw;
}
.played-reading-activity .played-reading-content .carroussel figure {
  margin: 0;
}
.played-reading-activity .played-reading-content .share-readings {
  position: relative;
}
.played-reading-activity .played-reading-content .share-readings button {
  background-color: #002A41;
  text-align: right;
  padding-right: 5.3333333333vw;
}
.played-reading-activity .played-reading-content .share-readings button i {
  position: absolute;
  left: 4vw;
  top: 1.1180124224vh;
  background-color: #002A41;
  font-size: 3.1055900621vh;
  z-index: 1;
  padding: 0.6211180124vh;
}
.played-reading-activity .played-reading-content .share-readings button i.fa-check {
  display: none;
}

.information-sheet .information-sheet-title {
  color: #1CCCC6;
  font-family: poppins;
  font-weight: 700;
  font-size: 3.4782608696vh;
  margin-bottom: 1.2422360248vh;
  text-align: center;
}
.information-sheet .information-sheet-content {
  max-height: 62.1118012422vh;
  overflow-y: scroll;
}
.information-sheet .information-sheet-content .information-sheet-description {
  font-size: 1.8633540373vh;
  font-family: poppins;
  font-weight: lighter;
  text-align: justify;
  color: #fff !important;
}
.information-sheet .information-sheet-content .information-sheet-picture {
  margin: 2.2360248447vh 0;
  text-align: center;
}
.information-sheet .information-sheet-content .information-sheet-picture img {
  width: 100%;
  border-radius: 2.2360248447vh;
}

.photo-full-screen-holder {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 4;
  background-color: black;
}
.photo-full-screen-holder .photo-full-screen-window {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform-origin: 0px 0px;
}
.photo-full-screen-holder .photo-full-screen-window img {
  width: 100%;
}
.photo-full-screen-holder .close-photo-full-screen {
  position: absolute;
  font-size: 6.5838509317vh;
  top: 1.4906832298vh;
  right: 1.8666666667vw;
  height: 6.4596273292vh;
  width: 6.4596273292vh;
  background-color: #d92550;
  border-radius: 3.2298136646vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  border: solid 2px #fff;
}
.photo-full-screen-holder .close-photo-full-screen .times-circle {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background: url("../images/close.svg");
  height: 2.2360248447vh;
  width: 2.2360248447vh;
}

#build-date {
  font-size: small;
  text-align: center;
}

#interactive-walk-page {
  padding: 1.4906832298vh 3.2vw;
  color: #fff;
}
#interactive-walk-page .units-list {
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
  align-items: center;
  max-height: 24.8447204969vh;
  overflow-y: scroll;
}
#interactive-walk-page .units-list .unit-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8vw 0;
  color: #fff;
  font-family: poppins;
  font-size: 1.2422360248vh;
  font-weight: normal;
  border-radius: 2.7329192547vh;
  border: solid 1px #fff;
  padding: 0.6211180124vh 1.3333333333vw;
  width: 100%;
}
#interactive-walk-page .units-list .unit-button .unit-button-icon {
  display: flex;
  justify-content: center;
}
#interactive-walk-page .units-list .unit-button .unit-button-icon i {
  font-size: large;
  color: #D1FF46;
}
#interactive-walk-page .units-list .unit-button .played-unit-name {
  text-align: center;
  padding-left: 0;
}
#interactive-walk-page .game-alert-title {
  font-size: 2.1118012422vh;
  margin-bottom: 1.1180124224vh;
  color: #1CCCC6;
}
#interactive-walk-page .game-alert-text {
  font-size: 1.6149068323vh;
}
#interactive-walk-page .btn-notify {
  z-index: 3;
  position: absolute;
  font-size: 6.5838509317vh;
  bottom: 2.4844720497vh;
  left: 5.3333333333vw;
  height: 6.4596273292vh;
  width: 6.4596273292vh;
  background-color: #002A41;
  border-radius: 3.2298136646vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#interactive-walk-page .btn-notify i {
  color: #1CCCC6;
  font-size: 3.1055900621vh;
}
#interactive-walk-page .enriched-map {
  border-radius: 3.4782608696vh;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  background-color: transparent;
  position: relative;
  width: auto;
}
#interactive-walk-page .enriched-map.activities-hub {
  height: 75.1552795031vh;
}
#interactive-walk-page .enriched-map.interactive-walk {
  height: 72.6708074534vh;
}

.interactive-walk-page .header-toolbar .page-title {
  display: flex;
  padding-left: 1.6vw;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
  align-items: flex-start;
}
.interactive-walk-page .header-toolbar .page-title i {
  flex: 1;
  width: 5.3333333333vw;
  max-width: 5.3333333333vw;
  margin-top: 0.7453416149vh;
}
.interactive-walk-page .header-toolbar .page-title .fieldtrip-title {
  flex: 1;
}

.loading-map {
  z-index: 8000;
  position: absolute;
  top: 45%;
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin: 0 15px;
  left: 0;
}

#team-creation-page {
  padding: 1.4906832298vh 4.8vw;
}
#team-creation-page.regular-page {
  background: none;
}
#team-creation-page .header-toolbar .page-title {
  display: flex;
  padding-left: 1.6vw;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
}
#team-creation-page .header-toolbar .page-title i {
  flex: 1;
  width: 5.3333333333vw;
  max-width: 5.3333333333vw;
  margin-top: 0.7453416149vh;
}
#team-creation-page .header-toolbar .page-title .journey-title {
  flex: 1;
}
#team-creation-page .team-creation-card {
  color: #fff;
  background-color: #105175;
  box-shadow: 0 0.6211180124vh 0.6211180124vh 0.248447205vh rgba(0, 0, 0, 0.5568627451);
  padding: 1.4906832298vh 4.8vw 1.4906832298vh 4.8vw;
  border-radius: 3.4782608696vh;
  border: solid 1px #1CCCC6;
  background: #002A41;
}
#team-creation-page .team-creation-card .team-creation-title {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
#team-creation-page .team-creation-card input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  height: 4.9689440994vh;
  background: #DDE8FD;
  padding-left: 5.3333333333vw;
  position: relative;
  overflow: hidden;
  border: solid 1px #105175 !important;
}
#team-creation-page .team-creation-card input:focus-visible {
  outline: solid 2px #1CCCC6 !important;
}
#team-creation-page .team-creation-card .form-group.field {
  font-size: 1.8633540373vh;
}
#team-creation-page .team-creation-card .btn {
  font-family: poppins;
  font-weight: bold;
  color: #fff;
  font-size: 2.6086956522vh;
  text-transform: uppercase;
  border-radius: 9.4666666667vw 9.4666666667vw 9.4666666667vw 9.4666666667vw;
  margin-right: 10.4vw;
  margin-bottom: 1.9875776398vh;
  width: 80.5333333333vw;
}
#team-creation-page .team-creation-card .btn.btn-camera {
  background-color: #059efb;
}
#team-creation-page .team-creation-card .team-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2.2360248447vh;
}
#team-creation-page .team-creation-card .trash-button {
  color: #fff;
  background-color: #d92550;
  position: absolute;
  bottom: 1.2422360248vh;
  right: 2.6666666667vw;
  font-size: large;
  border-radius: 5.3333333333vw;
  padding: 10px;
}

#download-report-page {
  background: linear-gradient(#105175, #002A41);
  position: relative;
}
#download-report-page .logo {
  width: calc(100% - 14.4vw);
  padding-top: 4vh;
  margin-left: 7.2vw;
  margin-right: 7.2vw;
}
#download-report-page .textured {
  margin-top: -3.9751552795vh;
  padding-top: 5.9627329193vh;
  background: url("/images/texture.svg") no-repeat center center;
  background-size: cover;
  min-height: 104vh;
  box-sizing: border-box;
}
#download-report-page .download-report-alert {
  position: relative;
  /*width: 100%;*/
  margin: 0;
  border-radius: 5px;
  margin: 6.2111801242vh 1.8633540373vh;
}

.discovery-mode-page h4 {
  font-size: 2.5vh !important;
  color: #A1EB94 !important;
}
.discovery-mode-page h4 i {
  color: #1CCCC6;
  margin-right: 1rem;
}
.discovery-mode-page .info-content {
  max-height: 46vh;
  overflow-y: scroll;
}
