﻿@using Web.Client.Pages.FieldTrips.LocatedGameUnits
@using OzRazor = Ozytis.Common.Core.Web.Razor

<PageHeader Icon="@FontAwesomeIcons.DiceD20" IconStyle=IconStyle.FaLight>
	<HeadingContent>
		Activités
	</HeadingContent>
	<ActionsContent>

	</ActionsContent>
	<BreadcrumbsContent>
		<li>
			<a href="@FieldTripsPage.Url">
				Sorties pédagogiques
			</a>
		</li>
		<li>
			<a href="@FieldTripEditionPage.GetEditionUrl(this.FieldTripId)">
				@this.FieldTrip?.Name
			</a>
		</li>
        <li>
			<a href="@LocatedGameUnitEdition.GetUrl(this.FieldTripId, this.LocatedGameUnitId)">
				@this.LocatedGameUnit?.Name
			</a>
		</li>
		<li>
			Liste des activités
		</li>
	</BreadcrumbsContent>
</PageHeader>


@if (this.FieldTrip == null)
{
    <AppLoading />
}
else
{
   
<OzSimpleRemoteTable @ref=this.Table TModel=LocatedActivity TEntity=LocatedActivity GetModelKey="lgu => lgu.Id" 
        GetData="this.ActivitiesRepository.GetAllLocatedActivitiesAsync">
    <ColumnsDefinition>
        <OzSimpleTableColumn TModel=LocatedActivity TEntity=LocatedActivity
                Sort="lgu => lgu.Name"
                FilterType="OzRazor.FilterType.SimpleText"
                Filter="(lgu, values) =>  lgu.Name.Contains(values[0] as string)">
            <HeaderDisplay>Nom</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedActivity TEntity=LocatedActivity>
            <HeaderDisplay>Type</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedActivity TEntity=LocatedActivity
                Sort="a => a.LocatedGameUnit.Name"
                FilterType="OzRazor.FilterType.SimpleText"
                Filter="(a, values) =>   a.LocatedGameUnit.Name.Contains(values[0] as string)">
            <HeaderDisplay>Unité de jeu</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedActivity TEntity=LocatedActivity
                FilterType=@(Ozytis.Common.Core.Web.Razor.FilterType.Select)
                FilterOptions=@(this.FieldtripsFilterOptions)
                Filter=@((a, values) => a.LocatedGameUnit.FieldTrip.Name == (values[0] as string))
                Sort=@(a => a.LocatedGameUnit.FieldTrip.Name)>
            <HeaderDisplay>Sortie pédagogique</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedActivity TEntity=LocatedActivity
                FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                FilterOptions="this.PedagogicFieldsFilterOptions"
                Filter="(a, vals)=> a.LocatedGameUnit.FieldTrip.PedagogicalFieldName == (vals[0] as string)"
                Sort="a => a.LocatedGameUnit.FieldTrip.PedagogicalFieldName">
            <HeaderDisplay>Domaine pédagogique</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedActivity TEntity=LocatedActivity
                Sort="a =>  a.LocatedGameUnit.FieldTrip.Designer.FirstName"
                FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                FilterOptions="this.DesignersFilterOptions"
                Filter="(a, vals) => a.LocatedGameUnit.FieldTrip.DesignerId==(vals[0] as string)">
            <HeaderDisplay>Concepteur</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedActivity TEntity=LocatedActivity
                FilterType="Ozytis.Common.Core.Web.Razor.FilterType.Select"
                FilterOptions="this.EstablishmentsFilterOptions"
                Filter="(a, vals) =>  a.LocatedGameUnit.FieldTrip.Establishment == (vals[0] as string)"
                Sort="a =>  a.LocatedGameUnit.FieldTrip.Establishment">
            <HeaderDisplay>Établissement</HeaderDisplay>
        </OzSimpleTableColumn>
        <OzSimpleTableColumn TModel=LocatedActivity TEntity=LocatedActivity CanClearFilter>
            <HeaderDisplay>Actions</HeaderDisplay>
        </OzSimpleTableColumn>
    </ColumnsDefinition>
   	<RowContent>
		<TableRow>
			<TableRowCell>
                @context.Name
            </TableRowCell>
            <TableRowCell>
                @context.ActivityType.GetFriendlyName()
            </TableRowCell>
            <TableRowCell>
                @context.LocatedGameUnit?.Name
            </TableRowCell>
            <TableRowCell>
                @context.LocatedGameUnit?.FieldTrip?.Name
            </TableRowCell>
            <TableRowCell>
                @context.LocatedGameUnit?.FieldTrip?.PedagogicalFieldName
            </TableRowCell>
            <TableRowCell>
                @($"{context.LocatedGameUnit?.FieldTrip?.Designer?.FirstName} {context.LocatedGameUnit?.FieldTrip?.Designer?.LastName}")
            </TableRowCell>
            <TableRowCell>
                @context.LocatedGameUnit?.FieldTrip?.Establishment
            </TableRowCell>
            <TableRowCell>
                <ButtonActionGroup Type=@ButtonActionGroupType.Icon GroupButton=true PositionTooltip=Position.BottomCenter>
                    <Button Clicked="() => this.CloneActivity(context.Id)"
                            Class="icon-only" Icon=@FontAwesomeIcons.Plus Disabled=@(context.LocatedGameUnitId == this.LocatedGameUnitId || !this.CanEdit) Color=@Color.Link Block>
                        <div>Ajouter cette activité à l'unité de jeu <br /> <span style="font-weight:bold; font-style:italic;">@(this.LocatedGameUnit?.Name)</span></div>
                    </Button>
                    <Button Clicked="() => this.NavigationManager.NavigateTo(ActivityEdition.GetEditionUrl(context.LocatedGameUnit.FieldTripId,context.LocatedGameUnitId, context.Id))"
                            Class="icon-only" Icon=@(this.CanEdit ? FontAwesomeIcons.Edit : FontAwesomeIcons.Eye) Color=@Color.Link>
                        @(this.CanEdit ? "Modifier cette activité" : "Visualiser cette activité")
                    </Button>
                    <Button Clicked="() => {}"
                            Class="icon-only" Icon=@FontAwesomeIcons.Trash Disabled=@(!this.CanEdit) Color=@Color.Link>
                        Supprimer cette activité
                    </Button>
                </ButtonActionGroup>
            </TableRowCell>
        </TableRow>
    </RowContent>
</OzSimpleRemoteTable>
}