﻿@inherits FormComponent
@using Api.Activity
@using Web.Client.Pages.FieldTrips.LocatedGameUnits;
@using Web.Client.Shared
@using Syncfusion.Blazor.InPlaceEditor
@using Syncfusion.Blazor.RichTextEditor
@using Web.Client.Pages.ContextualHelps

<PageHeader Icon="@FontAwesomeIcons.WaveForm" IconStyle=IconStyle.FaSolid>
	<HeadingContent>
		Activités
	</HeadingContent>

	<ActionsContent>
	</ActionsContent>

	<BreadcrumbsContent>
		<li>
			<a href="@FieldTripsPage.Url">
				Gestion des sorties pédagogiques
			</a>
		</li>
		<li>
			<a href="@FieldTripEditionPage.GetEditionUrl(this.FieldTripId)">
				@this.FieldTrip?.Name
			</a>
		</li>
		<li>
			<a href="@LocatedGameUnits.LocatedGameUnitEdition.GetUrl(this.FieldTripId, this.LocatedGameUnitId)">
				@this.LocatedGameUnit?.Name
			</a>
		</li>
		<li>
			@if (this.ActivityId.HasValue)
			{
				@this.Activity?.Name
			}
			else
			{
				@(this.ActivityType == "question" ? "Nouvelle activité : question" : "Nouvelle activité : relevé")
			}
		</li>
	</BreadcrumbsContent>
</PageHeader>

@if (this.Activity == null || this.Model == null)
{
	<AppLoading />
}
else
{
	<Container Fluid>
		<Row Class="mt-3">
			<Column Size="3">
				<Card>
				<CardHeader>
					<Icon Name="@(this.SiteMapIsExpanded ? FontAwesomeIcons.ChevronDown : FontAwesomeIcons.ChevronRight)"
					  Clicked="() => this.SiteMapIsExpanded =! this.SiteMapIsExpanded" Class="pointer mr-2" />
					Arborescence de la sortie
				</CardHeader>
				@if (this.SiteMapIsExpanded)
				{
					<CardBody>
						<SiteMap @ref=@(this.Sitemap) 
								 FieldTrip=@(this.FieldTrip) 
								 CurrentPageType=@(this.GetType()) 
								 CurrentItemId=@(this.ActivityId) 
								 RefreshActivity=@(this.Refresh)
                                 OnUnitDeleted="this.OnUnitDeleted"
                                 OnActivityDeleted="this.OnActivityDeleted" />
					</CardBody>
				}
			</Card>
			</Column>

			<Column Size="9">
				@if (this.Errors?.Any() ?? false)
				{
					<Row>
						<Column>
							<div style="color: red;">
								Des erreurs se sont produites :
								<ul style="list-style:disclosure-closed;">
									@foreach(var str in this.Errors)
									{
										<li>@str</li>
									}
								</ul>
							</div>
						</Column>
					</Row>
				}

				<Row>
					<Column>
						<Card>
							<CardBody>
								<Row>
									<Column Size="6">
										<SfTextBox Placeholder="NOM DE L'ACTIVITÉ" 
												   Enabled=@(this.CanEdit) 
												   style=@(string.IsNullOrEmpty(this.Model.Name) ? "border: 1px solid red;" : null)
												   FloatLabelType="FloatLabelType.Always"
												   ValueChanged=@(val => this.UpdateField("name", val))
												   Value=@(this.Model.Name)
												   @ref="TxtBox"
												   Created="@TextBoxCreated" />
									</Column>
									<Column Size="6" Class="d-flex align-items-end">
										<Button Color=@(Color.Primary)
												Clicked="this.NavigateToUnitEditionActivitiesOptions"
												Block
												Icon="@FontAwesomeIcons.PlusCircle"
												Disabled="!this.LocatedGameUnit.ActivitiesEnabled">
											Ajouter d’autres activités à ce POI
										</Button>
									</Column>
								</Row>
								
							</CardBody>
						</Card>
					</Column>
				</Row>

				@if (this.Model is QuestionCreateModel question)
				{
					<Card Class="mt-3">
						<CardHeader>
							Paramètres avancés
						</CardHeader>
						<CardBody>
							<Row>
								<Column>
									<SfCheckBox TChecked=bool Checked=question.ClueEnabled Label="Indice" LabelPosition=LabelPosition.Before
										Disabled=@(!this.CanEdit) CheckedChanged=@(async () => {
										this.ClueIsExpanded = !ClueIsExpanded;
										question.ClueEnabled = !question.ClueEnabled;
										await this.SaveAsync();
										}) />
								</Column>
							</Row>
						</CardBody>
					</Card>
				}

				<Row>
					<Column Class="sim-card">
						<Card Class="mt-3">
							<CardHeader>
								<div>
									<span>@(this.Model is QuestionCreateModel ? "Question" : "Énoncé")</span>
									<Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary contextual-button"
										Clicked=@(()=> {
											if(this.Model is QuestionCreateModel) {
												this.DisplayContextualHelpModal(ContextualHelpKeyInventory.QuestionActivityCreationPage_Statement);
											}
											else{
												this.DisplayContextualHelpModal(ContextualHelpKeyInventory.ReadingActivityCreationPage_Statement);
											}
										})>
									</Button>
								</div>
								@if (this.Model is QuestionCreateModel question)
								{
									if (this.CanEdit)
									{
										<Select TModel=@(OptionItem<QuestionActivityType>) TValue=int style="padding-left: 35%;"
											Options=@(this.QuestionTypeSelectorOptions) DisableFilter=true
											GetOptionValue="opt => (int)opt.Value" GetOptionText="opt => opt.Label"
											SelectedValueChanged=@(val => this.UpdateField("activity_question_type", val))
											SelectedValue=@(question.ActivityQuestionType) />
									}
									else
									{
										<div style="margin-left: 35%;">
											<SfTextBox Enabled=@(false) Value=@(((QuestionActivityType)question.ActivityQuestionType).GetFriendlyName()) />
										</div>
									}
								}
							</CardHeader>
							<CardBody>
								<MobilePrevizualizer>
									<div class="home-page-preview">
										<header>
											<InPlaceTextBox Text=@(this.Model.Title)
												Disabled=@(!this.CanEdit)
												OnUpdate=@(async val => await this.UpdateField("activity_title", val))
											/>
										</header>
										<section class="content">
											<InPlaceRichText Text=@(this.Model.Statement)
												Disabled=@(!this.CanEdit)
												OnUpdate=@(async val => await this.UpdateField("activity_statement", val))
											/>

											@if (this.CanEdit)
											{
												<InlineImageChooser AllowDeletion @ref=@(this.PicturePicker)
															BaseUrl="/files?path="
															ImageUrlChanged=@(val => this.UpdateField("activity_picture", val))
															ImageUrl=@(this.Model.Picture)
															MaxSize="2000"
															MaxFileSize="512000"
															OnMaxFileSizeReached=@((size) => this.OnMaxUploadedFileSizeReached(size))>
													<Placeholder>
														Image (optionnelle)
													</Placeholder>
												</InlineImageChooser>
											}
											else if (!string.IsNullOrEmpty(this.Model.Picture))
											{
												<img src=@("/files?path="+this.Model.Picture) alt="Image de l'énoncé @(this.Model is QuestionCreateModel ? "de la question" : "du relevé")" />
											}
											else
											{
												<div style="padding: 6px 10px;">Aucune image renseignée</div>
											}
										</section>
									</div>
								</MobilePrevizualizer>
							</CardBody>
						</Card>
					</Column>

					@if (this.Model is QuestionCreateModel question)
					{
						<Column Class="sim-card">
							<Card Class="mt-3">
								<CardHeader>
									<div>
										<span>Réponse</span>
										<Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary secondary contextual-button"
											Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.QuestionActivityCreationPage_Answer))>
										</Button>
									</div>
									<div class="padd"></div>
								</CardHeader>
								<CardBody>
									@foreach (var answer in question.Answers)
									{
										var index = question.Answers.IndexOf(answer);

										<Row Class="answer-row">
											@if (question.ActivityQuestionType != (int)QuestionActivityType.Question)
											{
												<SfCheckBox CssClass="qcm-check" TChecked=bool Checked=@(answer.IsCorrect) Disabled=@(!this.CanEdit) style="padding: 0px 6px 6px;"
													CheckedChanged=@(async val => await this.EditAnswer(answer, "correct" , val))	/>
											}
											
											@if (question.ActivityQuestionType == (int)QuestionActivityType.PictureMcq)
											{
												<Column>
													@if (this.CanEdit)
													{
														<InlineImageChooser AllowDeletion @ref=@(this.AnswersSelectors[index])
																BaseUrl="/files?path="
																ImageUrl=@(answer.Content)
																ImageUrlChanged=@(async val => await this.EditAnswer(answer, "img" , val))
																MaxSize="2000"
																MaxFileSize="512000"
																OnMaxFileSizeReached=@((size) => this.OnMaxUploadedFileSizeReached(size))>
															<Placeholder>
																Image
															</Placeholder>
														</InlineImageChooser>
													}
													else if (!string.IsNullOrEmpty(answer.Content))
													{
														<img src=@("/files?path="+answer.Content) alt=@("réponse "+answer.Id) />
													}
													else
													{
														<div>Pas d'image renseignée</div>
													}
												</Column>
											}
											else
											{
												<Column>
													<InPlaceTextBox Text=@(answer.Content)
														Disabled=@(!this.CanEdit)
														OnUpdate=@(async val => await this.EditAnswer(answer, "img" , val))
													/>
												</Column>
											}

											<Button class="remove-answer" Icon=@FontAwesomeIcons.Trash Clicked=@(() => this.RemoveAnswer(answer)) Color=Color.Link Disabled=@(!this.CanEdit) />
										</Row>
									}

									@if (this.CanEdit)
									{
										@if (question.Answers.Any())
										{
											<hr />
										}

										<Button Icon=@FontAwesomeIcons.PlusCircle Color=Color.Link Clicked=@(() => this.AddAnswer(question))>
											Ajouter une réponse
										</Button>
									}
								</CardBody>
							</Card>
						</Column>

						<Column Class="sim-card no-bg">
							<Card Class="mt-3">
								<CardHeader>
									<div>
										<span>Retour après réponse</span>
										<Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary secondary contextual-button"
											Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.QuestionActivityCreationPage_TextToDisplayAfterAnswer))>
										</Button>
									</div>
									<div class="padd">
										<Label Class="label-small">Points à gagner</Label>
										<SfNumericTextBox Enabled=@(this.CanEdit) ShowSpinButton=@(false) Placeholder="Points"
											TValue=int Value=@(question.Gain) FloatLabelType=FloatLabelType.Never CssClass="input-gain"
											ValueChanged=@(val => this.UpdateField("activity_gain", val)) />
									</div>
								</CardHeader>
								<CardBody>
									<div>
										<Label>Retour bonne réponse</Label>
										<InPlaceRichText Text=@(question.TextToDisplayForCorrectAnswer)
											Disabled=@(!this.CanEdit)
											OnUpdate=@(async val => await this.UpdateField("activity_correct_answer", val))
										/>
									</div>
									<div>
										<Label>Retour mauvaise réponse</Label>
										<InPlaceRichText Text=@(question.TextToDisplayForWrongAnswer)
											Disabled=@(!this.CanEdit)
											OnUpdate=@(async val => await this.UpdateField("activity_wrong_answer", val))
										/>
									</div>
								</CardBody>
							</Card>
						</Column>

						<Column Style=@(this.ClueIsExpanded ? null : "display:none;") Class="sim-card">
							<Card Class="mt-3">
								<CardHeader>
									<div>
										Indice
										<Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary secondary contextual-button"
											Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.QuestionActivityCreationPage_Clue))>
										</Button>
									</div>
									<div class="padd">
										<Label Class="label-small">Coût (points)</Label>
										<SfNumericTextBox Enabled=@(this.CanEdit) ShowSpinButton=@(false) Placeholder="Points"
											TValue=int Value=@(question.Clue.Cost) FloatLabelType=FloatLabelType.Never CssClass="input-gain"
											ValueChanged=@(val => this.UpdateField("clue_cost", val)) />
									</div>
								</CardHeader>
								<CardBody>
									<MobilePrevizualizer>
										<div class="home-page-preview">
											<section>
												<InPlaceRichText Text=@(question.Clue.Content)
													Disabled=@(!this.CanEdit)
													OnUpdate=@(async val => await this.UpdateField("clue_content", val))
												/>
											</section>
											<section>
												@if (this.CanEdit)
												{
													<InlineImageChooser AllowDeletion @ref=@(this.ClueImagePicker)
															BaseUrl="/files?path="
															ImageUrlChanged=@(val => this.UpdateField("clue_picture", val))
															ImageUrl=@(question.Clue.Picture)
															MaxSize="2000"
															MaxFileSize="512000"
															OnMaxFileSizeReached=@((size) => this.OnMaxUploadedFileSizeReached(size))>
														<Placeholder>
															Image (optionnelle)
														</Placeholder>
													</InlineImageChooser>
												}
												else if (!string.IsNullOrEmpty(question.Clue.Picture))
												{
													<img src=@("/files?path="+question.Clue.Picture) alt="Image de l'indice" />
												}
												else
												{
													<div style="padding: 6px 10px;">Aucune image renseignée</div>
												}
											</section>
										</div>
									</MobilePrevizualizer>
								</CardBody>
							</Card>
						</Column>
					}
					else if (this.Model is StatementCreateModel statement)
					{
						<Column Class="sim-card no-bg">
							<Card Class="mt-3">
								<CardHeader>
									<div>
										<span>Paramètres</span>
										<Button Icon="@FontAwesomeIcons.InfoCircle" Class="text-secondary secondary contextual-button"
											Clicked=@(()=> this.DisplayContextualHelpModal(ContextualHelpKeyInventory.ReadingActivityCreationPage_Settings))>
										</Button>
									</div>
									<div></div>
								</CardHeader>
								<CardBody>
									<Container Class="mt-2">
										<Row>
											<Column>
												Type de relevés
											</Column>
										</Row>
										<Row>
											<Column>
												<SfCheckBox TChecked=bool Checked=statement.AllowsNoteTaking Label="Prise de notes" LabelPosition=LabelPosition.After
													CheckedChanged=@(val => this.UpdateField("statement_notes", val)) />
											</Column>
										</Row>
										<Row>
											<Column>
												<SfCheckBox TChecked=bool Checked=@(statement.AllowsPhotos) Label="Photo" LabelPosition=LabelPosition.After
													CheckedChanged=@(val => this.UpdateField("statement_photos", val)) />
											</Column>
										</Row>
										<Row>
											<Column>
												<SfCheckBox TChecked=bool Checked=@(statement.AllowsAudioRecordings) Label="Audio" LabelPosition=LabelPosition.After
													CheckedChanged=@(val => this.UpdateField("statement_audios", val)) />
											</Column>
										</Row>
									</Container>
									<Container Class="mt-2">
										<Row>
											<Column>
												Nombre de relevés
											</Column>
										</Row>
										<Row>
											<Column>
												<SfCheckBox TChecked=bool Checked=@(statement.ReadingsAreUnlimited) Label="Illimités" LabelPosition=LabelPosition.After
													CheckedChanged=@(val => this.UpdateField("statements_unlimited", val)) />
											</Column>
										</Row>
									</Container>
								</CardBody>
							</Card>
						</Column>
					}
				</Row>
			</Column>

			
		</Row>
	</Container>
}

@if (this.ShowContextualHelpModal)
{
	<ContextualHelpModal OnClose="this.CloseContextualHelpModal" Id=@this.ContextualHelpIdToShow />
}
