﻿@using SituLearn.Monitor.Shared

@if (this.FieldTrip == null)
{
    <SituLearn.Monitor.Shared.HeaderToolbar Class="participations-supervision-page">
        <Icon Name="@FontAwesomeIcons.ArrowLeft"
              IconStyle="IconStyle.FaLight"
              Clicked="this.GoBack" />

        <span class="fieldtrip-title">
            Sortie
        </span>
    </SituLearn.Monitor.Shared.HeaderToolbar>
    <AppLoading />
}
else
{
    <SituLearn.Monitor.Shared.HeaderToolbar Class="participations-supervision-page">
        <Icon Name="@FontAwesomeIcons.ArrowLeft"
              IconStyle="IconStyle.FaLight"
              Clicked="this.GoBack" />

        <span class="fieldtrip-title">
            @this.FieldTrip?.Name
        </span>
    </SituLearn.Monitor.Shared.HeaderToolbar>
}

<div id="participations-supervision-page">
    @if (this.Players == null)
    {
        <AppLoading />
    }
    else
    {
        if (this.DisplayMap)
        {
            <SupervisionMap FieldTrip="this.FieldTrip"
                            Players="this.Players" />
        }
        else
        {
            <SupervisionList Players="this.Players"
                             OnPlayerHiddenChange="@((id) => this.OnPlayerHiddenChange(id))" />
        }

        <div @onclick="this.SwitchMapOrListDisplay" class="button-switch-map-or-list">
            @if (this.DisplayMap)
            {
                <Icon Name="@FontAwesomeIcons.List" IconStyle="@IconStyle.FaLight" />
            }
            else
            {
                <Icon Name="@FontAwesomeIcons.Map" IconStyle="@IconStyle.FaLight" />
            }
        </div>
    }    
    
</div>