﻿@using SituLearn.Monitor.Utilities;
@using Api.Extensions;
<div class="supervision-list">
    <div class="filters-bar">

        <input class="@Css("e-control")" @bind-value="this.Filter" @bind-value:event="oninput" placeholder="Participant" />

        <div class="filter-hide" >
            <div class="participants-number" >
                @this.Players.Where(p => !p.IsHidden).Count()

                @if (this.Players.Where(p => !p.IsHidden).Count() < 2)
                {
                    <text> participant</text>
                }
                else
                {
                    <text> participants</text>
                }                
            </div>
            <div class="filter-hide-action" >
                <Icon Name="@FontAwesomeIcons.Eye" FaIconSize="FaIconSize.Large" style=@Css(this.DisplayHiddenPlayers ? "color: #00000029;" : "color: white;") class="mr-2" />
                <div class="mr-2">
                    <label class="switch">
                        <input type="checkbox" value="@this.DisplayHiddenPlayers" @onchange="this.OnChangeDisplayHiddenPlayers">
                        <span class="slider round"></span>
                    </label>
                </div>
                <Icon Name="@FontAwesomeIcons.EyeSlash" FaIconSize="FaIconSize.Large" style=@Css(this.DisplayHiddenPlayers ? "color: #1CCCC6;" : "color: #00000029;") />
            </div>
        </div>

    </div>        

    @if (!string.IsNullOrEmpty(this.Filter))
    {
        if (!this.DisplayHiddenPlayers)
        {
            this.PlayersToDisplay = this.Players
                .Where(p => !p.IsHidden && p.Name.Contains(this.Filter, StringComparison.InvariantCultureIgnoreCase))
                .OrderBy(p => p.Name);
        }
        else
        {
            this.PlayersToDisplay = this.Players
                .Where(p => p.Name.Contains(this.Filter, StringComparison.InvariantCultureIgnoreCase))
                .OrderBy(p => p.Name);
        }
    }

    <div class="participants-list">
        @if (this.PlayersToDisplay.Any())
        {
            foreach (var player in this.PlayersToDisplay)
            {
                int progression = player.GetProgressionRatio();

                decimal? correctAnswersRate = this.GamesRepository.CalculateCorrectAnswersRate(player.CorrectAnswersNumber, player.AnsweredQuestionsNumber);

                <div class="@Css("participant-card", new{ MenuVisible = player.ShowDescription })" >

                    <div class="permanent-data" >
                        <div role="progressbar" aria-valuenow="@progression" aria-valuemin="0" aria-valuemax="100" style=@Css($"--value:{progression}")>
                            <div class="player-details-progression" style=@Css($"background-color: {player.Color};")>
                            </div>
                            @* essai représentation personnage au coeur de la jauge de progression : à remettre ? *@
                            @* <div class="player-details-progression-core" style=@Css($"background: conic-gradient(white 150deg, {player.Color} 150deg 210deg, white 210deg 360deg);")>
                            </div> *@
                        </div>

                        <div class="player-details-alert" >
                            <div style=@Css(!player.OutOfExplorationAreaAlert ? "visibility: hidden;" : "")>
                                <Icon Name="@FontAwesomeIcons.MapMarkedAlt" FaIconSize="FaIconSize.Large" />
                            </div>
                            <div style=@Css(!player.LateAlert ? "visibility: hidden;" : "")>
                                <Icon Name="@FontAwesomeIcons.Stopwatch" FaIconSize="FaIconSize.Large" />
                            </div>
                            <div style=@Css(!player.LowBatteryAlert ? "visibility: hidden" : "")>
                                <Icon Name="@FontAwesomeIcons.BatteryQuarter" FaIconSize="FaIconSize.Large" />
                            </div>
                        </div>
                    </div>

                    <div class="main-data" >
                        <div class="main-data-first-line" >
                            @player.Name
                        </div>
                        <div class="main-data-second-line" >
                            <div class="player-details-progression-text" >
                                @player.PlayedUnitsNumber / @player.UnitsToPlayNumber
                            </div>

                            @if (!string.IsNullOrEmpty(player.PhoneNumber))
                            {
                                <a href=@($"tel:{player.PhoneNumber}")>
                                    <Icon Name="@FontAwesomeIcons.PhoneAlt" FaIconSize="FaIconSize.Fa2x" />
                                </a>
                                <a href=@($"sms:{player.PhoneNumber}")>
                                    <Icon Name="@FontAwesomeIcons.CommentDots" FaIconSize="FaIconSize.Fa2x" />
                                </a>
                            }
                            else
                            {
                                <Icon Name="@FontAwesomeIcons.PhoneAlt" FaIconSize="FaIconSize.Fa2x" Class="disabled" />
                                <Icon Name="@FontAwesomeIcons.CommentDots" FaIconSize="FaIconSize.Fa2x" Class="disabled" />
                            }
                            
                            <div @onclick="() => this.ChangePlayerHidden(player.Id)">
                                <Icon Name="@(player.IsHidden ? FontAwesomeIcons.EyeSlash : FontAwesomeIcons.Eye)" FaIconSize="FaIconSize.Large" />
                            </div>                                
                        </div>
                    </div>

                    <div class="participant-card-actions">
                        <Icon Name="@FontAwesomeIcons.EllipsisV" 
                                IconStyle="IconStyle.FaLight"
                                Clicked="() => this.SwitchDescriptionDisplay(player.Id)" />
                    </div>

                    <div class="@Css("participant-card-description", new{ MenuVisible = player.ShowDescription })">
                        <section>
                            <div class="participant-card-description-unit">@player.CurrentUnitName</div>

                            <div class="participant-card-description-second-line" >
                                <div style="color: yellow; display: flex; flex-flow: column; align-items: center;">
                                    <Icon Name="@FontAwesomeIcons.Star" FaIconSize="FaIconSize.Large" style="margin-bottom: 0.5vh;" />
                                    @player.Score / @player.TotalPointsToWin pts
                                </div>
                                <div style="color: green; display: flex; flex-flow: column; align-items: center;">
                                    <Icon Name="@FontAwesomeIcons.QuestionCircle" FaIconSize="FaIconSize.Large" style="margin-bottom: 0.5vh;" />
                                    @(correctAnswersRate.HasValue ? $"{correctAnswersRate.Value.ToString("N0")} %" : "-")
                                </div>
                                <div style="color: greenyellow; display: flex; flex-flow: column; align-items: center;">
                                    <Icon Name="@FontAwesomeIcons.ClipboardList" FaIconSize="FaIconSize.Large" style="margin-bottom: 0.5vh;" />

                                    @if (player.ReadingsNumber > 1)
                                    {
                                        <text>@player.ReadingsNumber relevés</text>
                                    }
                                    else
                                    {
                                        <text>@player.ReadingsNumber relevé</text>
                                    }
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            }
        }
        else
        {
            <div class="no-results">
                <text>Aucun participant ne correspond à vos critères de recherche</text>
            </div>
        }
    </div>
</div>