﻿@using System.Globalization
@using Api.Extensions

<div class="@Css("supervision-map")">
    
    <div class="map">
        @{
            var map = this.FieldTrip.ExplorationMap;

            List<LocatedGameUnit> units = this.FieldTrip.LocatedGameUnits.ToList();

            List<PlayerForMonitorModel> playersToDisplay = this.Players.Where(p => !p.IsHidden).ToList();

            <LeafletMap Width="100%"
                        Height="90vh"
                        LoadDependencies="false"
                        InitialZoom="map.Zoom"
                        DisableInteractions=false
                        CacheTileLevels="15"
                        Center="@this.MapCenter"
                        TrackUser=false
                        UserTrackingMarkerColor="red"
                        @ref="this.Map"
                        ShowTileLayersSwitch="false">

                @if (!string.IsNullOrEmpty(map.CustomBackgroundMap) && map.CustomBackgroundUpperLeftLatitude.HasValue)
                {
                    string mapUrl = map.CustomBackgroundMap.StartsWith(this.BasePictureUrl ?? string.Empty) ? map.CustomBackgroundMap : this.BasePictureUrl + map.CustomBackgroundMap;

                    List<string> styles = new();
                    styles.Add($"opacity:{map.CustomBackgroundOpacity.Value.ToString(CultureInfo.InvariantCulture)}");

                    var imageBounds = new LeafletCoordinates[]
                    {
                        new(
                            map.CustomBackgroundUpperLeftLatitude.Value,
                            map.CustomBackgroundUpperLeftLongitude.Value
                        ),
                        new(
                            map.CustomBackgroundLowerRightLatitude.Value,
                            map.CustomBackgroundLowerRightLongitude.Value
                        )
                    };

                    <LeafletImageOverlay ImageBounds="imageBounds"
                                         ImageUrl="@mapUrl"
                                         Rotation="map.CustomBackgroundRotation??0"
                                         Style="@($"{string.Join(";", styles)}")" />
                }
                else
                {
                    <LeafletTileLayer UrlTemplate="@LeafletTileLayer.OpenStreetMap.UrlTemplate"
                                      Attribution="@LeafletTileLayer.OpenStreetMap.Attribution"
                                      Label="@LeafletTileLayer.OpenStreetMap.Label"
                                      SubDomains="@LeafletTileLayer.OpenStreetMap.SubDomains" />
                }

                @if (this.FieldTrip.ExplorationMap.IsGeolocatable && this.FieldTrip.ExplorationMap.ExplorationArea != null)
                {
                    if (this.FieldTrip.ExplorationMap.ExplorationShape == ActivationAreaType.Polygon)
                    {
                        <LeafletGeoJson Color="#58d68d"
                                        FillColor="transparent"
                                        Geometry="this.FieldTrip.ExplorationMap.ExplorationArea" />
                    }
                    else if (this.FieldTrip.ExplorationMap.ExplorationShape == ActivationAreaType.Circle
                    && this.FieldTrip.ExplorationMap.ExplorationAreaCenterLatitude.HasValue
                    && this.FieldTrip.ExplorationMap.ExplorationAreaCenterLongitude.HasValue)
                    {
                        var center = new LeafletCoordinates(
                        this.FieldTrip.ExplorationMap.ExplorationAreaCenterLatitude.Value,
                        this.FieldTrip.ExplorationMap.ExplorationAreaCenterLongitude.Value
                        );

                        <LeafletCircle Color="#58d68d"
                                       FillColor="transparent"
                                       Center="center"
                                       Radius="this.FieldTrip.ExplorationMap.ExplorationAreaRadius" />
                    }
                    else if (this.FieldTrip.ExplorationMap.ExplorationShape == ActivationAreaType.Rectangle)
                    {
                        <LeafletRectangle Color="#58d68d"
                                          FillColor="transparent"
                                          Coordinates="this.FieldTrip.ExplorationMap.ExplorationArea.Coordinates.ToLeafletCoordinates()" />
                    }
                }

                @if (this.FieldTrip.ExplorationMap.IsGeolocatable)
                {
                    foreach (var player in playersToDisplay)
                    {
                        int progression = player.GetProgressionRatio();

                        string htmlElement = $"<div role=\"progressbar\" class=\"map-marker\" aria-valuenow=\"{progression}\" aria-valuemin=\"0\" aria-valuemax=\"100\" style =\"--value:{progression.ToString()}\">"
                        +                   $"<div class=\"player-details-progression map-marker\" style=\"background-color: {player.Color};\"></div>"
                        // essai représentation personnage au coeur de la jauge de progression : à remettre ?
                        // +                   $"<div class=\"player-details-progression-core map-marker\" style=\"background: conic-gradient(white 150deg, {player.Color} 150deg 210deg, white 210deg 360deg);\"></div>"
                        +                    "<div class=\"alerts-map-marker\">";

                        if (player.OutOfExplorationAreaAlert)
                        {
                            htmlElement +=          $"<i class=\"fas fa-map-marked-alt\"></i>";
                        }
                        else
                        {
                            htmlElement +=          $"<i class=\"fas fa-map-marked-alt invisible\"></i>";
                        }

                        if (player.LateAlert)
                        {
                            htmlElement +=          $"<i class=\"fas fa-stopwatch\"></i>";
                        }
                        else
                        {
                            htmlElement +=          $"<i class=\"fas fa-stopwatch invisible\"></i>";
                        }

                        if (player.LowBatteryAlert)
                        {
                            htmlElement +=          $"<i class=\"fas fa-battery-quarter\"></i>";
                        }
                        else
                        {
                            htmlElement +=          $"<i class=\"fas fa-battery-quarter invisible\"></i>";
                        }

                        htmlElement +=           "</div>"
                            +                 "</div>";

                        <LeafletMarker Latitude="player.CurrentLatitude"
                                        Longitude="player.CurrentLongitude"
                                        HtmlElement="@(htmlElement)"
                                        MarkerGroup="players"
                                        OnClick="() => this.DisplayPlayerInformationModal(player)">
                            @*<Popup>
                                <div>
                                    @player.Name
                                </div>

                                <button data-player-id="@player.Id" onclick="displayPlayerInformation(this)">
                                    <Icon Name="@FontAwesomeIcons.InfoCircle" />
                                </button>
                            </Popup>*@
                        </LeafletMarker>
                    }
                }

                @foreach (var unit in units)
                {
                    <LeafletMarker Latitude="unit.Latitude"
                                    Longitude="unit.Longitude"
                                    Color="green"
                                    IconClass="marker-remaining-unit"
                                    MarkerGroup="units">
                        <Popup>
                            <div>
                                @unit.Name
                            </div>
                        </Popup>
                    </LeafletMarker>
                }
            </LeafletMap>
        }
    </div>

    @if (this.ShowPlayerDetailsWindow)
    {
        int progression = (int)((decimal)this.PlayerInformationToShow.PlayedUnitsNumber / (decimal)this.PlayerInformationToShow.UnitsToPlayNumber * 100);

        decimal? correctAnswersRate = this.GamesRepository.CalculateCorrectAnswersRate(this.PlayerInformationToShow.CorrectAnswersNumber, this.PlayerInformationToShow.AnsweredQuestionsNumber);

        <div class="player-details-window-holder">
            <div class="player-details-window">
                <Icon Name="@FontAwesomeIcons.TimesCircle"
                        Class="close-button"
                        Clicked="this.ClosePlayerInformationModal" />

                <div class="player-details-window-content">
                    <div class="player-details-first-line">
                        <div role="progressbar" aria-valuenow="@progression" aria-valuemin="0" aria-valuemax="100" style=@Css($"--value:{progression}")>
                            <div class="player-details-progression" style=@Css($"background-color: {this.PlayerInformationToShow.Color};")>
                            </div>
                            @* essai représentation personnage au coeur de la jauge de progression : à remettre ? *@
                            @* <div class="player-details-progression-core" style=@Css($"background: conic-gradient(white 150deg, {this.PlayerInformationToShow.Color} 150deg 210deg, white 210deg 360deg);")>
                            </div> *@
                        </div>
                        <div class="player-details-name">
                            <div>
                                @this.PlayerInformationToShow.Name
                            </div>
                            <div class="player-details-phone-action">
                                @if (!string.IsNullOrEmpty(this.PlayerInformationToShow.PhoneNumber))
                                {
                                    <a href=@($"tel:{this.PlayerInformationToShow.PhoneNumber}")>
                                        <Icon Name="@FontAwesomeIcons.PhoneAlt" FaIconSize="FaIconSize.Fa2x" />
                                    </a>
                                    <a href=@($"sms:{this.PlayerInformationToShow.PhoneNumber}")>
                                        <Icon Name="@FontAwesomeIcons.CommentDots" FaIconSize="FaIconSize.Fa2x" />
                                    </a>
                                }
                                else
                                {
                                    <Icon Name="@FontAwesomeIcons.PhoneAlt" FaIconSize="FaIconSize.Fa2x" Class="disabled" />
                                    <Icon Name="@FontAwesomeIcons.CommentDots" FaIconSize="FaIconSize.Fa2x" Class="disabled" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="player-details-second-line">
                        <div class="player-details-progression-text">
                            @this.PlayerInformationToShow.PlayedUnitsNumber / @this.PlayerInformationToShow.UnitsToPlayNumber
                        </div>
                        <div class="player-details-unit">@this.PlayerInformationToShow.CurrentUnitName</div>
                    </div>

                    <div class="player-details-third-line">
                        <div class="player-details-score">
                            <Icon Name="@FontAwesomeIcons.Star" FaIconSize="FaIconSize.Large" />
                            @this.PlayerInformationToShow.Score / @this.PlayerInformationToShow.TotalPointsToWin pts
                        </div>
                        <div class="player-details-correct-answers-rate">
                            <Icon Name="@FontAwesomeIcons.QuestionCircle" FaIconSize="FaIconSize.Large" />
                            @(correctAnswersRate.HasValue ? $"{correctAnswersRate.Value.ToString("N0")} %" : "-")
                        </div>
                        <div class="player-details-readings-number">
                            <Icon Name="@FontAwesomeIcons.ClipboardList" FaIconSize="FaIconSize.Large" />

                            @if (this.PlayerInformationToShow.ReadingsNumber > 1)
                            {
                                <text>@this.PlayerInformationToShow.ReadingsNumber relevés</text>
                            }
                            else
                            {
                                <text>@this.PlayerInformationToShow.ReadingsNumber relevé</text>
                            }                            
                        </div>
                    </div>

                    <div class="player-details-fourth-line">
                        <div class="player-details-alert">
                            @if (this.PlayerInformationToShow.OutOfExplorationAreaAlert)
                            {
                                <Icon Name="@FontAwesomeIcons.MapMarkedAlt" FaIconSize="FaIconSize.Large" />
                                <text>En dehors</text>
                            }
                        </div>
                        <div class="player-details-alert">
                            @if (this.PlayerInformationToShow.LateAlert)
                            {
                                <Icon Name="@FontAwesomeIcons.Stopwatch" FaIconSize="FaIconSize.Large" />
                                <text>En retard</text>
                            }
                        </div>
                        <div class="player-details-alert">
                            @if (this.PlayerInformationToShow.LowBatteryAlert)
                            {
                                <Icon Name="@FontAwesomeIcons.BatteryQuarter" FaIconSize="FaIconSize.Large" />
                                <text>Batterie faible</text>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>