﻿@using SituLearn.Monitor.Utilities
@if (this.FieldTrip == null)
{
    <SituLearn.Monitor.Shared.HeaderToolbar Class="time-select-supervision-page">
        <Icon Name="@FontAwesomeIcons.ArrowLeft"
              IconStyle="IconStyle.FaLight"
              Clicked="this.GoBack" />

        <span class="fieldtrip-title">
            Sortie
        </span>
    </SituLearn.Monitor.Shared.HeaderToolbar>
    <AppLoading />
}
else if (this.NotFound)
{
    <SituLearn.Monitor.Shared.HeaderToolbar Class="time-select-supervision-page">
        <Icon Name="@FontAwesomeIcons.ArrowLeft"
              IconStyle="IconStyle.FaLight"
              Clicked="this.GoBack" />
        
        <span class="fieldtrip-title">
            Sortie
        </span>
    </SituLearn.Monitor.Shared.HeaderToolbar>
    <div id="time-select-supervision-page">
        <div class="text-center" style="margin:15vh 0; font-size:large; color:#fff">
            Sortie non trouvée
        </div>
    </div>
}
else
{
    string picture = this.FieldTrip.HomePagePicture;

    <SituLearn.Monitor.Shared.HeaderToolbar Class="time-select-supervision-page">
        <Icon Name="@FontAwesomeIcons.ArrowLeft" 
              IconStyle="IconStyle.FaLight"
              Clicked="this.GoBack" />

        <span class="fieldtrip-title">
            @this.FieldTrip.Name
        </span>
    </SituLearn.Monitor.Shared.HeaderToolbar>

    <div id="time-select-supervision-page">
        <div class="time-select-supervision-card">
            
            @if (!string.IsNullOrEmpty(picture))
            {
                <div class="fieldtrip-picture" >
                    <img src="@(picture)" alt="Image" />
                </div>
            }
            
            <p class="time-picker-label">Heure de début du suivi</p>

            <input type="time" @bind-value="this.TimeSelected"/>

            <div class="mt-4 text-center">
                <Button Color="Color.Primary" 
                        Size="ButtonSize.Large" 
                        Icon="@FontAwesomeIcons.Check"
                        Clicked="this.StartSupervisionAsync">
                    Valider
                </Button>
                <Button Clicked="this.GoBack"
                        Size="ButtonSize.Large" 
                        Class="btn-link"
                        Icon="@FontAwesomeIcons.Undo" >
                    Annuler
                </Button>
            </div>

        </div>

    </div>
}