﻿@layout AppLayout

<div id="register-page" class="page">

    <div class="textured">
        <img src="/images/SitulearnAB_Chemin.svg" class="logo" />

        <h4 class="text-primary my-5 text-center">
            <Icon Name="@FontAwesomeIcons.Key" />
            BIENVENUE SUR SITULEARN
        </h4>
        <div class="text-white my-5 text-center field">
            Afin de finaliser votre inscription, veuillez utiliser le formulaire ci-dessous pour définir votre mot de passe.
        </div>

        <ErrorsSummary errors="@this.Errors" />

        <Field Class="field">
            <Label class="text-white">Adresse email</Label>
            <div class="text-white">@this.Email</div>
        </Field>
        <Field Class="field">
            <Label class="text-white">Nouveau mot de passe*</Label>
            <input type="password" name="NewPassword" placeholder="Votre mot de passe" @bind-value="this.NewPassword" />
        </Field>

        <Field Class="field">
            <Label class="text-white">Confirmation de votre nouveau mot de passe*</Label>
            <input type="password" name="NewPasswordConfirmation" placeholder="Confirmation de votre mot de passe" @bind-value="this.NewPasswordConfirmation" @onkeydown="this.OnKeyDown" />
        </Field>


        <div class="mt-5 text-center">
            <Button Color="Color.Primary" Size="ButtonSize.Large" Disabled="this.IsProcessing" 
                Clicked="this.ProcessAsync">
                <Loader IsLoading="this.IsProcessing" />
                Enregistrer
            </Button>
        </div>



    </div>
</div>