﻿@layout AppLayout

<div id="register-page" class="page">

    @if (this.IsSuccess.HasValue)
    {
        <div class="textured">
            <img src="/images/SitulearnAB_Chemin.svg" class="logo" />

            <h4 class="text-primary my-5 text-center">
                <Icon Name="@FontAwesomeIcons.UserEdit" />
                CONFIRMATION DE VOTRE NOUVELLE ADRESSE E-MAIL
            </h4>
        
            @if (this.IsSuccess.Value)
            {
                <Alert Color="Color.Success" Visible="true" Class="my-5">
                    Merci d'avoir confirmé votre adresse email. Vous pouvez désormais vous reconnecter avec celle-ci.
                </Alert>
            }
            else
            {
                <Alert Color="Color.Danger" Visible="true">
                    Une erreur s'est produite.
                </Alert>
            }

            <div class="mt-3">
                <Button Color="Color.Primary" Clicked="@(() => this.NavigationManager.NavigateTo(LoginPage.Url + "?email=" + this.Email))">
                    <Icon Name="@FontAwesomeIcons.Unlock" /> Me connecter
                </Button>
            </div>
        </div>
    }
    else
    {
        <AppLoading />
    }
</div>
