﻿@using Microsoft.AspNetCore.WebUtilities;
@layout AppLayout;

<div id="login-page" class="page">


    <div class="home-picture">
        <a href="https://situlearn.univ-lemans.fr/">
            @*<img src="/images/logo.png" class="logo" alt="SituLearn" />*@
            <img src="/images/home-picture-logo.svg" class="logo" alt="SituLearn" />
        </a>

        <div class="discovery-mode-button">
            <Icon Name="@FontAwesomeIcons.Rocket" />
            <div class="discovery-mode-button-text"
                 @onclick="() => this.NavigateToDiscoveryMode()">
                Connexion sans compte
            </div>
        </div>
        
    </div>

    <div class="textured text-center">
        <a class="text-white" href="@RegisterPage.Url">Pas de compte ? Créez un compte</a>


        <ErrorsSummary Errors="@this.Errors" />

        <div class="email-holder">
            <input type="email" name="email" @bind-value="this.Email" id="email" placeholder="Email" />
        </div>

        <div class="password-holder">
            <input type="password" name="password" @bind-value="this.Password" id="password" placeholder="Mot de passe" @onkeydown="this.OnKeyDown" />
        </div>

        <div class="stay-connected" @onclick="() => { this.RememberMe = !this.RememberMe; this.StateHasChanged(); }" >
            <input type="checkBox" checked="@this.RememberMe" />
            <span>Laissez-moi connecté</span>
        </div>

        <Button Color="Color.Primary" Clicked="this.SubmitLoginAsync"
                Disabled="this.IsSubmitting"
                IsLoading="this.IsSubmitting"
                Icon="@FontAwesomeIcons.Check">
            S'identifier
        </Button>

        <div class="text-center">
            <a class="text-white" href="/password-recovery">Mot de passe oublié ?</a>
        </div>

        <footer>
            <div class="text-center">
                Avec le soutien :
                <a href="https://lium.univ-lemans.fr/">
                    <img src="/images/Logo-LIUM_Couleurs_WEB_Blanc.png" alt="LIUM" />
                </a>
                <a href="https://anr.fr/">
                    <img src="/images/anr.svg" alt="ANR agence nationale de recherche" />
                </a>
            </div>
        </footer>
    </div>


</div>
