﻿
<SituLearn.Player.Shared.HeaderToolbar Class="@Css("myaccount-page")">
    @if(!this.TestEnv)
    {
        <Icon Name="@FontAwesomeIcons.ArrowLeft"
              IconStyle="IconStyle.FaLight"
              Clicked="()=>this.NavigationManager.NavigateTo(this.BackUrl ?? FieldTrips.FieldTripsPage.Url)" />
    }
    
    <span class="myaccount-title">
        Mes informations
    </span>
</SituLearn.Player.Shared.HeaderToolbar>

<div id="myaccount-page">
    
    @if (this.UpdateModel == default)
    {
        <Loader IsLoading="true" />
    }
    else
    {
        @if (!this.IsEditing)
        {
            <div class="myaccount-card mt-1">
                <Field Class="field">
                    <Label class="text-white">Nom</Label>
                    <div class="text-primary">@this.UpdateModel.LastName</div>
                </Field>
        
                <Field Class="field">
                    <Label class="text-white">Prénom</Label>
                    <div class="text-primary">@this.UpdateModel.FirstName</div>
                </Field>
        
                <Field Class="field">
                    <Label class="text-white">Établissement</Label>

                    @if (!string.IsNullOrEmpty(this.UpdateModel.Establishment))
                    {
                        <div class="text-primary">@this.UpdateModel.Establishment</div>
                    }
                    else
                    {
                        <div class="text-primary font-italic">Pas d'établissement renseigné</div>
                    }
                </Field>

                <Field Class="field">
                    <Label class="text-white">E-mail</Label>
                    <div class="text-primary">@this.UpdateModel.Email</div>
                </Field>

                <Field Class="field">
                    <Label class="text-white">Numéro de téléphone mobile</Label>
                
                    @if (!string.IsNullOrEmpty(this.UpdateModel.PhoneNumber))
                    {
                        <div class="text-primary">@this.UpdateModel.PhoneNumber</div>
                    }
                    else
                    {
                        <div class="text-primary font-italic">Pas de numéro renseigné</div>
                    }
                </Field>
        
                <Field Class="field">
                    <Label class="text-white">Rôle</Label>
                    <div class="text-primary">@this.UpdateModel.Role</div>
                </Field>

                <div class="mt-4 text-center">
                    <Button Class="btn-icon btn-icon-only" Color="Color.Primary" Clicked="@(()=>this.ChangeEditingMode())" Icon="@FontAwesomeIcons.Edit">
                        Editer
                    </Button>
                </div>

                <div class="mt-2 text-center">
                    <Button Class="btn-icon btn-icon-only" 
                            Color="Color.Danger" 
                            Clicked="@(this.DeleteMyAccount)" 
                            Icon="@FontAwesomeIcons.UserSlash"
                            IsLoading="this.IsDeleting">
                        Supprimer mon compte
                    </Button>
                </div>

                <div class="mt-2 text-center">
                    <Button Class="btn-icon btn-icon-only" 
                            Color="Color.Warning" 
                            Clicked="@(this.DeleteMyGames)" 
                            Icon="@FontAwesomeIcons.Gamepad"
                            IsLoading="this.IsDeletingMyGames">
                        Supprimer mes données de participation
                    </Button>
                </div>
            </div>
        }
        else
        {
            <div class="myaccount-card editing mt-1">
                <ErrorsSummary Errors="@this.Errors" />
        
                <Field Class="field">
                    <Label class="text-white">Nom*</Label>
                    <input placeholder="Nom" @bind-value="this.UpdateModel.LastName" />
                </Field>
        
                <Field Class="field">
                    <Label class="text-white">Prénom*</Label>
                    <input placeholder="Prénom" @bind-value="this.UpdateModel.FirstName" />
                </Field>
        
                <Field Class="field">
                    <Label class="text-white">Établissement</Label>
                    <input placeholder="Établissement" @bind-value="this.UpdateModel.Establishment" />
                </Field>

                <Field Class="field">
                    <Label class="text-white">E-mail*</Label>
                    <input placeholder="Email" @bind-value="this.UpdateModel.Email" type="email" />
                </Field>

                <Field Class="field">
                    <Label class="text-white">Numéro de téléphone mobile</Label>
                    <input placeholder="N° téléphone" @bind-value="this.UpdateModel.PhoneNumber" @onkeydown="this.OnKeyDown" />
                </Field>

                <div class="mt-4 text-center">
                    <Button Color="Color.Primary" Size="ButtonSize.Large"
                            Clicked="this.SaveAsync">
                        <Loader IsLoading="this.IsProcessing" />
                        Valider
                    </Button>
                    <Button Clicked="@(()=>this.ChangeEditingMode())"
                            Size="ButtonSize.Large" Class="btn-link">
                        <Icon Name="@FontAwesomeIcons.Undo" />Annuler
                    </Button>
                </div>
            </div>
        }

        <div class="myaccount-footer">
            <a class="home" href="@FieldTrips.FieldTripsPage.Url">
                Retour au catalogue des sorties
            </a>
        </div>
    }
</div>
