﻿@page "/password-recovery"
@layout AppLayout

<div id="register-page" class="page">

    <div class="textured">
        <img src="/images/SitulearnAB_Chemin.svg" class="logo" />

        <h4 class="text-primary my-5 text-center field">
            <Icon Name="@FontAwesomeIcons.Key" />
            VOUS AVEZ OUBLIÉ VOTRE MOT DE PASSE ?
        </h4>
        <div class="text-white mb-5 text-center field">
            Veuillez utiliser le formulaire ci-dessous afin de le regénérer.
        </div>

        <ErrorsSummary errors="@this.Errors" />

        <Field Class="field">
            <Label Class="text-white">Adresse email*</Label>
            <input type="email" name="email" id="exampleEmail" placeholder="Votre adresse email..." @bind-value="this.Email" @onkeydown="this.OnKeyDown"/>
        </Field>

        <div class="mt-5 text-center">
            <Button Color="Color.Primary" Size="ButtonSize.Large" Disabled="this.IsProcessing" 
                Clicked="this.SendPasswordRecoveryAsync">
                <Loader IsLoading="this.IsProcessing" />
                Récupérer
            </Button>
            <Button Clicked="@(()=> this.NavigateTo(LoginPage.Url))" Size="ButtonSize.Large" Color="Color.Link" Icon="@FontAwesomeIcons.Undo">
                Annuler
            </Button>
        </div>

    </div>
</div>
