﻿@layout AppLayout;
@using BlazorCaptcha;

<div id="register-page" class="page">

    <div class="textured">
        <img src="/images/SitulearnAB_Chemin.svg" class="logo" />



        <h4 class="text-primary my-5 text-center">
            <Icon Name="@FontAwesomeIcons.UserEdit" />
            CRÉEZ VOTRE COMPTE
        </h4>
            <ErrorsSummary Errors="@this.Errors" />


            <Field Class="field">
                <Label class="text-white">Nom*</Label>
                <input placeholder="Nom" @bind-value="this.Model.LastName" />
            </Field>

            <Field Class="field">
                <Label class="text-white">Prénom*</Label>
                <input placeholder="Prénom" @bind-value="this.Model.FirstName" />
            </Field>

            <Field Class="field">
                <Label class="text-white">E-mail*</Label>
                <input placeholder="Email" @bind-value="this.Model.Email" type="email" />
            </Field>

            <Field Class="field">
                <Label class="text-white">Numéro de téléphone mobile</Label>
                <input placeholder="N° téléphone" @bind-value="this.Model.PhoneNumber" />
            </Field>

            <Field Class="field">
                <Label class="text-white">Établissement</Label>
                <input placeholder="Établissement" @bind-value="this.Model.Establishment" @onkeydown="this.OnKeyDown" />
            </Field>

            @if (this.DisplayCaptcha)
            {
                <Field Class="field">
                    <div style="margin-bottom:0.5rem;"><Captcha Height="50" Width="255" @bind-CaptchaWord="@this.Captcha" CharNumber="@CaptchaLength" /></div>
                    <input placeholder="Saisissez le texte de l'image" @bind-value="this.CaptchaInput" @onkeydown="this.OnKeyDown" />
                </Field>
            }


            <div class="mt-3 text-center">
                @if (!this.DisplayCaptcha)
                {
                    <Button Color="Color.Primary" Size="ButtonSize.Large"
                        Clicked="this.ShowCaptcha">
                        <Icon Name="@FontAwesomeIcons.Robot" />
                        Je ne suis pas un robot
                    </Button>
                }
                else
                {
                    <Button Color="Color.Primary" Size="ButtonSize.Large"
                        Clicked="this.SubmitRegisterAsync">
                        <Loader IsLoading="this.IsSubmitting" />
                        Valider
                    </Button>
                }

                <Button Clicked=@(() => { this.NavigationManager.NavigateTo(LoginPage.Url); })
                        Size="ButtonSize.Large" Class="btn-link">
                    <Icon Name="@FontAwesomeIcons.Undo" />Annuler
                </Button>
            </div>
    </div>


</div>