﻿@layout AppLayout;

<div id="login-page" class="page ">

    <div class="textured">
        <div class="mt-3">
            <a href="https://situlearn.univ-lemans.fr/">
                <img src="/images/logo.png" class="logo" alt="SituLearn" />
            </a>
        </div>

        <div class="text-center">
            <img src="/images/RadarVert.png" class="w-50 my-5" alt="SituLearn" />
        </div>

        <div class="text-center">

            <ErrorsSummary Errors="@this.Errors" />

            <div class="email-holder">
                <input type="email" name="email" @bind-value="this.Email" id="email" placeholder="Email" />
            </div>

            <div class="password-holder">
                <input type="password" name="password" @bind-value="this.Password" id="password" placeholder="Mot de passe" />
            </div>

            <div class="stay-connected" @onclick="() => { this.RememberMe = !this.RememberMe; this.StateHasChanged(); }">
                <input type="checkBox" checked="@this.RememberMe" />
                <span>Laissez-moi connecté</span>
            </div>

            <Button Color="Color.Primary" Clicked="this.SubmitLoginAsync"
                    Disabled="this.IsSubmitting"
                    IsLoading="this.IsSubmitting"
                    Icon="@FontAwesomeIcons.Check">
                S'identifier
            </Button>

            <div class="text-center">
                <a class="text-white" target="_blank" href=@($"{this.ServerUrl}password-recovery")>Mot de passe oublié ?</a>
            </div>

            <footer>
                <div class="text-center">
                    Avec le soutien :
                    <a href="https://lium.univ-lemans.fr/">
                        <img src="/images/Logo-LIUM_Couleurs_WEB_Blanc.png" alt="LIUM" />
                    </a>
                    <a href="https://anr.fr/">
                        <img src="/images/anr.svg" alt="ANR agence nationale de recherche" />
                    </a>
                </div>
            </footer>
        </div>
    </div>   


</div>
