﻿
<SituLearn.Monitor.Shared.HeaderToolbar Class="@Css("myaccount-page")">
    <Icon Name="@FontAwesomeIcons.ArrowLeft"
            IconStyle="IconStyle.FaLight"
            Clicked="()=>this.NavigationManager.NavigateTo(this.BackUrl ?? FieldTrips.FieldTripsPage.Url)" />
    
    <span class="myaccount-title">
        Mes informations
    </span>
</SituLearn.Monitor.Shared.HeaderToolbar>

<div id="myaccount-page">
    
    @if (this.UserModel == default)
    {
        <Loader IsLoading="true" />
    }
    else
    {
        <div class="myaccount-card mt-1">
            <Field Class="field">
                <Label class="text-white">Nom</Label>
                <div class="text-primary">@this.UserModel.LastName</div>
            </Field>
        
            <Field Class="field">
                <Label class="text-white">Prénom</Label>
            <div class="text-primary">@this.UserModel.FirstName</div>
            </Field>
        
            <Field Class="field">
                <Label class="text-white">Établissement</Label>

                @if (!string.IsNullOrEmpty(this.UserModel.Establishment))
                {
                <div class="text-primary">@this.UserModel.Establishment</div>
                }
                else
                {
                    <div class="text-primary font-italic">Pas d'établissement renseigné</div>
                }
            </Field>

            <Field Class="field">
                <Label class="text-white">Adresse e-mail</Label>
                <div class="text-primary">@this.UserModel.Email</div>
            </Field>

            <Field Class="field">
                <Label class="text-white">Numéro de téléphone mobile</Label>
                
                @if (!string.IsNullOrEmpty(this.UserModel.PhoneNumber))
                {
                    <div class="text-primary">@this.UserModel.PhoneNumber</div>
                }
                else
                {
                    <div class="text-primary font-italic">Pas de numéro renseigné</div>
                }
            </Field>
        
            <Field Class="field">
                <Label class="text-white">Rôle</Label>
                <div class="text-primary">@this.UserModel.Role</div>
            </Field>
        </div>
    }
</div>
