﻿@using System.Globalization

<div class="photo-full-screen-holder">
    <div class="close-photo-full-screen" @onclick="this.OnClosing">
        <div class="times-circle"></div>
    </div>
    <div class="photo-full-screen-window"
         @ontouchstart="this.OnTouchStart"
         @ontouchstart:preventDefault="true"
         @ontouchend="this.OnTouchEnd"
         @ontouchend:preventDefault="true"
         @ontouchmove="this.OnTouchMove"
         @ontouchmove:preventDefault="true"
         @onmousedown="this.OnMouseDown"
         @onmousedown:preventDefault="true"
         @onmouseup="this.OnMouseUp"
         @onmousemove="this.OnMouseMove"
         @onmousemove:preventDefault="true"
         @onmousewheel="this.OnMouseWheel"
         style="@Css($"transform: translate({this.XOff.ToString(CultureInfo.CreateSpecificCulture("en-GB"))}px, {this.YOff.ToString(CultureInfo.CreateSpecificCulture("en-GB"))}px) scale({this.Zoom.ToString(CultureInfo.CreateSpecificCulture("en-GB"))});" )">
        <img src="@(this.PictureUrl)"
             class="played-reading-activity-picture" />
    </div>
</div>